    
<style>
    ul.shinh li label {
        font-size: 14px;
        color: grey;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }
</style>


<div data-ng-controller="StudioShareathonQueueController">
            <!-- Page name -->
            <div class="container">
                <div class="col m12">
                  <h4>Studio Shareathon Queue</h4> 
                </div>
            </div>


            <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col s12 m12">
                      <div class="card" id="feeds">
                        <div class="row">
                          <h5 class="feeds_title black darken-4 pink-text"><i class="icon-share"></i><spam><b>Content Shareathon List</b></spam></h5>
                        </div>                        
                        <div class="collection">
                          <table class="responsive-table striped" >
                              <thead>
                                  <tr>
                                      <th>S.No</th>
                                      <th>Facebook Account</th>
                                      <th>Feed Data</th>
                                      <th>Time Interval</th>
                                      <th>Status</th>
                                      <!--<th>Edit</th>-->
                                      <th>Delete</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="shareData in shareathonData">
                                      <td>{{current + $index+1}}</td>
                                      <td>{{shareData.facebookAccount}}</td>
                                      <td>{{shareData.title}}<br /><a href="{{shareData.postUrl}}" target="_blank">{{shareData.postUrl}}</a></td>                                      
                                      <td>{{shareData.timeintervalminutes}}</td>                                     
                                      <td ng-if="shareData.status==false">pending</td> 
                                      <td ng-if="shareData.status==true">posted</td>                                                                            
                                      <!--<td>
                                          <a role="button" ng-click="editpageshareathon(shareData.title,shareData.id)" class="btn green btn_style btn_round modal-trigger"><i class="fa fa-pencil fa-fw"></i></a>
                                      </td>-->
                                      <td>
                                          <a role="button" class="btn red darken-4 btn_style btn_round" ng-click="deleteshareathon(shareData.strId)"><i class="fa fa-times fa-fw"></i></a>
                                      </td>
                                  </tr>             
                              </tbody>
                          </table>   
                        </div>                     
                      </div>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->


          <!-- Modal Structure -->
          <!--<div id="StudioModal" class="modal">
              <div class="modal-content">
                  <span class="modal-action modal-close right" ng-click="closeModal()" role="button" tabindex="0"><i class="fa fa-times fa-2x"></i></span>
                  <h5>Edit Message</h5>
                  <div class="row center">
                      <div class="input-field col s8">
                          <div>
                              <textarea id="editScheduleMsg" class="materialize-textarea ng-pristine ng-untouched ng-valid ng-not-empty" length="500" ng-model="editscdmessage" value="fdsgfdsfg"
                                aria-multiline="true" aria-invalid="false" style=""></textarea>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn grey" ng-click="savesocioqueueedit()">Save</a>
              </div>
          </div>-->               
    </div>
