<style type="text/css">
    #waterfall li.show {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s, top 1s;
    }

    #waterfall li > div {
        color: rgba(0,0,0,0.6);
        border-radius: 3px;
        margin: 10px;
        padding: 0px;
        background: rgb(255,255,255);
        border: 1px solid rgba(038, 191, 64, 0);
        transition: all 0.5s;
    }

        #waterfall li > div:hover {
            transform: translateY(-10px);
            border: 1px solid #3b5998;
            box-shadow: 0 10px 15px rgba(154, 187, 221, 0.4);
            transition: all 0.3s;
        }
        .share_studio .btn-floating{
                width: 20px;
    height: 20px;
    line-height: 20px;
        }
            .share_studio .btn-floating i {
                font-size: 13px;
    line-height: 10px;
            }
            .check-bx-pd{
                    padding-left: 4px;
            }
</style>
<style>
    ul.shinh li label {
        font-size: 14px;
        color: grey;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }

    .flags {
    display: inline-block;
    height: 12px;
    width: 16px;
    margin-right: 5px;
    background-image: url('/contents/socioboard/images/countries-flags-small.png') !important;
    background-repeat: no-repeat !important;
}

   .flags.aus{ background-position: -208px 0px;}
   .flags.bel{ background-position: -48px -11px;}
   .flags.can{ background-position: -48px -22px;}
   .flags.us{  background-position: -64px -154px;}
   .flags.uk{  background-position: -160px -44px;}
   .flags.fr{  background-position: -128px -44px;}
   .flags.ger{ background-position: -64px -33px;}
</style>

<div data-ng-controller="TrendingContentController">
    <!-- Page name -->
    <div class="container">
        <div class="row">
            <div class="col m9 s12">
                <h4>Trending Content</h4>
            </div>
            <div class="col m3 s12 margin-top-10">
                <a class="btn btn_style btn_round img_comp_btn" ng-click="sorttype()"><i class="fa fa-share-alt" aria-hidden="true"></i> Shareathon</a>
            </div>
        </div>
        <form class="row">
            <div class="col m6">
                <input id="textSearch" type="text" placeholder="Search" />
            </div>
            <div class="col m2">
                <button type="submit" class="btn-floating waves-effect waves-light blue darken-4 center" ng-click="SearchData()"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <div class="container">
        </div>
        <div class="row white-text grey darken-4">
            <div class="" style="height:55px;">
                <div class="col m6 s12 margin-top-10" charset="UTF-8">
                    <a class="btn btn_style" title="Global search"  ng-click="globeSearch('general')"><i class="fa fa-globe"></i></a>
                    <a class="btn btn_style" title="Dailymotion"  ng-click="dailyMotion('dailymotion')"><i class="fa" style=" text-transform: lowercase; font-family: inherit; font-size: x-large; font-weight: 600;">d</i></a>                  
                    <a class="btn btn_style" title="Youtube" ng-click="youtube('youtube')"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn_style" title="Twitter" ng-click="twitter('twitter')"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn_style" title="Instagram" ng-click="instagram('instagram')"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn_style" title="Flickr" ng-click="flickr('flickr')"><i class="fa fa-flickr"></i></a>
                </div>
                <div class="col m6 s12" charset="UTF-8">

                    <!--<div class="input-field col s4">
                        <a class="dropdown-button right white-text btn btn_style btn_round col s11 " href='javascript:void(0)' data-activates='quk_drop01' style="font-size: medium ;line-height:35px;">World</a>
                        <ul class="dropdown-content my-dropdown" id="quk_drop01">
                            
                            <li> <a href='javascript:void(0)' ng-click="topic('technology')"><span class="flags aus"></span> Australia</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('sport')"><span class="flags bel"></span> Belgium</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('business')"><span class="flags can"></span> Canada</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('politics')"><span class="flags us"></span> United States</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('entertainment')"><span class="flags uk"></span> United Kingdom</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('gaming')"><span class="flags fr"></span> France</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('science_and_nature')"><span class="flags ger"></span> Germany</a></li>
                           
                        </ul>   
                    </div>-->
                    
                        <div class="input-field col s4">
                            <a class="dropdown-button right white-text btn btn_style btn_round col s11 " href='javascript:void(0)' data-activates='quk_drop' style="font-size: medium ;line-height:35px;">{{temptext}}</a>
                            <ul class="dropdown-content my-dropdown" id="quk_drop">                              
                                <li> <a  ng-click="topic('technology','Technology')">Technology</a></li>
                                <li> <a  ng-click="topic('sport','Sports')">Sports</a></li>
                                <li> <a  ng-click="topic('business','Business')">Business</a></li>
                                <li> <a  ng-click="topic('politics','Politics')">Politics</a></li>
                                <li> <a  ng-click="topic('entertainment','Entertainment')">Entertainment</a></li>
                                <li> <a  ng-click="topic('gaming','Gaming')">Gaming</a></li>
                                <li> <a  ng-click="topic('science_and_nature','Science & Nature')">Science &amp; Nature</a></li>
                                <li> <a  ng-click="topic('music','Music')">Music</a></li>
                                <li> <a  ng-click="topic('general','Quick Topic')">None</a></li>
                            </ul>
                        </div>
                        

                        <div class="input-field col s4" charset="UTF-8">
                            <a class="dropdown-button right white-text btn btn_style btn_round col s11" href='javascript:void(0)' data-activates='quk_short' style="font-size: medium ;line-height:35px;border-radius: 78px">{{sortbytxt}}</a>
                            <ul class="dropdown-content my-dropdown" id="quk_short">
                                <!--<li><strong style="color:black">Sort By</strong></li>-->
                                <li><a ng-click="sortBy('trending','Trending')">Trending</a></li>
                                <li><a ng-click="sortBy('mostshare','Most share')">Most Shared</a></li>
                                <li><a ng-click="sortBy('fbshare','Facebook Shared')">Facebook Shared</a></li>
                                <li><a ng-click="sortBy('twtshare','Twitter Shared')">Twitter Shared</a></li>
                                <li><a ng-click="sortBy('gplus','Gplus Shared')">Gplus Shared</a></li>
                                <li><a ng-click="sortBy('Pininterest','Pinterest Shared')">Pinterest Shared</a></li>
                                <li><a ng-click="sortBy('LinkedIn','LinkedIn Shared')">LinkedIn Shared</a></li>
                                <li><a ng-click="sortBy('redit','Redit Shared')">Redit Shared</a></li>


                                <li><a ng-click="sortBy('general','Sort By')">None</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
<!-- statr products list -->
<div class="container">
    <div id="center">
        <ul id="waterfall">
            <!-- for all -->
            <li class="show" id="test" ng-repeat="feed in lstData"  ng-if="feedyt.networkType!=2"  charset="UTF-8">
                <div class="studio_card" >
                    <div class="card hoverable no-space">
                        <div class="row margin-top-10 no-bottom-space">
                            <div class="col s12">                                
                                <div class="left check-bx-pd">
                                    <input name="selectedContentfeed[]" class="filled-in subcheckbox" id="{{feed.strId}}" type="checkbox" ng-checked="selectedContentfeed.indexOf(feed) > -1" ng-click="Toggle(feed)" />
                                    <label for="{{feed.strId}}">&nbsp;</label>
                                </div>                                                           
                            </div>
                        </div>
                        <div class="card-image waves-effect waves-block waves-light" ng-click="viewPostModal(feed)">
                          
                            <a>
                                <img src="{{feed.imageUrl}}">
                                <!--{{feed.postUrl}}-->
                            </a>
                           
                        </div>
                        <div class="card-content" charset="UTF-8">
                            <div class="row no-space">
                                <div class="col s12" style="margin: 3px 0px;">
                                    <p class="card-title ">
                                        <a href="{{feed.postUrl}}" target="_blank" class="grey-text text-darken-2">
                                            {{feed.title}}
                                        </a>
                                    </p>
                                </div>
                                <div class="col s12 m6" style="margin: 5px 0px;">
                                    <a href="{{feed.postUrl}}" target="_blank" class="truncate" title="{{feed.postUrl}}" style="font-size: 12px; color: #9b2121;">{{feed.postUrl}}</a>
                                </div>
                                <div class="col s12 m6 " style="margin: 5px 0px;">
                                    <span>| </span><span class="grey-text right truncate" style="font-size: 12px;">{{feed.publishDate}}</span>
                                </div>
                                <div class="col s12 share_studio">
                                    <div class="center" ng-if="feed.fbengagementCount<1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light indigo darken-3"><i class="fa fa-facebook fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.fbengagementCount}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.fbengagementCount>1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light indigo darken-3"><i class="fa fa-facebook fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.fbengagementCount/1000 |number:1}}k</span>
                                    </div>
                                    <!--<div class="center"  ng-if="feed.twtShareCount<1000">
                                        <a class="btn-floating waves-effect waves-light light-blue accent-2"><i class="fa fa-twitter fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.twtShareCount}}</span>
                                    </div>-->
                                    <!--<div class="center"  ng-if="feed.twtShareCount>1000">
                                    <a class="btn-floating waves-effect waves-light light-blue accent-2"><i class="fa fa-twitter fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.twtShareCount/1000 |number:0}}k</span>
                                    </div>-->
                                    <div class="center" ng-if="feed.pinShareCount<1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light red darken-4"><i class="fa fa-pinterest fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.pinShareCount}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.pinShareCount>1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light red darken-4"><i class="fa fa-pinterest fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.pinShareCount/1000 |number:1}}k</span>
                                    </div>
                                    <!--<div class="center" ng-if="feed.gplusShareCount<1000">
                                    <a class="btn-floating waves-effect waves-light red accent-4"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.gplusShareCount}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.gplusShareCount>1000">
                                    <a class="btn-floating waves-effect waves-light red accent-4"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.gplusShareCount/1000|number:0}}k</span>
                                    </div>-->
                                    <div class="center" ng-if="feed.gplusShareCount<1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light blue darken-3"><i class="fa fa-linkedin fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.linShareCount}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.gplusShareCount>1000 && feed.networkType!=2" style="margin-right: 10px;">
                                        <a class="btn-floating waves-effect waves-light blue darken-3"><i class="fa fa-linkedin fa-fw"></i></a>
                                        <br>
                                        <span>{{feed.linShareCount/1000|number:1}}k</span>
                                    </div>

                                    <!--view-->
                                    <div class="center" ng-if="feed.ytview<1000 && feed.networkType==2" style="margin-right: 10px;">
                                        <a class="indigo-text text-darken-3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="indigo-text text-darken-3">{{feed.ytview}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.ytview>1000" style="margin-right: 10px;">
                                        <a class="indigo-text text-darken-3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="indigo-text text-darken-3">{{feed.ytview/1000 |number:1}}k</span>
                                    </div>

                                    <!-- likes -->
                                    <div class="center" ng-if="feed.ytlikeCount<1000 && feed.networkType==2" style="margin-right: 10px;">
                                        <a class="blue-text text-darken-1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="blue-text text-darken-1">{{feed.ytlikeCount}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.ytlikeCount>1000" style="margin-right: 10px;">
                                        <a class="blue-text text-darken-1"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="blue-text text-darken-1">{{feed.ytlikeCount/1000 |number:1}}k</span>
                                    </div>

                                    <!-- comments -->
                                    <div class="center" ng-if="feed.ytcommentCnt<1000 && feed.networkType==2" style="margin-right: 10px;">
                                        <a class="grey-text text-darken-4"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="grey-text text-darken-4">{{feed.ytcommentCnt}}</span>
                                    </div>
                                    <div class="center" ng-if="feed.ytcommentCnt>1000" style="margin-right: 10px;">
                                        <a class="grey-text text-darken-4"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                                        <br>
                                        <span class="grey-text text-darken-4">{{feed.ytcommentCnt/1000 |number:1}}k</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="col s12 m6 center">
                                    <a class="btn btn_round blue darken-1 modal-trigger center" style="margin-top: 5px;" ng-click="ComposeMessageModal(feed)" href="javascript:void(0)">
                                        <i class="large icon-share" style="font-size: 1rem;"></i>
                                    </a>
                                </div>
                                <div class="col s12 m6 center" ng-if="feed.totalShareCount<1000">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>{{feed.totalShareCount}}</strong></div>
                                </div>
                                <div class="col s12 m6 center" ng-if="feed.totalShareCount>1000">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>{{feed.totalShareCount/1000 |number:1}}k</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
        </ul>
    </div>
    <div class="col s12 center">
        <a ng-show="displaybtn"  class="btn btn_style blue_btn_style" ng-click="listData()" onClick="loadmore_feeds();" ng-if="preloadmorefeeds==false">Load More</a>
        <div ng-show="!displaybtn"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
        <h6 style="color:lightgray; font-size:30px; font-family:Calibri" ng-if="endfeeds==true && filters!=true"><br /><br /><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />No posts to show<br /></h6>
        <h6 style="color:lightgray; font-size:30px; font-family:Calibri" ng-if="lstnofeeds==true"><br /><br /><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />No posts to show<br /></h6>

    </div>


    <div ng-if="fetchdatacomplete!=true">
        <br /><br /><br /><br /><br /><br />
        <div class="center">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <br />
            <h6 style="color:gray; font-size:18px; font-family:Calibri;">Please wait while we are processing</h6>
        </div>
    </div>


    <div class="center" ng-if="nofeeds==true">
        <br /><br /><br /><br /><br /><br />
        <h6 style="color:gray; font-size:20px; font-family:Calibri"><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />Sorry, No content feeds to display<br /></h6>
    </div>
</div>


<!--open image-->
<div id="viewPostModal" class="modal" style="max-width: 850px; width: 100%;">
    <div class="modal-content">
        <div class="row no-space">
            <div class="col l12 m12 s12 center">
                <img class="responsive-img" ng-src="{{feed.imageUrl}}" alt="imgs">
            </div>
            <!--<div class="col l4 m4 s4">
                <span class="card-title grey-text text-darken-4">{{feeds.adminUser}}</span>
                <p> {{feeds.feed}}</p>
          
            </div>-->
        </div>
    </div>
</div>
<!--end image-->


<!--/ end items list -->
  <!-- END CONTENT -->
<!-- Compose Email Structure -->
<div id="ComposePostModal" class="modal">
    <div class="modal-content">
        <nav class="red">
            <div class="nav-wrapper">
                <div class="left col s12 m5 l5">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="email-type">Compose</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="model-email-content">
        <div class="row no-space">
            <form class="col s12">
                <div class="row no-space">
                    <div class="col s12 m6">
                        <div class="input-field col s12">
                            <div class="emoji-picker-container">
                                <textarea id="composeMessage" disabled class="materialize-textarea active grey-text text-darken-4" length="500">{{composePostdata.link}}</textarea>
                            </div>
                        </div>
                        <div class="row no-space">
                            <div class="col s12 m12 l12">
                                <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                            </div>
                            <input type="hidden" id="imageUrl" value="{{composePostdata.image}}" />
                            <div class="col s12 m12 l12">
                                <input type="file" id="composeImage" class="dropify" after-render data-default-file="{{composePostdata.image}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input ng-model="query[queryBy]" id="search_name" type="text" class="validate">
                                <label for="search_name">Search Profile</label>
                            </div>
                            <ul class="col s12 shinh" id="checkboxdata" style="max-height:250px; overflow-y:scroll;">
                                <li style="padding:5px 0;">
                                    <label>
                                        <input type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" id="checkAll" onclick="check();" />
                                        <span style="float:left;">Check All</span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13' }" style="padding:5px 0;">
                                    <label>
                                        <input onclick="profile();" name="selector[]" class="subcheckbox" id="urlfb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/fb_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input onclick="profile();" name="selector[]" class="subcheckbox" id="urlfb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:2}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="tw_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/twticon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query | filter:{profileType:3} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="lin_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:4}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="Cmpylinpage_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row no-space">
                    <!--<a href="" class="btn btn_style blue_btn_style left" ng-click="draftMsg()">Save as Draft</a>-->
                    <div class="right btn btn_style blue_btn_style">
                        <div ng-show="disbtncom" ng-click="ComposeMessage()">send</div>
                        <div ng-show="!disbtncom"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ShareathonModal Structure -->
<div id="ShareathonModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h4>Shareathon Post</h4>
            </div>
            <form class="col s12">
                <div class="col s12 m12">
                    <div class="row">
                        <b class="grey-text text-darken-3" style="font-size: 17px;">Select social profile</b>

                        <ul class="col s12 shinh" id="checkboxdataAa" style="max-height:250px; overflow-y:scroll;">
                            <li style="padding:5px 0;">
                                <label>
                                    <!----------------<input  type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" ng-model="allSelected" ng-model-options="{getterSetter: true}" />------------->
                                    <input type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" id="checkAlll" onclick="checkK();" />
                                    <span style="float:left;">Check All</span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13' }" style="padding:5px 0;">
                                <label>
                                    <input onclick="otherprofile();" name="selector[]" class="subcheckbox" id="{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/fb_icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="otherprofile();" name="selector[]" class="subcheckbox" id="{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                </label>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                    <!--<div class="input-field col s12">-->
                    <!--<select multiple id="shraeathonfacebookpage">
                     <option value="" disabled selected>Choose your option</option>
                     <option ng-repeat="profile in lstProfiles |filter:{profileType:0} && filter:{profileType:1} && filter:{profileType:2} && filter:{profileType:3} | filter:{profileType:'!5'}|filter:{profileType:'!6'}|filter:{profileType:'!7'}|filter:{profileType:'!8'} |filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" value="{{profile.profileId}}" my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                     </select>-->
                    <!--<label>Select An Account To Automate Post</label>
                     </div>-->

                    <div class="input-field col s12">
                        <select id="shraeathontimeinterval">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="20">20 min</option>
                            <option value="30">30 min</option>
                            <option value="60">1 hr</option>
                        </select>
                        <label>Set Your Time Interval</label>
                    </div>
                    <div ng-init="dispbtn= {{dispbtn}}"></div>
                    <div class="col l12 center margin-top-50">
                        <a ng-show="dispbtn" ng-click="saveshreathondata()" class="btn grey darken-4 waves-effect waves-light">post</a>
                        <a ng-show="!dispbtn" ng-click="saveshreathondata()" class="btn grey darken-4 waves-effect waves-light">wait</a>
                    </div>
            </form>
        </div>
    </div>
</div>

<!--</div>-->
<script>
    function closeModel() {
        jQuery('input:checkbox').removeAttr('checked');
    }
    $(function () {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: '../contents/socioboard/global/plugins/emoji-picker/lib/img/',
            popupButtonClasses: 'fa fa-smile-o'
        });
        window.emojiPicker.discover();
    });
    function check() {
        var flag = $('#checkAll').is(":checked");
        $('#checkboxdata input:checkbox').each(function () {
            $(this).prop('checked', flag);
        });
    }
    function profile() {
        var count = 0;
        $("#checkboxdata  :checkbox").each(function () {
            if (this.id != 'checkAll') {
                if (!($("#" + this.id).prop('checked'))) {
                    count++;
                }
            }
        });
        if (count > 0) {
            $("#checkAll").prop('checked', false);
        }
        if (count == 0) {
            $("#checkAll").prop('checked', true);
        }
    }

    function checkK() {
        var flag = $('#checkAlll').is(":checked");
        $('#checkboxdataAa input:checkbox').each(function () {
            $(this).prop('checked', flag);
        });
    }

    function otherprofile() {
        var count = 0;
        $("#checkboxdataAa  :checkbox").each(function () {
            if (this.id != 'checkAlll') {
                if (!($("#" + this.id).prop('checked'))) {
                    count++;
                }
            }
        });
        if (count > 0) {
            $("#checkAlll").prop('checked', false);
        }
        if (count == 0) {
            $("#checkAlll").prop('checked', true);
        }
    }
</script>
<script type="text/javascript">
  $('.instfeeds').slimScroll({
        color: '#FAB51C',
        size: '10px',
        height: '250px',
        alwaysVisible: true,
        allowPageScroll: true
  });
  $('.insearch').slimScroll({
      color: '#FAB51C',
      size: '10px',
      height: '450px',
      alwaysVisible: true,
      allowPageScroll: true
  });
</script>
<script>
        function loadmore_feeds() {
            $('#load_circle_insta').show();
        }


</script>
