<style type="text/css">
    #waterfall li.show {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s, top 1s;
    }

    #waterfall li > div {
        color: rgba(0,0,0,0.6);
        border-radius: 3px;
        margin: 10px;
        padding: 0px;
        background: rgb(255,255,255);
        border: 1px solid rgba(038, 191, 64, 0);
        transition: all 0.5s;
    }

        #waterfall li > div:hover {
            transform: translateY(-10px);
            border: 1px solid #3b5998;
            box-shadow: 0 10px 15px rgba(154, 187, 221, 0.4);
            transition: all 0.3s;
        }
</style>
<div data-ng-controller="TrendingContentController">
    <!-- Page name -->
    <div class="container">
        <div class="row">
            <div class="col m9 s12">
                <h4>Trending Content</h4>
            </div>
            <div class="col m3 s12 margin-top-10">
                <a class="btn btn_style img_comp_btn" ng-click="sorttype()"><i class="fa fa-share-alt" aria-hidden="true"></i> Shareathon</a>
            </div>
        </div>
        <div class="row">
            <div class="col m4">
                <input id="textSearch" type="text" placeholder="Search" />
            </div>
            <div class="col m2">
                <a class="btn-floating waves-effect waves-light blue darken-4 center" ng-click="SearchData()"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="container">
        </div>
        <div class="row white-text grey darken-4">
            <div class="" style="height:55px;">
                <div class="col m8 s12 margin-top-10">
                    <a class="btn btn_style" title="Global search"  ng-click="globeSearch('general')"><i class="fa fa-globe"></i></a>
                    <a class="btn btn_style" title="Dailymotion"  ng-click="dailyMotion('dailymotion')"><i class="fa" style=" text-transform: lowercase; font-family: inherit; font-size: x-large; font-weight: 600;">d</i></a>                  
                    <a class="btn btn_style" title="Youtube" ng-click="youtube('youtube')"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn_style" title="Twitter" ng-click="twitter('twitter')"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn_style" title="Instagram" ng-click="instagram('instagram')"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn_style" title="Flickr" ng-click="flickr('flickr')"><i class="fa fa-flickr"></i></a>
                </div>
                <div class="col m4 s12">
                    <div class="input-field col s6">
                        <a class="dropdown-button right white-text btn btn_style col s11 " href='javascript:void(0)' data-activates='quk_drop' style="font-size: medium ;line-height:35px;border-radius: 78px">Quick Topics</a>
                        <ul class="dropdown-content my-dropdown" id="quk_drop">
                            <li>  <a href='javascript:void(0)' <strong style="color:black">Quick Topics</strong></a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('technology')">Technology</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('sport')">Sports</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('business')">Business</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('politics')">Politics</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('entertainment')">Entertainment</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('gaming')">Gaming</a></li>
                            <li> <a href='javascript:void(0)' ng-click="topic('science_and_nature')">Science &amp; Nature</a></li>
                            <li> <a ng-click="topic('music')">Music</a></li>
                        </ul>
                    </div>
                    <div class="input-field col s6">
                        <a class="dropdown-button right white-text btn btn_style col s11" href='javascript:void(0)' data-activates='quk_short' style="font-size: medium ;line-height:35px;border-radius: 78px">Sort By</a>
                        <ul class="dropdown-content my-dropdown" id="quk_short">
                            <li><a href='javascript:void(0)' <strong style="color:black">Sort By</strong></a></li>
                            <li><a ng-click="sortBy('trending')">Trending</a></li>
                            <li><a ng-click="sortBy('mostshare')">Most Shared</a></li>
                            <li><a ng-click="sortBy('fbshare')">Facebook Shared</a></li>
                            <li><a ng-click="sortBy('twtshare')">Twitter Shared</a></li>
                            <li><a ng-click="sortBy('gplus')">Gplus Shared</a></li>
                            <li><a ng-click="sortBy('Pininterest')">Pinterest Shared</a></li>
                            <li><a ng-click="sortBy('LinkedIn')">LinkedIn Shared</a></li>
                            <li><a ng-click="sortBy('redit')">Redit Shared</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- statr products list -->
<div class="container">
    <div id="center">
        <ul id="waterfall">
            <li class="show" id="test" ng-repeat="feed in lstData">
                <div class="studio_card">
                    <div class="card hoverable no-space">
                        <div class="row margin-top-10 no-bottom-space">
                            <div class="col s12 share_studio">
                                
                                <div class="center">
                                    <input name="selectedContentfeed[]" class="filled-in subcheckbox" id="{{feed.strId}}" type="checkbox" ng-checked="selectedContentfeed.indexOf(feed) > -1" ng-click="Toggle(feed)" />
                                    <label for="{{feed.strId}}">&nbsp;</label>
                                </div>
                                
                                <div class="center" ng-if="feed.fbengagementCount<1000">
                                    <a class="btn-floating waves-effect waves-light indigo darken-3"><i class="fa fa-facebook fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.fbengagementCount}}</span>
                                </div>
                                <div class="center" ng-if="feed.fbengagementCount>1000">
                                    <a class="btn-floating waves-effect waves-light indigo darken-3"><i class="fa fa-facebook fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.fbengagementCount/1000 |number:0}}</span>
                                </div>
                                <div class="center"  ng-if="feed.twtShareCount<1000">
                                    <a class="btn-floating waves-effect waves-light light-blue accent-2"><i class="fa fa-twitter fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.twtShareCount}}</span>
                                </div>
                                <div class="center"  ng-if="feed.twtShareCount>1000">
                                    <a class="btn-floating waves-effect waves-light light-blue accent-2"><i class="fa fa-twitter fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.twtShareCount/1000 |number:0}}k</span>
                                </div>
                                <div class="center" ng-if="feed.pinShareCount<1000">
                                    <a class="btn-floating waves-effect waves-light red darken-4"><i class="fa fa-pinterest fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.pinShareCount}}</span>
                                </div>
                                <div class="center" ng-if="feed.pinShareCount>1000">
                                    <a class="btn-floating waves-effect waves-light red darken-4"><i class="fa fa-pinterest fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.pinShareCount/1000 |number:0}}k</span>
                                </div>
                                <div class="center" ng-if="feed.gplusShareCount<1000">
                                    <a class="btn-floating waves-effect waves-light red accent-4"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.gplusShareCount}}</span>
                                </div> 
                                <div class="center" ng-if="feed.gplusShareCount>1000">
                                    <a class="btn-floating waves-effect waves-light red accent-4"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <br>
                                    <span>{{feed.gplusShareCount/1000|number:0}}k</span>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-image waves-effect waves-block waves-light">
                          
                            <a href="{{feed.postUrl}}" target="_blank">
                                <img src="{{feed.imageUrl}}">
                            </a>
                           
                        </div>
                        <div class="card-content">
                            <div class="row no-space">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="{{feed.postUrl}}" target="_blank" class="grey-text text-darken-4">
                                            {{feed.title}}
                                        </a>
                                    </p>
                                </div>
                                <div class="col s12 m6">
                                    <a href="{{feed.postUrl}}" target="_blank" class="truncate">{{feed.postUrl}}</a>
                                </div>
                                <div class="col s12 m6 ">
                                    <span>| </span><span class="grey-text right truncate"></span>
                                </div>
                                <hr>
                                <div class="col s12 m6 center"  ng-if="feed.linShareCount<1000">
                                    <div class="grey-text text-darken-4">Link Share:</div>
                                    <div><strong>{{feed.linShareCount}}</strong></div>
                                </div>
                                <div class="col s12 m6 center"  ng-if="feed.linShareCount>1000">
                                    <div class="grey-text text-darken-4">Link Share:</div>
                                    <div><strong>{{feed.linShareCount/1000 |number:0}}k</strong></div>
                                </div>
                                <div class="col s12 m6 center" ng-if="feed.totalShareCount<1000">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>{{feed.totalShareCount}}</strong></div>
                                </div>
                                <div class="col s12 m6 center" ng-if="feed.totalShareCount>1000">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>{{feed.totalShareCount/1000 |number:0}}k</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>


    <div ng-if="fetchdatacomplete!=true">
        <br /><br /><br /><br /><br /><br />
        <div class="center">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <br />
            <h6 style="color:gray; font-size:18px; font-family:Calibri;">Please wait while we are processing</h6>

        </div>
    </div>


    <div class="center" ng-if="nofeeds==true">
        <br /><br /><br /><br /><br /><br />
        <h6 style="color:gray; font-size:20px; font-family:Calibri"><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />Sorry, No content feeds to display<br /></h6>
    </div>
</div>


<!--/ end items list -->
<!-- ShareathonModal Structure -->
<div id="ShareathonModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h4>Shareathon Post</h4>
            </div>
            <form class="col s12">
                <div class="input-field col s12">
                    <select multiple id="shraeathonfacebookpage">
                        <option value="" disabled selected>Choose your option</option>
                        <option ng-repeat="profile in lstProfiles | filter:{profileType:1} && filter:{profileType:0}| filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" value="{{profile.profileId}}" my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                    </select>

                    <label>Selects An Account To Automate Post</label>
                </div>

                <div class="input-field col s12">
                    <select id="shraeathontimeinterval">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="20">20 min</option>
                        <option value="30">30 min</option>
                        <option value="60">1 hr</option>
                    </select>
                    <label>Set Your Time Interval</label>
                </div>
                <div ng-init="dispbtn= {{dispbtn}}"></div>
                <div class="col l12 center margin-top-50">
                    <a ng-show="dispbtn" ng-click="saveshreathondata()" class="btn grey darken-4 waves-effect waves-light">post</a>
                    <a ng-show="!dispbtn" ng-click="saveshreathondata()" class="btn grey darken-4 waves-effect waves-light">wait</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--</div>-->
