/*body{
        cursor: url('http://share.framerjs.com/5sq3az02vw7v/framer/images/cursor.png') 32 32, auto;
    cursor: -webkit-image-set( url('http://share.framerjs.com/5sq3az02vw7v/framer/images/cursor.png') 1x, url('http://share.framerjs.com/5sq3az02vw7v/framer/images/cursor@2x.png') 2x ) 32 32, auto;
}*/

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a{
	color: #444;
}
ul.side-nav.leftside-navigation li.active > a{
    color: #F85C37;
}
.side-nav.fixed.leftside-navigation .collapsible-body li.active > a{
    color: #D83F1A;
}
.card .card-content p{
	font-size: x-large;
}
.dropdown_text{
	white-space: nowrap; 
    width: auto; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dropdown_text i{
    padding: 3px;
}
.truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.break_word{
  width: auto;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more_profile_btn{
    position: relative;
    top: -15px;
    right: -10px;
    float: right;
}

.card_profile_socio_icon{
    position: absolute;
    top: 152px;
    z-index: 1;
    left: 80px;
}

.card-panel-img{
    padding: 10px !important;
}

/*feeds*/
#feeds .feeds_title{
    background-color: #3B5998;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
#feeds .feeds_title i{
    padding: 5px;
}
#feeds li{
	border-bottom: none;
}
#feeds .collection {
    border: 0px solid #fff !important ;
}
#feeds .collection .collection-item.avatar {
    height: auto;
    padding-left: 72px;
    position: relative;
}
#feeds .collection .collection-item.avatar img.circle {
    padding: 0px;
}

#feeds .collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}
#feeds .collection .collection-item.selected {
    background: #e1f5fe;
    border-left: 4px solid #29b6f6;
}
#feeds .collection .collection-item.avatar .secondary-content.email-time {
    right: 20px;
}
.dashboard_feeds{
    border-color: rgb(232, 235, 239);
    color: rgba(29, 29, 29, 0.870588);
    background-color: rgb(232, 235, 239);
    padding: 10px;
    position: relative;
    font-weight: 600;
}
.dashboard_feeds:before {
    border-style: solid;
    border-width: 0 10px 10px 0;
    content: "";
    display: block;
    left: -19px;
    margin-top: -10px;
    position: relative;
    width: 12px;
    border-color: transparent #E8EBEF transparent transparent;
}
#feeds .feeds_post:before{
    border-style: solid;
    border-width: 0 15px 15px 0;
    content: "";
    display: block;
    left: -24px;
    margin-top: -10px;
    position: relative;
    width: 12px;
    border-color: transparent #E8EBEF transparent transparent;
}
.feeds_post{
    border-color: rgb(232, 235, 239);
    color: rgba(29, 29, 29, 0.870588);
    background-color: rgb(232, 235, 239);
    padding: 10px;
    position: relative;
    font-weight: 600;
}

.groupslist{
    position: relative;
    top: -9px;
}
.groupslist i{
    height: 45px !important;
    line-height: 50px !important;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
 padding: 5px;
}
.pin_profile_pic{
    width: 60px;
}
/* right_side title*/
.r_side_title{
    background-color: #757575;
    margin: 0;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}
.r_side_title i{
    padding: 5px;
}
#social_profile_list .card-panel{
    padding: 10px;
}

.profile_socio_icon{
    float: right;
    margin-top: -20px;
    position: relative;
}
/*.social_profile:hover .delet_icon {
    background: transparent url(../../images/button-cross.png) no-repeat center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 9999;
}*/
.d_card_icon{
    color: #FFFFFF; 
    margin-left: -35px; 
    font-size: 60px !important; 
    line-height: 60px !important; 
    opacity: 0.5;
}

/*message*/

.section_filter{
    padding: 10px;
}
.section_filter .row{
    margin-bottom: 5px !important;
}

.smartinbox_action_icon i{
        margin-right: 5px;
        color: #1976D2 !important;
}
.section_filter a{
    color: #fff;

}
/*color */
.instagram_color{
    background: -webkit-gradient(linear,left top,right top,color-stop(32%,#FAB51C),color-stop(60%,#EF0915),color-stop(100%,#BE039C));
}
.instagram_text_color{
    font-size: 72px;
  background: -webkit-gradient(linear,left top,right top,color-stop(32%,#FAB51C),color-stop(60%,#EF0915),color-stop(100%,#BE039C));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*groups */
.groups_tabs:hover .trash_icon {
    background: transparent url(../../images/trash.png) no-repeat center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 15px;    
    z-index: 9999;
}
.social_profile:hover .add_icon {
    background: transparent url(../../images/button-add.png) no-repeat center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 9999;
}


/* Publishing */
.profilePic {
    height: 54px;
    width: 54px;
}
.msgiconPoss {
    margin-left: -15px;
}

/*group reports*/
.groupbox_padding{
    padding: 2px 20px;
}
.GroupStats_twt {
    font-family: 'Arial Narrow',Helvetica,Arial,sans-serif;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #676363;
    text-align: center;
    text-shadow: none;
}

.charts{
  width: 100%;
  height: 500px;
  font-size: 11px;
}

.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}                           


/*margin css*/
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-20{
    margin-top: 20px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.margin-top-50{
    margin-top: 50px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}
.margin-bottom-30{
    margin-bottom: 30px !important;
}
.margin-bottom-50{
    margin-bottom: 50px !important;
}


.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}

/*linkedin feeds*/
.company_desc_logo{
    height: 100px !important;
}

/* font size */
.font_50{
    font-size: 50px;
}
/*e - wallet */
.money_avata{
    padding-top: 10px;
    width: 150px !important;
    margin: auto;
}


  /* instagram report */
  .inst_name_big_dt{
    font-size: large;
    color: #005686;
  }
.inst_name_big_dd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: large;
    color: #3C3C3C;
    font-weight: 900;
}

.description_listen{
    font-size: inherit !important;
    word-wrap: break-word;
}

.profile-image{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} 

/* group */
.card-image .profile_images{
    height: 60px;
}

.btn_style{
    font-size: 11px !important;
    padding: 0px 5px 0px 5px !important;
}

/**/
.card_panel_box{
    padding: 3px 2px 3px 0px !important;
}


.dropdown_list_style li > a, .dropdown_list_style li > span{
    padding: 0px 16px;
    color: #325981 !important;
    min-height: 25px !important;
}

.dropify-wrapper .dropify-message p{
    text-align: center;
}

/* youtube feeds css*/

.y_feeds_title{
    line-height: 22px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #464646;
    padding: 1px 5px;
}

.y_feeds_desc{
    line-height: 22px !important;
    color: #464646;
    padding: 1px 5px;
}
.chip{
    margin: 1px;
}
.dropdown-content-small{
    top: 65px !important;
}
.dropdown-content-small:before{
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-content-small li > a, .dropdown-content-small li > span{
    padding: 0px 16px !important;
    color: #325981 !important;
}

/*pinterest*/
.pin_board_h{
    height: 163px;
}

.pin_save_btn{
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #ff4081;
    border-radius: 2px;
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    float: right;
    box-sizing: border-box;
}

.email-type{
    font-size: large;
    padding-left: 10px;
}
.hr_dot{
    border-top: 2px dashed #009bdf !important;
}

/* content studio */

@media screen and (max-width: 2200px) {
  
  .product_content-sizer {
    width: 20%;
  }
  .product_content {
    width: 20%;
  }
}

@media screen and (max-width: 1800px) {
  
  .product_content-sizer {
    width: 30%;
  }
  .product_content {
    width: 30%;
  }
}

@media screen and (max-width: 1600px) {
  
  .product_content-sizer {
    width: 20%;
  }
  .product_content {
    width: 20%;
  }
}

@media screen and (max-width: 1224px) {
  
  .product_content-sizer {
    width: 33.33%;
  }
  .product_content {
    width: 33.33%;
  }
 
}

@media screen and (max-width: 980px) {
  
  .product_content-sizer {
    width: 50%;
  }
  .product_content {
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  
  .product_content-sizer {
    width: 50%;
  }
  .product_content {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  
  .product_content-sizer {
    width: 100%;
  }
  .product_content {
    width: 100%;
  }
}


.product_content .card .btn-save {
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 50px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}

.content_icon i{
    line-height: 50px !important;
}

 
/* -----product_content Masonery ----- */
.product_content .card .card-content{
    padding: 4px 0px;
}
.product_content .card .card-content .card-title, .product_content .card .card-reveal .card-title {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
 
.product_content {
  /*width: 25%;*/
  padding: 10px;
}
 
.product_content .card {
  margin: 0;
}
 
.product_content ul.card-action-buttons {
  margin: -26px 10px 0 0;
  text-align: right;
}
 
.product_content ul.card-action-buttons li {
  display: inline-block;
  padding-left: 5px;
}
 
.product_content-sizer {
  width: 25%;
}
/* product content new studio_card*/
.studio_card .card .btn-save {
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 50px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}
.studio_card .card .card-content{
    padding: 4px 0px;
}
.studio_card .card .card-content .card-title{
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
 
.studio_card {
  padding: 10px;
}
 
.studio_card .card {
  margin: 0;
}

.my-dropdown{ 
    top:40px !important;
}
.my-dropdown:before{
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.my-dropdown li > a, .my-dropdown li > span{
    padding: 0px 16px !important;
    color: #325981 !important;
}
 
.share_studio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 

.dropdown_list_style li > a, .dropdown_list_style li > span{
    padding: 0px 16px;
    color: #325981 !important;
    min-height: 25px !important;
}

.dropify-wrapper .dropify-message p{
    text-align: center;
}


/* Img Library */
.card_img_details{
  padding: 10px !important;
  border-top: 3px solid #f85c37 !important;
}

.card_img_h {
    margin: auto;
    display: block;
    min-height: 100px;
    height: 130px !important;
}
.img_comp_btn{
    border-radius: 20px !important;
    margin-bottom: 8px;
    border:1px solid #ff6262; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #ff9a9a; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}

.blue_btn_style{
    border-radius: 20px !important;
    margin-bottom: 8px;
    border:1px solid #9ad0ff; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #9ad0ff; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9ad0ff), to(#2d6ee6));
    background-image: -webkit-linear-gradient(top, #9ad0ff, #2d6ee6);
    background-image: -moz-linear-gradient(top, #9ad0ff, #2d6ee6);
    background-image: -ms-linear-gradient(top, #9ad0ff, #2d6ee6);
    background-image: -o-linear-gradient(top, #9ad0ff, #2d6ee6);
    background-image: linear-gradient(to bottom, #9ad0ff, #2d6ee6);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9ad0ff, endColorstr=#2d6ee6);
}

.btn_gred_purple{
    border-radius: 20px !important;
    margin-bottom: 8px;
    border:1px solid #c51161; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #c51161; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b11573), to(#c51161));
    background-image: -webkit-linear-gradient(top, #b11573, #c51161);
    background-image: -moz-linear-gradient(top, #b11573, #c51161);
    background-image: -ms-linear-gradient(top, #b11573, #c51161);
    background-image: -o-linear-gradient(top, #b11573, #c51161);
    background-image: linear-gradient(to right,#b11573,#c51161);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b11573, endColorstr=#c51161);
}

/* notification*/
.badge_notify{
    font-size: 10px;
    min-width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #d83f1a;
    position: absolute;
    margin-top: 9px;
    left: 25px;
    color: #ffffff;
    font-weight: 500;
    padding: 9px 0;
    text-align: center;
        line-height: 0;
}

.notify_side-nav a{
    line-height:20px !important;
}

.success_box{
    background: #f1f1f1;
    border-radius: 20px;
    padding: 5px;
    color:green;
}

.error_box{
    background: #f1f1f1;
    border-radius: 20px;
    padding: 5px;
    color:red;
}

.notify_post{
    border-color: rgb(232, 235, 239);
    color: rgba(29, 29, 29, 0.870588);
    background-color: #fcfcfc;
    padding: 10px;
    position: relative;
    font-weight: 600;
}
