    <!-- START FOOTER -->
    <!--<footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2016 <a class="grey-text text-lighten-4" href="#" target="_blank">Socioboard Technologies Pvt. Ltd.</a> All rights reserved.
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="https://www.socioboard.com">Socioboard Technologies Pvt. Ltd.</span>
            </div>
        </div>
    </footer>-->
    <!-- END FOOTER -->