<style>
    #groups {
        max-height: 300px;
    }
    .profile-nav-pic{
      vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    width: 45px;
    max-height: 45px;
}
.profile_name{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
}
</style> 
 <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="grey lighten-2">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="#dashboard" class="brand-logo darken-1"><img src="../contents/socioboard/images/Socioboard.png" alt="Socioboard"></a> <span class="logo-text">Socioboard</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <!--<li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
                                <i class="mdi-action-search  grey-text text-darken-4"></i>
                            </a>                              
                        </li>-->
                        
                        <!--<li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="icon-size-fullscreen  grey-text text-darken-4"></i>
                            </a>
                        </li>-->
                        <li>
                            <div style="padding: 0px 5px;">
                                <a href="#/upgradeplan" class="btn btn_style orange" ng-if="AccountType!=7" style="height: 28px; line-height: 28px;  border-radius: 3px;">Upgrade Plan</a>
                            </div>
                        </li>
                        <li>
                            <div class="margin-top-10">
                                <a href="http://twitter.com/share" class="twitter-share-button" data-size="large" data-text="@Socioboard Hey Heroes! I could use a hand. :)" data-count="vertical" data-url=" " data-via="" data-hashtags="SocioboardSupport" data-related="Socioboard" data-lang="en" data-dnt="true" data-show-count="false">Tweet Us</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light dropdown-button" data-activates='help'>
                                <i class="icon-earphones-alt grey-text text-darken-4" title="help"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light dropdown-button" data-activates='groups'>
                                <i class="icon-users grey-text text-darken-4" title="Team"></i>
                            </a>
                        </li>
                        <!--emailid change feature header-->
                        <!-- Dropdown Trigger -->
                        <li>
                            <!--<a  data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                                <i class="icon-bell grey-text text-darken-4" title="Notifications"><span class="badge_notify" ng-if="notifycount>0">{{notifycount}}</span></i>
                            </a>-->
                            <a ng-href="#/notification_all" class="waves-effect waves-block waves-light">
                                <i class="icon-bell grey-text text-darken-4" title="Notifications"><span class="badge_notify" ng-if="notifycount>0">{{notifycount}}</span></i>
                            </a>
                        </li>
                       <li>
                            <!--<a href="javascript:void(0)" class="waves-effect waves-block waves-light dropdown-button" data-activates='account_list'>
                                <i class="icon-settings grey-text text-darken-4" title="Account Settings"></i>
                            </a>-->
                           <a ng-if="profilePicExist == 1" href="javascript:void(0)" class="waves-effect waves-block waves-light dropdown-button" data-activates='account_list'>
                               <img src="{{user.ProfilePicUrl}}" alt="{{user.UserName}}" title="{{user.FirstName}}" class="circle profile-nav-pic "><i class="fa fa-sort-desc grey-text text-darken-4" aria-hidden="true"></i>
                           </a>
                           <a ng-if="profilePicExist == 0" href="javascript:void(0)" class="waves-effect waves-block waves-light dropdown-button" data-activates='account_list'>
                               <img src="{{user.ProfilePicUrl}}" alt="{{user.UserName}}" title="{{user.FirstName}}" class="circle profile-nav-pic "><i class="fa fa-sort-desc grey-text text-darken-4" aria-hidden="true"></i>
                           </a>
                        </li>
                    </ul>
                    <!-- Help -->
                    <ul id='help' class='dropdown-content dropdown-content-small'>
                        <li>
                            <a href="#get_touch" class="waves-effect waves-orange white-text">
                                <span class="groupslist"><i class="icon-envelope"></i>Get In Touch</span>
                            </a>
                        </li>
                       <li>
                            <a href="https://www.youtube.com/channel/UCcxAmhWPh6AXfpaG2Eq4pzw" class="waves-effect waves-orange  white-text" target="_blank">
                                <span class="groupslist"><i class="icon-social-youtube"></i>Youtube Tutorials </span>
                            </a>
                        </li>
                        <li>
                            <a href="#/upgradeplan" class="waves-effect waves-orange  white-text">
                                <span class="groupslist"><i class="icon-basket"></i>Pricing</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.socioboard.com/Index/FAQ" target="_blank" class="waves-effect waves-orange  white-text">
                                <span class="groupslist"><i class="icon-question"></i>FAQs</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Groups for all plan -->
                    <ul id='groups' class='dropdown-content dropdown-content-small'>
                        <li ng-repeat="grp in groups">
                            <span class="grey grey-text text-lighten-4" ng-if="groupId==grp.id">{{grp.groupName}}</span>
                            <span ng-click="changeGroup(grp.id)" ng-if="groupId!=grp.id">{{grp.groupName}}</span>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#/groups" class="grey-text text-darken-4">View Team</a></li>
                        <li><a href="#/groups">Create New</a></li>
                    </ul>
                    <!-- Accounts Structure -->
                    <ul id="account_list" class='dropdown-content dropdown-content-small'>
                        <div class="account_scroll">
                            <li>
                                <a href="#/profilesettings">
                                    <span class="groupslist"><i class="icon-user"></i>Profile Settings </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/youtubegroup">
                                    <span class="groupslist"><i class="icon-social-youtube"></i>YT group Invite </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/access_passwd">
                                    <span class="groupslist"><i class="icon-key"></i>Access Password</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/billing">
                                    <span class="groupslist"><i class="icon-credit-card"></i>Billing</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/mail_settings">
                                    <span class="groupslist"><i class="icon-envelope-letter"></i>Email Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/extensions">
                                    <span class="groupslist"><i class="icon-screen-desktop"></i>Apps </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/link_shortening">
                                    <span class="groupslist"><i class="icon-link"></i>Link Shortening</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/ewalletlist">
                                    <span class="groupslist"><i class="icon-wallet"></i>E-wallet </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/referral">
                                    <span class="groupslist"><i class="fa fa-money"></i>Referral </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/ads_offer">
                                    <span class="groupslist"><i class="icon-star"></i>Always Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/upgradeplan">
                                    <span class="groupslist"><i class="icon-present"></i>Upgrade Plan</span>
                                </a>
                            </li>
                            <li>
                                <!--<a ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>-->
                                <a ng-click="logout()">
                                    <span class="groupslist"><i class="icon-logout"></i>Sign Out</span>
                                </a>
                            </li>
                         </div>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->


            <!-- START RIGHT SIDEBAR NAV-->
            <aside id="right-sidebar-nav">
                <ul id="chat-out" class="notify_side-nav side-nav rightside-navigation">
                    <!--<li class="li-hover">
                        <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                    </li>-->
                    <li class="li-hover">
                        <div class="blue white-text active"><i class="mdi-social-whatshot"></i>Notifications</div>
                            <a ng-href="#/notification_all" class="no-space center blue-text text-darken-4" style="height:20px;">See all</a>
                            <ul class="chat-collapsible">
                                <li ng-repeat="notify in lstnotifications">
                                    <a ng-href="#/notification_all" terget="_blank" class="recent-activity-list chat-out-list row no-space" style="height:auto;">
                                        <div class="col s3 recent-activity-list-icon">
                                            <img src="{{notify.picUrl}}" class="responsive-img circle" />
                                        </div>
                                        <div class="col s9 recent-activity-list-text margin-top-10">
                                            <h6 class="no-space">{{notify.socialprofileName}}</h6>
                                            <span class="">{{notify.localscheduletime |date:'medium'}}</span>
                                        </div>
                                        <div class="col s12">
                                            <span class="truncate">{{notify.shareMessage}}</span>
                                            <h6 ng-if="notify.status==1" class="center success_box">Message Sent Successfully</h6>
                                            <h6 ng-if="notify.status==0" class="center error_box">Message Not Sent</h6>
                                        </div>
                                    </a>
                                </li>                               
                            </ul>
                        </li>
                     </ul>
            </aside>
            <!-- LEFT RIGHT SIDEBAR NAV-->
           <script type="text/javascript">
            $('.account_scroll').slimScroll({
                color: '#3B5998',
                size: '10px',
                height: '350px',
                alwaysVisible: true,
                allowPageScroll: true
            });
</script>