<style>
    #groups {
        max-height: 300px;
    }
</style> 
 <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="grey lighten-2">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="#dashboard" class="brand-logo darken-1"><img src="../contents/socioboard/images/Socioboard.png" alt="Socioboard"></a> <span class="logo-text">Socioboard</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <!--<li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
                                <i class="mdi-action-search  grey-text text-darken-4"></i>
                            </a>                              
                        </li>-->
                        
                        <!--<li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="icon-size-fullscreen  grey-text text-darken-4"></i>
                            </a>
                        </li>-->
                        <li>
                            <div style="padding: 0px 5px;">
                                <a href="#/upgradeplan" class="btn btn_style orange" ng-if="AccountType!=7" style="height: 28px; line-height: 28px;  border-radius: 3px;">Upgrade Plan</a>
                            </div>
                        </li>
                        <li>
                            <div class="margin-top-10">
                                <a href="http://twitter.com/share" class="twitter-share-button" data-size="large" data-text="@Socioboard Hey Heroes! I could use a hand. :)" data-count="vertical" data-url=" " data-via="" data-hashtags="SocioboardSupport" data-related="Socioboard" data-lang="en" data-dnt="true" data-show-count="false">Tweet Us</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light dropdown-button" data-activates='help'>
                                <i class="icon-earphones-alt grey-text text-darken-4" title="help"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light dropdown-button" data-activates='groups'>
                                <i class="icon-users grey-text text-darken-4" title="Team"></i>
                            </a>
                        </li>
                        <!--emailid change feature header-->

                        <li>
                            <a href="#" class="waves-effect waves-block waves-light dropdown-button" data-activates='account_list'>
                                <i class="icon-settings grey-text text-darken-4" title="Account Settings"></i>
                            </a>
                        </li>
                        <!-- Dropdown Trigger -->                        
                        <!--<li>
                            <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                                <i class="icon-bell grey-text text-darken-4"></i>
                            </a>
                        </li>-->
                    </ul>
                    <!-- Help -->
                    <ul id='help' class='dropdown-content dropdown-content-small'>
                       <li>
                            <a href="https://www.youtube.com/channel/UCcxAmhWPh6AXfpaG2Eq4pzw" class="waves-effect waves-orange  white-text" target="_blank">
                                <span class="groupslist"><i class="icon-social-youtube"></i>Youtube Tutorials </span>
                            </a>
                        </li>
                        <li>
                            <a href="#/upgradeplan" class="waves-effect waves-orange  white-text">
                                <span class="groupslist"><i class="icon-basket"></i>Pricing</span>
                            </a>
                        </li>
                        <li>
                            <a href="./Index/FAQ" class="waves-effect waves-orange  white-text">
                                <span class="groupslist"><i class="icon-question"></i>FAQs</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Groups for all plan -->
                    <ul id='groups' class='dropdown-content dropdown-content-small' ng-if="AccountType==3 || AccountType==4 || AccountType==5 || AccountType==6 || AccountType==7">
                        <li ng-repeat="grp in groups">
                            <a href="javascript:;" class="grey grey-text text-lighten-4">
                                <span ng-if="groupId==grp.id">{{grp.groupName}}</span>
                            </a>
                            <a href="javascript:;" class="">
                                <span ng-click="changeGroup(grp.id)" ng-if="groupId!=grp.id">{{grp.groupName}}</span>
                            </a>
                        </li>
                        <li><a href="#/groups" class="grey-text text-darken-4">View Team</a></li>
                        <!--<li class="divider"></li>-->
                        <li ng-if="AccountType==3 && GetUserGroupCount<5"><a href="#/groups" ><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==3 && GetUserGroupCount==5"><a  ng-click="message(abcd)" disable><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==4 && GetUserGroupCount<10"><a href="#/groups"><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==4 && GetUserGroupCount==10"><a  ng-click="message(abcd)" disable><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==5 && GetUserGroupCount<15"><a href="#/groups"><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==5 && GetUserGroupCount==15"><a  ng-click="message(abcd)" disable><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==6 && GetUserGroupCount<20"><a href="#/groups"><span>Create New</span></a></li>
                        <li ng-if="AccountType==6 && GetUserGroupCount==20"><a  ng-click="message(abcd)" disable><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==7 && GetUserGroupCount<25"><a href="#/groups"><span class="grey-text text-darken-4">Create New</span></a></li>
                        <li ng-if="AccountType==7 && GetUserGroupCount==25"><a  ng-click="grpmsgs(grpmsg)" disable><span class="grey-text text-darken-4">Create New</span></a></li>
                        
                        <!--<li>{{GetUserGroupCount}}</li>-->
                    </ul>

                    <!-- Groups for Free plan -->
                    <ul id='groups' class='dropdown-content dropdown-content-small' ng-if="AccountType==0 || AccountType==1 ||AccountType==2">
                        <li ng-repeat="grp in groups">
                            <a href="javascript:;" class="grey grey-text text-lighten-4">
                                <span ng-if="groupId==grp.id">{{grp.groupName}}</span>
                            </a>
                            <a href="javascript:;" class="">
                                <span ng-if="groupId!=grp.id && grp.groupName==Socioboard">{{grp.groupName}}</span>
                            </a>
                            <a href="javascript:;" class="">
                                <span ng-click="grpmessage(grperrormsg)" disable ng-if="groupId!=grp.id && grp.groupName!=Socioboard">{{grp.groupName}}</span>
                            </a>
                        </li>
                        <!--<li class="divider"></li>-->
                        <li><a ng-click="message(abcd)" disable><span>Create New</span></a></li>
                    </ul>

                    <!-- Accounts Structure -->
                    <ul id="account_list" class='dropdown-content dropdown-content-small'>
                        <li>
                            <a href="#profilesettings">
                                <span class="groupslist"><i class="icon-user"></i>Profile Settings </span>
                            </a>
                        </li>
                        <li>
                            <a href="#/access_passwd">
                                <span class="groupslist"><i class="icon-key"></i>Access Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/billing">
                                <span class="groupslist"><i class="icon-credit-card"></i>Billing</span>
                            </a>
                        </li>  
                        <li>
                            <a href="#/mail_settings">
                                <span class="groupslist"><i class="icon-envelope-letter"></i>Email Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/extensions">
                                <span class="groupslist"><i class="icon-screen-desktop"></i>Apps </span>
                            </a>
                        </li>
                        <li>
                            <a href="#/link_shortening">
                                <span class="groupslist"><i class="icon-link"></i>Link Shortening</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/ads_offer">
                                <span class="groupslist"><i class="icon-star"></i>Always Free</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/upgradeplan">
                                <span class="groupslist"><i class="icon-present"></i>Upgrade Plan</span>
                            </a>
                        </li>
                        <li>
                            <!--<a ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>-->
                            <a ng-click="logout()">
                                <span class="groupslist"><i class="icon-logout"></i>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->


            <!-- START RIGHT SIDEBAR NAV-->
            <aside id="right-sidebar-nav">
                <ul id="chat-out" class="side-nav rightside-navigation">
                    <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                    <div id="right-search" class="row">
                        <form class="col s12">
                            <div class="input-field">
                                <i class="mdi-action-search prefix"></i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Search</label>
                            </div>
                        </form>
                    </div>
                    </li>
                    <li class="li-hover">
                        <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                            <div class="collapsible-body recent-activity">
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">just now</a>
                                        <p>Jim Doe Purchased new equipments for zonal office.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Yesterday</a>
                                        <p>Your Next flight for USA will be on 15th August 2015.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Last Week</a>
                                        <p>Jessy Jay open a new store at S.G Road.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                            <div class="collapsible-body sales-repoart">
                                <div class="sales-repoart-list  chat-out-list row">
                                    <div class="col s8">Target Salse</div>
                                    <div class="col s4"><span id="sales-line-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Payment Due</div>
                                    <div class="col s4"><span id="sales-bar-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Delivery</div>
                                    <div class="col s4"><span id="sales-line-2"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Progress</div>
                                    <div class="col s4"><span id="sales-bar-2"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                            <div class="collapsible-body favorite-associates">
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="../contents/socioboard/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="../contents/socioboard/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Zaham Sindil</p>
                                        <p class="place">San Francisco, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="../contents/socioboard/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Renov Leongal</p>
                                        <p class="place">Cebu City, Philippines</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="../contents/socioboard/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Weno Carasbong</p>
                                        <p>Tokyo, Japan</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="../contents/socioboard/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Nusja Nawancali</p>
                                        <p class="place">Bangkok, Thailand</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- LEFT RIGHT SIDEBAR NAV-->
           