<head>
    <style type="text/css">
        a:hover {
            cursor: pointer;
        }
    </style>
</head> 
 <!-- START LEFT SIDEBAR NAV-->

<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row center">

                <div class="col col s12 m12 l12">
                    <!--<ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a href="#profilesettings"><i class="mdi-action-settings"></i> Settings</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                        </li>
                    </ul>-->
                    <img src="https://scontent.fbom1-2.fna.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=1ee95684d33391c6a128f7fd68420032&oe=5856F349" ng-show="user.ProfilePicUrl == null" alt="{{user.UserName}}" class="circle responsive-img valign profile-image">
                    <img src="{{getHttpsURL(user.ProfilePicUrl)}}" ng-show="user.ProfilePicUrl != null" alt="{{user.UserName}}" class="circle responsive-img valign profile-image" style="width:101.25px">


                    <a class="white-text"><span ng-show="user.FirstName != null">{{user.FirstName +' '}}</span><span ng-show="user.LastName != null && user.LastName != 'null'"> {{ user.LastName}}</span></a>
                    <p class="user-roal" data-position="top" data-delay="50">{{user.EmailId}}</p>
                </div>
            </div>
        </li>
        <li class="bold">
            <a href="#dashboard" class="waves-effect waves-cyan">
                <i class="icon-home"></i> Dashboard
            </a>
        </li>
        
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <!--Message for paid start-->
                <li class="bold" ng-if="user.AccountType==4 || user.AccountType==5 || user.AccountType==6 || user.AccountType==7">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="icon-envelope-letter"></i> Message
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#/smartinbox">Smart Inbox</a>
                            </li>
                            <li>
                                <a href="#/inboxmessage">Inbox Message</a>
                            </li>
                            <li>
                                <a href="#/mytask">My Task</a>
                            </li>
                            <li>
                                <a href="#/sentmessages">Sent Message</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--Message for paid END-->
                <!--Message for Unpaid start-->
                <li class="bold" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3">
                    <a class="waves-effect waves-cyan"  ng-click="message(abcd)" disable>
                        <i class="icon-envelope-letter"></i> Message
                    </a>
                </li>
                <!--Message for Unpaid END-->
                <!--Feeds -->
                <li class="bold">
                    <a class="collapsible-header  waves-effect waves-cyan">
                        <i class="icon-feed"></i> My Feeds
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="no-padding">
                                <ul class="collapsible collapsible-accordion">
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter : fbProfileFilter">
                                                    <a href="#/facebookfeeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                </li>
                                                <!--<li ng-repeat="profile in lstProfiles | filter:{profileType:11}">
                                                    <a href="#/facebookfeeds/{{profile.profileId}}" class="truncate"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                </li>-->
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:2}">
                                                   <!-- <a ng-click="$state.go('twitterfeeds', { 'profileId':profile.profileId})" class="truncate"><i class="icon-user"></i>{{profile.profileName}}</a>-->
                                                    <a href="#/twitterfeeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-instagram"></i> Instagram
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:8}">
                                                    <!--<a style="cursor:context-menu;" ng-click="$state.go('instagramfeeds', { 'profileId':profile.profileId})" class="truncate"><i class="icon-user"></i>{{profile.profileName}}</a>-->
                                                    <a href="#/instagramfeeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                 </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-youtube"></i> Youtube
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:7}">
                                                    <a href="#/youtubefeeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-linkedin"></i> LinkedIn 
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:4}">
                                                    <!--<a ng-click="$state.go('linkedin_comp_feeds', { 'profileId':profile.profileId})" class="truncate"><i class="icon-user"></i>{{profile.profileName}}</a>-->
                                                    <a href="#/linkedin_comp_feeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                 </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="fa fa-google-plus"></i> Google Plus
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:5}">
                                                    <!--<a style="cursor:context-menu;" ng-click="$state.go('googleplusfeeds', { 'profileId':profile.profileId})" class="truncate"><i class="icon-user"></i>{{profile.profileName}}</a>-->
                                                    <a href="#/googleplusfeeds/{{profile.profileId}}" class="truncate" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                 </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect waves-orange">
                                            <i class="fa fa-pinterest-square" aria-hidden="true"></i> Pinterest
                                        </a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li ng-repeat="profile in lstProfiles | filter:{profileType:13}">
                                                    <a href="#/pinterestboards/{{profile.profileId}}" style="color:#444444"><i class="icon-user"></i>{{profile.profileName}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="icon-share-alt"></i> Publishing
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#/schedulemessage">Schedule Messages</a>
                            </li>
                            <li>
                                <a href="#/socioqueue">SocioQueue</a>
                            </li>
                            <li>
                                <a href="#/draft">Drafts</a>
                            </li>
                            <li ng-if="user.AccountType!=0">
                                <a href="#/calendar">Calendar View</a>
                            </li>
                            <li ng-if="user.AccountType==0">
                                <a  ng-click="message(abcd)" disable>Calendar View</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--Discovery for paid User-->
                <li class="bold" ng-if="user.AccountType==3 || user.AccountType==4 || user.AccountType==5 ||user.AccountType==6 || user.AccountType==7 " >
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="icon-globe-alt"></i> Discovery
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="truncate">
                                <a href="#/discovery">Discovery</a>
                            </li>
                            <li class="truncate">
                                <a href="#/smartsearch">Smart Search</a>
                            </li>
                            <li class="truncate">
                                <a href="#/facebookgrouppost">Facebook Group Post</a>
                            </li>
                            <li class="truncate">
                                <a href="#/linkedingrouppost">LinkedIn Group Post</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--Discovery for Upaid User-->
                <li class="bold" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2">
                    <a class="waves-effect waves-cyan"  ng-click="message(abcd)" disable>
                        <i class="icon-globe-alt"></i> Discovery
                    </a>
                </li>

                <!--<li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="icon-share-alt"></i> Competetive Analysis
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#/facebookanalysis">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </li>-->
                <!--Rss for paid user-->
                <li class="bold" ng-if="user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6 || user.AccountType==7">
                    <a class="collapsible-header waves-effect waves-orange">
                        <i class="icon-rocket"></i> AutoMate Rss Feeds
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="bold">
                                <a href="#/rss_news.html">Content Feeds</a> 
                            </li>
                            <li class="truncate">
                                <a href="#/automate_rss_feeds.html">Automate Rss Feeds</a>
                            </li>
                            <!--<li class="truncate">
                                <a href="#/rss_feeds.html">Custom Rss Feeds</a>
                            </li>-->
                            <li class="truncate">
                                <a href="#/posted_rss_feeds.html">Posted Rss Feeds</a>
                            </li>
                            <li class="truncate">
                                <a href="#/rss_queue.html">Rss Queue</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--Rss for Unpaid user-->
                <li class="bold" ng-if="user.AccountType==0 || user.AccountType==1">
                    <a class="waves-effect waves-orange"  ng-click="message(abcd)" disable>
                        <i class="icon-rocket"></i> AutoMate Rss Feeds
                    </a>
                   </li>
                <!--Sharethon for paid user-->
                <li class="bold" ng-if="user.AccountType==4 || user.AccountType==5 || user.AccountType==6 || user.AccountType==7">
                    <a class="collapsible-header  waves-effect waves-orange">
                        <i class="icon-share"></i> Shareathon
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="truncate">
                                <a href="#/group_shareathon.html">Group Shareathon</a>
                            </li>
                            <li class="truncate">
                                <a href="#/page_shareathon.html">Page Shareathon</a>
                            </li>
                            <li class="truncate">
                                <a href="#/link_shareathon.html">Link Shareathon</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <!--Sharethon for Unpaid user-->
                <li class="bold" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3">
                    <a class="waves-effect waves-orange"  ng-click="message(abcd)" disable>
                        <i class="icon-share"></i> Shareathon
                    </a>
                </li>
                <!--reports for all-->
                <li class="bold" ng-if="user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6 || user.AccountType==7 ">
                    <a class="collapsible-header waves-effect waves-orange">
                        <i class="icon-notebook"></i> Reports
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-accordion">
                            <li class="truncate" ng-if="user.AccountType==6 || user.AccountType==7">
                                <a href="#/groupreport.html">Socioboard Team Report</a>
                            </li>
                            <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5">
                                <a  ng-click="message(abcd)" disable>Socioboard Team Report</a>
                            </li>
                            <li class="truncate">
                                <a class="collapsible-header waves-effect waves-orange">
                                    Twitter
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="truncate">
                                            <a href="#/twitterreports" style="color:#444444">
                                                Twitter Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==7">
                                            <a href="#/twittercustomreports" style="color:#444444">
                                                Twitter Custom Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6">
                                            <a  ng-click="message(abcd)" disable>
                                                Twitter Custom Report
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="truncate">
                                <a class="collapsible-header waves-effect waves-orange">
                                    Facebook
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="truncate">
                                            <a href="#/facebookpagedetreport.html" style="color:#444444">
                                                FB Page Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==7">
                                            <a href="#/facebookreport.html" style="color:#444444">
                                                FB Page Custom Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6">
                                            <a  ng-click="message(abcd)" disable>
                                                FB Page Custom Report
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="truncate">
                                <a class="collapsible-header waves-effect waves-orange">
                                    Instagram
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="truncate">
                                            <a href="#/instagramreport.html" style="color:#444444">
                                                Instagram Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==7">
                                            <a href="#/instagramcustomreport.html" style="color:#444444">
                                                Instagram Custom Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6">
                                            <a  ng-click="message(abcd)" disable>
                                                Instagram Custom Report
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="truncate">
                                <a class="collapsible-header waves-effect waves-orange">
                                    Youtube
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="truncate">
                                            <a href="#/youtubeallreport.html" style="color:#444444">
                                                Youtube Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==7">
                                            <a href="#/youtubereport.html" style="color:#444444">
                                                Youtube Custom Report
                                            </a>
                                        </li>
                                        <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6">
                                            <a  ng-click="message(abcd)" disable>
                                                Youtube Custom Report
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="truncate" ng-if="user.AccountType==3 || user.AccountType==4 || user.AccountType==5 || user.AccountType==6 || user.AccountType==7">
                                <a href="#/googleanalyticsreport">Google Analytics</a>
                            </li>
                            <li class="truncate" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2">
                            <a  ng-click="message(abcd)" disable>
                                Google Analytics</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!--reports for free plan-->
                <li class="bold" ng-if="user.AccountType==0 ||user.AccountType==1">
                    <a class="waves-effect waves-orange"  ng-click="message(abcd)" disable>
                        <i class="icon-notebook"></i> Reports
                    </a>
                 </li>

                <!--<li class="bold">
                    <a href="#/" class="waves-effect waves-cyan">
                        <i class="icon-wallet"></i> E-Wallet
                    </a>
                </li>-->
                <!--<li class="bold">
                    <a href="#/affiliates" class="waves-effect waves-cyan">
                        <i class="icon-layers"></i> Affiliates
                    </a>
                </li>-->
                <!-- <li class="bold">
                    <a class="collapsible-header  waves-effect waves-cyan">
                        <i class="icon-share"></i> Shareathon
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="">Group Shareathon</a>
                            </li>
                            <li><a href="">Page Shareathon</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header  waves-effect waves-cyan">
                        <i class="icon-rocket"></i> AutoMate Rss Feeds
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="">Automate Rss Feeds</a>
                            </li>
                            <li><a href="">Posted Rss Feeds</a>
                            </li>
                            <li><a href="">Rss Queue</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="icon-bar-chart"></i> Sentiment Analysis
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="">Inbox Message</a>
                            </li>
                            <li><a href="">Facebook Wall</a>
                            </li>
                            <li><a href="">Twitter Wall</a>
                            </li>
                            <li><a href="">Twitter Feed</a>
                            </li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </li>
        <!--<li class="bold">
            <a href="#" class="waves-effect waves-cyan">
                <i class="icon-wallet"></i> E-Wallet
            </a>
        </li>
        <li class="bold">
            <a href="app-calendar.html" class="waves-effect waves-cyan">
                <i class="icon-layers"></i> Affiliates
            </a>
        </li>  -->
        <!--Board for All plan -->
        <li class="bold" ng-if="user.AccountType==6 ||user.AccountType==7">
            <a href="#/boardlist" class="waves-effect waves-cyan">
                <i class="icon-briefcase"></i> Board Me
            </a>
        </li>

        <!--Board for free plan -->
        <li class="bold" ng-if="user.AccountType==0 || user.AccountType==1 || user.AccountType==2 || user.AccountType==3 || user.AccountType==4 || user.AccountType==5">
            <a  ng-click="message(abcd)" disable class="waves-effect waves-cyan">
                <i class="icon-briefcase"></i> Board Me
            </a>
        </li>
        <li class="bold">
            <a href="javascript:;" class="waves-effect waves-orange center">
                <div class="fb-like" data-href="https://www.facebook.com/SocioBoard/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
            </a>
        </li>
        <li class="bold">            
                <a class="waves-effect waves-orange twitter-follow-button" href="https://twitter.com/Socioboard">
                    @Socioboard
                </a>
        </li>

        <!--<li class="bold red">
            <a href="https://www.youtube.com/channel/UCcxAmhWPh6AXfpaG2Eq4pzw" class="waves-effect waves-orange  white-text" target="_blank">
                <i class="icon-camcorder"></i> Youtube Tutorials
            </a>
        </li>-->
        <!--<li class="bold orange darken-2 margin-bottom-10">
            <a href=" https://chrome.google.com/webstore/detail/socioboard/dlapikocbmncdoiekdacodlgjcdcachc?utm_source=chrome-app-launcher-info-dialog" class="waves-effect waves-orange" target="_blank" style="height: auto;">
            <i class="fa fa-chrome fa-3x white-text"></i> Chrome Plugins
            </a>
        </li>-->
        <!--<li class="bold">
            <div class="row margin-bottom-10">
                <div class="col s12 m12 l12">
                    <a href="https://play.google.com/store/apps/details?id=com.socioboard&hl=en" class="waves-effect waves-orange" target="_blank" style="height: auto;">
                        <img src="../contents/socioboard/images/google_store_1.png" class="responsive-img">
                    </a>
                </div>
            </div>
        </li>
        <li class="bold">
            <div class="row margin-bottom-10">
                <div class="col s12 m12 l12">
                    <a href="https://itunes.apple.com/sg/app/socioboard/id923398550?mt=8" class="waves-effect waves-orange" target="_blank" style="height: auto;">
                        <img src="../contents/socioboard/images/iphone_store_1.png" class="responsive-img">
                    </a>
                </div>
            </div>
        </li>-->
    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu"></i></a>
</aside>
<!-- END LEFT SIDEBAR NAV-->



<!--facebook like script-->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1551064375135193";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!--twitter script-->
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>