<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Socioboard | Agency</title>
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/frontend//imgs/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:site_name" content="socioboard.com">
        <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
        <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
        <meta property="og:url" content="https://www.facebook.com/SocioBoard">



        
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../global/plugins/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="../../css/frontend/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
      <div class="navbar-fixed">
        <!-- Dropdown Structure -->
          <ul id="Versions" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Versions_mob" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Insights" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <ul id="Insights_mob" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <nav class="white" role="navigation">
            <div class="nav-wrapper">
              <a id="logo-container" href="index.html" class="brand-logo"><img src="../../images/Socioboard.png" alt="Socioboard"></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger" href="#SignInModal">SignIn</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions_mob">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights_mob">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn">SignIn</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>
      </div>

      <div class="container">
       <div class="row">
          <div class="col s4">
            <h4 class="center-align Righteous_font grey-text text-darken-2">Now a Social Media Dashboard You Can Call Your Own</h4>
            <h6>Benefits:</h6>
            <ul>
                <li>Customizable as per your needs</li>
                <li>Flexible Client Management</li>
                <li>Competitive price</li>
                <li>World Class Support</li>
                <li>Comes with Mobile App - Android and IOS</li>
            </ul>
            <p>Interested? One of our account managers will be in touch...</p>
             <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">person_pin</i>
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">person_pin</i>
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">business</i>
                    <input id="Company" type="text" class="validate">
                    <label for="Company">Company</label>
                  </div>
                </div>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Message</label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">phonelink_ring</i>
                    <input id="Phn No" type="text" class="validate">
                    <label for="Phn No">Phn No</label>
                  </div>
                </div>
                <div class="center-align">
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                      <i class="fa fa-paper-plane"></i>
                    </button>
                    <a class="waves-effect waves-light btn cyan">Reset</a>
                    </div>
              </form>
            </div>
          </div>
          <div class="col s8">
            <h4 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Are you an Agency?</h4>
            <p>Increase and nurture your clientele with the Socioboard’s offerings designed uniquely for the Agencies. These versions have a great interface that anybody can understand, powerful engagement tools and customizable analytics to monitor, analyze and report across countless social profiles. What’s more, you can feature your own logo and domain name, so your clients consider it your product, not to mention Socioboard anywhere. Agencies can use commerically supported whitelabel version of Socioboard. Its fully open sourced and customizable as per your agency needs.</p>
            <img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/agency1.png" class="responsive-img">
            <p>Agency White Label version is best suited to Small and Medium Enterprises (SMEs) who’d need support, updates, upgrades and related apps for being able to use Socioboard effectively to continue to build their clientele and their brands.</p>
          </div>
       </div>

        <div class="divider"></div>
       <div class="row">
        <div class="col m12">
          <h4  class="center-align hr_shadow Righteous_font grey-text text-darken-2">Agency White Label version is available in three different variants</h4>
           <div class="col s12 m10 offset-m1 l9 offset-l2">
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s2 center-align">
                    <img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/Agency_icon1.png" alt="" class="circle responsive-img">
                    <span>Agency Lite</span>
                  </div>
                  <div class="col s7">
                    <span class="black-text">
                      Agency Lite is best suited for small agencies. You could put your logo and deploy it up.Click to buy agency lite of $1999.
                    </span>
                  </div>
                  <div class="col s3 center-align">
                     <a class="waves-effect waves-light btn cyan">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s2 center-align">
                    <img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/Agency_icon2.png" alt="" class="circle responsive-img">
                    <span>Agency Pro</span>
                  </div>
                  <div class="col s7">
                    <span class="black-text">
                      Agency Pro allows you to deploy with your logo as well as your theme. It makes your customers feel at home.Click to buy agency pro of $2999.
                    </span>
                  </div>
                  <div class="col s3 center-align">
                     <a class="waves-effect waves-light btn cyan">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s2 center-align">
                    <img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/Agency_icon1.png" alt="" class="circle responsive-img">
                    <span>Agency Premium</span>
                  </div>
                  <div class="col s7">
                    <span class="black-text">
                      Agency Premium offers full customization with your logo, theme and also iOS and Android apps. This is a full-fledged version suitable for scaling agencies. Click to buy agency pro of $4999.
                    </span>
                  </div>
                  <div class="col s3 center-align">
                     <a class="waves-effect waves-light btn cyan">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
       </div>
      </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row center-align">
        <div class="col l6 s12">
          <h5 class="white-text">GET IN TOUCH WITH US</h5>
          <p class="grey-text text-lighten-4">#58 L V Complex, 2nd Floor<br>
7th Block, 80 Feet Road, Koramangala Layout, Bangalore-560095</p>
<img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/contactus.png">

        </div>
        <div class="col l6 s12">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1551064375135193";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

          <div class="fb-page" data-href="https://www.facebook.com/socioboard" data-tabs="timeline" data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/socioboard"><a href="https://www.facebook.com/socioboard">Socioboard</a></blockquote></div></div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      <!-- Made by with ♥ <a class="brown-text text-lighten-3" href="https://www.behance.net/chanchalsantra">Chanchal Santra</a> -->
      Copyright © 2014 - 2016 Socioboard Technologies Pvt. Ltd. All Rights Reserved.
      </div>
    </div>
  </footer>


  <!-- SignUp Modal -->
  <div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
    <div class="modal-content">
      <h4>Create a free account</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
             <div class="input-field col s12 m12">
                <select>
                  <optgroup label="Basic Plans">
                    <option value="1">Basic(Free)</option>
                    <option value="2">Standard</option>
                    <option value="3">Premium</option>
                    <option value="4">Deluxe</option>
                  </optgroup>
                  <optgroup label="Extra Plans">
                    <option value="5">Topaz</option>
                    <option value="6">Ruby</option>
                    <option value="7">Gold</option>
                    <option value="8">Platinum</option>
                  </optgroup>
                </select>
                <label>Choose your option</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>   

        </form>
      </div>
  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58515856-3', 'auto');
  ga('send', 'pageview');

</script>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../../global/plugins/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="../../js/frontend/init.js"></script>
     
     <script type="text/javascript">
       $('.image-wrapper').hover(function() {
                $(this).removeClass('hoverOut').addClass('hoverIn');
            }, function() {
                $(this).removeClass('hoverIn').addClass('hoverOut');
            });
     </script>
    </body>
  </html>