<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Socioboard | faqs</title>
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/frontend//imgs/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:site_name" content="socioboard.com">
        <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
        <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
        <meta property="og:url" content="https://www.facebook.com/SocioBoard">



        
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../global/plugins/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="../../css/frontend/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
      <div class="navbar-fixed">
        <!-- Dropdown Structure -->
          <ul id="Versions" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Versions_mob" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Insights" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <ul id="Insights_mob" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <nav class="white" role="navigation">
            <div class="nav-wrapper">
              <a id="logo-container" href="index.html" class="brand-logo"><img src="../../images/Socioboard.png" alt="Socioboard"></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger" href="#SignInModal">SignIn</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions_mob">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights_mob">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn">SignIn</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>
      </div>

      <div class="parallax-container valign-wrapper black-text">
        <div class="section no-pad-bot">
          <div class="container">
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I post on Facebook Page from Socioboard?</div>
                <div class="collapsible-body"><p class="white">Yes!!! You can post using compose feature in Socioboard, also you can schedule the post as per your convenient time.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How are the Trending topics on Twitter determined?</div>
                <div class="collapsible-body"><p class="white">Socioboard discovery Quick Search lists topics trending as created by Twitter using an algorithm that identifies immediately popular topics, based on a user’s location and who they follow.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How does the Facebook Page Reports stream work?</div>
                <div class="collapsible-body"><p class="white">The Activity Facebook Page reports shows recent activity on the Page. Recent activity includes new posts, new comments on old posts, no of likes, no of shares and also you can export the data of all the post according to the date wise into a CSV file.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Is there any limitation in features when you compare with the different plans?</div>
                <div class="collapsible-body"><p class="white">No, all the features are enabled for all the plans, it is restrained with no of profiles.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why is my Facebook post not appearing in Socioboard?</div>
                <div class="collapsible-body"><p class="white">Third-party apps or websites (such as Socioboard) are prevented from integrating with your Facebook account if Platform is turned off in Facebook. Platform is a Facebook authentication feature that boosts security and site integrity. Solution: Go to Setting ->Apps -> Click on edit -> Enable Platform</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why didn’t my edit to my scheduled message apply to all my social networks?</div>
                <div class="collapsible-body"><p class="white">When a scheduled message is edited in the Publisher section of the dashboard, the edit will apply to all the social networks publishing the message. However, when a message is edited from the socioqueue section of the dashboard, in a Scheduled Messages for example, this will only change the message being published to that social network.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How do I post in multiple groups in Social Groups?</div>
                <div class="collapsible-body"><p class="white">Tick all the check box to the groups you need to post, and look to top right corner for a downward arrow button, click on it and you are good to go.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>What does the license constitute?</div>
                <div class="collapsible-body"><p class="white">It’s an open source.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I resell the software code? Can I build my own product on Socioboard?</div>
                <div class="collapsible-body"><p class="white">No, but you can customize and edit it for your usage. If you are looking to create your own marketing software using Socioboard Pro, please contact us for enterprise license and pricing.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How to install the software? Where to host it?</div>
                <div class="collapsible-body"><p class="white">We provide you an installation guide in download section, we host on your own cloud and we assist you if any pro and cons.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>I have more questions, how to contact you?</div>
                <div class="collapsible-body"><p class="white">Please fill the form below, use the chat widget or contact us through support@sociobaord.com</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How do I know present activities of my business and circle?</div>
                <div class="collapsible-body"><p class="white">We have discovery section which solves you all the issues in a single click</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How I market using this?</div>
                <div class="collapsible-body"><p class="white">Through Socioboard you can manage all your social profiles at a place and we got scheduling features to reduce your work load and get you free, where you can enrich your business keeping your audience busy all the while and converts leads into sales and so on</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I provide colleagues with access to my Analytics and Social profiles account?</div>
                <div class="collapsible-body"><p class="white">Yes, if you want a colleague to have access your Analytics and Social profiles then it can be accessed through User and Groups under that find for Invite Team Member and put his respective E-mail ID</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How can I change my billing information?</div>
                <div class="collapsible-body"><p class="white">Click on the “Profile Image” section in the top right corner of the dashboard, then click on settings to update your billing information.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why am I receiving an error message when trying to add a new page?</div>
                <div class="collapsible-body"><p class="white">There are three types of error messages for adding a new page:
                  Non-existing URL: Check for typos and make sure the page exists.
                  Profile: You are attempting to add a personal profile instead of a fan page.
                  Targeted fan page: This is a fan page with regional restrictions. Contact us at support@socioboard.com for further instructions.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>I added a Twitter/Facebook profile to my dashboard but I am unable to see historical data. Why?</div>
                <div class="collapsible-body"><p class="white">This is a Twitter/Facebook feature. We start acquiring data about a Twitter Profile at the moment the first person ever wanted to monitor it. If you are the first one to monitor that specific profile, there will only be data available since the day you added it to your dashboard.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Are my colleagues seeing all the same data and graphs as myself?</div>
                <div class="collapsible-body"><p class="white">Yes. Every user with access to your group account will see the same data and graphs. The only exception is that labels in the dashboard are user specific.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>My emails are received in the junk folder?</div>
                <div class="collapsible-body"><p class="white">Gmail and Outlook have changed their policies, and most of the times it depends on your setting on your account in this case mails will be directed to Spam folder</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I edit content after it has been published to Facebook in the platform?</div>
                <div class="collapsible-body"><p class="white">No, it is not possible to post-edit published content in the platform due to Facebook's API. Facebook's API only allows the creation and deletion of posts.</p></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="parallax">
          <img src="assets/frontend/imgs/sb_bg.jpg" alt="Unsplashed background img 3">
        </div>
      </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row center-align">
        <div class="col l6 s12">
          <h5 class="white-text">GET IN TOUCH WITH US</h5>
          <p class="grey-text text-lighten-4">#58 L V Complex, 2nd Floor<br>
7th Block, 80 Feet Road, Koramangala Layout, Bangalore-560095</p>
<img src="https://www.socioboard.com/Themes/Socioboard/Contents/img/contactus.png">

        </div>
        <div class="col l6 s12">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1551064375135193";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

          <div class="fb-page" data-href="https://www.facebook.com/socioboard" data-tabs="timeline" data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/socioboard"><a href="https://www.facebook.com/socioboard">Socioboard</a></blockquote></div></div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      <!-- Made by with ♥ <a class="brown-text text-lighten-3" href="https://www.behance.net/chanchalsantra">Chanchal Santra</a> -->
      Copyright © 2014 - 2016 Socioboard Technologies Pvt. Ltd. All Rights Reserved.
      </div>
    </div>
  </footer>


  <!-- SignUp Modal -->
  <div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
    <div class="modal-content">
      <h4>Create a free account</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
             <div class="input-field col s12 m12">
                <select>
                  <optgroup label="Basic Plans">
                    <option value="1">Basic(Free)</option>
                    <option value="2">Standard</option>
                    <option value="3">Premium</option>
                    <option value="4">Deluxe</option>
                  </optgroup>
                  <optgroup label="Extra Plans">
                    <option value="5">Topaz</option>
                    <option value="6">Ruby</option>
                    <option value="7">Gold</option>
                    <option value="8">Platinum</option>
                  </optgroup>
                </select>
                <label>Choose your option</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>   

        </form>
      </div>
  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58515856-3', 'auto');
  ga('send', 'pageview');

</script>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../../global/plugins/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="../../js/frontend/init.js"></script>
     
     <script type="text/javascript">
       $('.image-wrapper').hover(function() {
                $(this).removeClass('hoverOut').addClass('hoverIn');
            }, function() {
                $(this).removeClass('hoverIn').addClass('hoverOut');
            });
     </script>
    </body>
  </html>