# Add any directories, files, or patterns you don't want to be tracked by version control

/api/node_modules
.idea/
*.psd

socioboard-api/node_modules/
socioboard-api/publisher/public/images/
socioboard-api/feeds/public/giphy/
socioboard-api/publisher/public/videos/
socioboard-api/publisher/public/thumbnails/
socioboard-api/feeds/public/flickr/
socioboard-api/feeds/public/imgur/
socioboard-api/feeds/public/pixabay/

socioboard-api/user/node_modules/
socioboard-api/library/node_modules/
socioboard-api/feeds/node_modules/
socioboard-api/publish/node_modules/
socioboard-api/notification/node_modules/

socioboard-api/user/public/logs/
socioboard-api/publish/public/logs/
socioboard-api/feeds/public/logs/
socioboard-api/notification/public/logs/

socioboard-api/feeds/public/flickr/
socioboard-api/feeds/public/giphy/
socioboard-api/feeds/public/imgur/
socioboard-api/feeds/public/pixabay/

socioboard-api/publish/public/images/
socioboard-api/publish/public/thumbnails/
socioboard-api/publish/public/videos/

socioboard-api/user/coverage/
socioboard-api/Chat


socioboard-web-php/storage/uploadimages/
socioboard-web-php/storage/uploadvideos/


socioboard-web-php.rar


# --------------------- V5 Ignore ---------------
# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/

*.zip

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
#dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

socioboard-api/Notification/package-lock.json
