# Add any directories, files, or patterns you don't want to be tracked by version control

/api/node_modules
.idea/
*.psd
Sequelize POC/node_modules/

api/public/images/
api/public/videos/
apicrons/
api-socioboard/node_modules/
api-socioboard/publisher/public/images/
api-socioboard/feeds/public/giphy/
api-socioboard/publisher/public/videos/
api-socioboard/publisher/public/thumbnails/
api-socioboard/feeds/public/flickr/
api-socioboard/feeds/public/imgur/
api-socioboard/feeds/public/pixabay/
api-sb/node_modules/
api-sb/user/public/logs/
apis/user/node_modules/
apis/library/node_modules/
apis/feeds/node_modules/
apis/feeds/public/flickr/
apis/feeds/public/giphy/
apis/feeds/public/imgur/
apis/feeds/public/pixabay/
apis/user/public/logs/
apis/publish/public/logs/
apis/feeds/public/logs/
apis/publish/node_modules/
apis/publish/public/images/
apis/publish/public/thumbnails/
apis/publish/public/videos/
apis/user/coverage/
media/
apis/notification/node_modules/
apis/notification/public/logs/
web/storage/uploadimages/
web/storage/uploadvideos/


