/* theme dRK nd light css */
:root {
    --dark-grey: #191a1b;
    --grey: #232626;
    --white: #ffffff;
    --off-white: #e4e4e4;

    --orange-light-color: #ff5d3d;
    --orange-dark-color: #e04022;
    --blue-dark-color: #104399;
    --blue-light-color: #3699ff;

    /* begin:dark code */
    --primary-color: #191a1b;
    --secondary-color: #232626;
    --reverse-color: #e4e4e4;

    --font-color: #ffffff;
    --mute-color: #e4e4e4;

    --bg-color: #232626;
    --bg-font-color: #e4e4e4;

    --heading-color: #e4e4e4;
    --btn-font-color: #191a1b;
    --btn-font-hover-color: #e4e4e4;

    --card-body-grid-1: #252929;
    --card-body-grid-2: #202222;

    --card-body-grid-3: #242628;

    --shadow-light: #1e2020;
    --shadow-dark: #282c2c;
    --scrollbar-bg: var(--primary-color);
    --blue-light-color: #3699ff;
    --text-dark-blue: #244fd2;
}
/* end:dark code */
/* begin:light code */
[data-theme='light'] {
    --primary-color: #ffffff;
    --secondary-color: #e4e4e4;
    --reverse-color: #232626;

    --font-color: #191a1b;
    --mute-color: #232626;

    --bg-color: #e4e4e4;
    --bg-font-color: #232626;

    --heading-color: #191a1b;
    --btn-font-color: #e4e4e4;
    --btn-font-hover-color: #191a1b;

    --card-body-grid-1: #f4f4f4;
    --card-body-grid-2: #cdcdcd;

    --card-body-grid-3: #f1ebeb;

    --shadow-light: #c2c2c2;
    --shadow-dark: #ffffff;
    --scrollbar-bg: var(--primary-color);
    --text-dark-blue: #244fd2;
}
/* end: light code */

body {
    color: var(--font-color);
    background: var(--secondary-color);
}

body a {
    color: var(--font-color);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
}
*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: #3699ff;
    border-radius: 20px;
    border: 3px solid var(var(--scrollbar-bg));
}

.offcanvas {
    background: var(--primary-color);
}

i {
    color: var(--font-color);
}

.no-box-shadow {
    box-shadow: none !important;
}

/* begin:switch dark and light*/
.switch.switch-outline.switch-dark input:empty ~ span:after {
    background-color: var(--grey);
}
.switch.switch-outline.switch-dark input:empty ~ span:before {
    border: 2px solid var(--grey);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:before {
    border: 2px solid var(--white);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:after {
    color: var(--grey);
    background-color: var(--white);
}
.switch input:empty ~ span:before {
    background-color: var(--primary-color);
}
.switch input:empty ~ span:after {
    background-color: var(--orange-light-color);
}
/* end: switch  */

/* begin:bg color */
.bg-blue {
    background-image: linear-gradient(145deg, #4c69ba, #3b55a0) !important;
    color: var(--white) !important;
}
.bg-red {
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
    color: var(--white) !important;
}

.bg-facebook {
    background-image: linear-gradient(145deg, #4c69ba, #3b55a0) !important;
    color: var(--white) !important;
}
.bg-facebook i {
    color: var(--white);
}
.bg-instagram {
    background-image: linear-gradient(145deg, #d047d1, #ff0000) !important;
    color: var(--white) !important;
}
.bg-instagram i {
    color: var(--white);
}
.bg-twitter {
    background-image: linear-gradient(145deg, #10bbff, #00acee) !important;
    color: var(--white) !important;
}
.bg-twitter i {
    color: var(--white);
}
.bg-linkedin {
    background-image: linear-gradient(145deg, #1080b4, #0e76a8) !important;
    color: var(--white) !important;
}
.bg-linkedin i {
    color: var(--white);
}
.bg-youtube {
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
    color: var(--white) !important;
}

.bg-youtube i {
    color: var(--white);
}
.bg-pinterest {
    background-image: linear-gradient(145deg, #f53131, #e60023) !important;
    color: var(--white) !important;
}
.bg-pinterest i {
    color: var(--white);
}
.bg-tumblr {
    background-image: linear-gradient(145deg, #3d6183, #34526f) !important;
    color: var(--white) !important;
}
.bg-tumblr i {
    color: var(--white);
}
.bg-google {
    background-image: linear-gradient(145deg, #4b8efa, #4285f4) !important;
    color: var(--white) !important;
}
.bg-google i {
    color: var(--white);
}
.bg-github {
    background-image: linear-gradient(145deg, #4078c0, #4078c0) !important;
    color: var(--white) !important;
}
.bg-github i {
    color: var(--white);
}

.bg-medium {
    background-image: linear-gradient(145deg, #000, #000) !important;
    color: var(--white) !important;
}
.bg-bitly {
    background-image: linear-gradient(145deg, #e55d21, #f36021) !important;
    color: var(--white) !important;
}
.btn-tiktok {
    background-image: linear-gradient(145deg, #000, #000) !important;
    color: var(--white) !important;
}

.bg-tiktok {
    background-image: linear-gradient(145deg, #000, #000) !important;
    color: var(--white) !important;
}
.bg-tiktok i {
    color: var(--white);
}
/* end:bg color */

/* header */

@media (min-width: 992px) {
    .header .header-top {
        background-color: var(--secondary-color);
    }

    .header-tabs .nav-item .nav-link {
        color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link:focus,
    .header-tabs .nav-item .nav-link:hover {
        color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link.active {
        background-color: var(--primary-color);
        color: var(--font-color);
    }
}
.navi .navi-item .navi-link .navi-text {
    color: var(--font-color);
}
.header-mobile {
    background-color: var(--secondary-color);
}
@media (max-width: 991.98px) {
    .topbar {
        color: var(--font-color);
        background-color: var(--secondary-color);
    }
}
.header-tabs .nav-item .nav-link {
    color: var(--font-color);
}
.header .header-bottom {
    background-color: var(--primary-color);
}
.header-menu
.menu-nav
> .menu-item
.menu-submenu
> .menu-subnav
> .menu-item
> .menu-link
.menu-text {
    color: var(--font-color);
}
@media (min-width: 992px) {
    .header-menu .menu-nav > .menu-item .menu-submenu {
        background-color: var(--primary-color);
    }

    .header-menu .menu-nav > .menu-item > .menu-link {
        padding: 0.65rem 1rem;
    }

    .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
        color: var(--font-color);
    }

    .header-menu
    .menu-nav
    > .menu-item:hover:not(.menu-item-here):not(.menu-item-active)
    > .menu-link
    .menu-text,
    .header-menu
    .menu-nav
    > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active)
    > .menu-link
    .menu-text {
        color: var(--mute-color);
    }
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text {
    color: var(--font-color);
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-facebook {
    color: #3b55a0 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-twitter {
    color: #00acee !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-instagram {
    color: #d047d1 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-linkedin {
    color: #0e76a8 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-youtube {
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-pinterest {
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-pinterest {
    color: #e60023 !important;
}

.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text .fa-tumblr {
    color: #34526f !important;
}

.nav.nav-pills .show > .nav-link,
.nav.nav-pills .nav-link.active {
    color: var(--font-color);
    background-color: var(--primary-color);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    );
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
}

/* end:header */

/* card */

.card,
.card.card-custom {
    border: 0px solid transparent;
    background-color: var(--primary-color);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    color: var(--font-color);
}
.card.card-custom > .card-header .card-title,
.card.card-custom > .card-header .card-title .card-label {
    color: var(--font-color);
}

.card-columns .card {
    box-shadow: inherit;
}
/* end:card */

/* button */
.btn {
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    );
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}

.btn:hover,
.btn.hover,
.btn:active,
.btn.active {
    text-decoration: none;
    background-position: 100% 100%, 0% 0%;
    color: var(--btn-font-hover-color);
}

.btn:focus,
.btn.focus {
    outline: 0;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
    pointer-events: none;
}
.btn i {
    color: var(--font-color);
}
.btn.btn-primary {
    color: var(--bg-font-color);
}
.btn.btn-secondary {
    color: var(--bg-font-color);
}

.btn-facebook {
    background-image: linear-gradient(145deg, #4c69ba, #3b55a0) !important;
    color: var(--white);
}
.btn-instagram {
    background-image: linear-gradient(145deg, #d047d1, #ff0000) !important;
    color: var(--white);
}
.btn-twitter {
    background-image: linear-gradient(145deg, #10bbff, #00acee) !important;
    color: var(--white);
}
.btn-linkedin {
    background-image: linear-gradient(145deg, #1080b4, #0e76a8) !important;
    color: var(--white);
}
.btn-youtube {
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
    color: var(--white);
}
.btn-pinterest {
    background-image: linear-gradient(145deg, #f53131, #e60023) !important;
    color: var(--white);
}
.btn-tumblr {
    background-image: linear-gradient(145deg, #3d6183, #34526f) !important;
    color: var(--white);
}

.btn-bitly {
    background-image: linear-gradient(145deg, #e55d21, #f36021) !important;
    color: var(--white); !importantar
}
.btn-medium {
    background-image: linear-gradient(145deg, #000, #000) !important;
    color: var(--white) !important;
}

.btn-tiktok {
    background-image: linear-gradient(145deg, #000, #000) !important;
    color: var(--white) !important;
}

.bootstrap-select > .dropdown-toggle.btn-light,
.bootstrap-select > .dropdown-toggle.btn-secondary {
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    ) !important;
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a {
    background: var(--secondary-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text {
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text:hover {
    color: var(--primary-color);
}
.bootstrap-select .dropdown-menu.inner > li.selected > a .text,
.bootstrap-select .dropdown-menu.inner > li:hover > a .text {
    color: var(--blue-light-color);
}

.bootstrap-select .dropdown-menu {
    border: 1px solid var(--primary-color);
}

.dropdown-menu {
    -webkit-box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
}

.dropdown-item {
    color: var(--font-color);
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--font-color);
    background-color: var(--secondary-color);
}
.dropdown-item.active,
.dropdown-item:active {
    color: var(--font-color);
    background-color: var(--secondary-color);
}
.dropdown-item.disabled,
.dropdown-item:disabled {
    color: var(--mute-color);
    background-color: transparent;
}

.select2-dropdown,
.select2-container--default .select2-dropdown {
    background-color: var(--secondary-color);
    border: none;
    -webkit-box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.175rem !important;
    height: auto !important;
    border-radius: 0.85rem !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: #3a3b3c;
    padding: 0.65rem 1rem;
    border-radius: 0.85rem !important;
    border: none;
}
.select2-container--default
.select2-results__option.select2-results__option--highlighted {
    background: var(--primary-color);
    color: var(--font-color);
}
.btn:not(:disabled):not(.disabled):active:not(.btn-text),
.btn:not(:disabled):not(.disabled).active {
    background-image: linear-gradient(
            145deg,
            var(--orange-light-color),
            var(--orange-dark-color)
    );
    color: #fff;
}
.btn:not(:disabled):not(.disabled).active i {
    color: #fff;
}
/* end:button */

/* Sb_login */
#Sb_login {
    background-color: var(--secondary-color);
}
/* end:Sb_login */

/* form */
.form-control {
    background-color: #3a3b3c;
    color: #f3f6f9;
    border: 1px solid #3a3b3c;
}
.form-control.form-control-solid {
    background-color: #3a3b3c;
    border-color: #3a3b3c;
    color: #f3f6f9;
}
.form-group label {
    color: var(--font-color);
}

.input-group.input-group-solid {
    background-color: var(--primary-color);
}
.input-group.input-group-solid .input-group-prepend,
.input-group.input-group-solid .input-group-append,
.input-group.input-group-solid .input-group-text {
    background-color: inherit;
}
.input-group.input-group-solid .form-control {
    color: var(--font-color);
}
/* end:form */

.dropdown-menu {
    color: var(--font-color);
    background-color: var(--secondary-color);
}
/* begin::apexcharts */
.apexcharts-menu {
    background: var(--bg-color) !important;
}

.apexcharts-menu .apexcharts-menu-item:hover {
    background-color: var(--primary-color) !important;
}
.apexcharts-text .apexcharts-datalabel-value {
    fill: var(--font-color) !important;
}
.apexcharts-datalabel-value {
    fill: var(--font-color) !important;
}
.apexcharts-text,
.apexcharts-legend-text {
    color: var(--font-color) !important;
    fill: var(--font-color) !important;
}
/* end::apexcharts */
/* modal */
.modal .modal-header .modal-title {
    color: var(--font-color) !important;
}
.modal-header {
    border-bottom: 1px solid var(--secondary-color);
}
.modal-content {
    background-color: var(--primary-color);
    color: var(--font-color);
}
.modal-footer {
    border-top: 1px solid var(--primary-color);
}
/* sweetalert2 */
.swal2-popup {
    background: var(--primary-color);
}
.swal2-popup .swal2-content {
    color: var(--font-color);
}
.swal2-popup .swal2-title {
    color: var(--font-color);
}
/* begin:Star rating */
.rating-css div {
    color: var(--orange-light-color);
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 10px;
    text-shadow: 1px 1px 0 var(--mute-color);
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: var(--mute-color);
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* end:Star rating */

/* begin::tagify */

.tagify {
    width: 100%;
    max-width: 700px;
}
.tagify__input {
    color: var(--font-color);
}

.tagify--outside {
    border: 0;
}

.tagify .tagify__tag {
    background-color: var(--orange-light-color);
}
.tagify .tagify__tag div .tagify__tag-text {
    color: var(--font-color);
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--secondary-color);
    margin-bottom: 1em;
    transition: 0.1s;
    border-radius: 5px;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--secondary-color);
}
.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--secondary-color);
}
.tagify__input:empty::before {
    color: var(--font-color);
}
/* end::tagify */

/* begin:images and video upload css */

#media-list li img {
    width: 100px;
    height: 100px;
}

#media-list li {
    height: 102px;
}

#media-list li video,
#media-list li iframe {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#media-list li iframe {
    height: 100px;
}
div#hint_brand .modal-dialog {
    top: 110px;
    width: 567px;
    max-width: 100%;
}

li.myupload span {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: var(--secondary-color);
}

li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li.myupload span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 30px;
}

#media-list li {
    float: left;
    border: 1px dashed var(--secondary-color);
    position: relative;
    margin: 0 5px 5px 0;
    width: 102px;
}

#media-list li:last-child {
    margin-right: 0;
}

.post-thumb {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#media-list li:hover .post-thumb {
    display: block;
}

a.remove-pic {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: var(--font-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 3px 0;
}

.inner-post-thumb {
    position: relative;
}

.user-post-text-wrap {
    position: relative;
}

.user-pic-post {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.user-pic-post img {
    width: 100%;
}

.user-txt-post {
    padding: 0 0 0 65px;
}

textarea.form-control.upostTextarea {
    border: 0;
    box-shadow: none;
    height: 85px;
    resize: none;
}

.user-post-text-wrap {
    border-bottom: 1px solid var(--secondary-color);
    margin: 0 0 15px;
}

.user-post-btn-wrap {
    margin: 25px 0 0;
}

ul.btn-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.btn-nav li {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
}
ul.btn-nav li span {
    cursor: pointer;
}

ul.btn-nav li span input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

ul#media-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* end:images and video upload css  */

/* begin::intlTelInput phone css */
.iti {
    width: inherit;
}
.iti__country-list {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
/* end::intlTelInput phone css */

/* begin::kanban */
.kanban-container {
    overflow-y: auto;
    flex-wrap: nowrap;
}
/* end::kanban */
/* begin::calendar */
.fc-unthemed .fc-toolbar .fc-button {
    color: var(--font-color);
    border: 1px solid var(--reverse-color);
}
.fc-unthemed .fc-toolbar .fc-button:hover {
    background: var(--reverse-color);
    border: 1px solid var(--reverse-color);
    color: var(--primary-color);
}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: var(--reverse-color);
}

.fc-unthemed th.fc-day-header > a,
.fc-unthemed th.fc-day-header > span {
    color: var(--font-color);
}

/* end::calendar */
/* begin::Table */
.table {
    color: var(--font-color);
}
.table.table-head-custom thead tr,
.table.table-head-custom thead th {
    background-color: var(--primary-color) !important;
    color: var(--font-color) !important;
}
/* end:Table */

/* begin:plans */
.free_plan {
    background: -webkit-linear-gradient(#d9d8d6, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.standerd_plan {
    background: -webkit-linear-gradient(#966fd6, #7a5ac2, #6854bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.premium_plan {
    background: -webkit-linear-gradient(#5cb4f3, #0177d9, #01298b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.deluxe_plan {
    background: -webkit-linear-gradient(#f4e9cd, #77aca2, #468189);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.topaz_plan {
    background: -webkit-linear-gradient(#f78e12, #f20d2d, #c70007);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ruby_plan {
    background: -webkit-linear-gradient(#d51f06, #a91401, #820c02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gold_plan {
    background: -webkit-linear-gradient(#fcc201, #dba514, #b78628);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.plantinum_plan {
    background: -webkit-linear-gradient(#acacac, #acacac, #474b4c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* end:plans */

/* truncate */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

/*begin::mobile preview*/
.mobile-preview {
    background: url(../media/svg/misc/mobile-dark.svg) no-repeat center top
    transparent;
    background-size: 100%;
    width: 300px;
    margin: 0 auto;
    padding: 50px 15px;
    height: 600px;
}
.mobile-preview .preview-tab-inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
html[data-theme='light'] .mobile-preview {
    background: url(../media/svg/misc/mobile-light.svg) no-repeat center top
    transparent;
    background-size: 100%;
}
/*end::mobile preview*/

.reports-btn .badge {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 65%;
}

.floating-circle-menu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.floating-circle-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    opacity: 0;
}
.floating-circle-menu.active:after {
    transform: scale3d(8, 8, 1);
    transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    opacity: 1;
}
.floating-circle-menu .btn {
    border-radius: 50%;
}
.items-wrapper .btn {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    z-index: -1;
}
.floating-circle-menu .floating-btn i {
    transition: transform 0.2s, color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease,
    -webkit-box-shadow 0.15s ease !important;
}
.floating-circle-menu.active .floating-btn i {
    transform: rotate(-45deg);
}
.floating-circle-menu.active .btn {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.floating-circle-menu.active .items-wrapper .btn:nth-child(1) {
    transform: translate3d(0em, -10em, 0);
}
.floating-circle-menu.active .items-wrapper .btn:nth-child(2) {
    transform: translate3d(-5em, -9em, 0);
}
.floating-circle-menu.active .items-wrapper .btn:nth-child(3) {
    transform: translate3d(-8.5em, -5.5em, 0);
}
.floating-circle-menu.active .items-wrapper .btn:nth-child(4) {
    transform: translate3d(-10em, -1em, 0);
}
@media (min-width: 992px) {
    .reports-header .header,
    .reports-header .header-top {
        height: 120px;
    }
}
@media (max-width: 991px) {
    .reports-header .logo {
        display: none;
    }
}
.reports-header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.reports-header .logo img {
    width: 80px;
}
.card-custom.draggable img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-custom.draggable .button-block {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 5px;
}
#topbar_notifications_teams #invitation a {
    word-break: break-word;
}

#invitation .read, .read {background-color: var(--card-body-grid-2); margin-bottom: 1px;
}
@media (min-width: 992px) {
    .login.login-2 .content .content-img {
        min-height: 420px !important;
    }
}

/*begin::multi gallery css*/
.imgs-grid-modal .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    background-image: url(../media/image-grid/imgs-grid-icons.png) !important;
    background-repeat: no-repeat;
    background-position: -100px;
}
.imgs-grid-modal .modal-inner .modal-control .arrow {
    margin: 0 auto;
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(../media/image-grid/photo-grid-icons.png) !important;
}
/*end::multi gallery css*/
.assistant-right-sidebar {
    padding-top: 10px;
    height: calc(100% - 70px);
}
html[data-theme='dark'] .assistant-right-sidebar {
    background-color: var(var(--primary-color));
}

.assistant-right-sidebar ul {
    display: block;
}
.assistant-right-sidebar .nav-tabs .nav-link.active,
.assistant-right-sidebar .nav-tabs .nav-item.show {
    color: var(--font-color);
    background-color: var(--primary-color);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    );
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    border: 0px none;
}

.assistant-right-sidebar .nav-tabs .nav-link:hover,
.assistant-right-sidebar .nav-tabs .nav-link:focus {
    border: 0px none;
}
.assistant-right-sidebar .nav-tabs .nav-link {
    border: 0px none;
}

@media screen and (min-width: 992px) {
    .publish_assistant_wrapper {
        position: relative;
        overflow-x: hidden;
        padding: 25px 50px !important;
        margin-top: -25px;
    }
    .publish_assistant {
        position: absolute;
        top: 0px;
        height: 100%;
        left: 100%;
        transition: left cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    }
    .toggle-wrapper .publish_assistant {
        left: 50%;
    }
    .shrink-btn {
        position: absolute;
        z-index: 1;
        left: -30px;
        top: 25px;
        box-shadow: -6px -6px 10px var(--shadow-dark);
        border-radius: 0.42rem 0rem 0rem 0.42rem;
    }
    .toggle-wrapper .shrink-btn {
        left: -15px;
    }

    .assistant-right-sidebar {
        background-color: var(--primary-color);
        position: absolute;
        right: 10px;
        top: 25px;
        border-radius: 5px;
    }
    .publish_assistant .publish_assistant_card {
        margin-top: 25px;
        height: calc(100% - 70px) !important;
    }
    .publish_assistant_card .card-body {
        padding-right: 160px !important;
    }
    .assistant-right-sidebar .publish_assistant_tabs .nav-item a {
        flex-direction: column;
        padding: 1rem !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .publish_assistant_tabs .nav-item + .nav-item {
        margin-top: 20px;
    }
    .publish_assistant_tabs .nav-item a span {
        margin-top: 10px;
    }
    /*begin::color representation for calender*/
    .color-descriptive div + div {
        margin-left: 15px;
    }
    .color-descriptive div span {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .color-descriptive .yellow-color span {
        background-color: #fb8a0a;
    }
    .color-descriptive .red-color span {
        background-color: #ff3e05;
    }
    .color-descriptive .blue-color span {
        background-color: #f4d527;
    }

    .history_publishing_mobile .history_publishing a {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
        width: 400px;
        -webkit-box-orient: vertical;
    }

    #SB_carouselIndicator .carousel-indicators {
        bottom: -80px;
    }
    #SB_carouselIndicator .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #000;
        margin: 10px;
    }
    .SB_carousel-inner .carousel-caption {
        bottom: 0px;
        text-align: center;
    }

    #publishNotiFications a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 250px;
        flex-direction: row;
    }
    .fc-time-grid-event {
        margin-bottom: -50px;
    }

    .otp-button {
        white-space: nowrap;
        height: 70px;
    }
}

@media screen and (min-width: 992px) {
    .assistant_step {
        border: 1px solid var(--shadow-light);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}

.invite-input-browse .custom-file .custom-file-label::after {
    background-color: var(--bg-color) !important;
}
.invite-input-browse .table-responsive a .fa {
    color: var(--dark-grey);
    font-size: 15px;
}

#invitation-table .table th,
#invitation-table .table td {
    vertical-align: middle;
}
.invitation-instruction {
    max-width: 700px;
    margin: 30px auto 0px;
}
.invitation-instruction .logo {
    display: flex;
    justify-content: center;
}
.invitation-instruction .logo a img {
    width: 100px;
    height: 100px;
}
.invitation-instruction .checkmark {
    font-size: 50px;
}

/*begin:: competitive analysis*/
@media screen and (min-width: 320px) {
    #Sb_header_mobile_topbar_toggle {
        padding: 10px !important;
    }
    .btn#Sb_header_mobile_topbar_toggle .svg-icon {
        margin-right: 0px !important;
    }
}
.rounded-pills {
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid var(--secondary-color);
}
.compare-box-ranking .compare-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.competitor-filter-block .rounded-pills img {
    width: 20px;
    margin-right: 5px;
}
.compare-box-competitor {
    width: 80%;
    display: flex;
    align-items: center;
}
.compare-box-competitor .compare-box-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 1.2rem 0 1rem;
    border-radius: 50px;
}
.compare-box-label {
    width: 100%;
}

.compare-box-competitor .iframe-container {
    width: 35px;
    height: 35px;
}
.top-posts .iframe-container {
    width: 40px;
    height: 40px;
    position: static;
}

.top-posts .iframe-container.top-posts-image {
    width: 100%;
    height: 150px;
    position: static;
}

.top-posts .iframe-container > iframe {
    transform: scale(0.3);
}

.top-posts-image .iframe-container > iframe {
    transform: scale(0.3);
}

.compare-box-competitor .iframe-container > iframe {
    transform: scale(0.11);
}

.ranking-analytics .card-header {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    background-color: var(--secondary-color);
}
.ranking-analytics .card-header i {
    font-size: 2rem;
}
.top-posts-cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.top-posts-cards ul {
    padding-left: 10px;
}
.top-posts-cards ul li {
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
}
.analytic-post-card ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
.analytic-post-card ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.analytic-post-card ul li + li {
    margin-top: 10px;
}

.competitor-filter-block .dropdown.compare-box-select {
    width: 100% !important;
}
@media (min-width: 768px) {
    .competitor-container {
        padding-left: 300px;
    }
    .competitor-container .leftside-competitor {
        position: fixed;
        width: 300px;
        z-index: 1;
        left: 15px;
    }
    .competitor-filter-block .col-md-3 {
        max-width: 32% !important;
        flex: 0 0 32%;
    }
    .feeds-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-count: inherit;
        column-gap : inherit;
    }
    .feeds-container > .card{
        flex: 0 0 calc(33.333333% - 15px);
        display: flex;
    }
    .board-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
.competitive-list {
    padding: 0px 20px;
}
.competitive-list .competitive-list-block {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    margin-top: 5px;
}
.leftside-competitor {
    position: relative;
    height: calc(100vh - 250px);
}
.leftside-competitor .card {
    height: calc(100vh - 250px);
    overflow-y: auto;
    position: static !important;
    width: 275px !important;
}
.leftside-competitor .card .add-competitor {
    position: absolute;
    bottom: -60px;
    width: calc(100% - 110px);
    left: 50%;
    transform: translateX(-50%);
    margin-left: -7.5px;
}

.competitor-tracking {
    display: flex;
    justify-content: center;
}
.competitor-tracking img {
    max-width: 600px;
}
.add-competitor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.competitor-filter-block .competitor-filter-btn {
    background-color: var(--secondary-color);
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    margin-bottom: 15px;
    padding-left: 45px;
    position: relative;
}

.normal-logo {
    position: absolute;
    left: 15px;
}

.competitor-filter-block .competitor-filter-btn.active {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding-left: 45px;
    position: relative;
}

.iframe-container {
    width: 20px;
    height: 20px;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 15px;
}

.iframe-container > iframe {
    width: 320px;
    height: 320px;
    border: 0;
    transform: scale(0.07);
    transform-origin: 0 0;
}

.iframe-container.top-posts-image > iframe {
    width: 1200px;
    height: 1100px;
    border: 5px;
    transform-origin: 0 0;
}

/*end:: competitive analysis*/
/*begin:image gallery css*/
.image-gallery {
    position: relative;
}
.info-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.info-btn .fas {
    padding-right: 0 !important;
}

.img-card {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.img-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.rating-block i {
    font-size: 12px;
}

.imagelibrary-list-row {
    border: 1px solid var(--card-body-grid-2);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.imagelibrary-list-row .img-card {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}
#imageGalleryInfo .modal-body .fa-star {
    font-size: 12px;
    color: gold;
}
.kanban-container .kanban-board {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.kanban-board .kanban-drag {
    height: 100%;
    padding: 20px;
}
/*end:image gallery css*/
.schedule-social-tabs {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--blue-light-color);
}
.schedule-social-tabs li + li {
    padding-top: 5px;
}

#linkedInFeeds a.linkedin-links{
    color:#0073e9;
}

#facebookFeeds a.linkedin-links {
    color: #0073e9;
}
.twitter-add-accounts li + li {
    margin-top: 10px;
}


.thumb-count {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding-top: 35px;
    font-size: 1.5rem;
}

.img-alert.alert.alert-custom.alert-light-primary {
    padding: 0.5rem;
}
.img-alert.alert.alert-custom .alert-icon {
    padding-right: 0.5rem;
}
.img-alert.alert.alert-custom .alert-icon i {
    font-size: 1.4rem;
}


.invite-input-browse .custom-file .custom-file-label::after {

    background-color: var(--bg-color) !important;

}

.invite-input-browse .table-responsive a .fa {

    color: var(--dark-grey);

    font-size: 15px;

}


#invitation-table .table th,

#invitation-table .table td {

    vertical-align: middle;

}

.invitation-instruction {

    max-width: 700px;

    margin: 30px auto 0px;

}

.invitation-instruction .logo {

    display: flex;

    justify-content: center;

}

.invitation-instruction .logo a img {

    width: 100px;

    height: 100px;

}

.invitation-instruction .checkmark {

    font-size: 50px;

}

.calender-crud .btn {
    box-shadow: none;
}

#sb_calendar .fc-content-skeleton .fc-more-cell a.fc-more {
    color: var(--heading-color);
    font-size: 14px !important;
}

.medium-story {
    padding-top: 0px !important;
}

.medium-story .card-columns{
    column-count:4;
}
.imagelibrary-card {
    margin-bottom: 25px !important;
}

.rss-feeds-wrapper .card {
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .rss-feed-articles {
        position: fixed;
        height: calc(100vh - 220px);
        width: calc(50% - 45px);
    }
    .info-list .accounts-border {
        border-right: 1px solid var(--font-color);
    }
}
.rss-tags .btn {
    margin-bottom: 10px;
}

.link-shortening-text {
    background-color: #e1f0ff;
    color: #3699ff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}
.link-shortening-text .fa-file-alt,
.link-shortening-text .fa-check-circle {
    color: #3699ff;
}
.link-shortening .bg-colored {
    background-color:var(--primary-color);
}
.login-social-btns .btn {
    min-width:300px;
}
.text-dark-blue {
    color: var(--text-dark-blue);
}
.image-monero {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #3a3b3c;
    padding: 5px;
    border-radius: 0px 0px 0px 5px;
}
.image-monero .fa-monero {
    font-size: 20px;
    color: #fff;
}

.twittersubscription-card {
    margin-top: 6rem;
}
.twittersubscription-card .twitter-card {
    height: 60px;
}
.twittersubscription-card .twitter-card img {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    border-radius: 50%;
}
.social-subscriptions-inner {
    display: flex;
    margin-top: 15px;
}
.social-subscriptions-inner .start-item + .start-item {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.social-subscriptions-inner .start-item .start-item-name p {
    font-size: 12px;
}
.twitter-social-icons {
    display: flex;
    justify-content: center;
}

.twitter-social-icons .social-icons + .social-icons {
    margin-left: 10px;
}
@media screen and (max-width: 767px) {
    #twittersubscription-list .twitter-media-title {
        display: none;
    }
    .twitter-subscription-btn {
        width: 100%;
        margin-top: 20px;
    }
    .twitter-input-search,
    .twitter-social-icons .social-icons {
        margin-top: 20px;
    }
    .twitter-social-icons .social-icons {
        margin-bottom: 10px;
    }
    .subscription-view {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .twitter-wrapper .start-item-name p,
    .twitter-wrapper .twitter-media {
        font-size: 10px !important;
    }
    #twittersubscription-list .twiiter-details {
        padding-left: 20px;
    }
    #twittersubscription-list .twitter-card .card-img-top {
        width: 75px;
        height: 75px;
    }
}

.twitter-add-accounts li + li {
    margin-top: 10px;
}

#sb_calendar .fc-content-skeleton .fc-more-cell a.fc-more {
    color: var(--heading-color);
    font-size: 14px !important;
}

#twittersubscription-list .twitter-card .card-img-top {
    /*position: absolute;*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*top: 0px;*/
}
.feeds-card-container .card-img-top {
    width:100%;
    height:300px;
    object-fit: cover;
}
#twittersubscription-list .twitter-social-icons .social-icons + .social-icons {
    margin-left: 0;
}
#twittersubscription-list .twiiter-details {
    padding-left: 50px;
}
#twittersubscription-list .social-icons {
    border: 0px none;
    background: transparent;
    /*text-align: left;*/
}
#twittersubscription-list .twitter-social-icons {
    flex-direction: column;
}
#twittersubscription-list .twitter-social-icons .social-icons + .social-icons {
    margin-top: 8px;
}
#twittersubscription-list .twitter-social-icons .social-icons i {
    margin-right: 5px;
}
#twittersubscription-list .twitter-media {
    font-size: 1.2rem;
    text-align: center;
}
#twittersubscription-list .twitter-media-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    opacity: 0.5;
}
#twittersubscription-list .twitter-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 10px;
    margin-top: 20px;
}
.social-icons {
    color: var(--font-color);
    font-size: 14px;
}
.hashtags-by-country .card-title {
    color: #1bc5bd;
}
#hashtags-chart {
    width: 100%;
    height: 600px;
}

/*.hashtags-by-country {*/
/*    overflow-y: auto;*/
/*    height: 200px;*/
/*}*/

.hashtags-by-country {
    height: 150px;
    overflow: auto;
}
.search-hastags {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 10px !important;
    text-align: center;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}
::-webkit-scrollbar:vertical {
    width: 8px;
}


.view-board-pic img {
    width: 60px;
}


.blackfriday-modal {
    background-color: #000;
}
.blackfriday-modal p {
    color: #ffc000;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
}
.blackfriday-modal .btn {
    box-shadow: none;
    padding: 15px 40px !important;
    background-image: none;
    background-color: #ffc000;
    color: #000;
    text-align: center;
    font-size: 20px !important;
}
.blackfriday-modal .btn:hover {
    background-color: #ff781e;
    color: #fff;
}
.blackfriday-modal .input-group {
    width: 300px;
    margin: 0 auto;
    border: 1px dashed#fff;
    border-radius: 5px;
}
.blackfriday-modal .input-group-prepend {
    border-radius: 10px;
    height: 50px;
    width: 50%;
}
.blackfriday-modal .input-group-prepend .input-group-text {
    background-color: #000000 !important;
    color: #fff;
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 0px;
    border: 0px none;
}
.blackfriday-modal .form-control {
    height: 50px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #ffbc00;
    font-weight: bold;
    background-color: #fff;
}

#blackfridayNewsletter .logo {
    margin: 0 auto;
    width: 40px;
    position: absolute;
}

.SB-blackfriday-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.SB-blackfriday-sale p {
    margin-bottom: 0px;
    font-size: 1rem;
}
.SB-blackfriday-sale .btn {
    margin-left: 20px;
    box-shadow: none;
    background-color: #ffbc00 !important;
    background-image: none;
    color: #fff;
    font-weight: 600;
}

#blackfridayNewsletter .close {
    background-color: #000;
    opacity: 1;
    background-image: none;
    color: #fff;
}
#blackfridayNewsletter .close i {
    color: #fff !important;
}
.add-account-section-btns {
    width:122px !important;
}
.SB-accounts-section span{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.account-dropdown-section {
    width:235px !important;
}
.account-dropdown-section .label.label-xl.label-inline {
    width:100%;
}
.social-accounts-dev .profile-name{
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.post-count {
    display: block;
    font-size: 2rem;
}
.card.card-custom.appsumo-plan {
    background-image: none;
    background-color: #8835a7;
    color:#fff;
}
.card.card-custom.appsumo-plan .fa-clock{
color:#fff;
}

.kanban-container .label-inline {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.link-shortening-label span {
    background-color: #fff;
    border: #b5b5c3 solid 1px;
}

.appsumo-signup .SB-log {
    width: 180px;
}
.appsumo-banner .appsumo {
    width: 600px;
    border-radius: 30px;
    border: 1px solid #e4e4e4;
}

.image-input.profile-pic {
    background-size: 110px 110px;
    background-position: center center;
}

.header-menu .menu-nav li a.active,
.header-menu .menu-submenu .menu-subnav li a.active,
.header-menu .menu-submenu .menu-subnav li a.active:hover,
.header-menu .menu-submenu .menu-subnav li.menu-item:hover a.active{
    background-color:#ff5d3d !important;
    color: #fff;
}
.header-menu .menu-nav > .menu-item > .menu-link.active .menu-text,
.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link.active .menu-text,
.header-menu .menu-nav > .menu-item:hover > .menu-link.active.active .menu-text,
.header-menu .menu-submenu .menu-subnav li.menu-item:hover a.active .menu-text{
    color: #fff !important;
}
.appsumo-signup,
.appsumo-title {
    color: var(--dark-grey);
}

.link-shorting-btn {
    white-space: nowrap;
}

.competitive-list .compitator-list-container {
    position:relative;
    padding-right:60px;
}
.competitive-list .competitive-list-div {
    position:absolute;
    top:0px;
    right:0px;
}

.youtube-publish-btns span {
    background-color: #fff;
    flex: none;
}

.auto-email-report .select2-search__field{
    color:#fff;
}

#scheduleViewModal .modal-content {
    max-width: 350px;
}

.subheader ::-webkit-input-placeholder {
    font-size: 16px;
    color: var(--font-color);
}

.date-format {
    padding-left: 10px;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    cursor:pointer;
}
.swing img {
    border: 2px solid #ff5d3d;
    display: block;
}
.swing:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #ff5d3d;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #e04022;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}


/* begin::product tour*/

.introjs-tooltip {
    font-family: Poppins, Helvetica, 'sans-serif';
    background: var(--primary-color);
}
.introjs-button {
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    );
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    transition: 0.5s ease-in-out;
    border: 0px solid transparent !important;
    padding: 0.8rem 1rem 0.5rem 1rem;
}

html[data-theme='dark'] .introjs-tooltip {
    color: var(--heading-color);
    background: var(--primary-color) !important;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
}
html[data-theme='dark'] .introjs-arrow {
    background-color: red important;
}
.introjs-tooltiptext {
    font-family: poppins;
    color: var(--grey);
    font-size: 16px;
    font-weight: 600;
}
html[data-theme='dark'] .introjs-tooltiptext {
    color: var(--white) !important;
}
.introjs-tooltip .introjs-skipbutton {
    position: absolute;
    bottom: 15px;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    ) !important;
    font-size: 14px;
    font-weight: 400;
    padding: 0.8rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    height: 34px;
    line-height: normal;
    box-sizing: border-box;
}
.introjs-tooltipbuttons {
    padding: 15px;
}
.introjs-arrow.left-bottom,
.introjs-arrow.left {
    border-right-color: var(--secondary-color);
}
.introjs-arrow.top {
    border-bottom-color: var(--secondary-color);
}
.introjs-arrow.right {
    border-left-color: var(--secondary-color);
}
.introjs-button:focus {
    border: 0px none;
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
}
html[data-theme='dark'] .introjs-button:focus {
    color: var(--font-color);
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
}
.introjs-helperLayer {
    box-shadow: rgb(33 33 33 / 0%) 0px 0px 1px 2px,
    rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
}
html[data-theme='dark'] .introjs-disabled:hover {
    box-shadow: 6px 6px 10px var(--shadow-light),
    -6px -6px 10px var(--shadow-dark);
    background-image: linear-gradient(
            145deg,
            var(--card-body-grid-1),
            var(--card-body-grid-2)
    ) !important;
}
.introjs-tooltipbuttons {
    border: 0px none;
}
/* ends::product tour*/
.profile-personal-info a#user_name_append,
.profile-personal-info#location_append,
a.profile-personal-info{
    width:150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display: inline-block;
}

.schedule-div-block span {
    margin-right: 10px;
    background-color: var(--white);
    border: #b5b5c3 solid 1px;
}

#sb_calendar .fc-time-grid-event,
#sb_calendar .fc-day-grid-event{
    cursor: pointer;
}
#sb_calendar .fc-content {
    padding-left: 5px;
}
#sb_calendar .fc-content:before {
    background: none;
}
.accounts-lock-unlock{
    cursor:pointer;
}
.add-account-label span {
    background-color: #fff;
    border: #b5b5c3 solid 1px;
}
.checkbox.add-account-label div {
    flex: 0 calc(100% - 24px);
}

.checkbox.add-account-label {
    align-items: flex-start !important;
}
.checkbox.add-account-label > input:focus ~ span {
    border: 1px solid #b5b5c3 !important;
}



.tiktok-info {
    display: flex;
    flex-direction: column;
}
.tiktok-info .tiktok-links {
    margin-top: 10px;
    font-size: 1.2rem;
}
.tiktok-info .tiktok-comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tiktok-info .tiktok-comment-info .tiktok-links {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 120px);
}
.tiktok-comment-info .btn {
    background-color: #f64e60 !important;
    background-image: none;
    color: #fff;
}
