<div data-ng-controller="FacebookFeedsController" id="upLink">
    <!-- Page name -->
    <!-- START CONTENT -->
    <section id="content">
        <!--start container-->
        <div class="container">
            <div class="row ltst-feed-notify" ng-if="latestfeedcount>0" id="downLink" ng-click="moveTop()">
                <div class="col s12">
                    <div class="notify-box blue darken-3 pulse z-depth-3">
                        <p><strong>Info!</strong> You got new feeds.</p>
                    </div>
                </div>
            </div>
            <!--card widgets end-->
            <div class="row">
                <div id="feeds" class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                        
                        <h5 class="feeds_title blue darken-4 white-text">
                            <i class="icon-social-facebook"></i>Facebook live feeds<a class='dropdown-button right white-text btn black' href='javascript:void(0)' data-activates='dropdownFilter' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px;">{{filterrTxtt}}<span class="right">&nbsp;</span><a class='dropdown-button right white-text btn black' href='javascript:void(0)' data-activates='dropdownSort' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px;">{{SorttTxtt}}</a></a><span class="right">&nbsp;</span><a class='right white-text btn black' ng-click="loadFeeds()" title="Recent feeds" href='javascript:void(0)' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px;">Recent</a><span class="right">&nbsp;</span>
                            <a class='right white-text btn green accent-4' title="It connects facebook again when users change the password of facebook account ,if you do not reconnect then it will be problem to socioboard account to collect the data/feeds from your respective account or page, when you reconnect the page or acc please login with respective fb account or page which to be reconnect in same browser." href="javascript:void(0)" ng-click="fbprofiles()" style="font-size: 14px !important;padding: 0px 5px 0px 5px !important;height: 28px;line-height: 15px;border-radius: 4px;">
                                <span class="white-text text-darken-4"><i class="fa fa-refresh fa-fw"></i><strong>Reconnect</strong></span>&nbsp;&nbsp;&nbsp;
                            </a>
                        </h5>
                        <!-- Dropdown Trigger -->
                        <!-- Dropdown Structure -->
                        <div ng-if="dropCalled==true">
                            <ul id='dropdownFilter' class='dropdown-content'>
                                <li><a href="javascript:void(0)"><strong style="color:black">Filter</strong></a></li>
                                <li><a href="javascript:void(0)" ng-click="loadFeeds()">All Posts</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('socioboard','Socioboard')">Sent from Socioboard</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('photo','Image')">Image posts</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('video','Video')">Video posts</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('link','Link')">Link posts</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('status','Status')">Status posts</a></li>
                            </ul>
                        </div>

                        <div ng-if="dropCalled==true">
                            <ul id='dropdownSort' class='dropdown-content'>
                                <li><a href="javascript:void(0)"><strong style="color:black">Popular</strong></a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('maxlikes','Most likes')">Most Likes</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('maxcomment','Most comments')">Most Comments</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('leastlikes','Least likes')">Least Likes</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('leastcomment','Least comments')">Least Comments</a></li>
                            </ul>
                        </div>

                        <ul class="collection" id="facebookfeeds" ng-lazy-scroll="listData()" lazy-scroll-trigger="40" lazy-no-scroll="false">
                            <!--Latest Feeds-->
                            <!--<li ng-if="latestfeedcount>0" class="collection-item avatar" ng-repeat="fbfeed in lstlatestFbFeeds" myRepeatTabDirective>
                                <img ng-src="https://graph.facebook.com/{{fbfeed._facebookFeed.fromId}}/picture?type=small" alt="{{fbfeed._facebookFeed.fromName}}" class="circle">
                                <span class="email-title">{{fbfeed.fromName}}</span>
                                <div class="row feeds_post">
                                    <div class="col m8 ">
                                        <a class="break_word ultra-small black-text" href="https://www.facebook.com/{{fbfeed._facebookFeed.feedId}}" target="_blank">{{fbfeed._facebookFeed.feedDescription}}</a>
                                    </div>
                                    <div class="col m4 center">
                                        <img ng-src="{{getHttpsURL(fbfeed._facebookFeed.picture)}} " ng-if="fbfeed._facebookFeed.picture!= ''" class="responsive-img">
                                    </div>

                                    <div class="col m12">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header"><i class="icon-speech"></i>Comments <span class="blue-text"> {{fbfeed._facebookFeed.commentcount}} </span></div>
                                                <div class="collapsible-body">
                                                    <ul class="collection facebookfeeds">
                                                        <li class="collection-item avatar" ng-repeat="fbcomments in fbfeed._facebookComment" my-repeat-facebook-feed-timeout-directive>
                                                            <img ng-src="https://graph.facebook.com/{{fbcomments.fromId}}/picture?type=small" alt="" class="circle">
                                                            <span class="email-title">{{fbcomments.fromName}}</span>
                                                            <div class="row dashboard_feeds z-depth-1 hoverable">
                                                                <div class="col m8">
                                                                    <p class="break_word ultra-small">{{fbcomments.comment}}</p>
                                                                </div>
                                                                <a class="tooltipped secondary-content" data-position="left" data-delay="50" data-tooltip="">{{fbcomments.commentdate}}</a>

                                                            </div>
                                                        </li>

                                                        <li class="collection-item" ng-if="user.TrailStatus!=2">
                                                            <div class="row">
                                                                <form class="col s10">
                                                                    <div class="row">
                                                                        <div class="input-field col s12">
                                                                            <i class="icon-pencil prefix"></i>
                                                                            <textarea type="text" id="postcomment_{{fbfeed._facebookFeed.feedId}}" class="materialize-textarea" />
                                                                            <label for="icon_prefix2">Type your comment here...</label>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <span class="col s12 center">
                                                                    <a class="waves-effect waves-light btn" ng-click="PostFacebookComment(fbfeed._facebookFeed.feedId,fbfeed._facebookFeed.profileId)"><i ng-if="sendingcomment==true" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><i ng-if="sendicon!=true" class="icon-cursor"></i></a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l8 s8">
                                    </div>
                                    <div class="col l2 s2 right">
                                        <div class="center">
                                            <a ng-click="openComposeMessage(fbfeed._facebookFeed)" class="right"><i class="fa fa-retweet fa-fw" aria-hidden="true"></i> Re-Socio</a>
                                        </div>
                                    </div>
                                    <div class="col l2 s2 right">
                                        <div class="right">
                                            <a ng-if="user.TrailStatus!=2" ng-click="taskfbfeedModel(fbfeed._facebookFeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" style="margin-left: 3%;">
                                                <i class="icon-pin"></i> Task
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a class="tooltipped secondary-content" data-position="left">{{fbfeed._facebookFeed.feedDate}}</a>
                            </li>-->
                            <!--End latest Feeds-->
                            <!--Feeds-->
                            <li class="collection-item avatar" ng-repeat="fbfeed in lstFbFeeds" myRepeatTabDirective>
                                <img ng-src="https://graph.facebook.com/{{fbfeed._facebookFeed.fromId}}/picture?type=small" alt="{{fbfeed._facebookFeed.fromName}}" class="circle">
                                <span class="email-title">{{fbfeed._facebookFeed.fromName}}</span>
                                <div class="row feeds_post">
                                    <div class="col m8 ">
                                        <a class="break_word ultra-small black-text" href="https://www.facebook.com/{{fbfeed._facebookFeed.feedId}}" target="_blank">{{fbfeed._facebookFeed.feedDescription}}</a>
                                    </div>
                                    <!--<strong>{{fbfeed.postType}}-------{{fbfeed.postingFrom}}</strong>-->
                                    <div class="col m4 center">
                                        <img ng-src="{{getHttpsURL(fbfeed._facebookFeed.picture)}} " ng-if="fbfeed._facebookFeed.picture!= ''" class="responsive-img">
                                    </div>

                                    <!--<div class="col m12">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header"><i class="icon-speech"></i>Comments <span class="blue-text"> {{fbfeed._facebookFeed.commentcount}} </span></div>
                                                <div class="collapsible-body">
                                                    <ul class="collection facebookfeeds">
                                                        <li class="collection-item avatar" ng-repeat="fbcomments in fbfeed._facebookComment" my-repeat-facebook-feed-timeout-directive>
                                                            <img ng-src="https://graph.facebook.com/{{fbcomments.fromId}}/picture?type=small" alt="" class="circle">
                                                            <span class="email-title">{{fbcomments.fromName}}</span>
                                                            <div class="row dashboard_feeds z-depth-1 hoverable">
                                                                <div class="col m8">
                                                                    <p class="break_word ultra-small">{{fbcomments.comment}}</p>
                                                                </div>
                                                                <a class="tooltipped secondary-content" data-position="left" data-delay="50" data-tooltip="">{{fbcomments.commentdate}}</a>

                                                            </div>
                                                        </li>

                                                        <li class="collection-item" ng-if="user.TrailStatus!=2">
                                                            <div class="row">
                                                                <form class="col s10">
                                                                    <div class="row">
                                                                        <div class="input-field col s12">
                                                                            <i class="icon-pencil prefix"></i>
                                                                            <textarea type="text" id="postcomment_{{fbfeed._facebookFeed.feedId}}" class="materialize-textarea" />
                                                                            <label for="icon_prefix2">Type your comment here...</label>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <span class="col s12 center">
                                                                    <a class="waves-effect waves-light btn" ng-click="PostFacebookComment(fbfeed._facebookFeed.feedId,fbfeed._facebookFeed.profileId)"><i ng-if="sendingcomment==true" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><i ng-if="sendicon!=true" class="icon-cursor"></i></a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="col l6 s8 left">
                                        <a class="center">
                                            <i class="icon-like fa-fw"></i><span> {{fbfeed._facebookFeed.likecount}}</span>
                                        </a>
                                    </div>
                                    <div class="col l2 s1 center">
                                        <div class="center">
                                            <a ng-click="viewcomment(fbfeed._facebookFeed)" class="right"><i class="icon-bubble" aria-hidden="true"></i> Comment</a>
                                        </div>
                                    </div>
                                    <div class="col l2 s1 center">
                                        <div class="center">
                                            <a ng-click="openComposeMessage(fbfeed._facebookFeed)" class="right"><i class="fa fa-retweet fa-fw" aria-hidden="true"></i> Re-Socio</a>
                                        </div>
                                    </div>
                                    
                                    <div class="col l2 s1 center">
                                        <div class="center">
                                            <a ng-if="user.TrailStatus!=2" ng-click="taskfbfeedModel(fbfeed._facebookFeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" style="margin-left: 3%;">
                                                <i class="icon-pin"></i> Task
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <a class="tooltipped secondary-content" data-position="left">{{fbfeed._facebookFeed.feedDate}}</a>
                            </li>
                            <!--End Feeds-->
                        </ul>
                        <br />
                        <h5 style="margin-left:38%; color:lightgray; font-family:Calibri" ng-if="endfeeds==true && filters!=true">No More Feeds to Load</h5>
                        <div class="center" id="gif" ng-class="loaderclass" hidden>
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="" ng-click="listData()" style="margin-left:44%" onClick="this.style.visibility = 'hidden'; chng_btn_val();" ng-if="preloadmore==true && filters!=true"><img ng-src="http://i.imgur.com/Y9I2fvH.png" /></a>

                        <div class="cssload-container" ng-if="preloadmore!=true">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <br />
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->
    <!--Task Modal-->
    <div id="TaskfbfeedModal" class="modal">
        <div class="modal-content">
            <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
            <h4>Create Task</h4>
            <p></p>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="icon-pencil prefix"></i>
                            <textarea id="taskfbfeedComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                            <label for="LeaveComment">LEAVE A COMMENT</label>
                        </div>
                        <div class="col s4">
                            <span>ASSIGN TASK TO</span><br />
                            <div class="smartinbox_filter_slider">
                                <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                    <input name="member" type="radio" id="{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                    <label for="{{member.userId}}">{{ member.firstName}}</label>
                                </p>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addTask('MongoFacebookFeed')">Save</a>
            <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
        </div>
    </div>
</div>

<!-- Compose Email Structure -->
<div id="ComposePostModal" class="modal">
    <div class="modal-content">
        <nav class="red">
            <div class="nav-wrapper">
                <div class="left col s12 m5 l5">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="email-type">Re-Socio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="model-email-content">
        <div class="row no-space">
            <form class="col s12">
                <div class="row no-space">
                    <div class="col s12 m6">
                        <div class="input-field col s12">
                            <div class="emoji-picker-container">
                                <textarea id="composeMessage" class="materialize-textarea" length="500" data-emojiable="true" placeholder="Type your msg">{{contentMessage.title}} </textarea>
                            </div>
                        </div>
                        <div class="row no-space">
                            <div class="col s12 m12 l12">
                                <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                            </div>
                            <input type="hidden" id="imageUrl" value="{{contentMessage.image}}" />
                            <div class="col s12 m12 l12">
                                <input type="file" id="composeImage" class="dropify" after-render data-default-file="{{contentMessage.image}}" />
                            </div>
                            <div class="col s12 m12 l12" ng-if="!contentMessage">
                                <input type="file" id="composeImage" class="dropify" after-render data-default-file="" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input ng-model="query[queryBy]" id="search_name" type="text" class="validate">
                                <label for="search_name">Search Profile</label>
                            </div>
                            <ul class="col s12 shinh" id="checkboxdata" style="max-height:250px; overflow-y:scroll;">
                                <li style="padding:5px 0;">
                                    <label>
                                        <input type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" id="checkAll" onclick="check();" />
                                        <span style="float:left;">Check All</span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13' }" style="padding:5px 0;">
                                    <label>
                                        <input onclick="profile();" name="selector[]" class="subcheckbox" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/fb_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input onclick="profile();" name="selector[]" class="subcheckbox" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:2}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="tw_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/twticon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query | filter:{profileType:3} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="lin_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles |filter:query| filter:{profileType:4}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" onclick="profile();" class="subcheckbox" id="Cmpylinpage_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                        <span style="float:left; width:150px;" class="truncate" title="{{profile.profileName}}">{{profile.profileName}}</span>
                                        <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row no-space">
                    <!--<a href="" class="btn btn_style blue_btn_style left" ng-click="draftMsg()">Save as Draft</a>-->
                    <div class="right btn btn_style blue_btn_style">
                        <div ng-show="disbtncom" ng-click="ComposeMessage()">send</div>
                        <div ng-show="!disbtncom"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--//fbprofile comments module--> 
<!--<div id="view" class="modal" style="min-height:100px;">
    <div class="modal-content">
        <form class="row no-space">
            <div class="col s6 center" >
                <img class="responsive-img" ng-src="{{feeddata.picture}}" />
                <p class="no-space">
                    {{feeddata.feedDescription}}
                </p>
            </div>
            <div class="col s6">
                <div class="m_comm">
                    <div ng-repeat="comment in allcomment" my-Chat-Modal-Directive>
                        {{allcomment.fromName}}
                        <div class="grey-text text-darken-1"><span><b>{{comment.fromName}}</b></span> : <span class="break_word ultra-small" style="word-wrap:break-word; white-space:pre-line; line-break:auto">{{comment.comment}}</span></div>
                    </div>
                </div>
           </div>
        </form>
    </div>
</div>-->



<div id="view" class="modal" style="max-width: 850px; width: 100%;">
    <div class="modal-content" style="padding: 15px;">
        <div class="row no-space">
            <div class="col l6 m6 s12">
                    <img id="img" class="responsive-img" ng-src="{{feeddata.picture}}" alt="img">
                <br />
                <p>
                    {{feeddata.feedDescription}}
                </p>
            </div>
            <div class="col l6 m6 s12">
                <div class="row no-space">
                    <ul class="collapsible" data-collapsible="accordion" style="box-shadow:none; border: none;">
                        <li>
                            <div class="collapsible-header" style="border-bottom: 0px solid #fff; line-height: 1rem; min-height: 1rem; padding: 6px 1rem; border-radius: 17px; background-color: #d4d4d4;"><b>Comments</b></div>
                            <div class="collapsible-body" style="padding: 6px 1rem;">
                                <div class="instfeeds">
                                    <div class="avatar" ng-repeat="comment in allcomment">
                                        <span class="grey-text text-darken-4">{{comment.fromName}} :</span>
                                        <span class="no-space grey-text text-darken-1" style="word-wrap: break-word;">{{comment.comment}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//End comment module-->




<!--//fbpage comments module--> 
<!--<div id="viewpageModal" class="modal" style="min-height:100px;">
    <div class="modal-content">
        <form class="row no-space">
            <div class="col s6 center">
                <img class="responsive-img" ng-src="{{feeddata.picture}}" />
                <p class="no-space">
                    {{feeddata.feedDescription}}
                </p>
            </div>
            <div class="col s6">
                <div class="m_comm">
                    <div ng-repeat="comment in allcommen" my-Chat-Modal-Directive>
                        {{allcommen.fromName}}
                        <div class="grey-text text-darken-1"><span><b>{{comment.fromName}}</b></span> : <span class="break_word ultra-small" style="word-wrap:break-word; white-space:pre-line; line-break:auto">{{comment.comment}}</span></div>
                    </div>
                </div>
                <div class="input-field col s10">
                    <input id="postcomment_{{feeddata.feedId}}" placeholder="Add a comment.." class="" type="text">
                   <label for="postcomment" class="active">Add a comment..</label>

               </div>
                <div class="input-field col s1">
                    <a class="btn btn_style btn_round" ng-click="PostFacebookComment(feeddata.feedId,feeddata.profileId)">send</a>
                </div>
                <div ng-show="!dispbtn" class="input-field col s1">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                </div>
            </div>
        </form>
    </div>
 
</div>-->

<!-- END CONTENT -->

<!--/////new fbpage comments module/////-->

<div id="viewpageModal" class="modal" style="max-width: 850px; width: 100%;">
    <div class="modal-content" style="padding: 15px;">
        <div class="row no-space">
            <div class="col l6 m6 s12">
                    <img id="imga" class="responsive-img" ng-src="{{feeddata.picture}}" alt="img">
                    <br />
                <p>
                    {{feeddata.feedDescription}}
                </p>
            </div>
            <div class="col l6 m6 s12">
                <div class="row no-space">
                    <ul class="collapsible" data-collapsible="accordion" style="box-shadow:none; border: none;">
                        <li>
                            <div class="collapsible-header" style="border-bottom: 0px solid #fff; line-height: 1rem; min-height: 1rem; padding: 6px 1rem; border-radius: 17px; background-color: #d4d4d4;"><b>Comments</b></div>
                            <div class="collapsible-body" style="padding: 6px 1rem;">
                                <div class="instfeeds">
                                    <div class="avatar" ng-repeat="comment in allcommen">
                                        <span class="grey-text text-darken-4">{{comment.fromName}} :</span>
                                        <span class="no-space grey-text text-darken-1" style="word-wrap: break-word;">{{comment.comment}}</span>
                                    </div>
                                </div>
                                <div class="input-field col s10">
                                    <input id="postcomment_{{feeddata.feedId}}" placeholder="Add a comment.." class="" type="text">
                                </div>
                                <div class="input-field col s1">
                                    <a class="btn btn_style btn_round blue" ng-click="PostFacebookComment(feeddata.feedId,feeddata.profileId)">send</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//////////-->


<!-- //////////////////////////////////////// Script Code //////////////////////////////////////// -->

<script>

    $('.m_comm').slimScroll({
        color: '#1D6AD2',
        size: '10px',
        height: '300px',
        alwaysVisible: true,
        allowPageScroll: true
    });


    function chng_btn_val() {
        $('#gif').show();
    }

    function check() {
        var flag = $('#checkAll').is(":checked");
        $('#checkboxdata input:checkbox').each(function () {
            $(this).prop('checked', flag);
        });
    }

    function profile() {
        var count = 0;
        $("#checkboxdata :checkbox").each(function () {
            if (this.id != 'checkAll') {
                if (!($("#" + this.id).prop('checked'))) {
                    count++;
                }
            }
        });

        if (count > 0) {
            //alert("no "+count);
            $("#checkAll").prop('checked', false);
        }
        if (count == 0) {
            //alert("yess " + count);
            $("#checkAll").prop('checked', true);
        }
    }
</script>

<!-- //////////////////////////////////////// End Script Code //////////////////////////////////////// -->
<!-- //////////////////////////////////////// Style CSS for Pre Loader //////////////////////////////////////// -->


<style>
    .cssload-container {
        background: rgb(255,255,255);
    }

        .cssload-container div {
            width: 25px;
            height: 25px;
            position: absolute;
            background-color: rgb(204,204,204);
            top: 67%;
            border-radius: 50%;
        }

            .cssload-container div:nth-child(1) {
                background-color: rgb(13,71,161);
                animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -o-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -ms-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -webkit-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -moz-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
            }

            .cssload-container div:nth-child(2) {
                background-color: rgb(13,71,161);
                animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -o-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -ms-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -webkit-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -moz-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
            }

            .cssload-container div:nth-child(3) {
                background-color: rgb(13,71,161);
                animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -o-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -ms-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -webkit-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -moz-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
            }

            .cssload-container div:nth-child(4) {
                background-color: rgb(13,71,161);
                animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -o-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -ms-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -webkit-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
                -moz-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
            }



    @keyframes cssload-move {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }

    @-o-keyframes cssload-move {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }

    @-ms-keyframes cssload-move {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }

    @-webkit-keyframes cssload-move {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }

    @-moz-keyframes cssload-move {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }
</style>

<style>
    ul.shinh li label {
        font-size: 14px;
        color: grey;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }
</style>

<style>
    .rssPostImage {
        width: 674px;
        max-height: 357px;
        overflow: hidden;
        border-radius: 5px;
        float: left;
        margin-top: 23px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
    }
</style>

<script>
    $("a[href='#top']").click(function () {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });

    $('.instfeeds').slimScroll({
        color: '#1976D2',
        size: '10px',
        height: '150px',
        alwaysVisible: true,
        allowPageScroll: true
    });
</script>

<!-- //////////////////////////////////////// End Style CSS for Pre Loader //////////////////////////////////////// -->