<div data-ng-controller="FacebookFeedsController">
    <!-- Page name -->
    <!-- START CONTENT -->
    <section id="content">
        <!--start container-->
        <div class="container">
            <!--card widgets end-->
            <div class="row">
                <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                    <div class="card" id="feeds">
                        <h5 class="feeds_title blue darken-4 white-text"><i class="icon-social-facebook"></i>Facebook live feeds<a class='dropdown-button right white-text' href='javascript:void(0)' data-activates='dropdownFilter'><i class="fa fa-filter"></i></a><a class='dropdown-button right margin-right-10 white-text' href='javascript:void(0)' data-activates='dropdownSort'><i class="fa fa-sort"></i></a>
                            <a class='right white-text btn light-blue accent-3' href="javascript:void(0)" ng-click="fbprofiles()" style="font-size: 14px !important;padding: 0px 5px 0px 5px !important;height: 28px;line-height: 15px;border-radius: 4px;">
                                <span class="white-text text-darken-4"><i class="fa fa-refresh fa-fw"></i>Reconnect</span>
                            </a></h5>
                        <!-- Dropdown Trigger -->
                        
                        <!-- Dropdown Structure -->
                        <div ng-if="dropCalled==true">
                            <ul id='dropdownFilter' class='dropdown-content'>
                                <li><a href="javascript:void(0)" ng-click="LoadTopFeeds()">None</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('socioboard')">Socioboard</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('status')">Status</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('link')">Link</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('photo')">Photo</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('video')">Video</a></li>
                            </ul>
                        </div>
                           
                        <div ng-if="dropCalled==true">
                            <ul id='dropdownSort' class='dropdown-content'>
                                <li><a href="javascript:void(0)" ng-click="LoadTopFeeds()">None</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('maxlikes')">Max Likes</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('maxcomment')">Max Comments</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('leastlikes')">Least Likes</a></li>
                                <li><a href="javascript:void(0)" ng-click="SortSearch('leastcomment')">Least Comments</a></li>
                            </ul>
                        </div>

                        <ul class="collection" id="facebookfeeds" ng-lazy-scroll="listData()" lazy-scroll-trigger="40" lazy-no-scroll="false">
                            <li class="collection-item avatar" ng-repeat="fbfeed in lstFbFeeds" myRepeatTabDirective>
                                <img ng-src="https://graph.facebook.com/{{fbfeed.fromId}}/picture?type=small" alt="{{fbfeed.fromName}}" class="circle">
                                <span class="email-title">{{fbfeed.fromName}}</span>
                                <div class="row feeds_post">
                                    <div class="col m8">
                                        <p class="break_word ultra-small">{{fbfeed.feedDescription}}</p>
                                    </div>
                                    <!--<strong>{{fbfeed.postType}}-------{{fbfeed.postingFrom}}</strong>-->
                                    <div class="col m4 center">
                                        <img ng-src="{{getHttpsURL(fbfeed.picture)}} " ng-if="fbfeed.picture!= ''" class="responsive-img">
                                    </div>
                                    
                                    <div class="col m12">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header"><i class="icon-speech"></i>Comments <span class="blue-text"> {{fbfeed.commentcount}} </span></div>
                                               
                                                 <div class="collapsible-body">
                                                    <ul class="collection facebookfeeds">
                                                        <li class="collection-item avatar" ng-repeat="fbcomments in fbfeed._facebookComment" my-repeat-facebook-feed-timeout-directive>
                                                            <img ng-src="https://graph.facebook.com/{{fbcomments.fromId}}/picture?type=small" alt="" class="circle">
                                                            <span class="email-title">{{fbcomments.fromName}}</span>
                                                            <div class="row dashboard_feeds z-depth-1 hoverable">
                                                                <div class="col m8">
                                                                    <p class="break_word ultra-small">{{fbcomments.comment}}</p>
                                                                </div>
                                                                <a class="tooltipped secondary-content" data-position="left" data-delay="50" data-tooltip="">{{fbcomments.commentdate}}</a>

                                                            </div>
                                                        </li>

                                                        <li class="collection-item" ng-if="user.TrailStatus!=2">
                                                            <div class="row">
                                                                <form class="col s10">
                                                                    <div class="row">
                                                                        <div class="input-field col s12">
                                                                            <i class="icon-pencil prefix"></i>
                                                                            <textarea type="text" id="postcomment_{{fbfeed.feedId}}" class="materialize-textarea" />
                                                                            <label for="icon_prefix2">Type your comment here...</label>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <span class="col s12 center">
                                                                    <a class="waves-effect waves-light btn" ng-click="PostFacebookComment(fbfeed.feedId,fbfeed.profileId)"><i ng-if="sendingcomment==true" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><i ng-if="sendicon!=true" class="icon-cursor"></i></a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l8 s8">
                                        <a class="">
                                            <i class="icon-like fa-fw"></i><span> {{fbfeed.likecount}}</span>
                                        </a>
                                    </div>
                                    <div class="col l2 s2">
                                        <div class="right">
                                            <a ng-if="user.TrailStatus!=2" ng-click="taskfbfeedModel(fbfeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" style="margin-left: 3%;">
                                                <i class="icon-pin"></i> Task
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col l2 s2">
                                        <div class="center">
                                            <a ng-click="openComposeMessage(fbfeed)" class="right"><i class="fa fa-retweet fa-fw" aria-hidden="true"></i> Re-Socio</a>
                                        </div>                                       
                                    </div>
                                </div>
                                <a class="tooltipped secondary-content" data-position="left">{{fbfeed.feedDate}}</a>
                            </li>
                        </ul>
                        <br />
                        <h5 style="margin-left:38%; color:lightgray; font-family:Calibri" ng-if="endfeeds==true && filters!=true">No More Feeds to Load</h5>
                        <div class="center" id="gif" ng-class="loaderclass" hidden>
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="" ng-click="listData()" style="margin-left:44%" onClick = "this.style.visibility = 'hidden'; chng_btn_val();" ng-if="preloadmore==true && filters!=true"><img ng-src="http://i.imgur.com/Y9I2fvH.png" /></a>
                        
                        <div class="cssload-container" ng-if="preloadmore!=true"> 
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <br />
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

    <!--Task Modal-->
    <div id="TaskfbfeedModal" class="modal">
        <div class="modal-content">
            <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
            <h4>Create Task</h4>
            <p></p>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="icon-pencil prefix"></i>
                            <textarea id="taskfbfeedComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                            <label for="LeaveComment">LEAVE A COMMENT</label>
                        </div>
                        <div class="col s4">
                            <span>ASSIGN TASK TO</span><br />
                            <div class="smartinbox_filter_slider">
                                <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                    <input name="member" type="radio" id="{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                    <label for="{{member.userId}}">{{ member.firstName}}</label>
                                </p>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addTask('MongoFacebookFeed')">Save</a>
            <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
        </div>
    </div>
</div>

   <!-- Compose Email Structure -->
<div id="ComposePostModal" class="modal">
    <div class="modal-content" style="padding-bottom: 0px;">
        <nav class="blue darken-4">
            <div class="nav-wrapper">
                <div class="left col s12 m5 l5">
                    <ul>
                        <!--<li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                        </li>-->
                        <li><span class="email-type">Re-post</span></li>

                    </ul>
                </div>
                <!--<div ng-init="disbtncom= {{disbtncom}}"></div>-->
                <div class="col s12 m7 l7 hide-on-med-and-down">
                    <ul class="right">
                        <li>
                            <div ng-show="disbtncom" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                            <div ng-show="!disbtncom"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                        </li>
                        <!--<li>
                            <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                        </li>-->
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="model-email-content" style="padding-top: 0px;">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="emoji-picker-container">
                            <textarea id="composeMessage" class="materialize-textarea" length="500" data-emojiable="true" placeholder="Type your msg">{{contentMessage.title}} </textarea>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col s12 m12 l12">
                        <p>Add your hashtag</p>
                    </div>
                    <div class="input-field col s12">
                        <input name="tags" id="tags" value="SocioBoard,SB,hashtag" />
                    </div>
                </div>-->
                <div class="row section">
                    <div class="col s12 m12 l12">
                        <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                    </div>
                    <input type="hidden" id="imageUrl" value="{{contentMessage.image}}" />
                    <div class="col s12 m12 l12">
                        <input type="file" id="composeImage" class="dropify" after-render data-default-file="{{contentMessage.image}}" />
                    </div>
                    <div class="col s12 m12 l12" ng-if="!contentMessage">
                        <input type="file" id="composeImage" class="dropify" after-render data-default-file="" />
                    </div>

                </div>
                <div class="row">
                    <!--<div class="input-field col s12">
            <select multiple id="composeProfiles">
                <option value="" disabled selected>Choose your option</option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
            </select>
        </div>-->
                    <div style="max-height:250px; overflow-y:scroll;">

                        <ul class="shinh" id="checkboxdataboard">
                            <li style="padding:5px 0;">
                                <label>
                                    <input id="checkAll" onclick="check();" type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" />
                                    <span style="float:left;">Check All</span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckboxboard" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/fb_icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckboxboard" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:2}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckboxboard" id="tw_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/twticon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:3} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckboxboard" id="lin_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:4}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckboxboard" id="Cmpylinpage_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img ng-src="/contents/socioboard/images/link_icon.png"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="row">
                    <div ng-init="draftbtn= {{draftbtn}}"></div>
                    <div>
                        <div ng-show="draftbtn" ng-click="draftMsg()" class="btn btn_style">Draft</div>
                        <div ng-show="!draftbtn"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                    </div>
                </div>-->

            </form>
        </div>
    </div>
</div>

<!-- END CONTENT -->

<!-- //////////////////////////////////////// Script Code //////////////////////////////////////// -->

<script>
        function chng_btn_val() {
            $('#gif').show();
        }

        function check() {
            debugger;
            var flag = $('#checkAll').is(":checked");
            $('#checkboxdataboard input:checkbox').each(function () {
                $(this).prop('checked', flag);
            });
        }

        function profile() {
            var count = 0;
            $("#checkboxdataboard :checkbox").each(function () {
                if (this.id != 'checkAll') {
                    if (!($("#" + this.id).prop('checked'))) {
                        count++;
                    }
                }
            });

            if (count > 0) {
                //alert("no "+count);
                $("#checkAll").prop('checked', false);
            }
            if (count == 0) {
                //alert("yess " + count);
                $("#checkAll").prop('checked', true);
            }
        }
</script>

<!-- //////////////////////////////////////// End Script Code //////////////////////////////////////// -->




<!-- //////////////////////////////////////// Style CSS for Pre Loader //////////////////////////////////////// -->


<style>
.cssload-container{
		background:rgb(255,255,255);
	}
	
	.cssload-container div {
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: rgb(204,204,204);
	top: 67%;
	border-radius: 50%;
}

.cssload-container div:nth-child(1) {
	background-color: rgb(13,71,161);
	animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
	background-color: rgb(13,71,161);
	animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
	background-color: rgb(13,71,161);
	animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
	background-color: rgb(13,71,161);
	animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-ms-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}
</style>

<style>
    ul.shinh li label {
        font-size: 14px;
        color: grey;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }
</style>

<style>
    .rssPostImage {
        width: 674px;
        max-height: 357px;
        overflow: hidden;
        border-radius: 5px;
        float: left;
        margin-top: 23px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
    }
</style>

<!-- //////////////////////////////////////// End Style CSS for Pre Loader //////////////////////////////////////// -->