    <div data-ng-controller="GooglePlusFeedsController">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                        <!--card widgets end-->
                        <div class="row">
                            <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                                <div class="card" id="feeds">
                                    <h5 class="feeds_title red darken-2 white-text"><i class="fa fa-google-plus"></i>Google plus Live feeds<!--<a class='dropdown-button btn btn_style right black white-text' href='javascript:void(0)' data-activates='dropdownFilter'><strong>&nbsp&nbspFilter&nbsp&nbsp</strong></a>--></h5>
                                    <!-- Dropdown Structure -->
                                    <ul id='dropdownFilter' class='dropdown-content'>
                                        <li><a href="javascript:void(0)" ng-click="LoadTopFeeds()">None</a></li>
                                        <li><a href="javascript:void(0)" ng-click="filterSearch('photo')">Image</a></li>
                                        <li><a href="javascript:void(0)" ng-click="filterSearch('album')">Album</a></li>
                                        <li><a href="javascript:void(0)" ng-click="filterSearch('article')">Article</a></li>
                                        <li><a href="javascript:void(0)" ng-click="filterSearch('note')">Note</a></li>
                                        <li><a href="javascript:void(0)" ng-click="filterSearch('event')">Event</a></li>
                                        <!--<li><a href="javascript:void(0)" ng-click="filterSearch('video')">Video</a></li>-->

                                    </ul>
                                    <ul class="collection gplusfeeds">
                                        <li class="collection-item avatar" ng-repeat="gplusfeed in lstGpFeeds">
                                          <img src="{{gplusfeed.fromProfileImage}}" alt="{{gplusfeed.fromUserName}}" class="circle">
                                          <span class="email-title">{{gplusfeed.fromUserName}}</span>
                                          <div class="row feeds_post z-depth-1 hoverable">
                                            <div class="col m8">
                                              <p class="break_word ultra-small">{{gplusfeed.title}}</p>
                                            </div>
                                            <div class="col m4 center" ng-if="gplusfeed.attachmentType=='photo'">
                                              <img src="{{gplusfeed.attachment}}" class="responsive-img ">
                                            </div>
                                              <div class="col m4 center" ng-if="gplusfeed.attachmentType=='article'">
                                                  <img src="{{gplusfeed.attachment}}" class="responsive-img ">
                                              </div>
                                              <div class="col m4 center" ng-if="gplusfeed.attachmentType=='event'">
                                                  {{gplusfeed.content}}
                                              </div>
                                          </div>                                         
                                          <a class="tooltipped secondary-content" data-position="left">{{gplusfeed.publishedDate}}</a>
                                        </li>
                                        <!--<div class="center">
                                          <div class="preloader-wrapper big active">
                                            <div class="spinner-layer spinner-blue">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-red">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-yellow">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-green">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>-->
                                        <div class="cssload-container" ng-if="preloadmorefeeds!=true">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <h6 style="margin-left:37%; color:lightgray; font-size:30px; font-family:Calibri" ng-if="nofeeds==true && filters!=true"><br /><br /><br /><br /><span><img style="margin-left:14%; width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />No posts to show<br /></h6>
                                    </ul>

                                </div>
                            </div>                                  
                        </div>
                <!--end container-->

               
                
            </section>
            <!-- END CONTENT -->   
    </div>


<!-- //////////////////////////////////////// Style CSS for Pre Loader //////////////////////////////////////// -->

<style>
    .cssload-container{
		background:rgb(255,255,255);
	}
	
	.cssload-container div {
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: rgb(255,255,255);
	top: 6%;
	border-radius: 50%;
}

.cssload-container div:nth-child(1) {
	background-color: rgb(211,47,47);
	animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
	background-color: rgb(211,47,47);
	animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
	background-color: rgb(211,47,47);
	animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
	background-color: rgb(211,47,47);
	animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-ms-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}
</style>

<!-- //////////////////////////////////////// End Style CSS for Pre Loader //////////////////////////////////////// -->
