    <div data-ng-controller="GooglePlusFeedsController">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                        <!--card widgets end-->
                        <div class="row">
                            <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                                <div class="card" id="feeds">
                                    <h5 class="feeds_title red darken-2 white-text"><i class="fa fa-google-plus"></i>Google plus Live feeds</h5>
                                    <ul class="collection gplusfeeds">
                                        <li class="collection-item avatar" ng-repeat="gplusfeed in lstGpFeeds">
                                          <img src="{{gplusfeed.fromProfileImage}}" alt="{{gplusfeed.fromUserName}}" class="circle">
                                          <span class="email-title">{{gplusfeed.fromUserName}}</span>
                                          <div class="row feeds_post z-depth-1 hoverable">
                                            <div class="col m8">
                                              <p class="break_word ultra-small">{{gplusfeed.title}}</p>
                                            </div>
                                            <div class="col m4 center" ng-if="gplusfeed.attachmentType=='photo'">
                                              <img src="{{gplusfeed.attachment}}" class="responsive-img ">
                                            </div>
                                              <div class="col m4 center" ng-if="gplusfeed.attachmentType=='article'">
                                                  <img src="{{gplusfeed.attachment}}" class="responsive-img ">
                                              </div>
                                              <div class="col m4 center" ng-if="gplusfeed.attachmentType=='event'">
                                                  {{gplusfeed.content}}
                                              </div>
                                          </div>                                         
                                          <a class="tooltipped secondary-content" data-position="left">{{gplusfeed.publishedDate}}</a>
                                        </li>
                                        <!--<div class="center">
                                          <div class="preloader-wrapper big active">
                                            <div class="spinner-layer spinner-blue">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-red">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-yellow">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-green">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>-->
                                    </ul>

                                </div>
                            </div>                                  
                        </div>
                <!--end container-->

               
                
            </section>
            <!-- END CONTENT -->   
    </div>
