    <div data-ng-controller="InstagramFeedsController">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                        <!--card widgets end-->
                        <div class="row">
                            <div class="col offset-s1 s10 offset-m2 m8 offset-l2 l6">
                                <div class="card" id="feeds">
                                    <h5 class="feeds_title instagram_color white-text"><i class="fa fa-instagram"></i>Instagram Live feeds<a class='dropdown-button right white-text' href='javascript:void(0)' data-activates='dropdownFilter'><i class="fa fa-filter"></i></a><a class='dropdown-button right white-text' href='javascript:void(0)' data-activates='dropdownSort'><i class="fa fa-sort"></i></a></h5>
                                    <!-- Dropdown Structure -->
                                    <div ng-if="dropCalled==true">
                                        <ul id='dropdownFilter' class='dropdown-content'>
                                            <li><a href="javascript:void(0)" ng-click="LoadTopFeeds()">None</a></li>
                                            <li><a href="javascript:void(0)" ng-click="filterSearch('image')">Image</a></li>
                                            <li><a href="javascript:void(0)" ng-click="filterSearch('video')">Video</a></li>
                                        </ul>
                                    </div>

                                    <div ng-if="dropCalled==true">
                                        <ul id='dropdownSort' class='dropdown-content'>
                                            <li><a href="javascript:void(0)" ng-click="LoadTopFeeds()">None</a></li>
                                            <li><a href="javascript:void(0)" ng-click="sortSearch('mLikes')">Most Likes</a></li>
                                            <li><a href="javascript:void(0)" ng-click="sortSearch('mComments')">Most Comments</a></li>
                                            <li><a href="javascript:void(0)" ng-click="sortSearch('lLikes')">Least Likes</a></li>
                                            <li><a href="javascript:void(0)" ng-click="sortSearch('lComments')">Least Comments</a></li>
                                        </ul>
                                    </div>

                                    <ul class="collection instagramfeeds">
                                        <li class="collection-item" ng-repeat="insfeed in lstinsFeeds "myRepeatTabDirective>
                                          <div class="card">
                                             
                                              <!--<div class="card-image waves-effect waves-block waves-light" ng-if="insfeed._InstagramFeed.type=='image'">-->
                                              <div class="card-image waves-effect waves-block waves-light">
                                                  <img class="activator" src="{{insfeed.feedImageUrl}}" alt="imgs">
                                              </div>
                                              <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">{{insfeed.adminUser}}<i class="mdi-navigation-more-vert right"></i></span>
                                                  <p>
                                                      <a ng-if="insfeed.isLike==0" ng-click="InstagramLikeUnLike(insfeed.likeCount,insfeed.isLike,insfeed.feedId,insfeed.instagramId)"><i class="icon-heart red-text"></i>{{insfeed.likeCount}} likes</a>
                                                      <a ng-if="insfeed.isLike==1" ng-click="InstagramLikeUnLike(insfeed.likeCount,insfeed.isLike,insfeed.feedId,insfeed.instagramId)"><i class="fa fa-heart red-text"></i>{{insfeed.likeCount}} likes</a>
                                                      {{insfeed.commentCount}} Comments

                                                  </p>
                                                  <a ng-click="TaskModal(insfeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" data-tooltip="Task" style="margin-left: 3%;">
                                                      <i class="icon-pin"></i>
                                                  </a>
                                              </div>
                                              <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">{{insfeed.adminUser}}<i class="mdi-navigation-close right"></i></span>
                                                <p ng-if="insfeed.feed!=null">{{insfeed.feed}}</p>
                                                <div>
                                                  <ul class="collection instagramcommand">
                                                    <li class="collection-item avatar" ng-repeat="inscomment in insfeed._InstagramComment">
                                                      <img src="{{inscomment.fromProfilePic}}" alt="Chanchal Santra" class="circle">
                                                      <span class="email-title">{{inscomment.fromName}}</span>
                                                      <div class="feeds_post z-depth-1 hoverable">
                                                          <p class="break_word ultra-small">{{inscomment.comment}}</p>
                                                      </div>                                         
                                                      <a class="tooltipped secondary-content" data-position="left">{{inscomment.commentDate}}</a>
                                                    </li>
                                                    
                                                  </ul>
                                                    <div class="row">
                                                      <form class="col s12">
                                                        <div class="row">
                                                          <div class="input-field col s10">
                                                            <textarea id="postcomment{{insfeed.feedId}}" class="materialize-textarea"></textarea>
                                                            <label for="icon_prefix2">Add a comment…</label>
                                                          </div>
                                                            <!--<div ng-init="dispbtn= {{dispbtn}}"></div>-->
                                                          <div ng-show="dispbtn" class="col s2" ng-click="AddInstagramComment(insfeed.feedId,insfeed.instagramId)">
                                                            <i class="icon-cursor instagram_text_color"></i>
                                                          </div>
                                                            <div ng-show="!dispbtn" class="col s2">
                                                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                                            </div>
                                                        </div>
                                                      </form>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                        </li>

                                        <h6 style="margin-left:31%; color:lightgray; font-size:20px" ng-if="endfeeds==true && filters!=true">No more Feeds to load</h6>

                                        <div class="center" id="load_circle_insta" ng-class="loadmorefeeds" hidden>
                                          <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-blue">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-red">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-yellow">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-green">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <a href="" ng-click="listData()" style="margin-left:41%" onClick="this.style.visibility = 'hidden'; loadmore_feeds();" ng-if="preloadmorefeeds==true && filters!=true"><img src="http://i.imgur.com/qJdCRuG.png" /></a>
                                        
                                        <br />
                                        
                                        <div class="cssload-container" ng-if="preloadmorefeeds!=true">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </ul>
                                </div>
                            </div>                                  
                        </div>
                <!--end container-->


                <div id="TaskModal" class="modal">
                    <div class="modal-content">
                        <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                        <h4>Create Task</h4>
                        <p></p>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s8">
                                        <i class="icon-pencil prefix"></i>
                                        <textarea id="InstagramFeedComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                                        <label for="LeaveComment" class="active">LEAVE A COMMENT</label>
                                    </div>
                                    <div class="col s4">
                                        <span>ASSIGN TASK TO</span><br />
                                        <div class="smartinbox_filter_slider">
                                            <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                                <input name="member" type="radio" id="{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                                <label for="{{member.userId}}">{{ member.firstName}}</label>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addTask('InstagramFeed')">Save</a>
                        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->   
    </div>

<!-- //////////////////////////////////////// Script Code //////////////////////////////////////////// -->

<script>
        function loadmore_feeds() {
            $('#load_circle_insta').show();
        }
</script>

<!-- //////////////////////////////////////// End Script Code //////////////////////////////////////// -->

<!-- //////////////////////////////////////// Style CSS for Pre Loader //////////////////////////////////////// -->

<style>
    .cssload-container{
		background:rgb(255,255,255);
	}
	
	.cssload-container div {
	width: 27px;
	height: 27px;
	position: absolute;
	background-color: rgb(204,204,204);
	top: 5%;
	border-radius: 50%;
}

.cssload-container div:nth-child(1) {
	background-color: rgb(190,3,156);
	animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
	background-color: rgb(239,9,21);
	animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
	background-color: rgb(255,60,0);
	animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
	background-color: rgb(250,181,28);
	animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-ms-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}
</style>

 <!--//////////////////////////////////////// End Style CSS for Pre Loader ////////////////////////////////////////--> 