    <div data-ng-controller="InstagramFeedsController">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                        <!--card widgets end-->
                        <div class="row">
                            <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                                <div class="card" id="feeds">
                                    <h5 class="feeds_title instagram_color white-text"><i class="fa fa-instagram"></i>Instagram Live feeds</h5>
                                    <ul class="collection instagramfeeds">
                                        <li class="collection-item" ng-repeat="insfeed in lstinsFeeds">
                                          <div class="card">
                                             
                                              <div class="card-image waves-effect waves-block waves-light" ng-if="insfeed._InstagramFeed.type=='image'">
                                                <img class="activator" src="{{insfeed._InstagramFeed.feedImageUrl}}" alt="imgs">
                                              </div>
                                              <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">{{insfeed._InstagramFeed.adminUser}}<i class="mdi-navigation-more-vert right"></i></span>
                                                <p ><a ng-click="InstagramLikeUnLike(insfeed._InstagramFeed.likeCount,insfeed._InstagramFeed.isLike,insfeed._InstagramFeed.feedId,insfeed._InstagramFeed.instagramId)"><i class="icon-heart red-text"></i>{{insfeed._InstagramFeed.likeCount}} likes</a>
                                                    {{insfeed._InstagramFeed.commentCount}} Comments
                                                    
                                                </p>
                                                  <a ng-click="TaskModal(insfeed._InstagramFeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" data-tooltip="Task" style="margin-left: 3%;">
                                                      <i class="icon-pin"></i>
                                                  </a>
                                              </div>
                                              <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">{{insfeed._InstagramFeed.adminUser}}<i class="mdi-navigation-close right"></i></span>
                                                <p ng-if="insfeed._InstagramFeed.feed!=null">{{insfeed._InstagramFeed.feed}}</p>
                                                <div>
                                                  <ul class="collection instagramcommand">
                                                    <li class="collection-item avatar" ng-repeat="inscomment in insfeed._InstagramComment">
                                                      <img src="{{inscomment.fromProfilePic}}" alt="Chanchal Santra" class="circle">
                                                      <span class="email-title">{{inscomment.fromName}}</span>
                                                      <div class="feeds_post z-depth-1 hoverable">
                                                          <p class="break_word ultra-small">{{inscomment.comment}}</p>
                                                      </div>                                         
                                                      <a class="tooltipped secondary-content" data-position="left">{{inscomment.commentDate}}</a>
                                                    </li>
                                                    
                                                  </ul>
                                                    <div class="row">
                                                      <form class="col s12">
                                                        <div class="row">
                                                          <div class="input-field col s10">
                                                            <textarea id="postcomment" class="materialize-textarea"></textarea>
                                                            <label for="icon_prefix2">Add a comment…</label>
                                                          </div>
                                                          <div class="col s2" ng-click="AddInstagramComment(insfeed._InstagramFeed.feedId,insfeed._InstagramFeed.instagramId)">
                                                            <i class="icon-cursor instagram_text_color"></i>
                                                          </div>
                                                        </div>
                                                      </form>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                        </li>
                                       

                                        <div class="center">
                                          <div class="preloader-wrapper big active">
                                            <div class="spinner-layer spinner-blue">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-red">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-yellow">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>

                                            <div class="spinner-layer spinner-green">
                                              <div class="circle-clipper left">
                                                <div class="circle"></div>
                                              </div><div class="gap-patch">
                                                <div class="circle"></div>
                                              </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </ul>

                                </div>
                            </div>                                  
                        </div>
                <!--end container-->

                <!-- Compose Email Trigger -->
                <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                  <a class="btn-floating btn-large red modal-trigger" href="#ComposePostModal">
                    <i class="large mdi-editor-mode-edit"></i>
                  </a>
                </div>

                <!-- Compose Email Structure -->
                <div id="ComposePostModal" class="modal">
                  <div class="modal-content">
                    <nav class="red">
                      <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                          <ul>
                            <li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                            </li>
                            <li><a href="#!" class="email-type">Compose</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                          <ul class="right">
                            <li><a href="#!"><i class="mdi-editor-attach-file"></i></a>
                            </li>
                            <li><a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                            </li>
                            <li><a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </nav>
                  </div>
                  <div class="model-email-content">
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                             <div class="input-field col s12">
                            <select multiple>
                              <option value="" disabled selected>Choose your profile</option>
                              <option value="1"><span class="fa fa-facebook"></span>Chanchal</option>
                              <option value="2" data-icon="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg" class="circle">Profile_2</option>
                              <option value="3">Profile_3</option>
                            </select>
                            <label>Select Profiles</label>
                          </div>
                        </div>
                          <!--Default version-->
                        <div class="row section">
                          <div class="col s12 m4 l3">
                             <p>Select your file</p>
                          </div>
                          <div class="col s12 m8 l9">
                              <input type="file" id="input-file-now" class="dropify" data-default-file="" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                            <label for="compose">Compose email</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>


                <div id="TaskModal" class="modal">
                    <div class="modal-content">
                        <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                        <h4>Create Task</h4>
                        <p></p>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s8">
                                        <i class="icon-pencil prefix"></i>
                                        <textarea id="InstagramFeedComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                                        <label for="LeaveComment">LEAVE A COMMENT</label>
                                    </div>
                                    <div class="col s4">
                                        <span>ASSIGN TASK TO</span><br />
                                        <div class="smartinbox_filter_slider">
                                            <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                                <input name="member" type="radio" id="{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                                <label for="{{member.userId}}">{{ member.firstName}}</label>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addTask('InstagramFeed')">Save</a>
                        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->   
    </div>
