 <div data-ng-controller="PinterestBoardsController">
        <!-- Page name -->
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <h4>Pinterest Boards</h4>
                </div>
                <div class="col l2 m2 s12 center">
                    <img src="{{lstpinboards._PinterestAccount.profileimgaeurl}}" class="responsive-img circle">
                </div>
                <div class="col l10 m10 s12">
                    <h4 class="grey-text text-darken-4">{{lstpinboards._PinterestAccount.firstname}} {{lstpinboards._PinterestAccount.lastname}}</h4>
                    <h5>Following : <strong class="pink-text text-darken-1">{{lstpinboards._PinterestAccount.followingcount}}</strong></h5>
                    <h5>Followers : <strong class="pink-text text-darken-1">{{lstpinboards._PinterestAccount.followerscount}}</strong></h5>
                    <h5>Description : <strong class="pink-text text-darken-1">{{lstpinboards._PinterestAccount.bio}}</strong></h5>
                    <a href="#/pinterestfeeds/{{lstpinboards._PinterestAccount.username}}" class="btn btn_style pink white-text">Pins</a>
                    <a href="#/pinterestlikes/{{lstpinboards._PinterestAccount.username}}" class="btn btn_style pink white-text">Likes</a>
                </div>
            </div>
        </div>
        <!-- statr products list -->
        <div class="row">
            <div class="col l3 m3 s12">
                <div class="card pin_board_h">
                    <div class="card-content">
                        <div class="row no-space">
                            <div class="col s12 center">
                                <a href="#CreateBoardModal" class="modal-trigger"> 
                                    <i class="fa fa-plus-circle fa-5x pink-text text-darken-1" aria-hidden="true"></i>
                                </a>
                                <p class="card-title grey-text text-darken-4">
                                    <a href="#CreateBoardModal" class="truncate modal-trigger grey-text text-darken-4">Create Board</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 m3 s12" ng-repeat="pinboards in lstpinboards.lstMongoPinterestBoard">                
                <div class="card pin_board_h">
                    <div class="card-content">
                        <div class="row no-space">
                            <div class="col s12 center">
                                <p class="card-title grey-text text-darken-4 margin-top-20">
                                    <a href="#/pinterestboardpin/{{pinboards.boardid}}"  class="truncate grey-text text-darken-4"><strong>{{pinboards.boardname}}</strong></a>
                                </p>
                                <span class="grey-text text-darken-1">{{pinboards.pinscount}} pins</span>
                                <span class="grey-text text-darken-1">{{pinboards.followerscount}} followers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!--/ end items list -->


        <!-- CreateBoardModal  -->
        <div id="CreateBoardModal" class="modal" style="width: 450px;">
            <div class="modal-content">
                <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-pink btn-flat right"><i class="icon-close"></i></a>
                <h4>Create board</h4>
                <form name="myForm">
                    <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="ex: Socioboard" id="Boardname" name="boardname" ng-model="boardname" type="text" class="validate" required >
                          <label for="Board Name">Name</label>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.boardname.$error.required">
                                Required!
                            </span>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="ex: Socioboard" id="Boarddescription" type="text" class="validate" required >
                            <label for="Board Name">Description</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button ng-disabled="myForm.boardname.$error.required" ng-click="CreateBoard(lstpinboards._PinterestAccount.profileid)" class="pink darken-2 white-text modal-action waves-effect waves-pink btn-flat">Create</button>
            </div>
        </div>

</div>
   