<div data-ng-controller="PinterestLikesController">
    <!-- Page name -->
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h4>Pinterest Likes</h4>
            </div>
            <div class="col l2 m2 s12 center">
                <img src="{{lstlikes._PinterestAccount.profileimgaeurl}}" class="responsive-img circle">
            </div>
            <div class="col l10 m10 s12">
                <h4 class="grey-text text-darken-4">{{lstlikes._PinterestAccount.firstname}} {{lstlikes._PinterestAccount.lastname}}</h4>
                <h5>Following : <strong class="pink-text text-darken-1">{{lstlikes._PinterestAccount.followingcount}}</strong></h5>
                <h5>Followers : <strong class="pink-text text-darken-1">{{lstlikes._PinterestAccount.followerscount}}</strong></h5>
                <a href="#/pinterestboards/{{lstlikes._PinterestAccount.username}}" class="btn btn_style pink white-text">Boards</a>
                <a href="#/pinterestfeeds/{{lstlikes._PinterestAccount.username}}" class="btn btn_style pink white-text">Pins</a>
            </div>
        </div>
    </div>

    <!-- statr pins_board list -->
    <div id="pins_board" class="row">
        <div class="product-sizer"></div>
        <!-- all post -->
        <div class="product" ng-repeat="userlikes in lstlikes.lstMongoPinterestUserLikes" my-repeat-feed-timeout-directive>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{userlikes.url}}" target="_blank" class="btn-floating btn-large btn-pin waves-effect waves-light pink darken-1"><span><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>{{userlikes.repinscount}}</span></a>
                    <a href="{{userlikes.url}}" target="_blank">
                        <img src="{{userlikes.imageurl}}" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">
                    <div class="row">
                        <div class="col s8 margin-top-10">
                            <p class="card-title grey-text text-darken-4">
                                <a href="{{userlikes.creatorurl}}" class="grey-text text-darken-4"><i class="fa fa-pinterest-p fa-fw red-text"></i>@{{userlikes.boardname}}</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding center">
                            <a href="{{userlikes.creatorurl}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>{{userlikes.metasite_name}}</span>
                    <p>{{userlikes.metatitle}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--/ end items list -->
</div>
