<div data-ng-controller="TwitterFeedsController">
    <!-- START CONTENT -->
    <section id="content">
        <div class="row">
            <div class="row">
                <!--twitter feeds start-->
                <div class="col s6 m6 l6">
                    <div class="card" id="feeds">
                        <h5 class="feeds_title blue lighten-3 white-text"><i class="icon-social-twitter"></i>Feeds<a class='dropdown-button right white-text btn_style black' href='javascript:void(0)' data-activates='dropdownFilter' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px; text-align:center">{{filterrTxtt}}</a><span class="right">&nbsp;</span>
                        <a class='dropdown-button right white-text btn_style black' href='javascript:void(0)' data-activates='dropdownSort' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px; text-align:center">{{SorttTxtt}}</a><span class="right">&nbsp;</span>
                        <a class='right white-text btn_style black' ng-click="ReLoadingTopFeeds()" title="Recent feeds" href='javascript:void(0)' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px; text-align:center">Recent</a><span class="right">&nbsp;</span>
                        <a class='right white-text btn_style  blue darken-2' ng-click="ReconnectTwt()" title="Recent feeds" href='javascript:void(0)' style="font-size: 14px;height: 28px;line-height: 27px;border-radius: 4px; text-align:center">Reconnect</a><span class="right">&nbsp;</span></h5>
                        <!-- Dropdown Structure -->
                        <div ng-if="dropCalled==true">
                            <ul id='dropdownFilter' class='dropdown-content'>
                                <li><a href="javascript:void(0)" style="color:black"><strong>Filter</strong></a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('status', 'Status')">Status</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('photo', 'Image')">Image</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('video', 'Video')">Video</a></li>
                                <li><a href="javascript:void(0)" ng-click="filterSearch('animated_gif', 'GIF')">GIF</a></li>
                            </ul>
                        </div>

                        <div ng-if="dropCalled==true">
                            <ul id='dropdownSort' class='dropdown-content'>
                                <li><a href="javascript:void(0)" style="color:black"><strong>Popular</strong></a></li>
                                <li><a href="javascript:void(0)" ng-click="ShortSearch('maxlike', 'Max Like')">Max Like</a></li>
                                <li><a href="javascript:void(0)" ng-click="ShortSearch('maxretweet', 'Max Retweet')">Max Retweet</a></li>
                                <li><a href="javascript:void(0)" ng-click="ShortSearch('leastlike', 'Least Like')">Least Like</a></li>
                                <li><a href="javascript:void(0)" ng-click="ShortSearch('leastretweet', 'Least Retweet')">Least Retweet</a></li>
                            </ul>
                        </div>

                        <ul class="collection twtfeeds" ng-lazy-scroll="listData()" lazy-scroll-trigger="40" lazy-no-scroll="false">
                            <li class="collection-item avatar" ng-repeat="twtfeed in lstTwtFeeds">
                                <img src="{{twtfeed.fromProfileUrl}}" alt="{{twtfeed.fromName}}" class="circle">
                                <span class="email-title">{{twtfeed.fromName}}</span>
                                <div class="row feeds_post">
                                    <div class="col m8">
                                        <a class="break_word ultra-small black-text" href="https://twitter.com/{{twtfeed.screenName}}/status/{{twtfeed.messageId}}" target="_blank">{{twtfeed.feed}}</a>
                                    </div>
                                    <div class="col m4 center">
                                        <img src="{{twtfeed.mediaUrl}}" ng-if="twtfeed.mediaUrl!=''" class="responsive-img ">
                                    </div>
                                </div>
                                <a class="tooltipped secondary-content" data-position="left">{{twtfeed.feedDate}}</a>
                                <div class="row" ng-if="user.TrailStatus!=2">
                                    <div class="col l2 s2">
                                        <span ng-click="twitterretweet(twtfeed.screenName,twtfeed.profileId,twtfeed.messageId)">
                                            <i class="fa fa-retweet fa-fw"></i><span>{{twtfeed.retweetcount | thousandSuffix:1}}</span>
                                        </span>
                                    </div>
                                    <div class="col l1 s2">
                                        <span ng-click="twitterfavorite(twtfeed.screenName,twtfeed.profileId,twtfeed.messageId)">
                                            <i class="fa fa-star fa-fw"></i><span>{{twtfeed.likecount | thousandSuffix:1}}</span>
                                        </span>
                                    </div>
                                    <div class="col l3 s1">
                                        <span>
                                            <i class="fa fa-envelope fa-fw"></i> Email</span>
                                    </div>
                                    <div class="col l1 s1">
                                        <span ng-click="markSpam(twtfeed.fromScreenName,twtfeed.profileId)">
                                            <i class="fa fa-bug fa-fw"></i>
                                        </span>
                                    </div>
                                    <div class="col l1 s1">
                                        <span ng-click="twitterreply(twtfeed.fromName,twtfeed.profileId,twtfeed.messageId)">
                                            <i class="fa fa-share fa-fw"></i>
                                        </span>
                                    </div>
                                    <div class="col l1 s1">
                                        <span ng-click="tasktwtfeedModel(twtfeed)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" style="margin-left: 3%;">
                                            <i class="icon-pin"></i>
                                        </span>
                                    </div>
                                    <div class="col l3 s3">
                                        <a ng-click="openComposeMessage(twtfeed)" class="right black-text">
                                            <i class="fa fa-retweet fa-fw " aria-hidden="true"></i> Re-Socio
                                        </a>
                                    </div>
                                </div>
                                <div> 
                                    <!--<a class="waves-effect waves-light  modal-trigger" ng-click="twitterreply(twtfeed.screenName,twtfeed.profileId,twtfeed.messageId)"><i class="fa fa-share fa-fw"></i></a>-->
                                    <!--<span ng-click="twitterreply(twtfeed.screenName,twtfeed.profileId,twtfeed.messageId)">
                                        <i class="fa fa-share fa-fw"></i>
                                    </span>-->
                                </div>
                            </li>

                            <div class="center" id="load_circle_feed" ng-class="loaderclassfeed" hidden>
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-yellow">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-green">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h6 style="margin-left:32%; color:lightgray; font-size:20px" ng-if="endtwfeeds==true && filters!=true">No more Feeds to load</h6>

                            <a href="" ng-click="listData1()" style="margin-left:40%" onClick="this.style.visibility = 'hidden'; loadmore_feeds();" ng-if="preloadmorefeeds==true && filters!=true"><img src="http://i.imgur.com/rTD8xIS.png" /></a>
                            <br />
                            <div class="cssload-container" ng-if="preloadmorefeeds!=true">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <br />
                            </div>

                        </ul>
                       
                    </div>
                </div>
                <!--twitter feeds end-->

                <!--twitter tweets start-->
                <div class="col s6 m6 l6">
                    <div class="card" id="feeds">
                        <h5 class="feeds_title blue lighten-3 white-text"><i class="icon-social-twitter"></i>Tweets</h5>
                        <ul class="collection twtfeeds" ng-lazy-scroll="listData()" lazy-scroll-trigger="40" lazy-no-scroll="false">
                            <li class="collection-item avatar" ng-repeat="tweet in lstUserTweets">
                                <img src="{{tweet.fromProfileUrl}}" alt="{{tweet.fromName}}" class="circle">
                                <span class="email-title">{{tweet.fromName}}</span>
                                <div class="row feeds_post">
                                    <div class="col m8">
                                        <a class="break_word ultra-small black-text" href="https://twitter.com/{{tweet.screenName}}/status/{{tweet.messageId}}" target="_blank">{{tweet.twitterMsg}}</a>
                                    </div>
                                    <div class="col m4 center">
                                        <img src="{{tweet.mediaUrl}}" ng-if="tweet.mediaUrl != ''" class="responsive-img ">
                                    </div>
                                </div>
                                <a class="tooltipped secondary-content" data-position="left" data-tooltip="{{tweet.messageDate}}">{{tweet.messageDate}}</a>

                                <span ng-if="user.TrailStatus!=2" ng-click="tasktwttweetModel(tweet)" data-tooltip-id="9b92f7d1-8f4a-65f2-786e-cdcc587cd805" class="tooltipped modal-trigger" href="javascript:void(0);" data-position="top" data-delay="50" style="margin-left: 3%;">
                                    <i class="icon-pin"></i>
                                </span>
                            </li>

                                             <div class="center" id="load_circle_twt" ng-class="loaderclasstwt" hidden>
                                                <div class="preloader-wrapper small active">
                                                    <div class="spinner-layer spinner-blue">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>

                                                    <div class="spinner-layer spinner-red">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>

                                                    <div class="spinner-layer spinner-yellow">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>

                                                    <div class="spinner-layer spinner-green">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                            <h6 style="margin-left:32%; color:lightgray; font-size:20px" ng-if="endtwtweets==true">No more Tweets to load</h6>

                            <a href="" ng-click="listData()" style="margin-left:42%" onClick="this.style.visibility = 'hidden'; loadmore_tweets();" ng-if="preloadmoretweets==true"><img src="http://i.imgur.com/rTD8xIS.png" /></a>
                            <br />
                            <div class="cssload-container" ng-if="preloadmoretweets!=true">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <br />
                            </div>
                            
                        </ul>

                    </div>
                </div>
                <!--twitter tweets end-->
            </div>

           
        </div>

    </section>
    <!-- END CONTENT -->
    <div class="modal" id="Tiwtter_Modal">
        <div class="modal-content">
            <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
            <h4>Public Reply</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea id="comment_text" class="materialize-textarea"></textarea>
                            <label for="twt_text">Write your reply here</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat btn" id="leaveCommentReply" ng-click="saveCommentReply()">Reply</a>
            <!--<a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a></div>-->
        </div>
        <!--start modal codes to twitter reply -->
        <!--<script id="twitterModalContent.html" type="text/ng-template">
            <div class="modal" modal="showModal" id="Tiwtter_Modal" style="z-index: 1005; display: block; opacity: 1; transform: scaleX(1); top: 10%;">
                <div class="modal-content">
                    <div class="modal-header model_head">
                        <button class="close" ng-click="closeModal()" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 id="myModalLabel" class="modal-title">Public Reply</h4>
                    </div>
                    <div class="modal-body">
                        <textarea placeholder="Write your reply here" style="resize:none" rows="3" class="form-control" id="comment_text"></textarea>
                    </div>
                    <div class="modal-footer" id="leaveCommentReply"><button ng-click="saveCommentReply()" class="btn btn-primary" type="button">Reply</button></div>
                </div>
            </div>
            <div class="modal" id="Tiwtter_Modal" modal="showModal" style="z-index: 1005; display: block; opacity: 1; transform: scaleX(1); top: 10%;">
                <div class="modal-content">
                    <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                    <h4>Public Reply</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea id="comment_text" class="materialize-textarea"></textarea>
                                    <label for="twt_text">Write your reply here</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn" id="leaveCommentReply" ng-click="saveCommentReply()">Reply</a>
                </div>
            </div>
        </script>-->
    </div>

        <!--end modal codes to twitter reply -->
        <!--Task Modal-->
        <div id="TasktwtfeedModal" class="modal">
            <div class="modal-content">
                <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                <h4>Create Task</h4>
                <p></p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s8">
                                <i class="icon-pencil prefix"></i>
                                <textarea id="tasktwtfeedComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                                <label for="LeaveComment" class="active">LEAVE A COMMENT</label>
                            </div>
                            <div class="col s4">
                                <span>ASSIGN TASK TO</span><br />
                                <div class="smartinbox_filter_slider">
                                    <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                        <input name="member" type="radio" id="{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                        <label for="{{member.userId}}">{{ member.firstName}}</label>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addtwtfeedTask('MongoTwitterFeed')">Save</a>
                <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
            </div>
        </div>

        <div id="TasktwttweetModal" class="modal">
            <div class="modal-content">
                <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                <h4>Create Task</h4>
                <p></p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s8">
                                <i class="icon-pencil prefix"></i>
                                <textarea id="tasktwttweetComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                                <label for="LeaveComment" class="active">LEAVE A COMMENT</label>
                            </div>
                            <div class="col s4">
                                <span>ASSIGN TASK TO</span><br />
                                <div class="smartinbox_filter_slider">
                                    <p class="grey lighten-5 z-depth-1" ng-repeat="member in groups[groupIndex].members |filter:{memberStatus:1} ">
                                        <input name="member" type="radio" id="twt{{member.userId}}" value="{{member.userId}}" class="with-gap task-user-member" />
                                        <label for="twt{{member.userId}}">{{ member.firstName}}</label>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" ng-click="addtwttweetTask('MongoTwitterMessage')">Save</a>
                <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeModal()">Close</a>
            </div>
        </div>

    </div>



<!-- Compose Email Structure -->
<div id="ComposePostModal" class="modal">
    <div class="modal-content" style="padding-bottom: 0px;">
        <nav class="blue lighten-3">
            <div class="nav-wrapper">
                <div class="left col s12 m5 l5">
                    <ul>
                        <!--<li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                        </li>-->
                        <li><span class="email-type">Re-Socio</span></li>

                    </ul>
                </div>
                <div ng-init="disbtncom= {{disbtncom}}"></div>
                <div class="col s12 m7 l7 hide-on-med-and-down">
                    <ul class="right">
                        <li>
                            <div ng-show="disbtncom" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                            <div ng-show="!disbtncom"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                        </li>
                        <!--<li>
                            <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                        </li>-->
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="model-email-content" style="padding-top: 0px;">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="emoji-picker-container">
                            <textarea id="composeMessage" class="materialize-textarea" length="500" data-emojiable="true" placeholder="Type your msg">{{contentMessage.title}} </textarea>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col s12 m12 l12">
                        <p>Add your hashtag</p>
                    </div>
                    <div class="input-field col s12">
                        <input name="tags" id="tags" value="SocioBoard,SB,hashtag" />
                    </div>
                </div>-->
                <div class="row section">
                    <div class="col s12 m12 l12">
                        <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                    </div>
                    <input type="hidden" id="imageUrl" value="{{contentMessage.image}}" />
                    <div class="col s12 m12 l12">
                        <input type="file" id="composeImage" class="dropify" after-render data-default-file="{{contentMessage.image}}" />
                    </div>
                    <div class="col s12 m12 l12" ng-if="!contentMessage">
                        <input type="file" id="composeImage" class="dropify" after-render data-default-file="" />
                    </div>

                </div>
                <div class="row">
                    <!--<div class="input-field col s12">
            <select multiple id="composeProfiles">
                <option value="" disabled selected>Choose your option</option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
            </select>
        </div>-->
                    <div style="max-height:250px; overflow-y:scroll;">

                        <ul class="shinh" id="checkboxdata">
                            <li style="padding:5px 0;">
                                <label>
                                    <input id="checkAll" onclick="check();" type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" />
                                    <span style="float:left;">Check All</span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckbox" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                     <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img src="/contents/socioboard/images/fb_icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckbox" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                     <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:2}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckbox" id="tw_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img src="/contents/socioboard/images/twticon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:3} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckbox" id="lin_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                    <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img src="/contents/socioboard/images/link_icon.png"></span>
                                </label>
                            </li>
                            <li ng-repeat="profile in lstProfiles | filter:{profileType:4}" style="padding:5px 0;">
                                <label>
                                    <input onclick="profile();" name="selector[]" class="subcheckbox" id="Cmpylinpage_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                    <img src="{{profile.profilePic}}" style="width:20px;float:left;margin-right: 5px;" />
                                     <span style="float:left;">{{profile.profileName}}</span>
                                    <span style="float:right;"><img src="/contents/socioboard/images/link_icon.png"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="row">
                    <div ng-init="draftbtn= {{draftbtn}}"></div>
                    <div>
                        <div ng-show="draftbtn" ng-click="draftMsg()" class="btn btn_style">Draft</div>
                        <div ng-show="!draftbtn"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                    </div>
                </div>-->

            </form>
        </div>
    </div>
</div>

<!-- END CONTENT -->



<!-- //////////////////////////////////////// Script Code //////////////////////////////////////////// -->

<script>
        function loadmore_tweets() {
            $('#load_circle_twt').show();
        }
        function loadmore_feeds() {
            $('#load_circle_feed').show();
        }

        function check() {
            debugger;
            var flag = $('#checkAll').is(":checked");
            $('#checkboxdata input:checkbox').each(function () {
                $(this).prop('checked', flag);
            });
        }

        function profile() {
            var count = 0;
            $("#checkboxdata :checkbox").each(function () {
                if (this.id != 'checkAll') {
                    if(!($("#" + this.id).prop('checked'))){
                      count++;
                    }                    
                }
            });

            if (count > 0) {
                //alert("no "+count);
                $("#checkAll").prop('checked', false);
            }
            if (count == 0) {
                //alert("yess " + count);
                $("#checkAll").prop('checked', true);
            }
        }
</script>

<!-- //////////////////////////////////////// End Script Code //////////////////////////////////////// -->

<!-- //////////////////////////////////////// Style CSS for Pre Loader /////////////////////////////// -->

<style>
    .cssload-container{
		background:rgb(255,255,255);
	}
	
	.cssload-container div {
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: rgb(255,255,255);
	top: 5%;
	border-radius: 50%;
}

.cssload-container div:nth-child(1) {
	background-color: rgb(144,202,249);
	animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
	background-color: rgb(144,202,249);
	animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 195ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
	background-color: rgb(144,202,249);
	animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 390ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
	background-color: rgb(144,202,249);
	animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-o-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-ms-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-webkit-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
		-moz-animation: cssload-move 2.6s 585ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-ms-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes cssload-move {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}
</style>


<style>
    ul.shinh li label {
        font-size: 14px;
        color: grey;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }
</style>

<!-- //////////////////////////////////////// End Style CSS for Pre Loader /////////////////////////// -->
    