  <!-- START MAIN -->
<div data-ng-controller="MyTaskController">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                <div id="mail-app" class="section">
                    <div class="row">
                        <div class="col s12">
                            <nav class="blue">
                                <div class="nav-wrapper">
                                    <div class="left col s12 m5 l5">
                                        <ul>
                                            <li>
                                                <h5 class="email-type">My Task</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m7 l7 hide-on-med-and-down">
                                        <ul class="right">
                                            <li>
                                                <a ng-click="markTaskCompleted()"><i class="icon-check"></i></a>
                                            </li>
                                            <li>
                                                <a ng-click="deleteTask()"><i class="icon-trash"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="col s12">
                            <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                                <ul class="collection" id="task_list">
                                    <li class="collection-item avatar email-unread" ng-repeat="task in userTasks" ng-click="showTask($index)">
                                        <img src="https://scontent.fbom1-2.fna.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=1ee95684d33391c6a128f7fd68420032&oe=5856F349" ng-if="task.user.profilePicUrl == null || task.user.profilePicUrl == ' '" alt="" class="circle">
                                        <img src="{{task.user.ProfilePicUrl}}" ng-if="task.user.profilePicUrl != null|| task.user.profilePicUrl != ' '" alt="" class="circle">
                                        <span class="email-title truncate">{{task.taskMessage}}</span>
                                        <p class="truncate grey-text ultra-small">Assigned by <a href="#">{{task.user.firstName }}</a></p>
                                        <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">{{task.tasks.cratedOn * 1000 | date:'yyyy-MM-dd HH:mm:ss'}} </span></a>
                                    </li>
                                </ul>
                            </div>
                            <div id="email-details" class="col s12 m8 l8 card-panel">
                                <div id="recent_task_list">
                                    <p class="email-subject truncate">
                                        {{selectedTask.tasks.taskMessage}}
                                    </p>
                                    <hr class="grey-text text-lighten-2">
                                    <div ng-repeat="comment in selectedTask.lstTaskComments">
                                        <div class="email-content-wrap">
                                            <div class="row">
                                                <div class="col s12 m12 l12">
                                                    <ul class="collection">
                                                        <li class="collection-item avatar">
                                                            <img src="https://scontent.fbom1-2.fna.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=1ee95684d33391c6a128f7fd68420032&oe=5856F349" alt="" class="circle">
                                                            <span class="email-title">{{comment.user.firstName}}</span>
                                                            <p class="grey-text ultra-small">{{comment.taskComments.createdOn * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="email-content">
                                                <p>{{comment.taskComments.commentText}}</p>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="email-reply">
                                    <div class="row">
                                        <div class="col s10 m10 l10 center-align">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="task_rply" ng-model="newComment" class="materialize-textarea"></textarea>
                                                    <label for="task_rply">Leave a comment</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s2 m2 l2 center-align margin-top-30">
                                            <a ng-click="comment(newComment)"><i class="mdi-content-reply"></i></a>
                                            <p class="ultra-small">Reply</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Compose Email Trigger -->
                    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                        <a class="btn-floating btn-large red modal-trigger" href="#ComposePostModal">
                            <i class="large mdi-editor-mode-edit  animated bounceIn infinite"></i>
                        </a>
                    </div>
                    <!-- Compose Email Structure -->
                    <div id="ComposePostModal" class="modal">
                        <div class="modal-content">
                            <nav class="red">
                                <div class="nav-wrapper">
                                    <div class="left col s12 m5 l5">
                                        <ul>
                                            <li>
                                                <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                            </li>
                                            <li>
                                                <a href="#!" class="email-type">Compose</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m7 l7 hide-on-med-and-down">
                                        <ul class="right">
                                            <li>
                                                <a href="#!"><i class="mdi-editor-attach-file"></i></a>
                                            </li>
                                            <li>
                                                <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                                            </li>
                                            <li>
                                                <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="model-email-content">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select multiple>
                                                <option value="" disabled selected>Choose your profile</option>
                                                <option value="1"><span class="fa fa-facebook"></span>Chanchal</option>
                                                <option value="2" data-icon="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg" class="circle">Profile_2</option>
                                                <option value="3">Profile_3</option>
                                            </select>
                                            <label>Select Profiles</label>
                                        </div>
                                    </div>
                                    <!--Default version-->
                                    <div class="row section">
                                        <div class="col s12 m4 l3">
                                            <p>Select your file</p>
                                        </div>
                                        <div class="col s12 m8 l9">
                                            <input type="file" id="input-file-now" class="dropify" data-default-file="" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                                            <label for="compose">Compose email</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
