<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Socioboard | Task</title>


    <link rel="apple-touch-icon" sizes="57x57" href="../assets/frontend/imgs/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/frontend/imgs/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/frontend/imgs/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/frontend/imgs/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/frontend/imgs/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/frontend/imgs/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/frontend/imgs/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/frontend/imgs/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/frontend/imgs/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/frontend/imgs/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/frontend/imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/frontend/imgs/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/frontend/imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/frontend/imgs/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/frontend/imgs/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:site_name" content="socioboard.com">
    <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
    <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
    <meta property="og:url" content="https://www.facebook.com/SocioBoard">

  <!-- CORE CSS-->
  
  <link href="../assets/admin/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/admin/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="../assets/admin/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/admin/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
  <link href="../assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>

</head>

<body>
  <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="grey lighten-2">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="../assets/frontend/imgs/Socioboard.png" alt="Socioboard"></a> <span class="logo-text">Socioboard</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li class="search-out grey-text text-darken-4">
                            <input type="text" class="search-out-text">
                        </li>
                        <li>    
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
                                <i class="mdi-action-search  grey-text text-darken-4"></i>
                            </a>                              
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="mdi-action-settings-overscan  grey-text text-darken-4"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light">
                                <i class="mdi-social-notifications  grey-text text-darken-4"></i>
                            </a>
                        </li>
                        <!-- Dropdown Trigger -->                        
                        <li>
                            <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                                <i class="mdi-communication-chat  grey-text text-darken-4"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal_400x400.jpg" alt="Chanchal Santra" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Chanchal<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">chanchal.santra@gmail.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan">
                            <i class="icon-home"></i> Dashboard
                        </a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="icon-envelope-letter"></i> Message
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="">Smart Inbox</a>
                                        </li>                                        
                                        <li>
                                            <a href="">Inbox Message</a>
                                        </li>
                                        <li>
                                            <a href="">My Task</a>
                                        </li>
                                        <li>
                                            <a href="">Send Message</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan">
                                    <i class="icon-feed"></i> Feeds
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="no-padding">
                                            <ul class="collapsible collapsible-accordion">
                                                <li class="bold">
                                                    <a class="collapsible-header waves-effect waves-cyan">
                                                        <i class="fa fa-facebook"></i> Facebook
                                                    </a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Chanchal Santra</a>
                                                            </li>                                        
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Abhimanyu</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="bold">
                                                    <a class="collapsible-header waves-effect waves-cyan">
                                                        <i class="fa fa-twitter"></i> Twitter
                                                    </a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Chanchal Santra</a>
                                                            </li>                                        
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Abhimanyu</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="bold">
                                                    <a class="collapsible-header waves-effect waves-cyan">
                                                        <i class="fa fa-instagram"></i> Instagram
                                                    </a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Chanchal Santra</a>
                                                            </li>                                        
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Abhimanyu</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="bold">
                                                    <a class="collapsible-header waves-effect waves-cyan">
                                                        <i class="fa fa-youtube"></i> Youtube
                                                    </a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Chanchal Santra</a>
                                                            </li>                                        
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Abhimanyu</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="bold">
                                                    <a class="collapsible-header waves-effect waves-cyan">
                                                        <i class="fa fa-google-plus"></i> Google Plus
                                                    </a>
                                                    <div class="collapsible-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Chanchal Santra</a>
                                                            </li>                                        
                                                            <li>
                                                                <a href=""><i class="icon-user"></i>Abhimanyu</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="icon-share-alt"></i> Publishing
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="">Schedule Messages</a>
                                        </li>
                                        <li>
                                            <a href="">SocioQueue</a>
                                        </li>
                                        <li>
                                            <a href="">Drafts</a>
                                        </li>
                                        <li>
                                            <a href="">Calendar View</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="icon-globe-alt"></i> Discovery
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="">Discovery</a>
                                        </li>
                                        <li>
                                            <a href="">Samrt Search</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="icon-notebook"></i> Reports
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="">Socioboard Group Report</a>
                                        </li>
                                        <li>
                                            <a href="">Twitter Report</a>
                                        </li>
                                        <li>
                                            <a href="">Facebook Report</a>
                                        </li>
                                        <li>
                                            <a href="">Facebook Public Page Report</a>
                                        </li>
                                        <li>
                                            <a href="">Instagram Report</a>
                                        </li>
                                        <li>
                                            <a href="">Google Analytics</a>
                                        </li>
                                        <li>
                                            <a href="">Socioboard Team Report</a>
                                        </li>
                                        <li>
                                            <a href="">Shareathon Group Report</a>
                                        </li>
                                        <li>
                                            <a href="">Shareathon Page Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan">
                                    <i class="icon-share"></i> Shareathon
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="">Group Shareathon</a>
                                        </li>
                                        <li><a href="">Page Shareathon</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan">
                                    <i class="icon-rocket"></i> AutoMate Rss Feeds
                                </a>
                                <div class="collapsible-body">
                                    <ul>                                        
                                        <li><a href="">Automate Rss Feeds</a>
                                        </li>
                                        <li><a href="">Posted Rss Feeds</a>
                                        </li>
                                        <li><a href="">Rss Queue</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="icon-bar-chart"></i> Sentiment Analysis
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="">Inbox Message</a>
                                        </li>
                                        <li><a href="">Facebook Wall</a>
                                        </li>
                                        <li><a href="">Twitter Wall</a>
                                        </li>
                                        <li><a href="">Twitter Feed</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="bold">
                        <a href="#" class="waves-effect waves-cyan">
                            <i class="icon-wallet"></i> E-Wallet
                        </a>
                    </li>
                    <li class="bold">
                        <a href="app-calendar.html" class="waves-effect waves-cyan">
                            <i class="icon-layers"></i> Affiliates
                        </a>
                    </li>  
                    <li class="bold">
                        <a href="app-calendar.html" class="waves-effect waves-cyan">
                            <i class="icon-briefcase"></i> Board Me
                        </a>
                    </li>                  
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
            </aside>
      <!-- END LEFT SIDEBAR NAV-->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">

        <!--start container-->
        <div class="container">

          <div id="mail-app" class="section">
            <div class="row">
              <div class="col s12">
                <nav class="red">
                  <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                      <ul>
                        <li><a href="#!" class="email-menu"><i class="mdi-navigation-menu"></i></a>
                        </li>
                        <li><a href="#!" class="email-type">Primary</a>
                        </li>
                        <li class="right"><a href="#!"><i class="mdi-action-search"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                      <ul class="right">
                        <li><a href="#!"><i class="mdi-content-archive"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-action-delete"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-content-mail"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </nav>
              </div>
              <div class="col s12">
                <div id="email-sidebar" class="col s2 m1 s1 card-panel">
                  <ul>
                    <li>
                      <img src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal_400x400.jpg" alt="" class="circle responsive-img valign profile-image">
                    </li>
                    <li>
                      <a href="#!"><i class="mdi-content-archive active"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="mdi-social-group"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="mdi-maps-local-offer"></i></a>
                    </li>
                    <li>
                      <a href="#!"><i class="mdi-alert-error"></i></a>
                    </li>
                  </ul>
                </div>
                <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                  <ul class="collection">
                    <li class="collection-item avatar email-unread">
                      <i class="mdi-social-group icon blue-text"></i>
                      <span class="email-title">Social</span>
                      <p class="truncate grey-text ultra-small">You have Google+ request from john doe.</p>
                      <a href="#!" class="secondary-content"><span class="new badge blue">4</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <i class="mdi-maps-local-offer icon green-text"></i>
                      <span class="email-title">Promotions</span>
                      <p class="truncate grey-text ultra-small">Amazone, Flipkart 50% off on summer sale.</p>
                      <a href="#!" class="secondary-content"><span class="new badge green">6</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <i class="mdi-alert-error icon yellow-text text-darken-3"></i>
                      <span class="email-title">Updates</span>
                      <p class="truncate grey-text ultra-small">Google play application updates for your mobile.</p>
                      <a href="#!" class="secondary-content"><span class="new badge yellow darken-3">2</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle red lighten-1">A</span>
                      <span class="email-title">Amazone.com</span>
                      <p class="truncate grey-text ultra-small">Summer sale is now going on.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">12:10 am</span></a>
                    </li>
                    <li class="collection-item avatar selected">
                      <img src="images/avatar.jpg" alt="" class="circle">
                      <span class="email-title">Andy Brown</span>
                      <p class="truncate grey-text ultra-small">Hay Joe, we have next project for this summer.</p>
                      <a href="#!" class="secondary-content email-time"><i class="mdi-editor-attach-file attach-file"></i> <span class="grey-text ultra-small">12:10 am</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle grey darken-1">T</span>
                      <span class="email-title">Tuts+</span>
                      <p class="truncate grey-text ultra-small">Update your code skill, free tutorial for web development.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">2:05 am</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle indigo darken-1">F</span>
                      <span class="email-title">Facebook.com</span>
                      <p class="truncate grey-text ultra-small">You have new friend request from emy nelson.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">1:15 pm</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle light-blue">T</span>
                      <span class="email-title">Twitter</span>
                      <p class="truncate grey-text ultra-small">You have 5 new followers today, let's check it out.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">8:30 pm</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle green accent-4">E</span>
                      <span class="email-title">Envato Studio</span>
                      <p class="truncate grey-text ultra-small">Envato Studio Provider News : Score the new stuff.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">5:18 am</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle red">G</span>
                      <span class="email-title">Gmail</span>
                      <p class="truncate grey-text ultra-small">You have 5 new mail today.</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">6:38 am</span></a>
                    </li>
                  </ul>
                </div>
                <div id="email-details" class="col s12 m7 l7 card-panel">
                  <p class="email-subject truncate">New app design for iPhone <span class="email-tag grey lighten-3">inbox</span> <span class="email-tag  light-blue lighten-4">projects</span> <i class="mdi-action-star-rate yellow-text text-darken-3 right"></i>
                  </p>
                  <hr class="grey-text text-lighten-2">
                  <div class="email-content-wrap">
                    <div class="row">
                      <div class="col s10 m10 l10">
                        <ul class="collection">
                          <li class="collection-item avatar">
                            <img src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal_400x400.jpg" alt="" class="circle">
                            <span class="email-title">Andy Brown</span>
                            <p class="truncate grey-text ultra-small">To me, John Doe</p>
                            <p class="grey-text ultra-small">Yesterday</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col s2 m2 l2 email-actions">
                        <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                        <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                      </div>
                    </div>
                    <div class="email-content">
                      <p>Hi Mike,</p>
                      <p>We have new project requirements last night.</p>
                      <p>The standard font Material Design uses is Roboto. We have included the font files with our framework.</p>
                      <p>Cheers!
                        <br>Andy Brown</p>
                    </div>
                  </div>
                  <hr>
                  <div class="email-content-wrap">
                    <div class="row">
                      <div class="col s10 m10 l10">
                        <ul class="collection">
                          <li class="collection-item avatar">
                            <span class="circle light-blue">M</span>
                            <span class="email-title">Mike Parker</span>
                            <p class="truncate grey-text ultra-small">To Andy Brown</p>
                            <p class="grey-text ultra-small">6:10 pm</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col s2 m2 l2 email-actions">
                        <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                        <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                      </div>
                    </div>
                    <div class="email-content">
                      <p>Hi Andy,</p>
                      <p>We bundle our framework with the latest iteration of Roboto Google has released. It comes with 5 different font weights you can use: 200, 300, 400, 500, 600.</p>
                      <p>Regards,
                        <br>Mike Parker</p>
                    </div>
                  </div>
                  <div class="email-reply">
                    <div class="row">
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-reply"></i></a>
                        <p class="ultra-small">Reply</p>
                      </div>
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-reply-all"></i></a>
                        <p class="ultra-small">Reply all</p>
                      </div>
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-forward"></i></a>
                        <p class="ultra-small">Forward</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Compose Email Trigger -->
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large red modal-trigger" href="#ComposePostModal">
                <i class="large mdi-editor-mode-edit"></i>
              </a>
            </div>



            <!-- Compose Email Structure -->
            <div id="ComposePostModal" class="modal">
              <div class="modal-content">
                <nav class="red">
                  <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                      <ul>
                        <li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                        </li>
                        <li><a href="#!" class="email-type">Compose</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                      <ul class="right">
                        <li><a href="#!"><i class="mdi-editor-attach-file"></i></a>
                        </li>
                        <li><a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </nav>
              </div>
              <div class="model-email-content">
                <div class="row">
                  <form class="col s12">
                    <!--<div class="row">
                      <div class="input-field col s12">
                        <input id="from_email" type="email" class="validate">
                        <label for="from_email">From</label>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="to_email" type="email" class="validate">
                        <label for="to_email">To</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="subject" type="text" class="validate">
                        <label for="subject">Subject</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                        <label for="compose">Compose email</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--end container-->

    </section>
    <!-- END CONTENT -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
        <ul id="chat-out" class="side-nav rightside-navigation">
            <li class="li-hover">
            <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
            <div id="right-search" class="row">
                <form class="col s12">
                    <div class="input-field">
                        <i class="mdi-action-search prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Search</label>
                    </div>
                </form>
            </div>
            </li>
            <li class="li-hover">
                <ul class="chat-collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                    <div class="collapsible-body recent-activity">
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">just now</a>
                                <p>Jim Doe Purchased new equipments for zonal office.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">Yesterday</a>
                                <p>Your Next flight for USA will be on 15th August 2015.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">5 Days Ago</a>
                                <p>Natalya Parker Send you a voice mail for next conference.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">Last Week</a>
                                <p>Jessy Jay open a new store at S.G Road.</p>
                            </div>
                        </div>
                        <div class="recent-activity-list chat-out-list row">
                            <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                            </div>
                            <div class="col s9 recent-activity-list-text">
                                <a href="#">5 Days Ago</a>
                                <p>Natalya Parker Send you a voice mail for next conference.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                    <div class="collapsible-body sales-repoart">
                        <div class="sales-repoart-list  chat-out-list row">
                            <div class="col s8">Target Salse</div>
                            <div class="col s4"><span id="sales-line-1"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Payment Due</div>
                            <div class="col s4"><span id="sales-bar-1"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Total Delivery</div>
                            <div class="col s4"><span id="sales-line-2"></span>
                            </div>
                        </div>
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s8">Total Progress</div>
                            <div class="col s4"><span id="sales-bar-2"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                    <div class="collapsible-body favorite-associates">
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Eileen Sideways</p>
                                <p class="place">Los Angeles, CA</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Zaham Sindil</p>
                                <p class="place">San Francisco, CA</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Renov Leongal</p>
                                <p class="place">Cebu City, Philippines</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Weno Carasbong</p>
                                <p>Tokyo, Japan</p>
                            </div>
                        </div>
                        <div class="favorite-associate-list chat-out-list row">
                            <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                            </div>
                            <div class="col s8">
                                <p>Nusja Nawancali</p>
                                <p class="place">Bangkok, Thailand</p>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </li>
        </ul>
      </aside>
    <!-- LEFT RIGHT SIDEBAR NAV-->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
        </div>
    </div>
  </footer>
    <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="../assets/admin/js/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="../assets/admin/js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="../assets/admin/js/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="../assets/admin/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="../assets/admin/js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="../assets/admin/js/plugins.js"></script>
    
</body>

</html>