<body style="background-color: #FB6947;">
    <div style="margin-top: 50px; margin: 0 auto; width: 630px;">
        <div style="width: 630px; height: auto; float: left; margin-top: 125px;">
            <div style="width: 630px; padding-top: 17px; text-align: center; height: 80px; background: none repeat scroll 0px 0px rgb(255, 188, 173);
                border-top-left-radius: 5px; border-top-right-radius: 5px;">
                <img style="max-height:110px" src="https://i.imgur.com/qAdpCjL.png" alt="" />
            </div>
            <!--Email content-->
            <div style="font-family: Tahoma; font-size: 14px; background-color: #fff; color: rgb(24, 24, 24);
                padding: 10px; float: left; width: 606px; border: 2px solid rgb(255, 255, 255);
                border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <div style="width: 610px; float: left; height: 35px;">
                </div>
                <div style="width: 610px; height: auto; float: left;">
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        Hi [FirstName],
                    </div>
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        You have requested for reset password 
                    </div>
                    </br> </br>
                    <!--</br>-->
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        <!-- Your login details are:-->
                        Please click the link below to change your password.
                    </div>
                   
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        <!-- Click <a href="%replink%"> here</a> to login. </div></br></br>-->
                        Click  <a href="[ActivationLink]"> here</a>
                    </div>
                    </br></br>
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        Hope you have a great time at Socioboard. Keep socioboarding... :)</div>
                    </br>
                    <!--<div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        </div>-->
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        Warm regards,</div>
                    </br>
                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial;
                        margin-top: 10px;">
                        Socioboard Team</div>
                </div>
                <div style="width: 610px; float: left; height: 35px;">
                </div>
            </div>
            <!--End Email content-->
        </div>
    </div>
</body>

