<div data-ng-controller="DiscoveryController">
    <!-- START CONTENT -->
    <section id="content">
        <!--start container-->
        <div class="row">
            <div class="col l12">
                <h4>Discovery allows you to find new customers by searching with keywords around your business.</h4>
            </div>
        </div>
        <!--card widgets end-->
        <div class="row">

            <form class="col s12" name="discoveryform">
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons icon-note prefix"></i>
                        <input id="discoverytext" type="text" ng-pattern="/^[a-z]+[@+!+#][a-z]*$/" ng-model="discoverytext" required name="discoverytext" class="materialize-textarea">
                        <label for="icon_prefix">Type your Keyword here...</label>
                    </div>
                    <div ng-init="dispbtn= {{dispbtn}}"></div>
                    <div class="col s2">
                        <a ng-show="dispbtn" ng-click="discovery()" class="btn">
                            <i class="fa fa-search"></i>
                        </a>
                        <a ng-show="!dispbtn"  class="btn">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </a>
                    </div>
                </div>
                
            </form>
            <div class="col s12 m9 l9">


                <!-- twitter -->
                <div class="card" id="feeds">
                    <h5 class="feeds_title blue lighten-3 white-text"><i class="icon-social-twitter"></i>Twitter Posts</h5>
                    <ul class="collection twtfeeds">
                        <li class="collection-item avatar" ng-repeat="twtfeed in lstDiscoverySearchTwitter">
                            <img src="{{twtfeed.profileImageUrl}}" alt="{{twtfeed.fromName}}" class="circle">
                            <span class="email-title">{{twtfeed.fromName}}</span>
                            <div class="row feeds_post z-depth-1 hoverable">
                                <div class="col m8">
                                    <p class="break_word ultra-small">{{twtfeed.message}}.</p>
                                </div>
                            </div>
                            <a class="tooltipped secondary-content" data-position="left">{{twtfeed.createdTime}}</a>
                        </li>
                     </ul>
                </div>

                <!-- gplus  -->
                <div class="card" id="feeds">
                    <h5 class="feeds_title red darken-2 white-text"><i class="fa fa-google-plus"></i>GooglePlus Posts</h5>
                    <ul class="collection gplusfeeds">
                        <li class="collection-item avatar" ng-repeat="gplusfeed in lstDiscoverySearchGplus">
                            <img src="{{gplusfeed.profileImageUrl}}" alt="{{gplusfeed.fromName}}" class="circle">
                            <span class="email-title">{{gplusfeed.fromName}}</span>
                            <div class="row feeds_post z-depth-1 hoverable">
                                <div class="col m8">
                                    <p class="break_word ultra-small">{{gplusfeed.message}}.</p>
                                </div>
                            </div>
                            <a class="tooltipped secondary-content" data-position="left" href="{{gplusfeed.messageId}}">{{gplusfeed.createdTime}}am</a>
                        </li>


                    </ul>
                </div>

                <!-- instagram -->
                <div class="card" id="feeds">
                    <h5 class="feeds_title instagram_color white-text"><i class="fa fa-instagram"></i>Instagram Posts</h5>
                    <ul class="collection instagramfeeds">
                        <li class="collection-item avatar" ng-repeat="insfeed in lstDiscoverySearchinstagram">
                            <img class="circle" src="{{insfeed.imageUrl}}" alt="{{insfeed.adminUser}}">
                            <span class="email-title">{{insfeed.adminUser}}</span>
                            <div class="row feeds_post z-depth-1 hoverable">
                                <div class="col m8">
                                    <p class="break_word ultra-small">{{insfeed.feed}}.</p>
                                </div>
                                <div class="col m4 center" ng-if="{{insfeed.feedImageUrl}}">
                                </div>
                            </div>
                            <a data-position="left" class="tooltipped secondary-content">{{insfeed.feedDate}}</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="card" id="feeds">
                    <h5 class="feeds_title blue darken-2 white-text"><i class="icon-layers"></i>Search History</h5>
                    <div class="section section_filter">
                        <div class="collection">
                            <a ng-click="discovery(history.searchKeyword)" class="collection-item active" ng-repeat="history in DiscoveryHistory">{{history.searchKeyword}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
        <!-- Compose Email Trigger -->
        <div class="fixed-action-btn" onclick="$('select').material_select()" style="bottom: 45px; right: 24px;">
            <div class="btn-floating btn-large red modal-trigger" href="#ComposePost">
                <i class="large mdi-editor-mode-edit"></i>
            </div>
        </div>
        <div id="ComposePost" class="modal">
            <div class="modal-content">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">Compose</a>
                                </li>
                            </ul>
                        </div>
                        <div ng-init="dispbtn= {{dispbtn}}"></div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <li>
                                    <div ng-show="dispbtn" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                                    <div ng-show="!dispbtn"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                                </li>
                                <!--<li>
                                <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                            </li>-->
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="model-email-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <select multiple id="composeProfiles">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                    <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                    <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                    <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                    <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                </select>
                            </div>
                        </div>
                        <!--Default version-->
                        <div class="row section">
                            <div class="col s12 m4 l3">
                                <p>Select your file</p>
                            </div>
                            <div class="col s12 m8 l9">
                                <input type="file" id="composeImage" class="dropify" multiple data-default-file="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="composeMessage" class="materialize-textarea" length="5000"></textarea>
                                <label for="compose">Message</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Compose Email Structure -->
      
    </section>
    <!-- END CONTENT -->

    
</div>
