    <div data-ng-controller="DiscoveryController">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                
                <div class="row">
                  <div class="col l12">
                    <h4>Smart Search allows you to find new customers by searching with keywords around your business.</h4>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons icon-note prefix"></i>
                        <input id="txtsearch" type="text" class="">
                        <label class="active" for="icon_prefix">Type your Keyword here...</label>
                    </div>
                </div>
                <!--card widgets end-->
                <div class="row">
                    <div class="col s12 m9 l9">

                      <!-- twitter -->
                      <div class="card" id="feeds">
                        <h5 class="feeds_title blue lighten-3 white-text"><i class="icon-magnifier"></i>Smart Search</h5>
                          <ul class="collection smartsearchfeeds">
                              <li class="collection-item avatar" ng-repeat="twtfeed in lstDiscoveryGeoLocation">
                                <img src="{{twtfeed.profile_image_url}}" alt="{{twtfeed.screan_name}}" class="circle">
                                <span class="email-title">{{twtfeed.screan_name}}</span>
                                <div class="row feeds_post z-depth-1 hoverable">
                                  <div class="col m8">
                                    <p class="break_word ultra-small">{{twtfeed.text}}.</p>
                                  </div>
                                  <!--<div class="col l12">
                                    <a href="#taskModal" class="tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="Task">
                                        <i class="icon-pin fa-fw"></i>
                                    </a>
                                  </div>-->

                                </div>                                         
                                <a class="tooltipped secondary-content" data-position="left">{{twtfeed.createdTime}}</a>
                              </li>
                          </ul>
                      </div>
                    </div>  
                    <div class="col s12 m3 l3">
                      <div class="card" id="feeds">
                        <h5 class="feeds_title blue darken-2 white-text"><i class="icon-pointer"></i>Discovery</h5>
                        <div class="section section_filter">                        
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="search_location" type="text" class="validate">
                              <label for="location">Enter Location [ Near this place ]</label>
                            </div>
                              <div class="input-field col s12">
                                <select id="radius-select">
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="5">Within 5</option>
                                  <option value="10">Within 10</option>
                                  <option value="25">Within 25</option>
                                  <option value="50">Within 50</option>
                                  <option value="100">Within 100</option>
                                  <option value="250">Within 250</option>
                                  <option value="500">Within 500</option>
                                  <option value="1000">Within 1000</option>
                                </select>
                              </div>
                              <div class="input-field col s12">
                                <select id="type-select">
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Miles</option>
                                  <option value="2">Kilometers</option>
                                </select>
                              </div>
                              <div ng-init="dispbtn= {{dispbtnsmart}}"></div>
                              <div class="col l12 center">
                                  <a ng-show="dispbtn" ng-click="DiscoverySmartSearch()" class="btn waves-effect waves-light">Search</a>
                                  <a ng-show="!dispbtn" class="btn">
                                      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                  </a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>                                
                </div>
                <!--end container-->

                <!-- Compose Email Trigger -->
                <!-- Compose Email Trigger -->
                <!--<div class="fixed-action-btn" onclick="$('select').material_select()" style="bottom: 45px; right: 24px;">
                    <div class="btn-floating btn-large red modal-trigger" href="#ComposePost">
                        <i class="large mdi-editor-mode-edit"></i>
                    </div>
                </div>
                <div id="ComposePost" class="modal">
                    <div class="modal-content">
                        <nav class="red">
                            <div class="nav-wrapper">
                                <div class="left col s12 m5 l5">
                                    <ul>
                                        <li>
                                            <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!" class="email-type">Compose</a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-init="dispbtn= {{dispbtn}}"></div>
                                <div class="col s12 m7 l7 hide-on-med-and-down">
                                    <ul class="right">
                                        <li>
                                            <div ng-show="dispbtn" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                                            <div ng-show="!dispbtn"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                                        </li>
                                        <!--<li>
                                <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                            </li>-->
                                    <!--</ul>
                                </div>

                            </div>
                        </nav>
                    </div>-->
                    <!--<div class="model-email-content">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select multiple id="composeProfiles">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                        </select>
                                    </div>
                                </div>-->
                                <!--Default version-->
                                <!--<div class="row section">
                                    <div class="col s12 m4 l3">
                                        <p>Select your file</p>
                                    </div>
                                    <div class="col s12 m8 l9">
                                        <input type="file" id="composeImage" class="dropify" multiple data-default-file="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="composeMessage" class="materialize-textarea" length="5000"></textarea>
                                        <label for="compose">Message</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>-->-->
                <!-- Compose Email Structure -->

                <!-- Modal Structure -->
                <div id="taskModal" class="modal">
                  <div class="modal-content">
                  <h4>Create Task</h4>
                  <p></p>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s8">
                          <i class="icon-pencil prefix"></i>
                          <textarea id="LeaveComment" class="materialize-textarea" placeholder="Your comment (viewable only to team members)"></textarea>
                          <label for="LeaveComment">LEAVE A COMMENT</label>
                        </div>
                        <div class="col s4">
                          <span>ASSIGN TASK TO</span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action waves-effect waves-green btn-flat">Save</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
                </div>
                        
            </section>
            <!-- END CONTENT -->   
    </div>
