    <!-- START MAIN -->
<div data-ng-controller="GroupsController">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START CONTENT -->
        <section id="content">

            <!--start container-->
            <div class="container">

                <div class="col m12">
                    <a class="waves-effect waves-light btn modal-trigger right" href="#CreateGroupModal">Create New Group</a>
                    <h4>User And Group</h4>
                    <span>Groups are used to categorize social profiles together to help manage and report on your social media efforts efficiently. Learn more about Groups</span>
                </div>
                <div class="row">
                    <!--start  code to display all groups in tabs-->
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3 groups_tabs" ng-repeat="grp in groups">
                                <a class="active" ng-if="groupId==grp.id" href="#Socioboard_{{grp.id}}">{{grp.groupName}}</a>
                                <a ng-click="getGroupsData($index, grp.id)" ng-if="groupId!=grp.id" href="#Socioboard_{{grp.id}}">{{grp.groupName}}</a>
                            </li>

                        </ul>
                    </div>
                    <!--end  code to display all groups in tabs-->

                    <div ng-repeat="grp in groups" id="Socioboard_{{grp.id}}" my-repeat-tab-directive class="col s12">
                        <!--code to render group profiles of selected group-->
                        <div class="row" ng-if="groupId==grp.id">
                            <div class="col s12 m12 l12">
                                <div class="card-panel">
                                    <h5>Profile Linked To <b class="orange-text text-darken-4">{{grp.groupName}}</b></h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="profile in lstProfiles">
                                            <div class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <div ng-click="deleteProfile(profile.profileId, grp.id)" class="delet_icon"></div>
                                                    <img src="{{profile.profilePic}}" class="responsive-img group-profile-image">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==0" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/Fb_page-icon.png" ng-if="profile.profileType==1" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==3" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==4" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==11" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/gplus-icon.png" ng-if="profile.profileType==5" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/twticon.png" ng-if="profile.profileType==2" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/instagram.png" style="width: 24px; height: 24px; margin-top: -21%;"  ng-if="profile.profileType==8" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/yt.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==7" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/G-Ana-icon.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==10" class="profile_socio_icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" ng-if="grp.groupName != 'Socioboard'">
                                <div class="card-panel">
                                    <h5>Profiles available for connection</h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="profile in groups[$index].profilesToConnect">
                                            <div class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <div ng-click="addProfileToGroup(grp.id, profile.profileId, profile.profileType)" class="add_icon" role="button" tabindex="0"></div>
                                                    <img src="{{profile.profilePic}}" class="responsive-img group-profile-image">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==0" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/Fb_page-icon.png" ng-if="profile.profileType==1" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==3" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==4" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==11" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/gplus-icon.png" ng-if="profile.profileType==5" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/twticon.png" ng-if="profile.profileType==2" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/instagram.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==8" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/yt.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==7" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/G-Ana-icon.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==10" class="profile_socio_icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" ng-if="grp.groupName !='Socioboard'">
                                <div class="card-panel">
                                    <a class="waves-effect waves-light btn modal-trigger right" ng-click="openMemberInvitationModal(grp.id,grp.groupName)" href="#InviteMembersModal">Invite New Team Members</a>
                                    <h5>Pending Team Members</h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="member in groups[$index].members | filter:{memberStatus:0}">
                                            <div title="{{member.firstName +' ' + member.lastName}}" class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <img src="{{utility.getHttpsUrl(member.profileImg)}}" class="responsive-img group-profile-image" ng-if="member.profileImg != ''">
                                                    <img src="https://scontent.fmaa1-2.fna.fbcdn.net/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="responsive-img" ng-if="member.profileImg == ''">

                                                    <!--<h6 class="center-align">{{member.firstName +' ' + member.lastName}}</h6>-->
                                                    <img title="{{member.firstName +' ' + member.lastName}}" src="/contents/socioboard/images/SocioboardCore_logo.png" style="width:30px">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" ng-if="grp.groupName !='Socioboard'">
                                <div class="card-panel">
                                    <h5>Accepted Team Members</h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="member in groups[$index].members | filter:{memberStatus:1}">
                                            <div title="{{member.firstName +' ' + member.lastName}}" class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <img src="{{utility.getHttpsUrl(member.profileImg)}}" class="responsive-img group-profile-image" ng-if="member.profileImg != ''">
                                                    <img src="https://scontent.fmaa1-2.fna.fbcdn.net/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="responsive-img" ng-if="member.profileImg == ''">
                                                    <!--<h6 class="center-align">{{member.firstName +' ' + member.lastName}}</h6>-->
                                                    <img title="{{member.firstName +' ' + member.lastName}}" src="/contents/socioboard/images/SocioboardCore_logo.png" style="width:30px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--codes end to render group profiles of selected group-->

                        <div class="row" ng-if="groupId!=grp.id">
                            <div class="col s12 m12 l12">
                                <div class="card-panel">
                                    <h5>Profile Linked To <b class="orange-text text-darken-4">{{grp.groupName}}</b></h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="profile in groups[$index].profiles ">
                                            <div class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <div ng-click="deleteProfile(profile.profileId, grp.id)" class="delet_icon"></div>
                                                    <img src="{{profile.profilePic}}" class="responsive-img group-profile-image" ng-if="profile.ProfilePic != ''">
                                                    <img src="https://scontent.fmaa1-2.fna.fbcdn.net/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="responsive-img" ng-if="profile.profilePic == ''">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==0" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/Fb_page-icon.png" ng-if="profile.profileType==1" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==3" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==4" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==11" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/gplus-icon.png" ng-if="profile.profileType==5" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/twticon.png" ng-if="profile.profileType==2" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/instagram.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==8" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/yt.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==7" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/G-Ana-icon.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==10" class="profile_socio_icon">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 l12">
                                <div class="card-panel">
                                    <h5>Profiles available for connection</h5>
                                    <div class="row" id="social_profile_list" ng-if="grp.groupName != 'Socioboard'">
                                        <div class="col s12 m1 l1" ng-repeat="profile in groups[$index].profilesToConnect">
                                            <div class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <div ng-click="addProfileToGroup(grp.id, profile.profileId, profile.profileType)" class="add_icon" role="button" tabindex="0"></div>
                                                    <img src="{{profile.profilePic}}" class="responsive-img group-profile-image">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==0" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/Fb_page-icon.png" ng-if="profile.profileType==1" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==3" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/linkedin.png" style="width: 24px; height: 24px; margin-top: -29%;" ng-if="profile.profileType==4" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/fb_icon.png" ng-if="profile.profileType==11" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/gplus-icon.png" ng-if="profile.profileType==5" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/twticon.png" ng-if="profile.profileType==2" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/instagram.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==8" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/yt.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==7" class="profile_socio_icon">
                                                    <img src="/contents/socioboard/images/G-Ana-icon.png" style="width: 24px; height: 24px; margin-top: -21%;" ng-if="profile.profileType==10" class="profile_socio_icon">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col s12 m12 l12" ng-if="grp.groupName !='Socioboard'">
                                <div class="card-panel">
                                    <a class="waves-effect waves-light btn modal-trigger right" ng-click="openMemberInvitationModal(grp.id,grp.groupName)" href="#InviteMembersModal">Invite New Team Members</a>
                                    <h5>Pending Team Members</h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="member in groups[$index].members | filter:{memberStatus:0}">
                                            <div title="{{member.firstName +' ' + member.lastName}}" class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <img src="{{utility.getHttpsUrl(member.profileImg)}}" class="responsive-img group-profile-image" ng-if="member.profileImg != ''">
                                                    <img src="https://scontent.fmaa1-2.fna.fbcdn.net/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="responsive-img" ng-if="member.profileImg == ''">

                                                    <!--<h6 class="center-align">{{member.firstName +' ' + member.lastName}}</h6>-->
                                                    <img title="{{member.firstName +' ' + member.lastName}}" src="/contents/socioboard/images/SocioboardCore_logo.png" style="width:30px">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 l12" ng-if="grp.groupName !='Socioboard'">
                                <div class="card-panel">
                                    <h5>Accepted Team Members</h5>
                                    <div class="row" id="social_profile_list">
                                        <div class="col s12 m1 l1" ng-repeat="member in groups[$index].members | filter:{memberStatus:1}">
                                            <div title="{{member.firstName +' ' + member.lastName}}" class="card-panel social_profile">
                                                <div class="card-image center">
                                                    <img src="{{utility.getHttpsUrl(member.profileImg)}}" class="responsive-img group-profile-image" ng-if="member.profileImg != '' ">
                                                    <img title="{{member.firstName +' ' + member.lastName}}" src="https://scontent.fmaa1-2.fna.fbcdn.net/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="responsive-img" ng-if="member.profileImg == ''">

                                                    <!--<h6 class="center-align">{{member.firstName +' ' + member.lastName}}</h6>-->
                                                    <img title="{{member.firstName +' ' + member.lastName}}" src="/contents/socioboard/images/SocioboardCore_logo.png" style="width:30px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->
    <!-- Invite Team Members Modal Structure -->
    <div id="InviteMembersModal" class="modal">
        <div class="modal-content">
            <h4>Invite your Friend to <b class="orange-text text-darken-4">{{inviGrpName}}</b></h4>
            <p>Socioboard offers to make group by virtue of which users can reach out to each other using a highly efficient collaboration mechanism.Groups serve as a platform to share information with other team members and increase workability and efficiency.</p>
          
                <table class="highlight centered">
                    <thead>
                        <tr>
                            <th data-field="FirstName">First Name</th>
                            <th data-field="Last Name">Last Name</th>
                            <th data-field="Email">Email</th>
                            <th data-field="delete">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mbr in lstInviteTeamMembers">
                            <td>{{mbr.firstName}}</td>
                            <td>{{mbr.lastName}}</td>
                            <td>{{mbr.email}}</td>
                            <td><a ng-click="deleteFromInviteList($index)" class="red-text"><i class="icon-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
               
                    <div class="row">
                        <form name="myform">
                            <div class="input-field col s3">
                                <input placeholder="First Name" ng-model="inviteMember.firstName" name="first_name" id="first_name" type="text" pattern="^[a-zA-Z0-9]+$" required class="validate">
                                <label for="first_name" data-error="wrong" data-success="right">First Name</label>
                               </div>
                            <div class="input-field col s3">
                                <input placeholder="Last Name" id="last_name" ng-model="inviteMember.lastName" type="text" pattern="^[a-zA-Z0-9]+$" required class="validate">
                                <label for="last_name" data-error="wrong" data-success="right">Last Name</label>
                            </div>
                            <div class="input-field col s5">
                                <input placeholder="Email Id" id="email" name="email" ng-model="inviteMember.email" type="email" required class="validate">
                                <label for="email" data-error="wrong" data-success="right">Email</label>
                            </div>
                            <div class="col s1">
                                <button ng-click="myform.$valid &&addToInviteList(inviteMember)" class="btn btn-flat btn_style pink ink-reaction"><i class="fa fa-plus fa-2x white-text"></i></button>
                            </div>
                        </form>
                      </div>
               </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a class="modal-action waves-effect waves-green btn-flat" ng-click="SendInvitations(inviGrpId)">Submit</a>
        </div>
    </div>
    <!--Invite Team member modal end-->
    <!-- Create Group Modal Structure -->
    <div id="CreateGroupModal" class="modal" >
        <div class="modal-content">
            <h4>Create a <b class="orange-text text-darken-4">Group</b></h4>
            <p>Groups help you organize your social profiles and team members. Name your group and you can begin connecting social profiles and adding team members to it. Twitter or Facebook required to create a group.</p>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="icon-users prefix"></i>
                        <input placeholder="Type Your Group Name" ng-model="groupName" id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Group Name</label>
                    </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="closegroupmodal()" >Close</a>
            <a href="" ng-click="addGroup(groupName)" class="modal-action waves-effect waves-green btn-flat">Create</a>
        </div>
    </div>

</div>
<!-- END MAIN -->
