<!-- START MAIN -->
<div data-ng-controller="YoutubeGroupInviteController">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">               
                <div class="row">
                    <div class="col m12">
                        <h4>Youtube Group Invite</h4>
                    </div>
                </div>   
                    <div class="row">
                        <div class="card">
                            <div class="col m4">
                                <div class="card">
                                    <div class="memb_scroll">
                                        <ul class="collection">
                                            <li class="collection-item avatar" style="min-height: 65px;" ng-repeat="grpmem in lstYtGrpMem">
                                                <img src="{{grpmem.sbProfilePic}}" alt="" class="circle">
                                                <span class="title truncate" style="width: 99px;margin-top: 10px;">{{grpmem.sbUserName}}</span>
                                                <a href="javascript:void(0);" class="secondary-content" ng-if="grpmem.active == 1"><i class="fa fa-check green-text" aria-hidden="true" title="Accepted"></i></a>
                                                <a href="javascript:void(0);" class="secondary-content" ng-if="grpmem.active == 0"><i class="fa fa-clock-o red-text" aria-hidden="true" title="Pending"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col m8">
                                <div class="input-field">
                                    <input id="g_invite" class="active" type="email" placeholder="xx@abc.xyz">
                                    <label for="g_invite" class="active" style="left: 0px;">Type Mail id</label>
                                </div>
                            </div>
                            <a ng-click="inviteGroupMem()" class="btn btn_round indigo darken-4 white-text">Send</a>
                        </div>
                </div>   
                
                
                <div class="row">
                    <ul>
                        <li ng-repeat="yourgrp in YtYourGroups">
                            <a>{{yourgrp.ownerName}}</a>
                            <a ng-if="yourgrp.active == 0"><span>Accept</span><span>Reject</span></a>
                            <a ng-if="yourgrp.active == 1"><span>Accepted</span></a>
                        </li>
                    </ul>
                </div>
                         
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>

<!-- END MAIN -->

<script type="text/javascript">
    $('.memb_scroll').slimScroll({
              color: '#424242',
              size: '10px',
              height: '200px',
              alwaysVisible: true,
              allowPageScroll: true
          });
</script>

