@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}
@{
    string tempError = "noError";
    try
    {
        tempError = ViewBag.errorCard;
    }
    catch
    {


    }
        }

<div class="container">
    <div class="card">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row">
                <div class="col s12 m6">
                    <h4>Blue Snap Credit/Debit Card Payments Settings</h4>
                    <p>Details ....</p>
                </div>
                <form class="col s12 m6" action="~/Home/bluesnapCardPaymentEncp" method="POST" id="checkout-form">
                    <div class="row card-panel grey lighten-5">
                        <div class="col s12">
                            <h6>Credit Card Info</h6>
                        </div>
                        <div class="input-field col s12">
                            <input name="creditCard" id="creditCard" data-bluesnap="encryptedCreditCard" type="text" class="validate">
                            <label id="creditCard">Credit Card Number</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="exp-month" id="exp-month" maxlength="2" class="validate">
                            <span> / </span>
                            <input type="text" name="exp-year" id="exp-year" maxlength="4" class="validate">
                            <label for="Expiration">MM/YYYY</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="cvv" id="cvv" data-bluesnap="encryptedCvv" class="validate">
                            <label for="cvv">CVV</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="cardholder-name" id="cardholder-name" class="validate">
                            <label id="cardholder-name">Name of Card</label>
                        </div>
                        <div class="input-field col s12 center">
                            <button id="submit-button" type="submit" class="waves-effect waves-light btn">Pay Securely</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://gateway.bluesnap.com/js/cse/v1.0.3/bluesnap.js"></script>
<script>
        debugger;
    var bluesnap = new BlueSnap("10001$8e90cb93dc047e9e96407c4d23110c698f8a9afe79f181f8dbc7197098948ed368a69466e7b9e22bbcb8caf18376a100f525eaccf150d56f62348a377ff80bc4b95e7e0d68df396e64e0f4c2ce32f0823a050c82614e34d8294c2c189c95c9046cdd1bb5636446825361d3bb86ca6ec150fcbec573102cb22d4606e38c0625a860c645bdc6e01c5a3d7277212195ce1e03fb2ae9ebbaa923fc4ceab414ceec5c849946e27a9987826fafcd692959423f823f27b40f45a5864ff5803d9e880f3a91967117ff3a65ea8c989db3a190fa13fc767af86c2d54c2e88d9eb58a6aafa03952194a22127375e37493bead0672166243cbc967164d5184d115d1a3b3355f");
    document.getElementById("submit-button").addEventListener("click", function () {
        debugger;
        bluesnap.encrypt("checkout-form");
    });
</script>
<script>
    debugger;
    document.addEventListener('DOMContentLoaded', function() {
        var temp='@tempError';
        if(temp=="Error"){
            alert("Card details are invalid");
        }
    });
   

</script>