<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Socioboard | Admin Dashboard</title>

    <meta name="google-site-verification" content="suNXfJWYY3E7tilc3XsF5M2qZgSml8fGZVb5RfDOWaA" />
    <meta name="description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />
    <meta name="keywords" content="Social Media Management Software, Social Media Management tool, Open Source Social Media Management, Social Media Management" />
    <meta name="author" content="Socioboard Technologies">

    <link rel="apple-touch-icon" sizes="57x57" href="~/contents/socioboard/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/contents/socioboard/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/contents/socioboard/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/contents/socioboard/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/contents/socioboard/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/contents/socioboard/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/contents/socioboard/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/contents/socioboard/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/contents/socioboard/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/frontend//imgs/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/contents/socioboard/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/contents/socioboard/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/contents/socioboard/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/contents/socioboard/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/contents/socioboard/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:site_name" content="socioboard.com">
    <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
    <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
    <meta property="og:url" content="https://www.facebook.com/SocioBoard">
    <meta itemprop="name" content="Socioboard" />
    <meta itemprop="description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />

    <!-- CORE CSS-->
    <link href="~/contents/socioboard/css/admin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link rel="stylesheet" type="text/css" href="http://demo.geekslabs.com/materialize/v3.1/css/materialize.min.css"> -->
    <link href="~/contents/socioboard/css/admin/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link rel="stylesheet" type="text/css" href="http://demo.geekslabs.com/materialize/v3.1/css/style.min.css"> -->
    <link href="~/contents/socioboard/css/admin/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/contents/socioboard/global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/contents/socioboard/js/admin/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="~/contents/socioboard/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/contents/socioboard/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/sweetalert/dist/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/ScrollTabs/css/scrolltabs.css">

    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/datatables/media/css/jquery.dataTables.min.css">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <style>
        .chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="grey lighten-2">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="../AdminHome/Dashboard" class="brand-logo darken-1"><img src="~/contents/socioboard/images/Socioboard.png" alt="Socioboard"></a> <span class="logo-text">SociobBoard</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            @*<a href="../AdminHome/ManagePaidUser" class="waves-effect waves-cyan"> <i class="icon-home"></i> paid user</a>*@
                            @*<a href="../AdminHome/ManageUnPaidUser" class="waves-effect waves-cyan"> <i class="icon-home"></i> Unpaid user</a>*@
                            @*<a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">*@
                                <i class="icon-logout grey-text text-darken-4" onclick="Logout()"></i>

                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s12 m12 l12">
                                <img src="~/contents/socioboard/images/sumit.jpg" alt="Sumit Ghosh" class="circle responsive-img valign profile-image">
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Sumit Ghosh</a>
                                <p class="user-roal tooltipped" data-position="top" data-delay="50" data-tooltip="Admin@socioboard.com">Admin@socioboard.com</p></div>
                        </div>
                    </li>
                    <li class="bold active">
                        <a href="../AdminHome/Dashboard" class="waves-effect waves-cyan"> <i class="icon-home"></i> Dashboard</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-users"></i> Users
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminUser/ManageUser">Manage Users</a>
                                        </li>
                                        <li>
                                            <a href="../AdminUser/DeletedUser">Deleted Users</a>
                                        </li>
                                        <li>
                                            <a href="../AdminUser/DisabledUser">Disabled Users</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-envelope-letter"></i> Mail Report
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminElasticmail/GetReport">Get Reports</a>
                                        </li>
                                        <li>
                                            <a href="../AdminElasticmail/CustomReport">Custom Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-folder"></i> Packages
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminPakages/Getpackages">Manage Packages</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-book-open"></i> News
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="manage_news.html">Manage News</a>
                                        </li>
                                        <li>
                                            <a href="add_news.html">Add News</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-docs"></i> News Letter
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminNewsLetter/AddNewsLetter">Add News Letter</a>
                                        </li>
                                        <li>
                                            <a href="../AdminNewsLetter/GetNewsLetter">Manage News Letter</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-picture"></i> Advertisement
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="manage_advertisement.html">Manage Advertisement</a>
                                        </li>
                                        <li>
                                            <a href="add_advertisment.html">Add Advertisement</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-shield"></i> Services
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminSehduledMesssage/GetSchedulemessage">Scheduling Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-present"></i> Coupon
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminCoupons/GetCoupons">Manage Coupons</a>
                                        </li>
                                        <li>
                                            <a href="../AdminCoupons/AddCoupons">Add Coupons</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!--card stats start-->
            <div id="card-stats">
                <div class="row">
                    <div class="col s12 m6 offset-m1 l2 offset-l1">
                        <div class="card indigo white-text">
                            <div class="card-content">
                                <i class="fa fa-group fa-fw"></i>
                                <p class="card-stats-title">Total Users</p>
                            </div>
                            <div class="card-action center">
                                <h4 class="card-stats-number" id="total_users">
                                    <div class="span">
                                        <div class="typing_loader"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6 l2">
                        <div class="card teal white-text">
                            <div class="card-content">
                                <i class="fa fa-money fa-fw"></i>
                                <p class="card-stats-title">Paid Users</p>
                            </div>
                            <div class="card-action center">
                                <h4 class="card-stats-number" id="paidusers">
                                    <div class="span">
                                        <div class="typing_loader"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6 l2">
                        <div class="card brown white-text">
                            <div class="card-content">
                                <i class="fa fa-random fa-fw"></i>
                                <p class="card-stats-title">Unpaid Users</p>
                            </div>
                            <div class="card-action center">
                                <h4 class="card-stats-number" id="unpaidusers">
                                    <div class="span">
                                        <div class="typing_loader"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6 l2">
                        <div class="card green white-text">
                            <div class="card-content">
                                <i class="fa fa-check fa-fw"></i>
                                <p class="card-stats-title">Active Users</p>
                            </div>
                            <div class="card-action center">
                                <h4 class="card-stats-number" id="activeusers">
                                    <div class="span">
                                        <div class="typing_loader"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m6 l2">
                        <div class="card red white-text">
                            <div class="card-content">
                                <i class="fa fa-remove fa-fw"></i>
                                <p class="card-stats-title">Inactive Users</p>
                            </div>
                            <div class="card-action center">
                                <h4 class="card-stats-number" id="deletedusers">
                                    <div class="span">
                                        <div class="typing_loader"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--card stats end-->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <div class="card-panel" id="feeds">
                                <h5 class="feeds_title orange darken-2 white-text">
                                    <div class="row no-space">
                                        <div class="col l8 m8 s12">
                                            Last 12 Months Trial Paid Users  
                                        </div>
                                       
                                        @*<div class="input-field col s12 m4 l4">
                                            <select id="selectyear" onchange="ManagePaidUser()">
                                                <option value="" disabled selected>Choose your option</option>
                                               
                                                
                                            </select>
                                            <label class="white-text"><h6>Select Year</h6></label>
                                        </div>*@
                                    </div>    
                                </h5>
                                
                                <div class="card-panel">
                                    <div class="row no-space">
                                        <div class="col l4 m4 s4">
                                            <label class=""><h6>Select Date For Trial Paid Users</h6></label>
                                        </div>
                                        <div class="col m4 s4 l4">
                                            <input id="trialuserdate" type="date" class="datepicker black-text"/> 
                                        </div>
                                        <div class="col m4 s4 l4 center">
                                            <button id="submit_datepaid" type="submit" class="btn  btn_style waves-effect waves-light btn cyan center" onclick="ClickManagePaidUser()">Search</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="chartdiv" id="paid_chart"></div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col l12 m12 s12">
                            <div class="card-panel" id="feeds">
                                <h5 class="feeds_title orange darken-2 white-text">
                                    <div class="row no-space">
                                        <div class="col l8 m8 s12">
                                            Last 12 Months Free Users
                                        </div>
                                         @*<div class="input-field col s12 m4 l4">
                <select id="selectyear" onchange="ManagePaidUser()">
                    <option value="" disabled selected>Choose your option</option>


                </select>
                <label class="white-text"><h6>Select Year</h6></label>
            </div>*@
                                    </div>  
                                </h5>
                                <div class="card-panel">
                                    <div class="row no-space">
                                        <div class="col l4 m4 s4">
                                            <label class=""><h6>Select Date For Free Users</h6></label>
                                        </div>
                                        <div class="col m4 s4 l4">
                                            <input id="freeuserdate" type="date" class="datepicker black-text"/>
                                        </div>
                                        <div class="col m4 s4 l4 center">
                                            <button id="submit_dateunpaid" type="submit" class="btn  btn_style waves-effect waves-light btn cyan center" onclick="ClickManageUnPaidUser()">Search</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="chartdiv" id="unpaid_chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->

            </section>
            <!-- END CONTENT -->


        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->
    <!-- ====  Scripts  ==== -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58515856-3', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/jquery-1.11.2.min.js"></script>

    <!--scrollbar-->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script type="text/javascript" src="https://greasyfork.org/scripts/14637-arrive-js/code/Arrivejs.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/materialize.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/js/admin/socioboard.js"></script>
    <!-- <script type="text/javascript" src="http://demo.geekslabs.com/materialize/v3.1/js/materialize.min.js"></script> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.js"></script>
    
    <script type="text/javascript" src="~/contents/socioboard/js/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/charts-amcharts.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/serial.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/pie.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/themes/light.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/dropify/dist/js/dropify.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/ScrollTabs/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/ScrollTabs/js/jquery.scrolltabs.js"></script>

    <!-- Toast Notification -->
    <script type="text/javascript">
    // Toast Notification
    $(window).load(function() {
        setTimeout(function() {
            //Materialize.toast('<span>Chanchal ! I am a Socioboard Admin.</span>', 1500);
        }, 3000);
        setTimeout(function() {
            //Materialize.toast('<span>You can swipe me too!</span>', 3000);
        }, 5500);
    });

    // loader
         $(window).load(function() {
            setTimeout(function() {
              $('body').addClass('loaded');
            }, 200);
          });
    </script>


    <script>
        var countPaidUsers = null;
        var countUnPaidUsers = null;
        var counttotalusers = null;
        var countactiveusers = null;
        window.onload = function () {
            getpaidusers();
            getunpaidusers();
            getactiveusers();
            getdeletedusers();
        };
        function getpaidusers() {
            $.ajax({
                type: "GET",
                url: "@ViewBag.ApiDomain/api/user/AdminPaidUsers",
                dataType: "html",
                success: function (msg) {
                    var resp = JSON.parse(msg);
                    var resp_conv = resp > 999999 ? (resp / 1000000).toFixed(1) + ' M' : (resp > 999 ? (resp / 1000).toFixed(1) + ' K' : resp);
                    $('#paidusers').html(resp_conv);
                    countPaidUsers = resp;
                    if (countUnPaidUsers != null) {
                        var totalusers = countPaidUsers + countUnPaidUsers;
                        var totalusers_conv = totalusers > 999999 ? (totalusers / 1000000).toFixed(1) + ' M' : (totalusers > 999 ? (totalusers / 1000).toFixed(1) + ' K' : totalusers);
                        $('#total_users').html(totalusers_conv);
                    }


                },
                error: function (msg) {

                    return false;
                }

            });

        }

        function getunpaidusers() {
            $.ajax({
                type: "GET",
                url: "@ViewBag.ApiDomain/api/user/AdminUnpaidUsers",
                dataType: "html",
                success: function (msg) {
                    var resp = JSON.parse(msg);
                    var resp_conv = resp > 999999 ? (resp / 1000000).toFixed(1) + ' M' : (resp > 999 ? (resp / 1000).toFixed(1) + ' K' : resp);
                    $('#unpaidusers').html(resp_conv);
                    countUnPaidUsers = resp;
                    if (countPaidUsers != null) {
                        var totalusers = countPaidUsers + countUnPaidUsers;
                        var totalusers_conv = totalusers > 999999 ? (totalusers / 1000000).toFixed(1) + ' M' : (totalusers > 999 ? (totalusers / 1000).toFixed(1) + ' K' : totalusers);
                        $('#total_users').html(totalusers_conv);
                    }
                },
                error: function (msg) {

                    return false;
                }

            });

        }

        function getactiveusers() {
            $.ajax({
                type: "GET",
                url: "@ViewBag.ApiDomain/api/user/AdminActiveUsers",
                dataType: "html",
                success: function (msg) {
                    var resp = JSON.parse(msg);
                    var resp_conv = resp > 999999 ? (resp / 1000000).toFixed(1) + ' M' : (resp > 999 ? (resp / 1000).toFixed(1) + ' K' : resp);
                    $('#activeusers').html(resp_conv);

                },
                error: function (msg) {

                    return false;
                }

            });

        }

        function getdeletedusers() {
           $.ajax({
                type: "GET",
                url: "@ViewBag.ApiDomain/api/user/AdminInactiveUsers",
                dataType: "html",
                success: function (msg) {
                    var resp = JSON.parse(msg);
                    var resp_conv = resp > 999999 ? (resp / 1000000).toFixed(1) + ' M' : (resp > 999 ? (resp / 1000).toFixed(1) + ' K' : resp);
                    $('#deletedusers').html(resp_conv);

                },
                error: function (msg) {

                    return false;
                }

            });

        }
        </script>


    <!-- Chart code -->
    <script>
        function myfunctionPaid(array) {
            
            for (var i = 1; i < array.length; i++) {
                var val = array[0];
                var val1 = array[1];
                var val2 = array[2];
                var val3 = array[3];
                var val4 = array[4];
                var val5 = array[5];
                var val6 = array[6];
                var val7 = array[7];
                var val8 = array[8];
                var val9 = array[9];
                var val10 = array[10];
                var val11 = array[11];
                var chart = AmCharts.makeChart("paid_chart", {
                    "type": "serial",
                    "theme": "light",
                    "marginRight": 70,
                    "dataProvider": [{
                        "country": val.month,
                        "visits": val.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val1.month,
                        "visits": val1.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val2.month,
                        "visits": val2.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val3.month,
                        "visits": val3.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val4.month,
                        "visits": val4.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val5.month,
                        "visits": val5.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val6.month,
                        "visits": val6.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val7.month,
                        "visits": val7.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val8.month,
                        "visits": val8.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val9.month,
                        "visits": val9.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val10.month,
                        "visits": val10.paiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val11.month,
                        "visits": val11.paiduser,
                        "color": "#FF0F00"
                    },
                    ],
                    "valueAxes": [{
                        "axisAlpha": 0,
                        "position": "left",
                        "title": "Trial Paid user"
                    }],
                   // "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<b>[[category]]: [[value]]</b>",
                        "fillColorsField": "color",
                        "fillAlphas": 0.9,
                        "lineAlpha": 0.2,
                        "type": "column",
                        "valueField": "visits"
                    }],
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "country",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "labelRotation": 45,
                        "title": "Months"
                    },
                    "export": {
                        "enabled": true
                    }
                }
                );
            }
        }
        chart.addListener("rendered", zoomChart);
if(chart.zoomChart){
	chart.zoomChart();
}

function zoomChart(){
    chart.zoomToIndexes(Math.round(chart.dataProvider.length * 0.4), Math.round(chart.dataProvider.length * 0.55));
}
    </script>

    <script>
        function myfunctionUnPaid(array) {
            
            for (var i = 1; i < array.length; i++) {
                var val = array[0];
                var val1 = array[1];
                var val2 = array[2];
                var val3 = array[3];
                var val4 = array[4];
                var val5 = array[5];
                var val6 = array[6];
                var val7 = array[7];
                var val8 = array[8];
                var val9 = array[9];
                var val10 = array[10];
                var val11 = array[11];
                var chart = AmCharts.makeChart("unpaid_chart", {
                    "type": "serial",
                    "theme": "light",
                    "marginRight": 70,
                    "dataProvider": [{
                        "country": val.month,
                        "visits": val.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val1.month,
                        "visits": val1.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val2.month,
                        "visits": val2.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val3.month,
                        "visits": val3.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val4.month,
                        "visits": val4.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val5.month,
                        "visits": val5.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val6.month,
                        "visits": val6.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val7.month,
                        "visits": val7.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val8.month,
                        "visits": val8.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val9.month,
                        "visits": val9.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val10.month,
                        "visits": val10.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    {
                        "country": val11.month,
                        "visits": val11.Unpaiduser,
                        "color": "#FF0F00"
                    },
                    ],
                    "valueAxes": [{
                        "axisAlpha": 0,
                        "position": "left",
                        "title": "Free user"
                    }],
                   // "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<b>[[category]]: [[value]]</b>",
                        "fillColorsField": "color",
                        "fillAlphas": 0.9,
                        "lineAlpha": 0.2,
                        "type": "column",
                        "valueField": "visits"
                    }],
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "country",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "labelRotation": 45,
                         "title": "Months"
                    },
                    "export": {
                        "enabled": true
                    }
                }
                );
            }
        }
        chart.addListener("rendered", zoomChart);
if(chart.zoomChart){
	chart.zoomChart();
}

function zoomChart(){
    chart.zoomToIndexes(Math.round(chart.dataProvider.length * 0.4), Math.round(chart.dataProvider.length * 0.55));
}
    </script>
    <script>
        function Logout() {
                
                //todo: code to delete profile

                $.ajax({

                    type: "GET",

                    url: '../Home/AdminLogout',
                    // url: '../User/DeleteUserAdmin?Id=' + Id,
                    dataType: "html",

                    success: function (msg) {
                        window.location.href = "../Index/Index";
                    
                    }

                });
        }


        function ClickManagePaidUser() {
            var selecteddate = $('#trialuserdate').val();
            if (selecteddate == "") {
                swal("Please select date!");
            }
            else {
                $("#submit_datepaid").attr("class", "btn btn_style waves-effect waves-light btn cyan center disabled");
                ManagePaidUser();
            }
        }
        function ClickManageUnPaidUser() {
            var selecteddate = $('#freeuserdate').val();
            if (selecteddate == "") {
                swal("Please select date!");
            }
            else{
                $("#submit_dateunpaid").attr("class", "btn btn_style waves-effect waves-light btn cyan center disabled");
                ManageUnPaidUser();
            }
        }


        function ManagePaidUser() {
            var selecteddate = $('#trialuserdate').val();
            //todo: code to delete profile

                $.ajax({

                    type: "GET",

                    url: '../AdminHome/ManagePaidUser?selecteddate=' + selecteddate,
                    dataType: "html",

                    success: function (msg) {

                        var mystring = msg;
                        msg = mystring.replace(/\\/g, "").replace(/"\[/g, "[").replace(/]"/g, "]");
                        var array = JSON.parse(msg);
                        console.log(array);
                        //  paidAccount = msg //[{ "month": "Feb", "paiduser": 0 }, { "month": "Mar", "paiduser": 0 }, { "month": "Apr", "paiduser": 0 }, { "month": "May", "paiduser": 0 }, { "month": "Jun", "paiduser": 0 }, { "month": "Jul", "paiduser": 0 }, { "month": "Aug", "paiduser": 0 }, { "month": "Sep", "paiduser": 0 }, { "month": "Oct", "paiduser": 0 }, { "month": "Nov", "paiduser": 0 }, { "month": "Dec", "paiduser": 1 }, { "month": "Jan", "paiduser": 0 }];
                        myfunctionPaid(array);

                    }

                });
            
        }

        function ManageUnPaidUser() {
            var selecteddate = $('#freeuserdate').val();
            //todo: code to delete profile

                $.ajax({

                    type: "GET",

                    url: '../AdminHome/ManageUnPaidUser?selecteddate=' + selecteddate,
                    dataType: "html",

                    success: function (msg) {

                        var mystring = msg;
                        msg = mystring.replace(/\\/g, "").replace(/"\[/g, "[").replace(/]"/g, "]");
                        var array = JSON.parse(msg);
                        console.log(array);
                        //  paidAccount = msg //[{ "month": "Feb", "paiduser": 0 }, { "month": "Mar", "paiduser": 0 }, { "month": "Apr", "paiduser": 0 }, { "month": "May", "paiduser": 0 }, { "month": "Jun", "paiduser": 0 }, { "month": "Jul", "paiduser": 0 }, { "month": "Aug", "paiduser": 0 }, { "month": "Sep", "paiduser": 0 }, { "month": "Oct", "paiduser": 0 }, { "month": "Nov", "paiduser": 0 }, { "month": "Dec", "paiduser": 1 }, { "month": "Jan", "paiduser": 0 }];
                        myfunctionUnPaid(array);

                    }

                });
            
        }

        $(document).ready(function () {
            ManagePaidUser();
            ManageUnPaidUser();
        });
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears:true,
            min: new Date(2014, 10, 1),
            max: true

        });

        // for date dropdown
        $('select').material_select();
    </script>
        <script>
        var date = new Date();
        var year = date.getFullYear();
        var txt = "";
        var option = $("#selectyear");
        var tempyear = 2014;
        while (year >= tempyear) {
          debugger;
            console.log(tempyear);
            txt += "<option value="+tempyear+">"+tempyear+"</option>";
            tempyear++;
        }
        console.log(txt);
            $(option).append(txt);
        $(option).material_select();
         </script>
</body>

</html>

<style>
    * {
        box-sizing: border-box;
    }

    html {
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: #59488b;
        height: 10px;
    }

    .typing_loader {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 13px auto;
        animation: typing 1s linear infinite alternate;
        position: relative;
        left: -12px;
    }

    @@keyframes typing {
        0% {
            background-color: rgba(255,255,255,1);
            box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 24px 0px 0px 0px rgba(255,255,255,0.2);
        }

        25% {
            background-color: rgba(255,255,255,0.4);
            box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 24px 0px 0px 0px rgba(255,255,255,0.2);
        }

        75% {
            background-color: rgba(255,255,255,0.4);
            box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 24px 0px 0px 0px rgba(255,255,255,1);
        }
    }
</style>