@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";

    var planType =string.Empty;
    var amount = string.Empty;
}


<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
    <div class="row margin-top-30">
        <div class="col s4">
            <h4 class="center-align Righteous_font grey-text text-darken-2">Now a Social Media Dashboard You Can Call Your Own</h4>
            <h6>Benefits:</h6>
            <ul>
                <li>Customizable as per your needs</li>
                <li>Flexible Client Management</li>
                <li>Competitive price</li>
                <li>World Class Support</li>
                <li>Comes with Mobile App - Android and IOS</li>
            </ul>
            <p>Interested? One of our account managers will be in touch...</p>
            <form onsubmit="CreateDemoReq(); return false;" id="demoForm" class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person_pin</i>
                            <input id="req_first_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="req_first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person_pin</i>
                            <input id="req_last_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="req_last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">message</i>
                            <input id="req_email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" >
                            <label for="req_email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">business</i>
                            <input id="req_Company" type="text" class="validate">
                            <label for="req_Company">Company</label>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="req_Message" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phonelink_ring</i>
                            <input id="req_Phone" type="text" required class="validate" maxlength="10" pattern="[0-9]{10}">
                            <label for="req_Phone" data-error="PhoneNumber" data-success="right">Phone Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s1 m6 offset-m1">
                            <div class="g-recaptcha" data-sitekey="6LcnFhwTAAAAADraBcaLKPID5WZ3ErIEYI3dmKd_"></div>
                        </div>
                    </div>
                    <div class="center-align">
                        <button id="submitButton" type="submit" class="btn waves-effect waves-light red">Submit<i class="fa fa-paper-plane"></i></button>
                        @*<div class="btn waves-effect waves-light red" onclick="CreateDemoReq()" name="action">
                            Submit
                            <i class="fa fa-paper-plane"></i>
                        </div>*@
                        <a class="waves-effect waves-light btn cyan" onclick="document.getElementById('demoForm').reset();">Reset</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s8">
            <h4 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Are you an Agency?</h4>
            <p>Increase and nurture your clientele with the Socioboard’s offerings designed uniquely for the Agencies. These versions have a great interface that anybody can understand, powerful engagement tools and customizable analytics to monitor, analyze and report across countless social profiles. What’s more, you can feature your own logo and domain name, so your clients consider it your product, not to mention Socioboard anywhere. Agencies can use commerically supported whitelabel version of Socioboard. Its fully open sourced and customizable as per your agency needs.</p>
            <img src="/contents/socioboard/images/sb_mockup.png" class="responsive-img">
            <p>Agency White Label version is best suited to Small and Medium Enterprises (SMEs) who’d need support, updates, upgrades and related apps for being able to use Socioboard effectively to continue to build their clientele and their brands.</p>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col m12">
            <h4 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Agency White Label version is available in three different variants</h4>
            <div class="col s12 m10 offset-m1 l9 offset-l2">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2 center-align">
                            <img src="~/contents/socioboard/images/agency_1.png" alt="" class="circle responsive-img">
                            <span>Agency Lite</span>
                        </div>
                        <div class="col s7">
                            <span class="black-text">
                                Agency Lite is best suited for small agencies. You could put your logo and deploy it up.Click to buy agency lite of $1999.
                            </span>
                        </div>
                        <div class="col s3 center-align">
                            <a class="waves-effect waves-light btn cyan" onclick="BuyAgency('Agency Lite','1999')">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2 center-align">
                            <img src="~/contents/socioboard/images/agency_2.png" alt="" class="circle responsive-img">
                            <span>Agency Pro</span>
                        </div>
                        <div class="col s7">
                            <span class="black-text">
                                Agency Pro allows you to deploy with your logo as well as your theme. It makes your customers feel at home.Click to buy agency pro of $2999.
                            </span>
                        </div>
                        <div class="col s3 center-align">
                            <a class="waves-effect waves-light btn cyan" onclick="BuyAgency('Agency Pro', '2999')">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2 center-align">
                            <img src="~/contents/socioboard/images/agency_3.png" alt="" class="circle responsive-img">
                            <span>Agency Premium</span>
                        </div>
                        <div class="col s7">
                            <span class="black-text">
                                Agency Premium offers full customization with your logo, theme and also iOS and Android apps. This is a full-fledged version suitable for scaling agencies. Click to buy agency premium of $4999.
                            </span>
                        </div>
                        <div class="col s3 center-align">
                            <a class="waves-effect waves-light btn cyan" onclick="BuyAgency('Agency Premium', '4999')">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- AgencyModal Structure -->
    <div id="AgencyModal" class="modal">
        <div class="modal-content">
            <h4 class="center-align Righteous_font">Agency Plan</h4>
            <hr>
            <div class="row center-align">
                <form onsubmit="BuyPlan(); return false;" id="demoagency" class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="agency_first_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                <label for="agency_first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="agency_last_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                <label for="agency_last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">message</i>
                                <input id="agency_email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                                <label for="agency_email" data-error="wrong" data-success="right">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">business</i>
                                <input id="agency_Company" type="text" class="validate">
                                <label for="agency_Company">Company</label>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="agency_Message" class="materialize-textarea"></textarea>
                                        <label for="icon_prefix2">Message</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phonelink_ring</i>
                                <input id="agency_Phone" type="text" required class="validate" maxlength="10" pattern="[0-9]{10}">
                                <label for="agency_Phone" data-error="PhoneNumber" data-success="right">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s1 m6 offset-m1">
                                <div class="g-recaptcha" data-sitekey="6LcnFhwTAAAAADraBcaLKPID5WZ3ErIEYI3dmKd_"></div>
                            </div>
                        </div>
                        <div class="center-align">
                            <button id="submitButton" type="submit" class="btn waves-effect waves-light red">Submit<i class="fa fa-paper-plane"></i></button>
                            <a class="waves-effect waves-light btn cyan" onclick="document.getElementById('demoagency').reset();">Reset</a>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        function CreateDemoReq() {
            debugger;
            var firstName = $('#req_first_name').val();
            //var designation = $('#req_Designation').val();
            var lastName = $('#req_last_name').val();
            var email = $('#req_email').val();
            var company = $('#req_Company').val();
            var Phone = $('#req_Phone').val();
            // var skype = $('#req_skype').val();
            //var location = $('#req_Location').val();
            // var companyWebsite = $('#req_CompanyWebsite').val();
            var message = $('#req_Message').val();
            if (grecaptcha.getResponse() != "")
            {
            $.ajax({

                type: "POST",

                url: "@ViewBag.ApiDomain/api/user/DemoRequest",

                data: { "firstName": firstName, "lastName": lastName, "company": company, "emailId": email, "phoneNumber": Phone, "message": message, "demoPlanType": "Agency" },

                // contentType: "application/json; charset=utf-8",

                dataType: "html",

                success: function (msg) {

                    alertify.set({ delay: 5000 });
                    alertify.success("Request Sent Successfully");
                    $('#req_first_name').val('');
                    $('#req_last_name').val('');
                    $('#req_email').val('');
                    $('#req_Company').val('');
                    $('#req_Phone').val('');
                    // $('#req_skype').val("");
                    $('#req_Message').val('');
                    $('#req_CompanyWebsite').val('');
                    $('#req_Location').val('');
                    $('#req_Designation').val('');
                    grecaptcha.reset();
                },
                error: function (msg) {
                    alertify.set({ delay: 5000 });
                    alertify.error(msg.responseText);
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

            });
            }
            else
            {
                alertify.set({ delay: 5000 });
                alertify.error("You can't leave Captcha Code empty");
            }

        }

        function BuyAgency(plan,amountdetails)
        {
            planType = plan;
            amount = amountdetails;
            $('#AgencyModal').openModal();

        }

        function BuyPlan()
        {

            var firstName = $('#agency_first_name').val();
            var lastName = $('#agency_last_name').val();
            var email = $('#agency_email').val();
            var company = $('#agency_Company').val();
            var Phone = $('#agency_Phone').val();
            var message = $('#agency_Message').val();

          //  if (grecaptcha.getResponse() != "") {
                $.ajax({

                    type: "GET",

                    url: "@ViewBag.Domain/Index/AgencyPlan",

                    data: { "firstName": firstName, "lastName": lastName, "company": company, "emailId": email, "phoneNumber": Phone, "message": message, "demoPlanType": planType, "amount": amount },


                    dataType: "html",

                    success: function (msg) {
                        $('#req_first_name').val('');
                        $('#req_last_name').val('');
                        $('#req_email').val('');
                        $('#req_Company').val('');
                        $('#req_Phone').val('');
                        // $('#req_skype').val("");
                        $('#req_Message').val('');
                        $('#req_CompanyWebsite').val('');
                        $('#req_Location').val('');
                        $('#req_Designation').val('');
                        grecaptcha.reset();
                        window.top.location = msg;
                    },
                    error: function (msg) {
                        alertify.set({ delay: 5000 });
                        alertify.error(msg.responseText);
                        return false;
                    }

                });
           // }
            //else {
            //    alertify.set({ delay: 5000 });
            //    alertify.error("You can't leave Captcha Code empty");
            //}

        }
       
    </script>
    <script>
        // $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/index/IsUserLogedIn",
            success: function (result) {
                // alert(result);
                if (result == "True") {
                    window.location = '/home';
                }
            }
        });

        //  });
    </script>
}