@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_BoardMeLayout.cshtml";

}


<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel blue accent-1 center-align z-depth-2">
                <div class="nobox">
                    <h2 class="no-space white-text Righteous_font">#<span>@ViewBag.board.boardName</span></h2>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col m8 grey-text text-darken-3">
                            <span class="card-title">Total Favorites</span>
                            <p style="font-size: 40px;">44</p>
                        </div>
                        <div class="col m4"><i class="fa fa-star-o fa-5x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col m8 grey-text text-darken-3">
                            <span class="card-title">Total Tweets</span>
                            <p style="font-size: 40px;">44</p>
                        </div>
                        <div class="col m4"><i class="fa fa-twitch fa-5x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col m8 grey-text text-darken-3">
                            <span class="card-title">Total ReTweets</span>
                            <p style="font-size: 40px;">44</p>
                        </div>
                        <div class="col m4"><i class="fa fa-retweet fa-5x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- statr products list -->
    <div id="products" class="row">
        <div class="product-sizer"></div>
        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l12 m12 s12 margin-top-10 center">
                            <img class="responsive-img circle " src="https://lh3.googleusercontent.com/-Culhtyy8_jI/AAAAAAAAAAI/AAAAAAAAB1Q/fAc4YsOW9Ec/photo.jpg?sz=50">
                        </div>
                        <div class="col l12 s12 m12 center">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13703067_928128567297060_1628625924_n.jpg?ig_cache_key=MTI5MzQ3NzA3MDMzNzA5ODk1NA%3D%3D.2.l" class="responsive-img">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light modal-trigger" href="#ScheduleModal1">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l12 m12 s12 margin-top-10 center">
                            <img class="responsive-img circle " src="https://lh3.googleusercontent.com/-Culhtyy8_jI/AAAAAAAAAAI/AAAAAAAAB1Q/fAc4YsOW9Ec/photo.jpg?sz=50">
                        </div>
                        <div class="col l12 s12 m12 center">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13561513_1655032364822077_2042963898_n.jpg?ig_cache_key=MTI4ODQ5MzE4NDMzMDg2NDAzNQ%3D%3D.2.l" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light modal-trigger" href="#ScheduleModal1">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="javascript:void(0)" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light modal-trigger" href="#ScheduleModal1">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="javascript:void(0)" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13062440_1351281221564334_5815357469387600632_n.jpg?oh=aa8aab854d7a3f5b9d0d9ae40f337487&oe=583FFE87" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="javascript:void(0)">Schedule</a>
                    <a href="javascript:void(0)" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13174050_1357570130935443_1630636432254209655_n.jpg?oh=3d1fd98a7b11f8f1a91ef704a0644e39&oe=5845F88A">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13174050_1357570130935443_1630636432254209655_n.jpg?oh=3d1fd98a7b11f8f1a91ef704a0644e39&oe=5845F88A" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="http://demo.geekslabs.com/materialize/v3.1/images/img5.jpg" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13062440_1351281221564334_5815357469387600632_n.jpg?oh=aa8aab854d7a3f5b9d0d9ae40f337487&oe=583FFE87" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13174050_1357570130935443_1630636432254209655_n.jpg?oh=3d1fd98a7b11f8f1a91ef704a0644e39&oe=5845F88A">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13174050_1357570130935443_1630636432254209655_n.jpg?oh=3d1fd98a7b11f8f1a91ef704a0644e39&oe=5845F88A" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="http://demo.geekslabs.com/materialize/v3.1/images/img5.jpg" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-1/c0.22.160.160/p160x160/13062440_1351281221564334_5815357469387600632_n.jpg?oh=f8b9d5ffaf1861eb4c6277a5e4df7a3b&oe=583829B5" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <div class="center">
                                    <img src="https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13062440_1351281221564334_5815357469387600632_n.jpg?oh=aa8aab854d7a3f5b9d0d9ae40f337487&oe=583FFE87" class="responsive-img">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col l2 m2 s6 margin-top-10">
                            <img class="responsive-img" src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg">
                        </div>
                        <div class="col l10 s10 m10">
                            <span class="card-title">Chanchal Santra</span>
                            <br>
                            <span>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin-square fa-fw"></i>@@chanchal
                                </a>
                            </span>
                        </div>
                        <div class="col l12 m12 s12">
                            <p class="description_listen">
                                4 Social Commerce Tips Guaranteed to Double Your Revenue
                                <img src="http://demo.geekslabs.com/materialize/v3.1/images/img5.jpg" class="responsive-img">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Schedule</a>
                    <a href="#" class="waves-effect waves-grey btn grey ">1-Click Schedule</a>
                </div>
            </div>

            <!-- extra -->
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img5.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img6.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img7.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img8.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img2.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img7.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img8.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img2.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img7.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img8.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img2.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img7.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img4.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>


                    <a href="#">
                        <img src="http://demo.geekslabs.com/materialize/v3.1/images/img6.jpg" alt="product-img">
                    </a>
                </div>
                <ul class="card-action-buttons">
                    <li>
                        <a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                    </li>
                    <li>
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">

                    <div class="row">
                        <div class="col s8">
                            <p class="card-title grey-text text-darken-4">
                                <a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                            </p>
                        </div>
                        <div class="col s4 no-padding">
                            <a href=""></a><img src="http://demo.geekslabs.com/materialize/v3.1/images/amazon.jpg" alt="amazon" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

    </div>
    <!--/ end items list -->
</div>


@section Scripts{
<link href="~/contents/socioboard/global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="~/contents/socioboard/css/frontend/custom.css" rel="stylesheet" />
<script src="~/contents/socioboard/global/plugins/blocksIt/blocksit.js"></script>


<script type="text/javascript" src="~/contents/socioboard/global/plugins/moment.js"></script>
<script type="text/javascript" src="~/contents/socioboard/global/plugins/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/contents/socioboard/js/admin/imagesloaded.pkgd.min.js"></script>

<script type="text/javascript">
       $('.image-wrapper').hover(function() {
                $(this).removeClass('hoverOut').addClass('hoverIn');
            }, function() {
                $(this).removeClass('hoverIn').addClass('hoverOut');
            });
</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>


     /*
    * boardme script
    */
    var $containerProducts = $("#products");
    $containerProducts.imagesLoaded(function() {
      $containerProducts.masonry({
        itemSelector: ".product",
        columnWidth: ".product-sizer",
      });
    });
</script>
    }