@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div class="container">
    <iframe src="https://recruit.zoho.com/ats/Portal.na?iframe=false&digest=ffbl@cv91uUpRzY5bTrI3yd0mfykuojV.rm1ez9ejTY-" style="width:100%;height:600px"></iframe>
</div>