@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div class="container">

    <div class="section z-depth-1">
        <img src="https://i.imgur.com/zQmaE4f.png" class="responsive-img">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#AboutUs">About Us</a></li>
                    <li class="tab col s3"><a href="#OurClients">Our Clients</a></li>
                    <li class="tab col s3"><a href="#OurTeam">Our Team</a></li>
                    <li class="tab col s3"><a href="#Partners">Partners</a></li>
                    <li class="tab col s3"><a href="#Careers">Careers</a></li>
                </ul>
            </div>

            <div id="AboutUs" class="col s12">
                <div>
                    <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">About Us</h5>
                </div>
                <div class="row">
                    <div class="col s8">
                        <h4 class="Righteous_font grey-text text-darken-2">About Socioboard</h4>
                        <blockquote><p>Socioboard is world’s first open source social technology enabler and first open source product company from India. We build social technology which helps businesses and brands to better understand social media and harness its real power.Our vision is to provide easy to use tools to businesses and brands which covers 360 degree use cases when it comes to Social Media.We are building innovative products for various social networks which fill the critical gap - Social Networks were meant for user’s not for businesses. Our tools and products view Social from a business point of view and fill those gaps which social networks cannot fill exquisitely.Business should own their social data and they should be incharge of what they want to do with it, generate reports and analyze data to make informed and improved business decisions. This is possible when things are open and businesses have freedom to choose, we believe open source is a way to make this possible. So that brands and businesses can embrace social technology with an open mind in an open and connected world.We believe in providing our users with choice, we don’t push useless buggy bloatware to their throat and force them to pay for it.Our products resonate with our vision to make social technologies more open.</p></blockquote>
</div>
                    <div class="col s4">
                        <img src="http://i.imgur.com/pp1DrxP.gif" class="responsive-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="~/contents/socioboard/images/SocioboardCore_logo.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4 truncate tooltipped" data-position="top" data-delay="50" data-tooltip="Socioboard Core">Socioboard Core</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Socioboard Core<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="~/contents/socioboard/images/SocioboardCore_inner_logo.png">
                                <p class="light text_just">World's #1 Open source social media management, analytics &amp; reporting platform. Manage multiple social media accounts, create useful reports &amp; take business decisions based on them. It's fully customizable &amp; extensible in the form of plugins</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="~/contents/socioboard/images/BoardMe_logo.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">BoardMe</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">BoardMe<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="~/contents/socioboard/images/BoardMe_inner_logo.png">
                                <p class="light text_just">Self service platform which helps you to create Social Boards &amp; stream them everywhere like web, desktop, mobile or any other screen. Connect Social Feeds or Hastags into 1 place from all your social networks &amp; create social tiles in minutes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="~/contents/socioboard/images/brandbuzz_logo.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">BrandBuzz</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">BrandBuzz<i class="material-icons right">close</i></span>
                                <div><img class="activator img_center" src="~/contents/socioboard/images/brandbuzz_inner_logo.png"></div>
                                <p class="light text_just">Engage with your employees and loyal customers and engage with them in a unique way to make them your social brand ambassadors. Leverage the power of Word of Mouth marketing to recruit employees and customers as your marketing crew.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="~/contents/socioboard/images/brandhit_logo.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">BrandHit</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">BrandHit<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="~/contents/socioboard/images/brandhit_inner_logo.png">
                                <p class="light text_just">Reach influencers in your niche and get them to tweet or share on facebook, instagram or linkedin about your brand or your product. Get personalized recommendation from top influencers in the industry and build up a successful brand.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <div class="col s12">
                    <h2 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Socioboard Desktop Applications for Social Media Marketers</h2>
                    <blockquote>
                        Socioboard desktop apps are the swiss knife of Social Media Marketing Industry.
                        Socioboard desktop applications are not completely restricted by the various APIs of the social networks like Socioboard Web and Mobile apps. Rather they give you a complete competeting user experience with the original network but as a desktop application. The Desktop apps are a collective effort of the socioboard community spread globally.
                        Socioboard desktop apps must be used with utmost care to make sure you remain within the social network usage limits and don’t over do something. It’s best to use them under trained guidance from experts.
                    </blockquote>
                </div>
                <!--  </div>  -->
                <div class="row">
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/U8fuYhk.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4 ">inBoardPro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">inBoardPro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/U8fuYhk.png">
                                <p class="light text_just">inBoardPro is linkedin marketing on Steroids. Its a desktop application which helps you to automate everything you can do on linkedin. It helps you to manage multiple linkedin accounts, connect with new members in the linked community, post automated updates , manage all your linkedin groups and do a whole lot of things on linkedin. The open source version of inboardpro is hosted here - <a href="https://github.com/socioboard/inboard">https://github.com/socioboard/inboard</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/mR7o8pT.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">faceboardPro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">faceboardPro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/mR7o8pT.png">
                                <p class="light text_just">faceBoardPro is an automated facebook marketing software. It helps you to automate your regular facebook tasks with few clicks. It helps to you manage multiple facebook accounts, manage your friends, groups, pages, apps etc. Basically it can automate all your day to day facebook management tasks and save a lot of your time. The open source version of faceboardpro is hosted here -<a href="https://github.com/socioboard/faceboard">https://github.com/socioboard/faceboard</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/ROLgDCv.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">gramBoardPro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">gramBoardPro<i class="material-icons right">close</i></span>
                                <div><img class="activator img_center" src="http://i.imgur.com/ROLgDCv.png"></div>
                                <p class="light text_just">gramBoardPro is an instagram automation power-house. It can manage all your instagram tasks , likes, comments etc. Very useful software for instagram marketers. The open source version is hosted here -<a href="https://github.com/socioboard/gramboard">https://github.com/socioboard/gramboard</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/0Y3tfqk.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">twtBoardPro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">twtBoardPro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/0Y3tfqk.png">
                                <p class="light text_just">twtBoardPro is an twitter marketing platform. It helps you manage multiple twitter accounts and automate your tweets, re-tweets, favorites etc. You can do a whole lot of stuff on twitter and get ultra productive on twitter by using this software. The open source version of twtboardpro is hosted here -<a href="https://github.com/socioboard/twtboard">https://github.com/socioboard/twtboard</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Socioboard Mobile Apps for Social Media Marketers</h2>
                    <blockquote>
                        <strong>Socioboard Official App</strong>
                        The official app is an extension of Socioboard Core app on iOS and Android. It helps you manage all your social media accounts you have connected to Socioboard Web Core via mobile apps.
                    </blockquote>
                </div>
                <div class="row">
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/J79ZeBr.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4 ">t-boardpro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">t-boardpro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/J79ZeBr.png">
                                <p class="light text_just">t-boardpro is a multiple twitter account management app, it helps you to login to multiple twitter accounts from your iOS or Android device and do various twitter activities like tweeting, re-tweeting, favorites, follow, unfollow, scheduling tweets etc. Its a a very powerful twitter marketing automation app. The open source version is called t-board is available on github - <a href="https://github.com/socioboard/t-board">https://github.com/socioboard/t-board</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/j138jlV.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">f-boardpro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">f-boardpro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/j138jlV.png">
                                <p class="light text_just">f-boardpro is a multiple facebook account management app, it helps you to login to multiple facebook accounts from your iOS or Android device and do various facebook activities like post, like, comment, managing pages, groups and much more. The open source version is called f-board is hosted here - <a href="https://github.com/socioboard/f-board">https://github.com/socioboard/f-board</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/QLgWDPa.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">l-boardpro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">l-boardpro<i class="material-icons right">close</i></span>
                                <div><img class="activator img_center" src="http://i.imgur.com/QLgWDPa.png"></div>
                                <p class="light text_just">l-boardpro is a multiple LinkedIn account management app. It helps you to login multiple LinkedIn accounts from you iOS or Android device and do LinkedIn activities like share comments, see user following companies details and user can see latest jobs in following company. The open source version of l-boardpro is hosted here - <a href="https://github.com/socioboard/l-board">https://github.com/socioboard/l-board</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 simple bounceInDown">
                        <div class="card z-depth-5">
                            <div class="card-image waves-effect waves-block waves-light image-wrapper">
                                <span>
                                    <img class="activator" src="http://i.imgur.com/xUr1F8B.png">
                                </span>
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title activator grey-text text-darken-4">i-boardpro</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">i-boardpro<i class="material-icons right">close</i></span>
                                <img class="activator img_center" src="http://i.imgur.com/xUr1F8B.png">
                                <p class="light text_just">i-boardpro is a multiple instagram account management app, it helps you to login to multiple instagram accounts from your iOS or Android device and do various instagram activities like follow, unfollow, comment, like, scheduling posts etc. Its a a very powerful instagram marketing automation app. The opensource version of i-boardpro is hosted here - <a href="https://github.com/socioboard/i-board">https://github.com/socioboard/i-board</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Socioboard Mobile Apps for Social Media Marketers</h2>
                    <blockquote>
                        The mission of the Socioboard Technologies is to promote, protect, and advance the Socioboard Core framework, and to support and facilitate the growth of a diverse and international community of Socioboard programmers and users.
                        You can help fund Socioboard Technologies by making a donation or contributing to our source code on github.
                    </blockquote>
                    <h4 class="Righteous_font grey-text text-darken-2">Vision Statement</h4>
                    <p>
                        Socioboard Technologies shares a common vision which resonates with most of the open source technology companies. We want to create software for Social Media industry which is open, vendor neutral and aids users to be in complete control of their social data.
                        Our vision is to make products for a open and connected social world which will give users complete freedom of use.
                    </p>
                    <h4 class="Righteous_font grey-text text-darken-2">Role of the Organisation</h4>
                    <p>
                        Socioboard Technologies manages the funding, publicizing, protection of the core Socioboard Framework, made available to the public free of charge. This includes Socioboard Core (socioboard.com) itself, its sister projects: inBoard, faceboard, twtBoard,plusBoard,gramBoard and the mobile apps f-board,t-board,in-board,g-board,gm-board and other related projects, educational materials, and assorted tools and applications.
                        Socioboard Technologies is also responsible for development and management of commercial products based on Socioboard Pro - Socioboard.com, BrandBuzzPro,BrandHit, BoardMe, inBoardPro, faceboardPro, gramBoardPro, twtBoardPro etc.
                        Establishes licenses under which the above mentioned projects are managed, ensuring the rights of the public to freely obtain, use, redistribute, and modify intellectual property held by the Socioboard Technologies Private Limited.
                        Works with the Open Source Initiative to ensure that Socioboard licenses conform to the Open Source Definition. Protects the “Socioboard” name, and the names, service marks and trademarks associated with all other intellectual property held by Socioboard Technologies.
                        Raises funds to support Socioboard Technologies' programs and services. Funding must come from private contributions (including sponsoring memberships) and public grants, must come from a broad base, and that no single private donor can supply a substantial percentage of “Socioboard Technologies” total funding. Additional revenue may be pursued in ways consistent with then-current rules for public charities and with Socioboard's standing as an open source project. For example, Socioboard Technologies may offer to sell conference proceedings, special Socioboard distributions/licenses, or merchandise with distinctive insignia. Funds can also be generated by selling commercial licenses of Socioboard Core and offering various Socioboard family of products with commercial model of monetization.
                        Publicizes, promotes the adoption of, and facilitates the ongoing development of Socioboard-related technology and educational resources. This includes, but is not limited to, maintaining a public web site, planning Socioboard conferences, and offering grants to Socioboard-related open source projects. Encourages and facilitates Social Media related research in the public interest.
                    </p>
                </div>
            </div>

            <div id="OurClients" class="col s12">
                <div>
                    <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Our Clients</h5>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="row center">
                            <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Agencies that use our Product</h5>
                            <div class="carousel" style="height: 200px;">
                                <a class="carousel-item" href="https://www.bbdo.com/" target="_blank"><img src="~/contents/socioboard/images/logos/bbdo_logo.jpg"></a>
                                <a class="carousel-item" href="http://forzamigliozzi.com/" target="_blank"><img src="~/contents/socioboard/images/logos/forzamigliozzi_logo.jpg"></a>
                                <a class="carousel-item" href="http://fuelonline.co/" target="_blank"><img src="~/contents/socioboard/images/logos/fuelonline_logo.jpg"></a>
                                <a class="carousel-item" href="https://www.ideo.com/" target="_blank"><img src="~/contents/socioboard/images/logos/ideo_logo.jpg"></a>
                                <a class="carousel-item" href="https://www.jwt.com/" target="_blank"><img src="~/contents/socioboard/images/logos/jwt_logo.jpg"></a>
                                <a class="carousel-item" href="http://leoburnett.com/" target="_blank"><img src="~/contents/socioboard/images/logos/leoburnett_logo.jpg"></a>
                                <a class="carousel-item" href="http://mccann.com/" target="_blank"><img src="~/contents/socioboard/images/logos/mccann_logo.jpg"></a>
                                <a class="carousel-item" href="http://www.ogilvy.com/" target="_blank"><img src="~/contents/socioboard/images/logos/ogilvy_logo.jpg"></a>
                                <a class="carousel-item" href="http://www.razorfish.com/" target="_blank"><img src="~/contents/socioboard/images/logos/razorfish_logo.jpg"></a>
                                <a class="carousel-item" href="http://www.wk.com/" target="_blank"><img src="~/contents/socioboard/images/logos/WiedenKennedy_logo.jpg"></a>
                            </div>

                            <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">As Seen On</h5>
                            <div class="carousel" style="height: 200px;">
                                <a class="carousel-item" target="_blank" href="http://inc42.com/startups/socioboard-magento-wordpress-social-media-management-making/"><img src="~/contents/socioboard/images/logos/Inc42_logo.jpg"></a>
                                <a class="carousel-item" target="_blank" href="http://inc42.com/startups/socioboard-magento-wordpress-social-media-management-making/"><img src="~/contents/socioboard/images/logos/YS_Pages_logo.jpg"></a>
                                <a class="carousel-item" target="_blank" href="http://lighthouseinsights.in/review-socioboard-app-open-source-social-media-management-dashboard.html/"><img src="~/contents/socioboard/images/logos/LighthouseInsights_logo.jpg"></a>
                                <a class="carousel-item" target="_blank" href="http://www.nextbigwhat.com/socioboard-social-media-management-297/"><img src="~/contents/socioboard/images/logos/nextbigwhat-logo.jpg"></a>
                                <a class="carousel-item" target="_blank" href="http://www.socialsamosa.com/2014/04/social-media-platform-feature-socioboard/"><img src="~/contents/socioboard/images/logos/social_samosa_logo.jpg"></a>
                            </div>

                            <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">We are proud to be part of</h5>
                            <div class="carousel" style="height: 200px;">
                                <a class="carousel-item" href="#productconclave"><img src="~/contents/socioboard/images/logos/productconclave_logo.jpg"></a>
                                <a class="carousel-item" href="#iimb"><img src="~/contents/socioboard/images/logos/iimb_logo.jpg"></a>
                                <a class="carousel-item" href="#10000startups"><img src="~/contents/socioboard/images/logos/10000startups_logo.jpg"></a>
                                <a class="carousel-item" href="#vccircle"><img src="~/contents/socioboard/images/logos/vccircle_logo.jpg"></a>
                                <a class="carousel-item" href="#FbStart"><img src="~/contents/socioboard/images/logos/FbStart_logo.jpg"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div id="OurTeam" class="col s12 ">
                <div>
                    <h5 class="center-align hr_shadow Comfortaa_font grey-text text-darken-2">Our Team</h5>
                </div>
                <div class=" row">
                    <div class="col l6 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/contents/socioboard/images/sumit.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="card-title">Sumit Ghosh</span>
                                <p>
                                    Having built several Social Media Automation and Marketing Automation softwares in the past, I am building Socioboard into a full blown AI based open source suite of Marketing Automation Software for businesses.
                                    Socioboard is world's first AI based intelligent platform which B2B businesses can use for customer identification, acquisition and service. <br>
                                    The tech stack is Redis, ASP.NET MVC 5.0, NodeJS, Maria DB,Mongo DB, C#.NET, AngularJS, HTML5, Foundation CSS framework, R and Scala. <br>
                                    Java for Android Apps and Objective C for iOS Apps. <br>
                                    Read more about me here - http://sumitghosh.co.in/about/
                                </p>
                            </div>
                            <!--  <div class="card-action">
                       <a href="#">This is a link</a>
                     </div> -->
                        </div>
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/contents/socioboard/images/Archie_Abraham.jpg" />
                            </div>
                            <div class="card-content">
                                <span class="card-title">Archie Abraham</span>
                                <p>Archie Joseph Abraham, serial entrepreneur, ace marketer has build and managed 4 very large enterprises with revenues in excess of Rs. 100 crores. He has had majority of large corporates in India as his client and worked extensively building up very large projects in record breaking timelines. Graduating from Nagpur University in Commerce and Economics, he moved to set up his first entrepreneurial StartUp from Mumbai and then spread it all parts of India. With technology and digitalization taking the lead he sees the future lying in managing social media through listening, engaging and analyzing content for large corporates and for Political campaigns.</p>
                            </div>
                            <!--  <div class="card-action">
                       <a href="#">This is a link</a>
                     </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div id="Partners" class="col s12">
                <div>
                    <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Partners</h5>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p>Socioboard is in course of establishing partnerships with Cloud Services Providers as MS Azure, Amazon AWS etc. We are also in process of hosting plugins and applications from us as well as partners. We will continuously improve features as the feedback comes from our partners.Socioboard is a proud member of Nasscom’s 10,000 StartUps and secured 2nd rank in Indian Institute of Management’s start up fest DisruptIt 2014.</p>
                    </div>
                    <div class="col s6">
                        <div class="carousel" style="height: 200px;">
                            <a class="carousel-item" href="#WindowsAzure"><img src="http://i.imgur.com/18tSJhU.png?1"></a>
                            <a class="carousel-item" href="#AmazonWeb"><img src="http://i.imgur.com/LKtPB3q.png?1g"></a>
                            <a class="carousel-item" href="#IBMBluemix"><img src="http://i.imgur.com/UKREsWh.png"></a>
                            <a class="carousel-item" href="#GoogleDevelopers"><img src="http://i.imgur.com/dLTVC96.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Careers" class="col s12">
                <div>
                    <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Careers</h5>
                </div>
                <div class="row">
                    <div class="col m6">
                        <img src="http://i.imgur.com/M9McSYF.jpg?1" class="responsive-img">
                        <div class="divider"></div>
                        <p>Socioboard offers you opportunities and challenges to help you advance on your career path and achieve personal and professional development. Join our team. We’ll help you develop and accelerate your career by providing you with opportunities to amplify your talents. You can expect us to nurture your strengths and value your unique perspectives, and in return we expect you to share our passion for ‘excellence’ in everything we do.</p>
                    </div>
                    <div class="col m6">
                        <form id="myCarrerForm" class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" required class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" required class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Textarea</label>
                                </div>
                            </div>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Upload Resume</span>
                                    <input type="file" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="center-align">
                                <button class="btn waves-effect waves-light red" type="submit" name="action">
                                    Submit
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                                <a class="waves-effect waves-light btn cyan" onclick="document.getElementById('myCarrerForm').reset();">Reset</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
