@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<script>
    $('ul.tabs').tabs({
        onShow: function (tab) {
            $('.carousel').carousel();
        }
    });
</script>
<div class="container">

    <section>
        <div class="container" style="margin-top:35px">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <article>
                        <h4><strong>Socioboard Terms and Conditions</strong></h4>
                        <hr>
                        <p>
                            Socioboard Standard Terms and Conditions written on this webpage shall manage your use of our website, Socioboard accessible at <a href="https://www.socioboard.com" target="_blank">www.socioboard.com</a>.

                            These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.

                            Minors or people below 18 years old are not allowed to use this Website.
                        </p>

                        <h4><strong>Intellectual Property Rights</strong></h4>
                        <p>
                            Other than the content you own, under these Terms, Socioboard and/or its licensors own all the intellectual property rights and materials contained in this Website.

                            You are granted limited license only for purposes of viewing the material contained on this Website.
                        </p>

                        <h4><strong>Restrictions</strong></h4>
                        <p>publishing any Website material in any other media;</p>
                        <p>selling, sublicensing and/or otherwise commercializing any Website material; </p>
                        <p>publicly performing and/or showing any Website material; </p>
                        <p>using this Website in any way that is or may be damaging to this Website; </p>
                        <p>using this Website in any way that impacts user access to this Website;</p>
                        <p>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</p>
                        <p>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</p>
                        <p>using this Website to engage in any advertising or marketing.</p>


                        <h4><strong>No warranties</strong></h4>
                        <p>This Website is provided “as is,” with all faults, and Socioboard express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>


                        <h4><strong>Limitation of liability</strong></h4>
                        <p>
                            In no event shall Socioboard, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Socioboard, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
                        </p>

                        <h4><strong>Indemnification</strong></h4>
                        <p>You hereby indemnify to the fullest extent Socioboard from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>

                        <h4><strong>Severability</strong></h4>
                        <p>
                            If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
                        </p>

                        <h4><strong>Variation of Terms</strong></h4>
                        <p>
                            Socioboard is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
                        </p>

                        <h4><strong>Assignment</strong></h4>
                        <p>
                            The Socioboard is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                        </p>

                        <h4>Third-party links</h4>
                        <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

                        <h4>F<strong>Entire Agreement</strong></h4>
                        <p>
                            These Terms constitute the entire agreement between Socioboard and you in relation to your use of this Website, and supersede all prior agreements and understandings.
                        </p>

                        <h4><strong>Governing Law & Jurisdiction</strong></h4>
                        <p>These Terms will be governed by and interpreted in accordance with the laws of the State of Country, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Country for the resolution of any disputes.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

</div>
