@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
    <div class="row margin-top-50">
        <div class="col s7">
            <img src="http://i.imgur.com/M9McSYF.jpg?1" class="responsive-img">
            <h4 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Enterprise</h4>
            <p>Enterprise Edition is best suited to businesses or groups looking at versatile social media dashboard capable of serving their niches well. Any institution with growing social media presence would want to have an enterprise edition of Socioboard. The degree of independence and hassle free experience which it offers to the end users is unmatched and it allows customers to focus on their business instead of wandering in the maze of social media management. Enterprise version offers support, updates and applications for unlimited profiles to be managed at an office location. The enterprise version starts from $9999 per location and is priced depending on your enterprises' custom requirements. Interested in using Socioboard Enterprise version for your business now? Post your enquiry here.</p>
        </div>
        <div class="col s5 hoverable">
            <div class="section">
                <form onsubmit="CreateDemoReq(); return false;" class="row" >
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="req_first_name" type="text" required class="validate" pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$">
                                <label for="req_first_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">work</i>
                                <input id="req_Designation" type="text" required class="validate" >
                                <label for="req_Designation">Designation</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">business</i>
                                <input id="req_Company" type="text" class="validate">
                                <label for="req_Company">Company</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">location_on</i>
                                <input id="req_Location" type="text" class="validate">
                                <label for="req_Location">Location</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">language</i>
                                <input id="req_CompanyWebsite" type="text" required class="validate" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@@:%_\+.~#?&//=]*)|[-a-zA-Z0-9@@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@@:%_\+.~#?&//=]*)" >
                                <label for="req_CompanyWebsite" data-error="wrong" data-success="right">Company Website</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="req_email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                                <label for="req_email" data-error="wrong" data-success="right">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phonelink_ring</i>
                                <input id="req_Phone" type="text" required class="validate" maxlength="10" pattern="[0-9]{10}">
                                <label for="req_Phone" data-error="PhoneNumber" data-success="right">Phn No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="req_Message" class="materialize-textarea"></textarea>
                                <label for="req_Message">Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s1 m6 offset-m1">
                                <div class="g-recaptcha" data-sitekey="6LcnFhwTAAAAADraBcaLKPID5WZ3ErIEYI3dmKd_"></div>
                            </div>
                        </div>
                        <div class="center-align">
                            <button id="submitButton" type="submit" class="btn waves-effect waves-light red">Submit<i class="fa fa-paper-plane"></i></button>
                            @*<div class="btn waves-effect waves-light red" onclick="CreateDemoReq()" name="action">
                                Submit
                                <i class="fa fa-paper-plane"></i>
                            </div>*@
                            <a class="waves-effect waves-light btn cyan" onclick="document.getElementById('demoForm').reset();">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function CreateDemoReq() {
            debugger ;
           var firstName = $('#req_first_name').val();
           var designation = $('#req_Designation').val();
           // var lastName = $('#req_last_name').val();
            var email = $('#req_email').val();
            var company = $('#req_Company').val();
            var Phone = $('#req_Phone').val();
           // var skype = $('#req_skype').val();
            var location = $('#req_Location').val();
            var companyWebsite = $('#req_CompanyWebsite').val();
            var message = $('#req_Message').val();
            if (grecaptcha.getResponse() != "")
            {
                $.ajax({

                    type: "POST",

                                url: "@ViewBag.ApiDomain/api/user/DemoRequest",

                    data: { "firstName": firstName, "designation":designation, "company": company, "location":location, "companyWebsite":companyWebsite, "emailId": email, "phoneNumber": Phone, "message": message, "demoPlanType": "Enterprise" },

                    //contentType: "application/json; charset=utf-8",

                    dataType: "html",

                    success: function (msg) {

                        alertify.set({ delay: 5000 });
                        alertify.success("Request Sent Successfully");
                        $('#req_first_name').val('');
                        $('#req_last_name').val('');
                        $('#req_email').val('');
                        $('#req_Company').val('');
                        $('#req_Phone').val('');
                       // $('#req_skype').val("");
                        $('#req_Message').val('');
                        $('#req_CompanyWebsite').val('');
                        $('#req_Location').val('');
                        $('#req_Designation').val('');
                        grecaptcha.reset();
                    },
                    error: function (msg) {
                        alertify.set({ delay: 5000 });
                        alertify.error(msg.responseText);
                        $('#ImgLoading').hide();
                        $('#submitButton').show();
                        return false;
                    }

                });
            }
            else
            {
                alertify.set({ delay: 5000 });
                alertify.error("You can't leave Captcha Code empty");
            }

        }
    </script>
    <script>
        // $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/index/IsUserLogedIn",
            success: function (result) {
                // alert(result);
                if (result == "True") {
                    window.location = '/home';
                }
            }
        });

        //  });
    </script>
}