
@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
    var errorCode = TempData["ErrorCode"].ToString();
    var errorType = TempData["ErrorType"].ToString();
}

<div class="container">
    <div class="row margin-top-50">
        <div class="col s12 center-align ">
            <h4 class="hr_shadow Righteous_font grey-text text-darken-2">Enterprise Payment Error</h4>
            <p>We are unable to receive a payment due some error.</p>
            
            <p>Error Code : @errorCode</p>
            <p>Error Type : @errorType</p>

            <div class="center">
                <form action="/Index/Index" method="POST">
                    <button class="btn btn-primary">Go home</button>
                </form>
            </div>
        </div>
    </div>
</div>