@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div class="parallax-container valign-wrapper black-text">
    <div class="section no-pad-bot">
        <div class="container">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I post on Facebook Page from Socioboard?</div>
                    <div class="collapsible-body"><p class="white">Yes!!! You can post using compose feature in Socioboard, also you can schedule the post as per your convenient time.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How are the Trending topics on Twitter determined?</div>
                    <div class="collapsible-body"><p class="white">Socioboard discovery Quick Search lists topics trending as created by Twitter using an algorithm that identifies immediately popular topics, based on a user’s location and who they follow.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How does the Facebook Page Reports stream work?</div>
                    <div class="collapsible-body"><p class="white">The Activity Facebook Page reports shows recent activity on the Page. Recent activity includes new posts, new comments on old posts, no of likes, no of shares and also you can export the data of all the post according to the date wise into a CSV file.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Is there any limitation in features when you compare with the different plans?</div>
                    <div class="collapsible-body"><p class="white">No, all the features are enabled for all the plans, it is restrained with no of profiles.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why is my Facebook post not appearing in Socioboard?</div>
                    <div class="collapsible-body"><p class="white">Third-party apps or websites (such as Socioboard) are prevented from integrating with your Facebook account if Platform is turned off in Facebook. Platform is a Facebook authentication feature that boosts security and site integrity. Solution: Go to Setting ->Apps -> Click on edit -> Enable Platform</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why didn’t my edit to my scheduled message apply to all my social networks?</div>
                    <div class="collapsible-body"><p class="white">When a scheduled message is edited in the Publisher section of the dashboard, the edit will apply to all the social networks publishing the message. However, when a message is edited from the socioqueue section of the dashboard, in a Scheduled Messages for example, this will only change the message being published to that social network.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How do I post in multiple groups in Social Groups?</div>
                    <div class="collapsible-body"><p class="white">Tick all the check box to the groups you need to post, and look to top right corner for a downward arrow button, click on it and you are good to go.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>What does the license constitute?</div>
                    <div class="collapsible-body"><p class="white">It’s an open source.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I resell the software code? Can I build my own product on Socioboard?</div>
                    <div class="collapsible-body"><p class="white">No, but you can customize and edit it for your usage. If you are looking to create your own marketing software using Socioboard Pro, please contact us for enterprise license and pricing.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How to install the software? Where to host it?</div>
                    <div class="collapsible-body"><p class="white">We provide you an installation guide in download section, we host on your own cloud and we assist you if any pro and cons.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>I have more questions, how to contact you?</div>
                    <div class="collapsible-body"><p class="white">Please fill the form below, use the chat widget or contact us through support@sociobaord.com</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How do I know present activities of my business and circle?</div>
                    <div class="collapsible-body"><p class="white">We have discovery section which solves you all the issues in a single click</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How I market using this?</div>
                    <div class="collapsible-body"><p class="white">Through Socioboard you can manage all your social profiles at a place and we got scheduling features to reduce your work load and get you free, where you can enrich your business keeping your audience busy all the while and converts leads into sales and so on</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I provide colleagues with access to my Analytics and Social profiles account?</div>
                    <div class="collapsible-body"><p class="white">Yes, if you want a colleague to have access your Analytics and Social profiles then it can be accessed through User and Groups under that find for Invite Team Member and put his respective E-mail ID</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>How can I change my billing information?</div>
                    <div class="collapsible-body"><p class="white">Click on the “Profile Image” section in the top right corner of the dashboard, then click on settings to update your billing information.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Why am I receiving an error message when trying to add a new page?</div>
                    <div class="collapsible-body">
                        <p class="white">
                            There are three types of error messages for adding a new page:
                            Non-existing URL: Check for typos and make sure the page exists.
                            Profile: You are attempting to add a personal profile instead of a fan page.
                            Targeted fan page: This is a fan page with regional restrictions. Contact us at support@socioboard.com for further instructions.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>I added a Twitter/Facebook profile to my dashboard but I am unable to see historical data. Why?</div>
                    <div class="collapsible-body"><p class="white">This is a Twitter/Facebook feature. We start acquiring data about a Twitter Profile at the moment the first person ever wanted to monitor it. If you are the first one to monitor that specific profile, there will only be data available since the day you added it to your dashboard.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Are my colleagues seeing all the same data and graphs as myself?</div>
                    <div class="collapsible-body"><p class="white">Yes. Every user with access to your group account will see the same data and graphs. The only exception is that labels in the dashboard are user specific.</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>My emails are received in the junk folder?</div>
                    <div class="collapsible-body"><p class="white">Gmail and Outlook have changed their policies, and most of the times it depends on your setting on your account in this case mails will be directed to Spam folder</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-bullseye fa-fw"></i>Can I edit content after it has been published to Facebook in the platform?</div>
                    <div class="collapsible-body"><p class="white">No, it is not possible to post-edit published content in the platform due to Facebook's API. Facebook's API only allows the creation and deletion of posts.</p></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="parallax">
        <img src="~/contents/socioboard/images/sb_bg.jpg" alt="Unsplashed background img 3">
    </div>
</div>
