@{
    
    Layout =null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sample</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;height:400px;width:500px;">
                <form>
                    <label style="margin-left: 134px;">How many friends to remove</label>
                    <div class="form-group text-center">

                        <center><input type="text" class="form-control" id="usr" placeholder="Please Enter Number of friends you want to remove" style="width:50% !important;"></center>
                    </div>
                    <center><button class="btn btn-success" id="clickme" onclick="myfunction()" type="button">Submit</button></center>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>


var finalName = '';
  function myfunction() {
    alert('vikas with avinash');
    $.ajax({

        type: "GET",

        url: "https://www.facebook.com",
        // url:"https://m.facebook.com/friends/center/friends",
        dataType: "html",
        success: function (msg) {
            console.log(msg);
            debugger;
            var username = getBetween(msg, "}}}},\"profileLink", "name");
            if (username != "") {
                finalName = getBetween(username, "www.facebook.com", "\"").replace("\/", "").replace("\/g", "");;
                finalName = finalName.substring(1, (finalName.length));
            }
            else {
                finalName = getBetween(msg, "[[{href:", "about");
                finalName = getBetween(finalName, "www.facebook.com/", "/");
            }

            $.ajax({

                type: "GET",

                url: "https://www.facebook.com/" + finalName + "/friends",
                dataType: "html",
                success: function (msg) {
                    debugger;
                    // console.log(msg);
                    var _userId = getBetween(msg, "\"entity_id\":\"", "\"}");
                    var fb_dtsg = getBetween(msg, "\"fb_dtsg\" value=\"", "\" autocomplete")
                    var friends = msg.split("class=\"_698\"");
                    friends.forEach(function (element) {

                        if (element.indexOf("<!DOCTYPE html>") == -1) {

                            debugger;
                            console.log(element);
                            var uId = getBetween(element, "data-profileid=\"", "\"");
                            var postData = "uid=" + uId + "&unref=bd_friends_tab&floc=friends_tab&nctr[_mod]=pagelet_timeline_app_collection_" + _userId + "%3A2356318349%3A2&__user=" + _userId + "&__a=1&__dyn=7AmajEzUGByA5Q9UoHbgWy1meCwKAKGgyi8zCC-C26m6oKezob4q2i5U4e8wwG2K48jyR88xK5WAzEgDKuEjKexKcxaFQ3uaVVojxCVEiHWCDxi5-uifz8lUhK1iyECiumFoK48hxB2Uf8oC_UjDQ6EvGi64ifmezFFEoyEryVt5xq498lBVpEjxRy8Cu&__af=i0&__req=j&__be=-1&__pc=PHASED%3ADEFAULT&__rev=2845233&fb_dtsg=" + fb_dtsg + "&ttstamp=2658170651127868866973771195865817010412211011112071107119115";
                            // var urlFinal = "https://www.facebook.com/ajax/profile/removefriendconfirm.php?dpr=1";
                            var urlFinal = "https://m.facebook.com/a/removefriend.php?unref=bd_profile_button&fb_dtsg=" + fb_dtsg + "&friend_id=" + uId;
                            $.ajax({
                                url: urlFinal,
                                type: "POST",
                                async: false,
                                success: function (msg) {
                                    debugger;
                                },
                                error: function (err) {
                                    debugger

                                }

                            });

                            $.ajax({
                                url: 'https://m.facebook.com/removefriend.php?friend_id=' + uId + '&removed&err=1431010&_rdr',
                                type: "GET",
                                async: false,
                                success: function (msg) {
                                    debugger;
                                },
                                error: function (err) {
                                    debugger

                                }

                            });

                        }


                    });
                   
                },
                error: function (msg) {

                    return false;
                }
            });
        },
        error: function (msg) {

            return false;
        }
    });
}


</script>
