@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}
<div class="hero">
    <div class="container">
        <div class="row center-align">
            <div class="col m12">
                <h1 class="header center" style="text-shadow: 0px 0px 15px #000; color: #fff; font-size: 44px; margin-top: 50px;">
                    Social Media Lead Generation Toolkit for Businesses
                </h1>
                <h5 class="header col s12 light">
                    Socioboard helps businesses and brands with a 360<sup>o</sup> social media lead generation, marketing, customer support and engagement automation platform.
                </h5>
                <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
            </div>
        </div>
    </div>
    <div class="row screenshot">
        <div class="col offset-m2 m8 s12">
            <a href="#">
                <img src="~/contents/socioboard/images/sample_main.png" alt="Sign Up Now" class="responsive-img">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <div>
            <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Our Products</h5>
        </div>

        <!--   Icon Section   -->
        <div class="row no-space">
            <div class="col s12 m4 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/SocioboardCore_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 truncate " title="Socioboard Core">Socioboard Core</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate " title="Socioboard Core">Socioboard Core<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/SocioboardCore_inner_logo.png">
                        <p style="word-break:break-word; line-height:1.5rem;">Socioboard Core is an open source social media management, analytics and reporting platform. It supports nine social media networks. Using Socioboard Core you can monitor and manage multiple social media accounts and create useful reports and take business decisions based on them. Socioboard Core is available as a web app and mobile apps on iOS and Android. Its completely open source and fully customizable and extensible in the form of plugins. It has a commercial SAAS version at - www.socioboard.com and open source version at - <a href="https://socioboard.org/" target="_blank">www.socioboard.org</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/socioleadspro_p_icon.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 truncate" title="SocioleadsPro">SocioleadsPro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate" title="SocioleadsPro">SocioleadsPro<i class="material-icons right">close</i></span>
                        <img class="activator img_center responsive-img" src="~/contents/socioboard/images/SocioleadsPro_logo.png">
                        <p style="word-break:break-word; line-height:1.5rem;">Those leads which no search engine can find? Even Facebook and Linkedin, the top two lead data sources in form of groups don’t expose this content. Ask how SocioleadsPro can help you to reach your target audience while they show interest in your space.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/BoardMe_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 truncate" title="BoardMe">BoardMe</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate" title="BoardMe">BoardMe<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/BoardMe_inner_logo.png">
                        <p style="word-break:break-word; line-height:1.5rem;">BoardMe is a self service platform which helps you to create Social Boards and stream them everywhere like web, desktop, mobile or any other screen. Using Boardme, you can connect Social Feeds or Hastags into 1 place from all your social networks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-space">
            <div class="col s12 m4 offset-m2 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/brandbuzz_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 truncate" title="BrandBuzz">BrandBuzz</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate" title="BrandBuzz">BrandBuzz<i class="material-icons right">close</i></span>
                        <div><img class="activator img_center" src="~/contents/socioboard/images/brandbuzz_inner_logo.png"></div>
                        <p style="word-break:break-word; line-height:1.5rem;">BrandBuzzpro is a SAAS based Socioboard product which helps brands to recruits its employees and customers as its marketing crew. The best form of marketing is word of mouth marketing and those brands which can get their customers to as their brand ambassadors are the best brands out there.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/brandhit_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 truncate" title="BrandHit">BrandHit</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 truncate" title="BrandHit">BrandHit<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/brandhit_inner_logo.png">
                        <p style="word-break:break-word; line-height:1.5rem;">BrandHit is a SAAS based influencer marketing product to reach influencers in your niche and get them to tweet or share on facebook, instagram or linkedin about your brand on your product. Influencers come to the platform, sign up and post a price per tweet or post on various networks</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4 class="center-align hr_shadow Righteous_font grey-text text-darken-2">How is SOCIOBOARD useful to you ?</h4>
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!-- <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/open_source_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Highly customizable and scalable open-source tools</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!-- <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/pub_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Advanced scheduling &amp;<br> publishing tools</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!--  <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/feeds_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Prompt feeds and interactive social discovery tools</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!--  <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/ana_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Sophisticated analytics on various parameters</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!-- <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/CRM_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Social CRM tools including shared customer records</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!--  <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/cus_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Customer support features like tasks and Helpdesk integration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <!-- <i class="large material-icons">insert_chart</i> -->
                                <img src="~/contents/socioboard/images/extra/tools_gray.png">
                            </div>
                            <div class="card-content card-content-exp">
                                <p>Highly efficient team<br> collaboration tools</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card z-depth-2 card_hight">
                            <div class="card-image">
                                <img src="~/contents/socioboard/images/extra/phn_gray.png">
                                <!-- <i class="large material-icons">insert_chart</i> -->
                            </div>
                            <div class="card-content card-content-exp">
                                <p>24/7 Technical<br> Support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" center-align">
            <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
            <a class="waves-effect waves-light btn-large cyan" type="button" href="#RequestForDemo">Request For Demo</a>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Agencies that use our Product</h5>
                <div class="carousel" style="height: 200px;">
                    <a class="carousel-item" href="https://www.bbdo.com/" target="_blank"><img src="~/contents/socioboard/images/logos/bbdo_logo.jpg"></a>
                    <a class="carousel-item" href="https://forzamigliozzi.com/" target="_blank"><img src="~/contents/socioboard/images/logos/forzamigliozzi_logo.jpg"></a>
                    <a class="carousel-item" href="https://fuelonline.co/" target="_blank"><img src="~/contents/socioboard/images/logos/fuelonline_logo.jpg"></a>
                    <a class="carousel-item" href="https://www.ideo.com/" target="_blank"><img src="~/contents/socioboard/images/logos/ideo_logo.jpg"></a>
                    <a class="carousel-item" href="https://www.jwt.com/" target="_blank"><img src="~/contents/socioboard/images/logos/jwt_logo.jpg"></a>
                    <a class="carousel-item" href="https://leoburnett.com/" target="_blank"><img src="~/contents/socioboard/images/logos/leoburnett_logo.jpg"></a>
                    <a class="carousel-item" href="https://mccann.com/" target="_blank"><img src="~/contents/socioboard/images/logos/mccann_logo.jpg"></a>
                    <a class="carousel-item" href="https://www.ogilvy.com/" target="_blank"><img src="~/contents/socioboard/images/logos/ogilvy_logo.jpg"></a>
                    <a class="carousel-item" href="https://www.razorfish.com/" target="_blank"><img src="~/contents/socioboard/images/logos/razorfish_logo.jpg"></a>
                    <a class="carousel-item" href="https://www.wk.com/" target="_blank"><img src="~/contents/socioboard/images/logos/WiedenKennedy_logo.jpg"></a>
                </div>

                <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">As Seen On</h5>
                <div class="carousel" style="height: 200px;">
                    <a class="carousel-item" target="_blank" href="https://inc42.com/startups/socioboard-magento-wordpress-social-media-management-making/"><img src="~/contents/socioboard/images/logos/Inc42_logo.jpg"></a>
                    <a class="carousel-item" target="_blank" href="https://yourstory.com/2016/10/sumit-ghosh-socioboard-techsparks/"><img src="~/contents/socioboard/images/logos/YS_Pages_logo.jpg"></a>
                    <a class="carousel-item" target="_blank" href="https://lighthouseinsights.in/review-socioboard-app-open-source-social-media-management-dashboard.html/"><img src="~/contents/socioboard/images/logos/LighthouseInsights_logo.jpg"></a>
                    <a class="carousel-item" target="_blank" href="https://www.nextbigwhat.com/socioboard-social-media-management-297/"><img src="~/contents/socioboard/images/logos/nextbigwhat-logo.jpg"></a>
                    <a class="carousel-item" target="_blank" href="https://www.socialsamosa.com/2014/04/social-media-platform-feature-socioboard/"><img src="~/contents/socioboard/images/logos/social_samosa_logo.jpg"></a>
                </div>

                <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">We are proud to be part of</h5>
                <div class="carousel" style="height: 200px;">
                    <a class="carousel-item" href="#productconclave"><img src="~/contents/socioboard/images/logos/productconclave_logo.jpg"></a>
                    <a class="carousel-item" href="#iimb"><img src="~/contents/socioboard/images/logos/iimb_logo.jpg"></a>
                    <a class="carousel-item" href="#10000startups"><img src="~/contents/socioboard/images/logos/10000startups_logo.jpg"></a>
                    <a class="carousel-item" href="#vccircle"><img src="~/contents/socioboard/images/logos/vccircle_logo.jpg"></a>
                    <a class="carousel-item" href="#FbStart"><img src="~/contents/socioboard/images/logos/FbStart_logo.jpg"></a>
                </div>

                <div class=" center-align">
                    <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
                    <a class="waves-effect waves-light btn-large cyan" type="button" href="#RequestForDemo">Request For Demo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/contents/socioboard/images/sb_bg.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 366px, 0px);"></div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="header col s12 light white-text Righteous_font">Why we created Socioboard ?</h2>
                <p class="left-align light center-align white-text">Businesses have changed drastically in last century. Everything has moved to digital world and lives of people have become digitally connected via Social Media. In these changing times, businesses need modern tools to connect with the their customers who are on social media. Thus Socioboard was born!</p>
                <a class="waves-effect waves-light btn cyan" href="https://blog.socioboard.com/" target="_blank">Visit our Blog</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/contents/socioboard/images/phone.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 366px, 0px);"></div>
</div>

@*<div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send gray-text"></i></h3>
                    <h4 class="Righteous_font grey-text text-darken-2">Check if your name is available</h4>
                    <div class="row">
                        <form class="col offset-s2 s8">
                            <div class="row">
                                <div class="input-field col s6">
                                    <label>https://www.socioboard.com/</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="user_name" type="text" class="validate">
                                    <label for="user_name">desired username</label>
                                </div>
                                <a class="waves-effect waves-light btn cyan "><i class="material-icons left">navigation</i>Check Now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4 id="RequestForDemo" class="Righteous_font grey-text text-darken-2">Sign up for Enterprise demo</h4>
                <img class="responsive-img" src="~/contents/socioboard/images//enterprise_demo_pic.png">
                <div class="row">
                    <form class="col s12" onsubmit="CreateDemoReq(); return false;">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="req_first_name" name="req_first_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                <label for="req_first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="req_last_name" name="req_last_name" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                <label for="req_last_name">Last Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="req_Business_Email" name="req_Business_Email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                                <label for="req_Business_Email" data-error="wrong" data-success="right">Business Email</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="req_Company" name="req_Company" type="text" class="validate">
                                <label for="req_Company">Company</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="req_phone" type="text" required class="validate" maxlength="10" pattern="[0-9]{10}">
                                <label for="req_phone" data-error="PhoneNumber" data-success="right">phone</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="req_skype" type="text" class="validate">
                                <label for="req_skype">skype</label>
                            </div>
                        </div>
                        <button id="submitButton" type="submit" class="waves-effect waves-light btn cyan "><i class="material-icons left">navigation</i>Submit</button>
                        @*<a onclick="CreateDemoReq()" class="waves-effect waves-light btn cyan "><i class="material-icons left">navigation</i>Submit</a>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 light Righteous_font">Download Mobile App</h3>
                <div class="row">
                    <form class="col offset-s2 s8">
                        <div class="md-checkbox-inline">
                            <p class="md-checkbox">
                                <a href="https://play.google.com/store/apps/details?id=com.socioboard&amp;hl=en" target="_blank"><i class="fa fa-android fa-3x white-text"></i></a>
                            </p>
                            <p class="md-checkbox">
                                <a href="https://itunes.apple.com/sg/app/socioboard/id923398550?mt=8" target="_blank"> <i class="fa fa-apple fa-3x white-text"></i></a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/contents/socioboard/images//mobile-friendly-websites-hero.jpg" alt="Unsplashed background img 3">
    </div>
</div>



@section Scripts{
    <script>
        function CreateDemoReq() {

            var firstName = $('#req_first_name').val();
            var lastName = $('#req_last_name').val();
            var email = $('#req_Business_Email').val();
            var company = $('#req_Company').val();
            var Phone = $('#req_phone').val();
            var skype = $('#req_skype').val();

            $.ajax({

                type: "POST",

                url: "@ViewBag.ApiDomain/api/user/DemoRequest",

                data: { "firstName": firstName, "lastName": lastName, "company": company, "emailId": email, "phoneNumber": Phone, "skype": skype, "demoPlanType": "Demo" },

                //contentType: "application/json; charset=utf-8",

                dataType: "html",

                success: function (msg) {

                    alertify.set({ delay: 5000 });
                    alertify.success("Request Sent Successfully");
                    $('#req_first_name').val("");
                    $('#req_last_name').val("");
                    $('#req_Business_Email').val("");
                    $('#req_Company').val("");
                    $('#req_phone').val("");
                    $('#req_skype').val("");
                },
                error: function (msg) {
                    alertify.set({ delay: 5000 });
                    alertify.error(msg.responseText);
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

            });
        }
    </script>

    @if (TempData["Error"] != null)
    {
        <script>
            $(document).ready(function () {
                console.log("@Convert.ToString(TempData["Error"])");
                alertify.set({ delay: 5000 });
                alertify.error("@Convert.ToString(TempData["Error"])");
            });
        </script>

    }
    <script>
        $(document).ready(function () {
            debugger;
            setTimeout(function () {
                gotohome();
            }, 3000);
            
        });
    </script>
}
