@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
@*
<script type="text/javascript" src="~/contents/socioboard/global/plugins/materialize/js/materialize.min.js"></script>*@
<script type="text/javascript" src="~/contents/socioboard/js/frontend/init.js"></script>

@{

    List<Domain.Socioboard.Models.Package>
    lstsb = new List<Domain.Socioboard.Models.Package>
        ();
        lstsb = ViewBag.plugin;
        }

        <div class="container">
            <section class="pricing margin-top-50">
                <div class="">
                    <header>
                        <h2 class="Righteous_font grey-text text-darken-2">Lets Start With SocioBoard</h2>
                        <h5>Upgrade, Change or Cancel Anytime</h5>
                    </header>

                    <div class="row">
                        <div class="col l12 s12">
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="center">Basic Plan</th>
                                        <th class="center">Standard</th>
                                        <th class="center">Premium</th>
                                        <th class="center">Deluxe</th>
                                        <th class="center">Topaz</th>
                                        <th class="center">Ruby</th>
                                        <th class="center">Gold</th>
                                        <th class="center">Platinum</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th>Monthly price</th>
                                        <td class="center">Free</td>
                                        <td class="center">$4.99</td>
                                        <td class="center">$9.99</td>
                                        <td class="center">$19.99</td>
                                        <td class="center">$29.99</td>
                                        <td class="center">$49.99</td>
                                        <td class="center">$79.99</td>
                                        <td class="center">$99.99</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Social Accounts</th>
                                        <td class="center">1 per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                        <td class="center">No Limit per network</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Team Members</th>
                                        <td class="center">2</td>
                                        <td class="center">5</td>
                                        <td class="center">10</td>
                                        <td class="center">20</td>
                                        <td class="center">30</td>
                                        <td class="center">50</td>
                                        <td class="center">80</td>
                                        <td class="center">100</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Social networks</th>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                            <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                            <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                            <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                            <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                        <td class="center">
                                            <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                            <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                            <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                            <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                            <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                            <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Total Profiles</th>
                                        <td class="center">5</td>
                                        <td class="center">10</td>
                                        <td class="center">20</td>
                                        <td class="center">50</td>
                                        <td class="center">100</td>
                                        <td class="center">200</td>
                                        <td class="center">500</td>
                                        <td class="center">1000</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Browser extension</th>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                              
                               
                                <tbody>
                                    <tr>
                                        <th>Scheduling & Posting</th>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Mobile Apps iOS + Android</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>World Class 24*7 Training &amp; Support</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Social Media based CRM</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Calendar</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>RSS Feed</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                              
                                <tbody>
                                    <tr>
                                        <th>Social Report</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Discovery</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                
                                <tbody>
                                    <tr>
                                        <th>Message</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Link shortening and tracking</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Shareathon</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Socioboard Team Report</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                              
                                <tbody>
                                    <tr>
                                        <th>BoardMe</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Image & shared Library</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th>Custom Report</th>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                        <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="center">Basic Plan<br /><a onclick="SingUpmodal('0')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Standard<br /><a onclick="SingUpmodal('1')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Premium<br /><a onclick="SingUpmodal('2')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Deluxe<br /><a onclick="SingUpmodal('3')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Topaz<br /><a onclick="SingUpmodal('4')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Ruby<br /><a onclick="SingUpmodal('5')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Gold<br /><a onclick="SingUpmodal('6')" class="btn pricing-cta ">Get Started</a></th>
                                        <th class="center">Platinum<br /><a onclick="SingUpmodal('7')" class="btn pricing-cta ">Get Started</a></th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>

                </div><!-- end container -->
            </section>
        </div>

                        <!-- SignUp Modal -->
                        <div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
                            <form onsubmit="myFunction(); return false;" id="RegistrationForm">
                                <div class="modal-content">
                                    <h4 class="center">Create a <span id="planName">Free</span> account</h4>
                                    <div class="row">
                                        <div class="row">
                                            <div class="input-field col s12 m12">
                                                <div class="center">
                                                    <a id="fb_account" href="#" onclick="googleLogin();">
                                                        <img src="~/contents/socioboard/images/gplus_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                                                    </a><br>
                                                    <a id="fb_account" href="#" onclick="facebookLogin();">
                                                        <img src="~/contents/socioboard/images/fb_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="styleOR">

                                        <div class="row">
                                            <div class="input-field col s12 m12">
                                                <select id="AccountType" name="AccountType">
                                                    <optgroup label="Basic Plans">
                                                        <option value="0">Basic(Free)</option>
                                                        <option value="1">Standard</option>
                                                        <option value="2">Premium</option>
                                                        <option value="3">Deluxe</option>
                                                    </optgroup>
                                                    <optgroup label="Expert Plans">
                                                        <option value="4">Topaz</option>
                                                        <option value="5">Ruby</option>
                                                        <option value="6">Gold</option>
                                                        <option value="7">Platinum</option>
                                                    </optgroup>
                                                </select>
                                                <label>Choose your option</label>
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <select id="PaymentType" name="PaymentType">
                                                    <optgroup label="PaymentType">
                                                        <option value="0">paypal</option>
                                                        <option value="1">payumoney</option>
                                                    </optgroup>
                                                </select>
                                                <label>Choose your option</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="FirstName" name="FirstName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                                <label for="FirstName">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="LastName" name="LastName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                                                <label for="LastName">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="EmailId" name="EmailId" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                                                <label for="EmailId" data-error="wrong" data-success="right">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="PhoneNumber" name="PhoneNumber" type="tel" class="validate" maxlength="10" pattern="[0-9]{10}">
                                                <label for="PhoneNumber" data-error="PhoneNumber" data-success="right">Mobile</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="Password" name="Password" type="password" title="One Capital letter,One Small letter,One number,One special character and min lenght must be 8" data-rule-minlength="8" required class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$&+,:;=?@@#|'<>.^*()%!-_]).{8,}">
                                                <label for="Password">Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="CnfPassword" name="CnfPassword" type="password" data-rule-minlength="8" required class="validate">
                                                <label for="CnfPassword">Confirm Password</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <div id="ImgLoading" class="btn btn-flat btn-primary ink-reaction hide"> <img class='img-portfolio img-responsive right' src='~/contents/socioboard/images/loading-spinner-grey.gif'></div>
                                    <button id="submitButton" type="submit" class="btn btn-flat btn-primary ink-reaction"> Register</button>

                                    <div></div>
                                </div>
                            </form>
                        </div>

     <script type="text/javascript">
            $("#show_more_btn").click(function(){
                $("#price_more").fadeIn(700);
                $("#show_less_btn").show();
                $("#show_more_btn").hide();
                $("#showless_div").show();
            });

            $("#show_less_btn").click(function () {
                $("#price_more").slideUp(400);
                $("#show_more_btn").show();
                $("#show_less_btn").hide();
            });
                        </script>
                        @*
                        <script type="text/javascript">
        function toggle_visibility(price_more) {
            var e = document.getElementById(price_more);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
       }
                        </script>*@
                        <script>
        function myFunction() {
            debugger;
            $('#ImgLoading').show();
            $('#submitButton').hide();

            var firstName = $('#FirstName').val();
            var lastName = $('#LastName').val();
            var email = $('#EmailId').val();
            // var company = $('#req_Company').val();
            var Phone = $('#PhoneNumber').val();
            var password = $('#Password').val();
            var cnfPassword = $('#CnfPassword').val();
            var accountType = $('#AccountType').val();
            var PaymentType = $('#PaymentType').val();
            if (password != cnfPassword) {
                alert('password not match');
                $('#ImgLoading').hide();
                $('#submitButton').show();
                return false;
            }

            $.ajax({

                type: "POST",

                url: "@ViewBag.ApiDomain/api/user/Register",

                data: { "FirstName": firstName, "LastName": lastName, "EmailId": email, "PhoneNumber": Phone, "password": password, "AccountType": accountType, "PaymentType": PaymentType },

                //contentType: "application/json; charset=utf-8",

                dataType: "html",

                success: function (msg) {
                    console.log(msg);
                    alertify.set({ delay: 5000 });
                    alertify.success("Email verification mail sent successfully.");
                    $('#FirstName').val("");
                    $('#LastName').val("");
                    $('#EmailId').val("");
                    $('#PhoneNumber').val("");
                    $('#Password').val("");
                    $('#CnfPassword').val("")
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    // $('#req_skype').val("");
                    if (accountType != "0") {
                        $.ajax({

                            type: "GET",

                            url: "@ViewBag.Domain/Home/PayPalAccount",

                            data: { "emailId": email, "IsLogin": false },

                            dataType: "html",
                            success: function (msg) {
                                alertify.set({ delay: 5000 });
                                alertify.error("please submit Payment detail.");
                                window.top.location = msg;
                            },
                            error: function (msg) {

                                return false;
                            }
                        });
                    }
                },
                error: function (msg) {
                    alertify.set({ delay: 5000 });
                    alertify.error(msg.responseText);
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

            });
            $('#ImgLoading').hide();
            $('#submitButton').show();
            return false;
        }


        function SingUpmodal(ele)
        {
            $('#SignUpModal').openModal();


            $('#AccountType').val(ele);
            $('select').material_select();
        }


                        </script>

        <script type="text/javascript">
       $('.image-wrapper').hover(function() {
                $(this).removeClass('hoverOut').addClass('hoverIn');
            }, function() {
                $(this).removeClass('hoverIn').addClass('hoverOut');
            });
        </script>

        <script type="text/javascript">
        $(document).ready(function(){
            $("#price_more").hide();

            $("#show_more_btn").click(function(){
                $("#price_more").show();
            });
        });
        </script>
       
