@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}



<div class="container">
    <div class="section">
        <div>
            <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Our Products</h5>
        </div>
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/SocioboardCore_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 ">Socioboard Core</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Socioboard Core<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/SocioboardCore_inner_logo.png">
                        <p>Socioboard Core is an open source social media management, analytics and reporting platform. It supports nine social media networks. Using Socioboard Core you can monitor and manage multiple social media accounts and create useful reports and take business decisions based on them. Socioboard Core is available as a web app and mobile apps on iOS and Android. Its completely open source and fully customizable and extensible in the form of plugins. It has a commercial SAAS version at - www.socioboard.com and open source version at - <a href="http://socioboard.org/" target="_blank">www.socioboard.org</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/BoardMe_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">BoardMe</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BoardMe<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/BoardMe_inner_logo.png">
                        <p>BoardMe is a self service platform which helps you to create Social Boards and stream them everywhere like web, desktop, mobile or any other screen. Using Boardme, you can connect Social Feeds or Hastags into 1 place from all your social networks.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/brandbuzz_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">BrandBuzz</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BrandBuzz<i class="material-icons right">close</i></span>
                        <div><img class="activator img_center" src="~/contents/socioboard/images/brandbuzz_inner_logo.png"></div>
                        <p>BrandBuzzpro is a SAAS based Socioboard product which helps brands to recruits its employees and customers as its marketing crew. The best form of marketing is word of mouth marketing and those brands which can get their customers to as their brand ambassadors are the best brands out there.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="~/contents/socioboard/images/brandhit_logo.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">BrandHit</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BrandHit<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="~/contents/socioboard/images/brandhit_inner_logo.png">
                        <p>BrandHit is a SAAS based influencer marketing product to reach influencers in your niche and get them to tweet or share on facebook, instagram or linkedin about your brand on your product. Influencers come to the platform, sign up and post a price per tweet or post on various networks</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" center-align">
            <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <h4>Socioboard Desktop Applications for Social Media Marketers</h4>
                <blockquote>
                    Socioboard desktop apps are the swiss knife of Social Media Marketing Industry.
                    Socioboard desktop applications are not completely restricted by the various APIs of the social networks like Socioboard Web and Mobile apps. Rather they give you a complete competeting user experience with the original network but as a desktop application. The Desktop apps are a collective effort of the socioboard community spread globally.
                    Socioboard desktop apps must be used with utmost care to make sure you remain within the social network usage limits and don’t over do something. It’s best to use them under trained guidance from experts.
                </blockquote>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/U8fuYhk.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 ">inBoardPro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">inBoardPro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/U8fuYhk.png">
                        <p>inBoardPro is linkedin marketing on Steroids. Its a desktop application which helps you to automate everything you can do on linkedin. It helps you to manage multiple linkedin accounts, connect with new members in the linked community, post automated updates , manage all your linkedin groups and do a whole lot of things on linkedin. The open source version of inboardpro is hosted here -<a href="https://github.com/socioboard/inboard" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/inboard"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/mR7o8pT.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">faceboardPro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">faceboardPro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/mR7o8pT.png">
                        <p>faceBoardPro is an automated facebook marketing software. It helps you to automate your regular facebook tasks with few clicks. It helps to you manage multiple facebook accounts, manage your friends, groups, pages, apps etc. Basically it can automate all your day to day facebook management tasks and save a lot of your time. The open source version of faceboardpro is hosted here -<a href="https://github.com/socioboard/faceboard" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/faceboard"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/ROLgDCv.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">gramBoardPro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">gramBoardPro<i class="material-icons right">close</i></span>
                        <div><img class="activator img_center" src="http://i.imgur.com/ROLgDCv.png"></div>
                        <p>gramBoardPro is an instagram automation power-house. It can manage all your instagram tasks , likes, comments etc. Very useful software for instagram marketers. The open source version is hosted here -<a href="https://github.com/socioboard/gramboard" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/gramboard"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/0Y3tfqk.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">twtBoardPro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">twtBoardPro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/0Y3tfqk.png">
                        <p>twtBoardPro is an twitter marketing platform. It helps you manage multiple twitter accounts and automate your tweets, re-tweets, favorites etc. You can do a whole lot of stuff on twitter and get ultra productive on twitter by using this software. The open source version of twtboardpro is hosted here -<a href="https://github.com/socioboard/twtboard" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/twtboard"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" center-align">
            <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <h4>Socioboard Mobile Apps for Social Media Marketers</h4>
                <blockquote>
                    <strong>Socioboard Official App</strong>
                    The official app is an extension of Socioboard Core app on iOS and Android. It helps you manage all your social media accounts you have connected to Socioboard Web Core via mobile apps.
                </blockquote>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/J79ZeBr.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4 ">t-boardpro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">t-boardpro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/J79ZeBr.png">
                        <p>t-boardpro is a multiple twitter account management app, it helps you to login to multiple twitter accounts from your iOS or Android device and do various twitter activities like tweeting, re-tweeting, favorites, follow, unfollow, scheduling tweets etc. Its a a very powerful twitter marketing automation app. The open source version is called t-board is available on github - <a href="https://github.com/socioboard/t-board" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/t-board"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/j138jlV.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">f-boardpro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">f-boardpro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/j138jlV.png">
                        <p>f-boardpro is a multiple facebook account management app, it helps you to login to multiple facebook accounts from your iOS or Android device and do various facebook activities like post, like, comment, managing pages, groups and much more. The open source version is called f-board is hosted here - <a href="https://github.com/socioboard/f-board" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/f-board"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/QLgWDPa.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">l-boardpro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">l-boardpro<i class="material-icons right">close</i></span>
                        <div><img class="activator img_center" src="http://i.imgur.com/QLgWDPa.png"></div>
                        <p>l-boardpro is a multiple LinkedIn account management app. It helps you to login multiple LinkedIn accounts from you iOS or Android device and do LinkedIn activities like share comments, see user following companies details and user can see latest jobs in following company. The open source version of l-boardpro is hosted here - <a href="https://github.com/socioboard/l-board" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/l-board"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 simple bounceInDown">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light image-wrapper">
                        <span>
                            <img class="activator" src="http://i.imgur.com/xUr1F8B.png">
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title activator grey-text text-darken-4">i-boardpro</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">i-boardpro<i class="material-icons right">close</i></span>
                        <img class="activator img_center" src="http://i.imgur.com/xUr1F8B.png">
                        <p>i-boardpro is a multiple instagram account management app, it helps you to login to multiple instagram accounts from your iOS or Android device and do various instagram activities like follow, unfollow, comment, like, scheduling posts etc. Its a a very powerful instagram marketing automation app. The opensource version of i-boardpro is hosted here - <a href="https://github.com/socioboard/i-board" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="https://github.com/socioboard/i-board"><img src="~/contents/socioboard/images/github_icon.png" class="img_center"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" center-align">
            <a class="waves-effect waves-light btn-large red modal-trigger" type="button" href="#SignUpModal">Test it Out !  <i class="material-icons right">send</i></a>
        </div>
    </div>
</div>