@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="margin-top-50">
            <form action="?" method="POST">
                <div class="col offset-m1 offset-l1 m10 l10 s12">
                    <h4 class="center-align Righteous_font">Refund Policy</h4>
                    <div class="section-text text-block custom-font-text-1500561145-271831013 " data-when="enter" data-from="0" data-to="0" data-opacity="0">
                        <ul>
                            <li>
                                <span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>This refund policy applies to all Socioboard and DominatorHouse products. To obtain a refund, the following terms stated in our refund policy must be matched. We reserve the right to change the Refund Policy conditions any time without prior notice.If you purchase our products, after your payment has cleared you will receive the product on the declared time. Once this product is delivered to you through mail, no refunds can be made.</span><br>
                                <span style="color: #000000">All the products and solutions offered by Socioboard and its business units is totally non-tangible irrevocable, so the possibility of the refunds once the order is completed and delivered is not possible. It is recommended to you to understand the functionality and features of our product before placing an order to avoid the circumstances of refund.</span><br>
                                <span style="color: #000000">In rare cases, we ACCEPT refund request for the following reasons ONLY:</span><br>
                                <h5 style="color: #000000">Major defects:</h5>
                            </li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Errors can occur due to dependence on social media apis and site HTML which change time to time.</li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>We thoroughly check the products before delivering it to make sure product works efficiently, however some small errors may occur.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If such issues occur, errors must be reported for the approval of our Technician Support Team.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>We will resolve the defect or error within 3 days.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If any major fault is found, (reported within 3 days from the date of the first complaint or any other mode of notification given by the customers), the complete refund</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If the customer wants, the same product can be replaced or around the equal value may be provided.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Please note that our professionals can request for the temporary access to your server for identifying and fixing the potential issues within the delivered product. Failure to give such access on request in a timely manner might lead to a late resolution of the problem. If you refuse to give temporary access to your sever will indeed result in the failure to meet the requirements for a refund.</span></li>
                        </ul>
                        <h5><span style="color: #000000">Non-Delivery of the product:</span></h5>
                        <ul>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>There might be some mailing issues with your e-mail provider or own mail server because of which you might not take delivery of a confirmed delivery e-mail from us.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>In such case, we request you for assistance as early as possible.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Within 7 days from the initial order placing date, the claim for non-delivery of the product must be submitted to our billing department. Else, the product will be taken into consideration as received and downloaded.</span></li>
                        </ul>
                        <h5><span style="color: #000000">Download and unzipping issues:</span></h5>
                        <ul>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>There might be a possibility that you face the issue in downloading and unzipping the product. You can make claims for such issues to our Technical Support department.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If you fail to contact us during this time, you consent that we may well take silence as a successful download of the delivered product with no further right of reimbursement or refund for any kind of “download issue” reason.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If you fail to request for assistance regarding downloading or unzipping the products within the 3 days of delivery, it may then result in a refund failure.</span></li>
                        </ul>
                        <h5><span style="color: #000000">Product not-as-described:</span></h5>
                        <ul>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Such problems needs to be reported to our Technical Help Section within 1 week from your exact date of the purchase.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Obvious signs must be supplied showing that the bought products aren’t as it’s explained on the web site.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>Complaints that are based only on the client’s false expectations or wishes will not be entertained.</span></li>
                        </ul>
                        <p>
                            <span style="color: #000000">Take note that we are not liable and thus doesn’t please any exchange/refund/return/ requests for the inconsistency of our delivered products with any of the third-party software (add-ons, extensions, modules, plug-ins, search engines, scripts, etc.) other than any that are stated as compatible in the description we provided in each product at our website. We don’t certify that our offered products are completely compatible with all the third-party programs and also, we don’t offer support for any kind of third-party applications.</span><br>
                            <span style="color: #000000">We are not responsible for delayed, lost, or misdirected email, delays for downloading, or any other communication system delays.</span><br>
                            <span style="color: #000000">Our Technical Support Team are always available for assisting you 24*7 and deliver highly professional services and support in a well-timed manner.</span><br>
                            <h5 style="color: #000000">Acceptance of this Refund Policy</h5>
                        </p>
                        <ul>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>It is your responsibility to familiarize yourself with our refund policy.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>By ordering our products, you show that you have properly read this refund policy and you’re fully agree and accept the terms stated in this refund policy.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If you don’t fully accept or agree with the terms and conditions stated in this refund policy, we ask that you do not place an order with us.</span></li>
                            <li><span style="color: #000000"><i class="fa fa-circle fa-fw" aria-hidden="true"></i>If you have any query regarding our refund policy, please contact us.</span></li>
                        </ul>
                        <p>
                            <h6 style="color: #000000">Contact Us</h6><br>
                            <h6 style="color: #000000">Email Support: support@socioboard.com</h6><br>
                            <h6 style="color: #000000">Skype Support: Skype ID: socioboard.support</h6>
                        </p>
                        <p><span style="color: #000000">For any request, query or complaints, please give us maximum 48 hours to get back to you.</span></p>
                        <p><span style="color: #000000">Please note requests for a refund are accepted at mail:&nbsp;support@socioboard.com within the time of 1 week after the order is made. Please provide us the thorough and supported reasons behind the reason of refund. Please ensure that your request does not controvert our Terms and Conditions.</span></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


