@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}




<div class="container">
    <form class="col m6 s12">
        <div class="row center-align">
            <div class="margin-top-50">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4>Choose a new password</h4>
                            <p>A strong password is a combination of letters and punctuation marks. It must be at least 6 characters long</p>
                            <div class="input-field col s12 box1">
                                <input id="ResetPassword" type="password" required  class="validate  box_input" title="One Capital letter,One Small letter,One number,One special character and min lenght must be 8" data-rule-minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$&+,:;=?@@#|'<>.^*()%!-_]).{8,}">
                                <label for="ResetPassword">Password</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="javascript:;" onclick="Reset_Password()" class="modal-action waves-effect waves-green btn light-blue darken-3 margin-top-10">Submit</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/contents/socioboard/global/plugins/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="~/contents/socioboard/js/frontend/init.js"></script>

@*Forgot password js start*@
<script>
        function Reset_Password() {
            $('#ImgLoading').show();
            $('#submitButton').hide();
            debugger;
            var EmailId = '@Convert.ToString(TempData["EmailId"])';
            var NewPassword = $('#ResetPassword').val();
            var Token = '@Convert.ToString(TempData["token"])';


            $('#ImgLoading').hide();
            $('#submitButton').show();


            $.ajax({

                type: "POST",

                url: "@ViewBag.ApiDomain/api/user/ResetPasswordMail",


                data: { "emailId": EmailId, "changePassword": NewPassword,"token": Token  },


                dataType: "html",

                success: function (msg) {
                    debugger;
                    console.log(msg);
                    alertify.set({ delay: 5000 });
                    if (msg == "EmailId does not exist")
                    {

                        alertify.success("EmailId does not exist")
                    }
                   else if (msg == "Password changed successfully")
                    {
                        alertify.success("Password changed successfully")
                    }
                    else if (msg == "Link expired")
                    {
                        alertify.success("Link expired")
                    }
                    else
                    {
                        alertify.success("Error while updating password, pls try after some time.")

                    }
                    
                    $('#ResetPassword').val("");

                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                },
                error: function () {
                    alertify.set({ delay: 5000 });
                    alertify.error(msg.responseText);
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

            });
            $('#ImgLoading').hide();
            $('#submitButton').show();
            return false;
        }
</script>
@*Forgot password js end*@\

<!--Import jQuery before materialize.js-->