@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div class="container">
    <div class="row margin-top-30">
        <div class="col m6 s12 offset-m3">
            <div class="card">
                <div class="card-image center-align">
                    <img src="~/contents/socioboard/images/extra/online-live.jpg" class="responsive-img">
                    <h4 class="Righteous_font grey-text text-darken-2">Live Online Training</h4>
                </div>
                <div class="card-content">
                    <p>
                        Wondering how to proceed since you are not a geek and tech savvy person?<br>
                        Get the most out of Socioboard through live online training. It is comprehensive and serves your purpose whether you want to get the basics or dig deeper with our Software. Our instructors help you with a professional flow of training. We offer online live training to our clients through Skype and TeamViewer only at 100$ for 10 hours.<br>
                        Click the below button and start learning.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a href="#">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
