@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div class="container">
    <div class="row margin-top-30">
        <div class="col m6 s12 offset-m3">
            <div class="card">
                <div class="card-image center-align">
                    <img src="~/contents/socioboard/images/extra/online-live.jpg" class="responsive-img">
                    <h4 class="Righteous_font grey-text text-darken-2">Live Online Training</h4>
                </div>
                <div class="card-content">
                    <p>
                        Wondering how to proceed since you are not a geek and tech savvy person?<br>
                        Get the most out of Socioboard through live online training. It is comprehensive and serves your purpose whether you want to get the basics or dig deeper with our Software. Our instructors help you with a professional flow of training. We offer online live training to our clients through Skype and TeamViewer only at 100$ for 10 hours.<br>
                        Click the below button and start learning.
                    </p>
                </div>
                <div class="card-action center-align">
                    <button class="btn red" onclick="training('Training', '100')">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- AgencyModal Structure -->
<div id="TrainingModel" class="modal">
    <div class="modal-content">
        <h4 class="center-align Righteous_font">Training</h4>
        <hr>
        <div class="row center-align">
            <form onsubmit="trainingDetails(); return false;" id="demoagency" class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person_pin</i>
                            <input id="training_firstName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="training_firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">person_pin</i>
                            <input id="training_lastName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="training_lastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">message</i>
                            <input id="training_email" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                            <label for="training_email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">business</i>
                            <input id="training_Company" type="text" class="validate">
                            <label for="training_Company">Company</label>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="training_Message" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phonelink_ring</i>
                            <input id="training_Phone" type="text" required class="validate" maxlength="10" pattern="[0-9]{10}">
                            <label for="training_Phone" data-error="PhoneNumber" data-success="right">Phone No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s1 m6 offset-m1">
                            <div class="g-recaptcha" data-sitekey="6LcnFhwTAAAAADraBcaLKPID5WZ3ErIEYI3dmKd_"></div>
                        </div>
                    </div>
                    <div class="center-align">
                        <button id="submitButton" type="submit" class="btn waves-effect waves-light red">Submit<i class="fa fa-paper-plane"></i></button>
                        <a class="waves-effect waves-light btn cyan" onclick="document.getElementById('demoagency').reset();">Reset</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>

<script>
    function training(plan, amountdetails) {
        planType = plan;
        amount = amountdetails;
        $('#TrainingModel').openModal();

    }

    function trainingDetails() {
        var firstName = $('#training_firstName').val();
        var lastName = $('#training_lastName').val();
        var email = $('#training_email').val();
        var company = $('#training_Company').val();
        var Phone = $('#training_Phone').val();
        var message = $('#training_Message').val();

        $.ajax({

            type: "GET",

            url: "@ViewBag.Domain/Index/TrainingPlan",

            data: { "firstName": firstName, "lastName": lastName, "company": company, "emailId": email, "phoneNumber": Phone, "message": message, "planType": planType, "amount": amount },


            dataType: "html",

            success: function (msg) {
                $('#training_firstName').val('');
                $('#training_lastName').val('');
                $('#training_email').val('');
                $('#training_Company').val('');
                $('#training_Phone').val('');
                $('#training_Message').val('');

              //  grecaptcha.reset();
                window.top.location = msg;
            },
            error: function (msg) {
                alertify.set({ delay: 5000 });
                alertify.error(msg.responseText);
                return false;
            }

        });
    }
</script>
