@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<div id="stepmodal" class="modal">
    <div class="modal-content">
        <div class="modal-content">
            <h4>Socioboard 2-step login process</h4>
        </div>
        <input value="+1" id="country_code" class="col m6" style="width: 49%;"/>
        <input placeholder="phone number" class="col m6" id="phone_number"  style="width: 49%;"/>
        <button onclick="smsLogin();" class="waves-effect waves-light btn">Login via SMS</button>
        <div style="text-align: center;margin: 22px 0 0 0;">OR</div>
        <input placeholder="email" id="email" />
        <button onclick="emailLogin();" class="waves-effect waves-light btn">Login via Email</button>
    </div>
</div>
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

@*</div>*@

<script>
    //Modal onload
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('#stepmodal').openModal();
    });

  // initialize Account Kit with CSRF protection
  AccountKit_OnInteractive = function(){
    AccountKit.init(
      {
       appId:730896073595509,
        state:"socioboard",
        version: "v1.0",
        fbAppEventsEnabled:true
      }
    );
  };

  // login callback
  function loginCallback(response) {
      console.log(response);
    if (response.status === "PARTIALLY_AUTHENTICATED") {
      var code = response.code;
      var csrf = response.state;
      if(csrf=="socioboard")
      {
          window.location.href = '../Home/Index';

      }
      // Send code to server to exchange for access token
    }
    else if (response.status === "NOT_AUTHENTICATED") {
      // handle authentication failure
    }
    else if (response.status === "BAD_PARAMS") {
      // handle bad parameters
    }
  }

  // phone form submission handler
  function smsLogin() {
    var countryCode = document.getElementById("country_code").value;
    var phoneNumber = document.getElementById("phone_number").value;
    if (phoneNumber!="" && phoneNumber=='@ViewBag.phonenumber') {
        AccountKit.login(
         'PHONE',
         { countryCode: countryCode, phoneNumber: phoneNumber }, // will use default values if not specified
         loginCallback
       );
    } else {
        alert('please enter valid phone number or emailId for verification');

    }
  }


  // email form submission handler
  function emailLogin() {
    var emailAddress = document.getElementById("email").value;
    if (emailAddress != "" && emailAddress == '@ViewBag.emailId') {
        AccountKit.login(
         'EMAIL',
         { emailAddress: emailAddress },
         loginCallback
       );
    } else {
        alert('please enter valid phone number or emailId for verification');

    }
  }
</script>


