@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
    Domain.Socioboard.Models.User user = ViewBag.user;
}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/contents/socioboard/global/plugins/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="~/contents/socioboard/js/frontend/init.js"></script>
<div class="container">
    <section class="pricing margin-top-50">
        <div class="">
            <header>
                <h2 class="Righteous_font grey-text text-darken-2">All Plans Include a Free 30-Day Trial</h2>
                <h5>Upgrade, Change or Cancel Anytime</h5>
            </header>

            <div class="row">
                <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Basic Plans</h5>
                <div class="col m3 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Basic
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            FREE
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Every plan is a unique package. This one fits for individuals.
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Comprehensive Dashboard</li>
                            <li>Multiple Social Profiles Inbox</li>
                            <li>Social Media Updates</li>
                            <li>Scheduling Features</li>
                            <li>Social Media based CRM</li>
                            <li>Social Platform Reporting Tools</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 5 profiles</li>
                            <li>1 profile per network</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 0)
                            {
                                <a onclick="UpgradeAccount('Free')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>

                            }
                            else
                            {
                                @*<a onclick="UpgradeAccount('Free')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>*@
                            }
                        </div>
                        <!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box">
                        <div class="pricing-heading">
                            Standard
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $4.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Comprises of great tools suitable for small teams.
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Smart Inbox</li>
                            <li>Real Time Feeds from Social Media Platforms</li>
                            <li>Advanced Publishing Features</li>
                            <li>Sophisticated Tools for Social Media based CRM</li>
                            <li>In-Depth Reporting Tools</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 10 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 1)
                            {
                                <a onclick="UpgradeAccount('Standard')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Standard')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box popular">
                        <div class="pricing-heading">
                            Premium
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $9.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Package you need to efficiently manage an expanding social media network.
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>All Basic & Standard Plan Features</li>
                            <li>Social Discovery</li>
                            <li>Helpdesk Integration</li>
                            <li>Powerful Statistics Engine</li>
                            <li>Custom Viewable Analytics</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>RSS Feeds</li>
                            <li>Manage up to 20 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 2)
                            {
                                <a onclick="UpgradeAccount('Premium')" class="waves-effect waves-light btn-large btn-pricing-popular">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Premium')" class="waves-effect waves-light btn-large btn-pricing-popular">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Deluxe
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $19.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>All Basic, Standard &amp; Premium Features</li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 50 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 3)
                            {
                                <a onclick="UpgradeAccount('Deluxe')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Deluxe')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
            </div><!-- end row -->



            <div class="row">
                <h5 class="center-align hr_shadow Righteous_font grey-text text-darken-2">Expert Plans</h5>
                <div class="col m3 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Topaz
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $29.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li><strong>All Basic, Standard,Premium, &amp; Deluxe Features</strong></li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 100 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 4)
                            {
                                <a onclick="UpgradeAccount('Topaz')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Topaz')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Ruby
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $49.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li><strong>All Basic, Standard,Premium, Deluxe &amp; Topaz Features</strong></li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 200 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 5)
                            {
                                <a onclick="UpgradeAccount('Ruby')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Ruby')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box popular">
                        <div class="pricing-heading">
                            Gold
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $79.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li><strong>All Basic, Standard,Premium, Deluxe, Topaz &amp; Ruby Features</strong></li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 500 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 6)
                            {
                                <a onclick="UpgradeAccount('Gold')" class="waves-effect waves-light btn-large btn-pricing-popular">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Gold')" class="waves-effect waves-light btn-large btn-pricing-popular">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
                <div class="col m3 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Platinum
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $99.99 Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li><strong>All Basic, Standard,Premium, Deluxe, Topaz, Ruby &amp; Gold Features</strong></li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 1000 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta">
                            @if ((int)user.AccountType > 6)
                            {
                                <a onclick="UpgradeAccount('Platinum')" class="waves-effect waves-light btn-large btn-pricing">Downgrade</a>
                            }
                            else
                            {
                                <a onclick="UpgradeAccount('Platinum')" class="waves-effect waves-light btn-large btn-pricing">Upgrade</a>
                            }
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-3 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

</div>


<script>



    function UpgradeAccount(packagename) {
        $.ajax({
            type: "GET",
            url: "../Index/UpgradeAccount?packagename=" + packagename,
            dataType: "html",
            success: function (msg) {
                console.log(msg);
                if (msg != "") {
                    console.log(msg);
                    window.top.location = msg;
                } else {
                    window.top.location = "../Home/Index";

                }
            }
        });

    }


</script>