<style>
    ul.shinh li label {
        font-size: 15px;
        color: #333;
        padding: 0 10px;
        color: #ff4081;
    }

    ul.shinh li:hover {
        background: #e5e5e5;
        color: #ff4081;
        cursor: pointer;
        padding: 0 10px;
    }

    ul.shinh li label input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background: transparent !important;
    }
</style>

<div data-ng-controller="BoardController" ng-lazy-scroll="loadMore()" lazy-scroll-trigger="40" lazy-no-scroll="false">
    <!-- Page name -->
   
    <div class="container">
        <div class="col m12">
            <h4>{{bname}}</h4>
            <!--<h4>{{boardName}}</h4>-->
        </div>
    </div>
    <!-- statr products list -->
    <div id="products" class="row" >
        <div class="product-sizer"></div>
        <div ng-if="lstBoardFeeds.length!=0" ng-repeat="feed in  lstBoardFeeds | orderBy:'publishedtime':true" my-repeat-feed-timeout-directive>
            <div class="product" ng-if="feed.twitterprofileid != undefined">
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="row">
                            <div class="col l12 m12 s12 margin-top-10 center">
                                <img class="responsive-img circle " src="{{feed.fromPicUrl}}">
                            </div>
                            <div class="col l12 s12 m12 center">
                                <span class="card-title">{{feed.fromName}}</span>
                                <br>
                                <span>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-twitter-square fa-fw"></i>@{{feed.fromName}}
                                    </a>
                                </span>
                            </div>
                            <div class="col l12 m12 s12">
                                <p class="description_listen">
                                    {{feed.text}}
                                    <div class="center">
                                        <img ng-if="feed.imageurl != null" src="{{feed.imageurl}}" class="responsive-img">
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a ng-click="scheduledraft(feed)">Schedule</a>
                        <a ng-click="openComposeMessage(feed)" class="waves-effect waves-grey btn gery ">1-Click Schedule</a>
                    </div>
                </div>
            </div>

            <div class="product" ng-if="feed.instagramaccountid != undefined">
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="row">
                            <div class="col l12 m12 s12 margin-top-10 center">
                                <img class="responsive-img circle " src="{{feed.fromPicUrl}}">
                            </div>
                            <div class="col l12 s12 m12 center">
                                <span class="card-title">{{feed.fromName}}</span>
                                <br>
                                <span>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-instagram fa-fw"></i>@{{feed.fromName}}
                                    </a>
                                </span>
                            </div>
                            <div class="col l12 m12 s12">
                                <p class="description_listen">

                                    <div class="center">
                                        <img ng-if="feed.imageurl != null" src="{{feed.imageurl}}" class="responsive-img">
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a ng-click="scheduledraft(feed)">Schedule</a>
                        <a ng-click="openComposeMessage(feed)" class="waves-effect waves-grey btn gery ">1-Click Schedule</a>
                    </div>
                </div>
            </div>

            <div class="product" ng-if="feed.gplusboardaccprofileid != undefined">
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="row">
                            <div class="col l12 m12 s12 margin-top-10 center">
                                <img class="responsive-img circle " src="{{feed.fromPicUrl}}">
                            </div>
                            <div class="col l12 s12 m12 center">
                                <span class="card-title">{{feed.fromName}}</span>
                                <br>
                                <span>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-google-plus-square fa-fw"></i>@{{feed.fromName}}
                                    </a>
                                </span>
                            </div>
                            <div class="col l12 m12 s12">
                                <p class="description_listen">
                                    {{feed.title}}
                                    <div class="center">
                                        <img ng-if="feed.imageurl != null" src="{{feed.imageurl}}" class="responsive-img">
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a ng-click="scheduledraft(feed)">Schedule</a>
                        <a ng-click="openComposeMessage(feed)" class="waves-effect waves-grey btn gery ">1-Click Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="lstBoardFeeds.length==null">
            <span>
                No Post availabe for this keyword
            </span>
        </div>

        <div ng-if="lastreach!=true">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="center">
                <div>
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/ end items list -->
    <!-- Modal Structure -->
    <div id="searchcatagory" class="modal">
        <div class="modal-content">
            <a href="" class="right modal-action modal-close waves-effect waves-green"><i class="icon-close"></i></a>
            <h4 class="center">Categories Featured</h4>
            <div class="row">
                <div class="col l12 s12 m12">
                    <div class="input-field">
                        <input value="SocioBoard" id="categories" type="text" class="validate">
                        <label class="active" for="categories">Search your categories</label>
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="collection">
                        <a href="#!" class="collection-item active">Advertising</a>
                        <a href="#!" class="collection-item">Agriculture</a>
                        <a href="#!" class="collection-item">Aircraft</a>
                        <a href="#!" class="collection-item">Animals</a>
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="collection">
                        <a href="#!" class="collection-item">Digital Marketing</a>
                        <a href="#!" class="collection-item">Economy</a>
                        <a href="#!" class="collection-item">Food &amp; Beverage</a>
                        <a href="#!" class="collection-item">HR &amp; Management</a>
                    </div>
                </div>
                <div class="col l4 m4 s12">
                    <div class="collection">
                        <a href="#!" class="collection-item">Knowledge Management</a>
                        <a href="#!" class="collection-item">Internet</a>
                        <a href="#!" class="collection-item">Literature</a>
                        <a href="#!" class="collection-item">Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="ComposePostModal" class="modal">
        <div class="modal-content">
            <nav class="red">
                <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                        <ul>
                            
                            <li>
                                <a  class="email-type">Compose</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                        <ul class="right">
                            <li>
                                <div ng-show="cmpbtn" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                                <div ng-show="!cmpbtn"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                            </li>
                            <!--<li>
                                <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                            </li>-->
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        <div class="model-email-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <!--<div class="input-field col s12">
                            <select multiple id="composeProfiles">
                                <option value="" disabled selected>Choose your option</option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                            </select>
                        </div>-->
                        <div style="max-height:250px; overflow-y:scroll;">

                            <ul class="shinh" id="checkboxdataboard">
                                <li style="padding:5px 0;">
                                    <label>
                                        <input id="checkAll" onclick="check();" type="checkbox" style="visibility:visible;position:relative;left:5px; float:left" />
                                        <span style="float:left;">Check All</span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" class="subcheckboxboard" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <span style="float:left;">{{profile.profileName}}</span>
                                        <span style="float:right;"><img src="/contents/socioboard/images/fb_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" class="subcheckboxboard" id="fb_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left"  />
                                        <span style="float:left;">{{profile.profileName}}</span>
                                        <span style="float:right;"><img src="/contents/socioboard/images/Fb_page-icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles | filter:{profileType:2}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" class="subcheckboxboard" id="tw_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left"  />
                                        <span style="float:left;">{{profile.profileName}}</span>
                                        <span style="float:right;"><img src="/contents/socioboard/images/twticon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles | filter:{profileType:3} | filter:{profileType:'!13'}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" class="subcheckboxboard" id="lin_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left"  />
                                        <span style="float:left;">{{profile.profileName}}</span>
                                        <span style="float:right;"><img src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                                <li ng-repeat="profile in lstProfiles | filter:{profileType:4}" style="padding:5px 0;">
                                    <label>
                                        <input name="selector[]" class="subcheckboxboard" id="Cmpylinpage_{{profile.profileId}}" type="checkbox" style="visibility:visible;position: relative;left:5px;float:left" />
                                        <span style="float:left;">{{profile.profileName}}</span>
                                        <span style="float:right;"><img src="/contents/socioboard/images/link_icon.png"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Default version-->
                    <div class="row section">
                        <div class="col s12 m4 l3">
                            <p>Select your file</p>
                        </div>
                        <input type="hidden" id="imageUrl" value="{{boardComposeMessage.picUrl}}" />
                        <div class="col s12 m8 l9" ng-if="boardComposeMessage">
                            <input type="file" id="composeImage" class="dropify"  after-render  data-default-file="{{boardComposeMessage.picUrl}}" />
                        </div>

                        <div class="col s12 m8 l9" ng-if="!boardComposeMessage">
                            <input type="file" id="composeImage" class="dropify"  after-render data-default-file="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="composeMessage" class="materialize-textarea" length="5000">{{boardComposeMessage.shareMessage }}</textarea>
                            <label for="compose">Message</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<script>
    function check() {
       var flag = $('#checkAll').is(":checked");
        $('#checkboxdataboard input:checkbox').each(function () {
            $(this).prop('checked', flag);
        });
    }
</script>