    <div data-ng-controller="BoardlistController">
            <!-- Page name -->
            <div class="container">
                <div class="col m12">
                  <span class="right"><a href="#/createboard" class="btn">Create a Board</a></span>
                  <h4>BoardMe</h4> 
                </div>
            </div>
            <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col s12 m12">
                      <div class="card" id="feeds">
                        <h5 class="feeds_title blue darken-4 white-text"><i class="icon-social-facebook"></i>Boardme List</h5>
                        <div class="collection">
                          <table id="BoardList" class="display responsive-table striped" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Name</th>
                                      <th colspan="3" class="center">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="board in lstBoards">
                                    <td>{{$index +1}}</td>
                                    <td>{{board.boardName}}</td>
                                    <td>
                                        <a class="btn green" href="#/board/{{board.objId}}/{{board.boardName}}"  ><i class="fa fa-eye fa-fw"></i>VIEW</a>
                                    </td>
                                    <td>
                                        <a class="btn" href="#/boardanalytics/{{board.boardName}}"><i class="fa fa-bar-chart fa-fw"></i>ANALYTICS</a>
                                    </td>
                                     <td>
                                        <a class="btn red" ng-click="deleteBoard(board.objId)"><i class="fa fa-times fa-fw"></i>Delete</a>
                                    </td>
                                </tr>      
                              </tbody>
                          </table>   
                        </div>            
                      </div>
                        <div ng-if="lastreach!=true">
                            <br />
                            <br />
                            <br /><br /><br /><br />
                            <div class="center">
                                <div>
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-red">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-yellow">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->


          <!-- Modal Structure -->
          <div id="EditModal" class="modal">
            <div class="modal-content">
              <h5>Edit Message</h5>
              <div class="row center">
                <div class="input-field col s8">
                  <textarea id="ScheduleMsg" class="materialize-textarea" length="500" value="">Good News from Socioboard Team to the marketing world!!!!we have recently deployed Boardme ,BrandBuzz, BrandHit .Evade all your marketing problems using this fabulous tools!!</textarea>
                  <label for="ScheduleMsg">Edit Message Here</label>
                </div> 
                <div class="col s4">                                
                  <img src="../../images/SocioboardCore_logo.png" class="responsive-img">
                </div>  
              </div>
            </div>
            <div class="modal-footer">
              <a href="" class=" modal-action modal-close waves-effect waves-green btn grey">Save</a>
            </div>
          </div>

               
    </div>
