<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Socioboard | BoardMe</title>
        <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/frontend//imgs/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:site_name" content="socioboard.com">
        <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
        <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
        <meta property="og:url" content="https://www.facebook.com/SocioBoard">



        
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link href="../../global/plugins/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->


    <link href="../../css/admin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">

    
        <link href="../../global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="../../global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css">
        <link href="../../css/frontend/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../css/frontend/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../../global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        
        <style type="text/css">
           #waterfall li.show {
              opacity: 1;
              transform: translateY(0);
              transition: all 0.3s, top 1s;
            }

            #waterfall li > div {
              color: rgba(0,0,0,0.6);
              border-radius: 3px;
              margin: 10px;
              padding: 0px;
              background: rgb(255,255,255);
              border: 1px solid rgba(038, 191, 64, 0);
              transition: all 0.5s;
            }

            #waterfall li > div:hover {
              transform: translateY(-10px);
              border: 1px solid #3b5998;
              box-shadow: 0 10px 15px rgba(154, 187, 221, 0.4);
              transition: all 0.3s;
            }
            /* product content new studio_card*/
.studio_card .card .btn-save {
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 50px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}
.studio_card .card .card-content{
    padding: 4px 0px;
}
.studio_card .card .card-content .card-title{
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.studio_card {
  padding: 10px;
}

.studio_card .card {
  margin: 0;
}
.share_studio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

        </style>
    </head>

    <body>
      <div class="navbar-fixed">
        <!-- Dropdown Structure -->
          <ul id="Versions" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Versions_mob" class="dropdown-content">
            <li><a href="http://socioboard.org/">Community</a></li>
            <li><a href="agency.html">Agency</a></li>
            <li><a href="enterprise.html">Enterprise</a></li>
          </ul>
          <ul id="Insights" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <ul id="Insights_mob" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>
            <li><a href="http://blog.socioboard.com/">Blogs</a></li>
            <li><a href="git_download.html">Download</a></li>
          </ul>
          <nav class="white" role="navigation">
            <div class="nav-wrapper">
              <a id="logo-container" href="index.html" class="brand-logo"><img src="../../images/Socioboard.png" alt="Socioboard"></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger" href="#SignInModal">SignIn</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li><a href="company.html">Company</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Versions_mob">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="Insights_mob">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="sample.html">Careers</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="#">Signup</a></li>
                <li><a class="waves-effect waves-light btn">SignIn</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>
      </div>

      <div class="container">
        <div class="row no-bottom-space">
          <div class="col s12 m6">
            <div class="card z-depth-3">
              <div class="card-content white-text">               
                <div class="row no-bottom-space">
                  <div class="col m12 no-padding">
                    <h6 class="card-title board_title indigo darken-3"><i class="icon-social-facebook"></i> Facebook top 5 Trends </h6>
                    <div id="fb_scroll">                     
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Every Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#socioboard</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#MODI</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#fb</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Every Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#socioboard</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#MODI</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#fb</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card z-depth-3">
              <div class="card-content white-text">               
                <div class="row no-bottom-space">
                  <div class="col m12 no-padding">
                    <h6 class="card-title board_title light-blue accent-3"><i class="icon-social-twitter"></i> Twitter top Trends </h6>
                    <div id="twt_scroll">                     
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Every Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#socioboard</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#MODI</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#fb</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Every Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">Indian is a VIP</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#socioboard</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#MODI</a></h5>
                      <h5><a href="javascript:void(0);" class="grey-text text-darken-3">#fb</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-bottom-space">
          <div class="col s12 m12">
            <div class="card-panel blue accent-1 center-align z-depth-2">
              <div class="nobox">
                <h2 class="no-space white-text Righteous_font">#<span>chanchalsantra</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-bottom-space">
          <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
              <div class="card-content white-text">               
                <div class="row">
                  <div class="col m8 grey-text text-darken-3">
                     <span class="card-title">Total Favorites</span>
                     <p style="font-size: 40px;">44</p>
                  </div>
                  <div class="col m4"><i class="fa fa-star-o fa-5x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
              <div class="card-content white-text">               
                <div class="row">
                  <div class="col m8 grey-text text-darken-3">
                     <span class="card-title">Total Tweets</span>
                     <p style="font-size: 40px;">44</p>
                  </div>
                  <div class="col m4"><i class="fa fa-twitch fa-5x"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card cyan lighten-2 z-depth-3">
              <div class="card-content white-text">               
                <div class="row">
                  <div class="col m8 grey-text text-darken-3">
                     <span class="card-title">Total ReTweets</span>
                     <p style="font-size: 40px;">44</p>
                  </div>
                  <div class="col m4"><i class="fa fa-retweet fa-5x"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>      

        <!-- statr products list -->
          <div class="row">
            <div id="center">
              <ul id="waterfall">
                <li class="show" id="test">
                  <div class="studio_card">
                    <div class="card hoverable no-space">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-save waves-effect waves-light blue accent-2 content_icon"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i></a>
                            <a href="http://www.npr.org/sections/thetwo-way/2017/07/16/537545144/dr-who-is-a-woman-jodie-whittaker-announced-as-13th-time-lord-in-bbc-series" target="_blank">
                                <img src="https://media.npr.org/assets/img/2017/07/16/ap_16339701449510_wide-33ec48c63cc878dd3281539309ca43343b03d8ac.jpg?s=1400" alt="product-img">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="row no-space">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Doctor Who Is A Woman: Jodie Whittaker Announced As 13th Time Lord In BBC Series</a>
                                    </p>
                                </div>
                                <div class="col s12 m6">
                                    <a href="javascript:;" class="truncate">weblink.com</a>
                                </div>
                                <div class="col s12 m6 ">
                                    <span>| </span><span class="grey-text right truncate">10 hrs ago</span>
                                </div>
                                <hr>
                                <div class="col s12 m6 center">
                                    <div class="grey-text text-darken-4">Trending Score:</div>
                                    <div><strong>99</strong></div>
                                </div>
                                <div class="col s12 m6 center">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>99</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </li>
                <li class="show" id="test">
                  <div class="studio_card">
                    <div class="card hoverable no-space">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-save waves-effect waves-light blue accent-2 content_icon"><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i></a>
                            <a href="http://www.socioboard.com" target="_blank">
                                <img src="https://i.pinimg.com/564x/f5/6c/dd/f56cddde4db05f3e753b2707f6e9735b.jpg" alt="product-img">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="row no-space">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Doctor Who Is A Woman: Jodie Whittaker Announced As 13th Time Lord In BBC Series</a>
                                    </p>
                                </div>
                                <div class="col s12 m6">
                                    <a href="javascript:;" class="truncate">weblink.com</a>
                                </div>
                                <div class="col s12 m6 ">
                                    <span>| </span><span class="grey-text right truncate">10 hrs ago</span>
                                </div>
                                <hr>
                                <div class="col s12 m6 center">
                                    <div class="grey-text text-darken-4">Trending Score:</div>
                                    <div><strong>99</strong></div>
                                </div>
                                <div class="col s12 m6 center">
                                    <div class="grey-text text-darken-4">Total Shares:</div>
                                    <div><strong>99</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <!--/ end items list --> 
      </div>


  <footer class="page-footer">
    <div class="container">
      <div class="row center-align">
        <div class="col l6 s12">
          <h5 class="white-text">GET IN TOUCH WITH US</h5>
          <p class="grey-text text-lighten-4">TV Complex, 2, 60 Feet Rd, 6th Block, Koramangala, Bengaluru, Karnataka 560034</p><img src="../../images/contactus.png">
        </div>
        <div class="col l6 s12">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1551064375135193";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

          <div class="fb-page" data-href="https://www.facebook.com/socioboard" data-tabs="timeline" data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/socioboard"><a href="https://www.facebook.com/socioboard">Socioboard</a></blockquote></div></div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      <!-- Made by with ♥ <a class="brown-text text-lighten-3" href="https://www.behance.net/chanchalsantra">Chanchal Santra</a> -->
      Copyright © 2014 - 2016 Socioboard Technologies Pvt. Ltd. All Rights Reserved.
      </div>
    </div>
  </footer>
      <div class="fixed-action-btn " style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="fa fa-bullhorn"></i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="btn-floating light-blue darken-3"><i class="fa fa-facebook"></i></a></li>
          <li><a class="btn-floating light-blue accent-4"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="btn-floating cyan lighten-3"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>

  <!-- SignUp Modal -->
  <div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
    <div class="modal-content">
      <h4>Create a free account</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
             <div class="input-field col s12 m12">
                <select>
                  <optgroup label="Basic Plans">
                    <option value="1">Basic(Free)</option>
                    <option value="2">Standard</option>
                    <option value="3">Premium</option>
                    <option value="4">Deluxe</option>
                  </optgroup>
                  <optgroup label="Extra Plans">
                    <option value="5">Topaz</option>
                    <option value="6">Ruby</option>
                    <option value="7">Gold</option>
                    <option value="8">Platinum</option>
                  </optgroup>
                </select>
                <label>Choose your option</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>   

        </form>
      </div>
  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58515856-3', 'auto');
  ga('send', 'pageview');

</script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- <script type="text/javascript" src="../../global/plugins/materialize/js/materialize.min.js"></script> -->

    <script type="text/javascript" src="../../js/admin/materialize.js"></script>
      <!-- <script type="text/javascript" src="../../js/frontend/init.js"></script> -->

    <script type="text/javascript" src="../../global/plugins/waterfall_grid/newWaterfall.js"></script>
    <script type="text/javascript" src="../../global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
     
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
    $( document ).ready(function() {
        $('#fb_scroll').slimScroll({
          color: '#283593',
          height: '200px'
        });
        $('#twt_scroll').slimScroll({
          color: '#00b0ff',
          height: '200px'
        });
    });

     $(document).ready(function()
      {
        $('#waterfall').NewWaterfall();
      });

      // 自动加载更多
      function random(min,max)
      {
        return min + Math.floor(Math.random() * (max - min + 1))
      }
      var loading  = false;
      var dist = 300;
      var num = 1;

      setInterval(function(){
        if($(window).scrollTop() >= $(document).height() - $(window).height() - dist && !loading)
        {
          loading = true;
          $("#test").clone().appendTo('#waterfall');
          // $("#waterfall").append("<li><div style='height:" + random(50,500) +  "px'>" + num + "</div></li>");
          num++;

          loading = false;
        }
      },60);

    </script>

    </body>
  </html>