<div data-ng-controller="CreateBoardController">
    <!-- Page name -->
    <div class="container">
        <div class="col m12">
            <h4>BoardMe</h4>
        </div>
    </div>

    <!-- START CONTENT -->
    <section id="content">
        <!-- Compose Email Structure -->
        <div class="row">
            <div class="col offset-s2 s8 offset-m2 m8 offset-l2 l8">
                <div class="card" id="feeds">
                    <h5 class="feeds_title blue darken-4 white-text"><i class="icon-pencil"></i>New Boardme</h5>
                    <div class="collection">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="icon-directions prefix"></i>
                                        <input id="BoardMe" name="name" ng-model="board.name" type="text">
                                        <label for="BoardMe">BoardMe Name</label>
                                    </div>
                                </div>
                               <!-- <div class="row">
                                    <div class="input-field col s12">
                                        <i class="icon-social-facebook prefix"></i>
                                        <input id="FacebookID" name="facebookHashTag" ng-model="board.facebookHashTag" type="text">
                                        <label for="FacebookID">Facebook ID</label>
                                    </div>
                                    <div class="col s2">
                                        <a href="#" class="btn waves-effect waves-light">confirm</a>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-instagram prefix"></i>
                                        <input id="InstagramID" name="instagramHashTag" ng-model="board.instagramHashTag" type="text">
                                        <label for="InstagramID">Instagram Keyword</label>
                                    </div>
                                    <!--<div class="col s2">
                                        <a href="#" class="btn waves-effect waves-light">confirm</a>
                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="icon-social-twitter prefix"></i>
                                        <input id="TwitterID" name="twitterHashTag" ng-model="board.twitterHashTag" type="text">
                                        <label for="TwitterID">Twitter Keyword</label>
                                    </div>
                                    <!--<div class="col s2">
                                        <a href="#" class="btn waves-effect waves-light">confirm</a>
                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-google-plus prefix"></i>
                                        <input id="GPlusID" name="gpluHashTag" ng-model="board.gpluHashTag" type="text">
                                        <label for="GPlusID">GPlus Keyword</label>
                                    </div>
                                    <!--<div class="col s2">
                                        <a href="#" class="btn waves-effect waves-light">confirm</a>
                                    </div>-->
                                </div>
                                <!--<div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-facebook prefix"></i>
                                        <input id="FbID" name="fbHashTag" ng-model="board.facebookHashTag" type="text">
                                        <label for="FbID">Facebook ID</label>
                                    </div>
                               </div>-->
                                <div ng-init="dispbtn= {{dispbtn}}"></div>
                                <div class="col l12 center">
                                    <a ng-show="dispbtn" ng-click="createBoard(board)" class="btn grey darken-4 waves-effect waves-light">SAVE</a>
                                    <a ng-show="!dispbtn" class="btn grey darken-4 waves-effect waves-light">Wait</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>