    <div data-ng-controller="AffiliatesController">
	    <!-- Page name -->
	    <!-- <div class="container">
	        <div class="col m12">
	          <h4></h4> 
	        </div>
	    </div> -->

	    <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col offset-s2 s8 offset-m2 m8 offset-l2 l8">
                      <div class="card" id="feeds">
                        <h5 class="feeds_title blue darken-4 white-text"><i class="icon-layers"></i>Affiliates</h5>
                        <div class="collection">
                        	<div class="row">
			                    <form class="col s12">
			                      <div class="row">
			                        <div class="input-field col s12">
			                          <i class="icon-envelope-letter prefix"></i>
			                          <input id="email" type="text">
			                          <label for="email">Email</label>
			                        </div>
			                      </div>
			                      <div class="col l12 center">
			                      	<a href="#" class="btn grey darken-4 waves-effect waves-light"><i class="icon-rocket"></i> Invite your acquaintance</a>
			                      </div>
			                    </form>
			                </div>
                        </div>
                        <div class="card-action right">
			              <a class="btn modal-trigger" href="#AffiliatesModal">Show Public Affiliate Url</a>
			            </div>
                      </div>
                    </div>
                </div>

                <!-- Affiliates Modal Structure -->
				  <div id="AffiliatesModal" class="modal">
				    <div class="modal-content">
				  		<a href="#!" class="modal-action modal-close waves-effect waves-green right"><i class="icon-close"></i></a>
				      	<h5>
				      		Public Referral URL
				      		<br>
							Invite your acquaintances by using the following link
						</h5>
						<hr>
				      	<div>
				      		World’s #1 Open Source Social Technology Enabler!
				      		<br>
				      		<a target="_blank" href="https://www.socioboard.com/MyStuff/AffiliateSystem?code=dPf8JAqB8kiYip8mCmZlqQ"> https://www.socioboard.com/MyStuff/AffiliateSystem?code=dPf8JAqB8kiYip8mCmZlqQ</a>
				      	</div>
				    </div>
				  </div>
            </section>
    </div>