<script>
(function($) {
  $(document).ready(function() {
      $('#scheduleprofiles option').each(function (index) {
          if (index == 1)
          {
              $(this).html('<img src="/contents/socioboard/images/fb_icon.png">' + $(this).html());
          }
           if(index==2)
          {
               $(this).html('<img src="/contents/socioboard/images/Fb_page-icon.png">' + $(this).html());
          }
           if (index == 3)
          {
               $(this).html('<img src="/contents/socioboard/images/twticon.png">' + $(this).html());
          }
           if (index == 4)
          {
               $(this).html('<img src="/contents/socioboard/images/link_icon.png">' + $(this).html());
          }
           if (index == 5)
          {
               $(this).html('<img src="/contents/socioboard/images/link_icon.png">' + $(this).html());
          }
      //$(this).html('<img src="http://jsfiddle.net/img/logo.png">' + $(this).html());
    })
  });
})(jQuery);
</script>
<style type="text/css">
    md-dialog {
        opacity: 1 !important;
    }
</style>
    
<div data-ng-controller="ScheduleMessageController">
            <!-- Page name -->

            <div class="container">
                <div class="col m12">
                    <h4>Schedule Message</h4> 
                </div>
            </div>



            <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col s12 m12">
                      <div class="card">
                        <div class="card-content">
                            <div class="row">
                               <form class="col s12" name="scheduleform">
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <select multiple id="scheduleprofiles">
                                            <option value="" disabled selected>Select Your Account</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:0}  | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-timeout-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="page_{{profile.profileId}}" my-repeat-timeout-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-timeout-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-timeout-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-timeout-directive>  {{profile.profileName}} </option>
                                        </select>
                                        <label>Select Profiles</label>
                                      </div>
                                    </div>
                                      <!--Default version-->
                                    <div class="row section" ng-if="user.TrailStatus!=2">
                                      <div class="col s12 m12 l12">
                                         <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                                      </div>
                                      <div class="col s12 m12 l12" >
                                          <input type="hidden" id="imageUrl" value="{{schedulemessage.picUrl}}" />
                                          <div ng-if="schedulemessage">
                                              <input type="file" id="input-file-now"  class="dropify" after-render  data-default-file="{{schedulemessage.picUrl}}" />
                                               <!--<input type="file" id="input-file-now" class="dropify" data-default-file="" />-->
                                          </div>
                                          <div ng-if="!schedulemessage">
                                              <input type="file" id="input-file-now" class="dropify" after-render data-default-file="" />
                                          </div>
                                          
                                      </div>
                                    </div>
                                    <div class="row">
                                      
                                      <div class="input-field col s12">
                                          <div ng-if="!schedulemessage">
                                              <textarea id="ScheduleMsg" class="materialize-textarea" ng-pattern="/^[a-z]+[@+!+#][a-z]*$/" ng-model="ScheduleMsg" required name="ScheduleMsgtxt" length="500"></textarea>
                                              <label for="ScheduleMsg">Type Your Message Here</label>
                                          </div>
                                        <div ng-if="schedulemessage">
                                            <textarea id="ScheduleMsg" class="materialize-textarea" ng-model="schedulemessage.shareMessage" ng-if="!grppost" required name="ScheduleMsgtxt"  length="500">{{schedulemessage.shareMessage}}</textarea>
                                            <textarea id="ScheduleMsg" class="materialize-textarea" ng-model="schedulemessage" ng-if="grppost" required name="ScheduleMsgtxt" length="500"></textarea>
                                            <label for="ScheduleMsg">Type Your Message Here</label>
                                        </div>
                                      </div>
                                        <span class="error-message" ng-show="scheduleform.ScheduleMsgtxt.$dirty && scheduleform.ScheduleMsgtxt.$invalid">
                                            <span style="color:red" ng-show="scheduleform.ScheduleMsgtxt.$error.required">Please enter Schedule Message</span>
                                        </span>
                                    </div>
                                    
                                   <div class="row">
                                       <div class="input-field col s12 m4 l4">
                                           <!--<input type="checkbox" class="filled-in" id="repeat_post" ng-model="hasChecked" ng-click="repetition()"/>-->
                                           <input type="checkbox" class="filled-in" id="repeat_post" ng-model="hasChecked" ng-click="repetition()" />
                                           <label for="repeat_post">Repeat post</label>
                                       </div>
                                       <div class="input-field col s12 m4 l4">
                                           
                                           <input id="sche_day" type="number" min="0" class="validate">
                                           <label for="sche_day">Schedule at [ Days ]</label>
                                       </div>
                                       <div class="input-field col s12 m4 l4">
                                           <select id="timesRepeat">
                                               <option value="" disabled selected>Choose your time intervale</option>
                                               <option value=1>1</option>
                                               <option value=2>2</option>
                                               <option value=3>3</option>
                                           </select>
                                           <label>interval to repeat time</label>
                                       </div>
                                   </div>
                                   <div class="row no-space">
                                       <div class="input-field col s12">
                                           <!-- <input id="datetimepicker" type="text" > -->
                                           <!-- <input type="date" class="datepicker"> -->
                                           <div id="content" layout="column" flex>
                                               <md-content flex layout="column" layout-align="center center" layout-padding>
                                                   <div layout="row" ng-form="demoForm">
                                                       <div layout-padding>
                                                           <div>
                                                               <!-- <h4 class="md-subhead">Pick a date</h4> -->
                                                               <mdp-date-picker mdp-open-on-click required name="dateFormat"  mdp-placeholder="(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="currentDate">
                                                                   <div ng-show="demoForm.dateFormat.$error.required" >
                                                                       <div ng-message="required">This is required</div>
                                                                       <div ng-message="format">Invalid format</div>
                                                                   </div>
                                                               </mdp-date-picker>
                                                           </div>
                                                       </div>
                                                       <div layout-padding>
                                                           <div>
                                                               <!-- <h4 class="md-subhead">Pick a time</h4> -->
                                                               <mdp-time-picker mdp-open-on-click name="timeFormat" required ng-model="currentDate" mdp-format="HH:mm A" mdp-placeholder="(hh/mm)">
                                                                   <div ng-show="demoForm.timeFormat.$error.required">
                                                                       <div ng-message="required">This is required</div>
                                                                       <div ng-message="format">Invalid format</div>
                                                                   </div>
                                                               </mdp-time-picker>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </md-content>
                                           </div>
                                       </div>
                                   </div>
                                         
                                    
                                   <div ng-init="dispbtn= {{dispbtn}}"></div>
                                <div class="card-action" ng-if="!schedulemessage"  ng-show="dispbtn">
                                    <button ng-disabled="!((scheduleform.ScheduleMsgtxt.$dirty))" class="waves-effect waves-light btn grey darken-3" ng-click="schedulemsg()">Schedule</button>
                                    <button ng-disabled="!((scheduleform.ScheduleMsgtxt.$dirty))" class="waves-effect waves-light btn grey darken-2" ng-click="draftmsg()">Save To Draft</button>
                                </div>
                                   <div class="card-action" ng-if="schedulemessage" ng-show="dispbtn">
                                       <button  class="waves-effect waves-light btn grey darken-3" ng-click="schedulemsg()">Schedule</button>
                                       <button  class="waves-effect waves-light btn grey darken-2" ng-click="draftmsg()">Save To Draft</button>
                                   </div>
                                   <div class="card-action" ng-show="!dispbtn">
                                       <a href="#" class="waves-effect waves-light btn grey darken-3">Wait</a>
                                   </div>
                               </form>
                            </div>
                        </div>
                       
                      </div>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->


               
    </div>
