<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">
       Data Source=localhost;User ID=root;Password=1234;persist security info=False;initial catalog=sb3test;pooling=true;charset=utf8; port=3306;
      </property>
    <property name="show_sql">true</property>
    <mapping assembly="Domain.Socioboard" />
  </session-factory>

</hibernate-configuration>

