<!-- START MAIN -->
    <div  data-ng-controller="BillingController">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <div class="col m12">
                        <h4>Billing</h4>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col m12">
                                        <h6><strong>Current Plan:</strong></h6>
                                        <p>You're currently paying <b>{{planprice}}</b> per month on your <b>{{plandetails.itemname}}</b> plan.</p>
                                    </div>                                  
                                    <div class="col m12 l12 s12">
                                        <a class="btn btn_style blue" href="#/upgradeplan">Switch Business Plans</a>
                                      <a class="btn btn_style modal-trigger" ng-if="plandetails.id!=''" href="/Home/generatePaymentInvoicePdf?id={{plandetails.id}}&package={{plandetails.itemname}}">Download Invoice</a>

                                        <!--<a class="btn btn_style" href="javascript:void();" id="change_bill_btn">Change Company and Billing Details</a>-->

                                        <a class="btn btn_style red modal-trigger" href="#CancelPlanModal">Cancel Plan</a>
                                    </div>
                                    <!--<div class="col m12" id="change_bill_div" style="display: none;">
                                        <h6><strong>Your Company and Billing Details</strong></h6>
                                        <p>We'll include the Company and Billing details in each of your Receipts and Invoices. Feel free to customize the details by clicking "Change Company and Billing details" above</p>
                                        <form class="col s12 m6 grey lighten-3">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="Company Name" id="Company_Name" type="text" class="validate">
                                                    <label for="Company_Name">Company Name</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="Address Line 1" id="Address_Line_1" type="text" class="validate">
                                                    <label for="Address_Line_1">Address Line 1</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="Address Line 2" id="Address_Line_2" type="text" class="validate">
                                                    <label for="Address_Line_2">Address Line 2</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="City" id="City" type="text" class="validate">
                                                    <label for="City">City</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="State/Province/Region" id="State_Province_Region" type="text" class="validate">
                                                    <label for="State_Province_Region">State/Province/Region</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="Zip/Postal Code" id="Zip_Postal_Code" type="text" class="validate">
                                                    <label for="Zip_Postal_Code">Zip/Postal Code</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <select name="country" class="dropdown-content-small">
                                                        <option value="" disabled selected>Select Country</option>
                                                        <option value="AF">Afghanistan</option>
                                                        <option value="AL">Albania</option>
                                                        <option value="DZ">Algeria</option>
                                                        <option value="AS">American Samoa</option>
                                                        <option value="AD">Andorra</option>
                                                        <option value="AO">Angola</option>
                                                        <option value="AI">Anguilla</option>
                                                        <option value="AQ">Antarctica</option>
                                                        <option value="AG">Antigua and Barbuda</option>
                                                        <option value="AR">Argentina</option>
                                                        <option value="AM">Armenia</option>
                                                        <option value="AW">Aruba</option>
                                                        <option value="AU">Australia</option>
                                                        <option value="AT">Austria</option>
                                                        <option value="AZ">Azerbaijan</option>
                                                        <option value="BS">Bahamas</option>
                                                        <option value="BH">Bahrain</option>
                                                        <option value="BD">Bangladesh</option>
                                                        <option value="BB">Barbados</option>
                                                        <option value="BY">Belarus</option>
                                                        <option value="BE">Belgium</option>
                                                        <option value="BZ">Belize</option>
                                                        <option value="BJ">Benin</option>
                                                        <option value="BM">Bermuda</option>
                                                        <option value="BT">Bhutan</option>
                                                        <option value="BO">Bolivia</option>
                                                        <option value="BA">Bosnia and Herzegowina</option>
                                                        <option value="BW">Botswana</option>
                                                        <option value="BV">Bouvet Island</option>
                                                        <option value="BR">Brazil</option>
                                                        <option value="IO">British Indian Ocean Territory</option>
                                                        <option value="BN">Brunei Darussalam</option>
                                                        <option value="BG">Bulgaria</option>
                                                        <option value="BF">Burkina Faso</option>
                                                        <option value="BI">Burundi</option>
                                                        <option value="KH">Cambodia</option>
                                                        <option value="CM">Cameroon</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="CV">Cape Verde</option>
                                                        <option value="KY">Cayman Islands</option>
                                                        <option value="CF">Central African Republic</option>
                                                        <option value="TD">Chad</option>
                                                        <option value="CL">Chile</option>
                                                        <option value="CN">China</option>
                                                        <option value="CX">Christmas Island</option>
                                                        <option value="CC">Cocos (Keeling) Islands</option>
                                                        <option value="CO">Colombia</option>
                                                        <option value="KM">Comoros</option>
                                                        <option value="CG">Congo</option>
                                                        <option value="CK">Cook Islands</option>
                                                        <option value="CR">Costa Rica</option>
                                                        <option value="CI">Cote D'Ivoire</option>
                                                        <option value="HR">Croatia</option>
                                                        <option value="CU">Cuba</option>
                                                        <option value="CY">Cyprus</option>
                                                        <option value="CZ">Czech Republic</option>
                                                        <option value="DK">Denmark</option>
                                                        <option value="DJ">Djibouti</option>
                                                        <option value="DM">Dominica</option>
                                                        <option value="DO">Dominican Republic</option>
                                                        <option value="TL">East Timor</option>
                                                        <option value="EC">Ecuador</option>
                                                        <option value="EG">Egypt</option>
                                                        <option value="SV">El Salvador</option>
                                                        <option value="GQ">Equatorial Guinea</option>
                                                        <option value="ER">Eritrea</option>
                                                        <option value="EE">Estonia</option>
                                                        <option value="ET">Ethiopia</option>
                                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                                        <option value="FO">Faroe Islands</option>
                                                        <option value="FJ">Fiji</option>
                                                        <option value="FI">Finland</option>
                                                        <option value="FR">France</option>
                                                        <option value="FX">France, Metropolitan</option>
                                                        <option value="GF">French Guiana</option>
                                                        <option value="PF">French Polynesia</option>
                                                        <option value="TF">French Southern Territories</option>
                                                        <option value="GA">Gabon</option>
                                                        <option value="GM">Gambia</option>
                                                        <option value="GE">Georgia</option>
                                                        <option value="DE">Germany</option>
                                                        <option value="GH">Ghana</option>
                                                        <option value="GI">Gibraltar</option>
                                                        <option value="GR">Greece</option>
                                                        <option value="GL">Greenland</option>
                                                        <option value="GD">Grenada</option>
                                                        <option value="GP">Guadeloupe</option>
                                                        <option value="GU">Guam</option>
                                                        <option value="GT">Guatemala</option>
                                                        <option value="GN">Guinea</option>
                                                        <option value="GW">Guinea-bissau</option>
                                                        <option value="GY">Guyana</option>
                                                        <option value="HT">Haiti</option>
                                                        <option value="HM">Heard and Mc Donald Islands</option>
                                                        <option value="HN">Honduras</option>
                                                        <option value="HK">Hong Kong</option>
                                                        <option value="HU">Hungary</option>
                                                        <option value="IS">Iceland</option>
                                                        <option value="IN">India</option>
                                                        <option value="ID">Indonesia</option>
                                                        <option value="IR">Iran (Islamic Republic of)</option>
                                                        <option value="IQ">Iraq</option>
                                                        <option value="IE">Ireland</option>
                                                        <option value="IL">Israel</option>
                                                        <option value="IT">Italy</option>
                                                        <option value="JM">Jamaica</option>
                                                        <option value="JP">Japan</option>
                                                        <option value="JO">Jordan</option>
                                                        <option value="KZ">Kazakhstan</option>
                                                        <option value="KE">Kenya</option>
                                                        <option value="KI">Kiribati</option>
                                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                                        <option value="KR">Korea, Republic of</option>
                                                        <option value="KW">Kuwait</option>
                                                        <option value="KG">Kyrgyzstan</option>
                                                        <option value="LA">Lao People's Democratic Republic</option>
                                                        <option value="LV">Latvia</option>
                                                        <option value="LB">Lebanon</option>
                                                        <option value="LS">Lesotho</option>
                                                        <option value="LR">Liberia</option>
                                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                                        <option value="LI">Liechtenstein</option>
                                                        <option value="LT">Lithuania</option>
                                                        <option value="LU">Luxembourg</option>
                                                        <option value="MO">Macau</option>
                                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                        <option value="MG">Madagascar</option>
                                                        <option value="MW">Malawi</option>
                                                        <option value="MY">Malaysia</option>
                                                        <option value="MV">Maldives</option>
                                                        <option value="ML">Mali</option>
                                                        <option value="MT">Malta</option>
                                                        <option value="MH">Marshall Islands</option>
                                                        <option value="MQ">Martinique</option>
                                                        <option value="MR">Mauritania</option>
                                                        <option value="MU">Mauritius</option>
                                                        <option value="YT">Mayotte</option>
                                                        <option value="MX">Mexico</option>
                                                        <option value="FM">Micronesia, Federated States of</option>
                                                        <option value="MD">Moldova, Republic of</option>
                                                        <option value="MC">Monaco</option>
                                                        <option value="MN">Mongolia</option>
                                                        <option value="MS">Montserrat</option>
                                                        <option value="MA">Morocco</option>
                                                        <option value="MZ">Mozambique</option>
                                                        <option value="MM">Myanmar</option>
                                                        <option value="NA">Namibia</option>
                                                        <option value="NR">Nauru</option>
                                                        <option value="NP">Nepal</option>
                                                        <option value="NL">Netherlands</option>
                                                        <option value="AN">Netherlands Antilles</option>
                                                        <option value="NC">New Caledonia</option>
                                                        <option value="NZ">New Zealand</option>
                                                        <option value="NI">Nicaragua</option>
                                                        <option value="NE">Niger</option>
                                                        <option value="NG">Nigeria</option>
                                                        <option value="NU">Niue</option>
                                                        <option value="NF">Norfolk Island</option>
                                                        <option value="MP">Northern Mariana Islands</option>
                                                        <option value="NO">Norway</option>
                                                        <option value="OM">Oman</option>
                                                        <option value="PK">Pakistan</option>
                                                        <option value="PW">Palau</option>
                                                        <option value="PA">Panama</option>
                                                        <option value="PG">Papua New Guinea</option>
                                                        <option value="PY">Paraguay</option>
                                                        <option value="PE">Peru</option>
                                                        <option value="PH">Philippines</option>
                                                        <option value="PN">Pitcairn</option>
                                                        <option value="PL">Poland</option>
                                                        <option value="PT">Portugal</option>
                                                        <option value="PR">Puerto Rico</option>
                                                        <option value="QA">Qatar</option>
                                                        <option value="RE">Reunion</option>
                                                        <option value="RO">Romania</option>
                                                        <option value="RU">Russian Federation</option>
                                                        <option value="RW">Rwanda</option>
                                                        <option value="KN">Saint Kitts and Nevis</option>
                                                        <option value="LC">Saint Lucia</option>
                                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                                        <option value="WS">Samoa</option>
                                                        <option value="SM">San Marino</option>
                                                        <option value="ST">Sao Tome and Principe</option>
                                                        <option value="SA">Saudi Arabia</option>
                                                        <option value="SN">Senegal</option>
                                                        <option value="SC">Seychelles</option>
                                                        <option value="SL">Sierra Leone</option>
                                                        <option value="SG">Singapore</option>
                                                        <option value="SK">Slovakia (Slovak Republic)</option>
                                                        <option value="SI">Slovenia</option>
                                                        <option value="SB">Solomon Islands</option>
                                                        <option value="SO">Somalia</option>
                                                        <option value="ZA">South Africa</option>
                                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                        <option value="ES">Spain</option>
                                                        <option value="LK">Sri Lanka</option>
                                                        <option value="SH">St. Helena</option>
                                                        <option value="PM">St. Pierre and Miquelon</option>
                                                        <option value="SD">Sudan</option>
                                                        <option value="SR">Suriname</option>
                                                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                        <option value="SZ">Swaziland</option>
                                                        <option value="SE">Sweden</option>
                                                        <option value="CH">Switzerland</option>
                                                        <option value="SY">Syrian Arab Republic</option>
                                                        <option value="TW">Taiwan</option>
                                                        <option value="TJ">Tajikistan</option>
                                                        <option value="TZ">Tanzania, United Republic of</option>
                                                        <option value="TH">Thailand</option>
                                                        <option value="TG">Togo</option>
                                                        <option value="TK">Tokelau</option>
                                                        <option value="TO">Tonga</option>
                                                        <option value="TT">Trinidad and Tobago</option>
                                                        <option value="TN">Tunisia</option>
                                                        <option value="TR">Turkey</option>
                                                        <option value="TM">Turkmenistan</option>
                                                        <option value="TC">Turks and Caicos Islands</option>
                                                        <option value="TV">Tuvalu</option>
                                                        <option value="UG">Uganda</option>
                                                        <option value="UA">Ukraine</option>
                                                        <option value="AE">United Arab Emirates</option>
                                                        <option value="GB">United Kingdom</option>
                                                        <option selected="selected" value="US">United States</option>
                                                        <option value="UM">United States Minor Outlying Islands</option>
                                                        <option value="UY">Uruguay</option>
                                                        <option value="UZ">Uzbekistan</option>
                                                        <option value="VU">Vanuatu</option>
                                                        <option value="VA">Vatican City State (Holy See)</option>
                                                        <option value="VE">Venezuela</option>
                                                        <option value="VN">Viet Nam</option>
                                                        <option value="VG">Virgin Islands (British)</option>
                                                        <option value="VI">Virgin Islands (U.S.)</option>
                                                        <option value="WF">Wallis and Futuna Islands</option>
                                                        <option value="EH">Western Sahara</option>
                                                        <option value="YE">Yemen</option>
                                                        <option value="RS">Serbia</option>
                                                        <option value="CD">The Democratic Republic of Congo</option>
                                                        <option value="ZM">Zambia</option>
                                                        <option value="ZW">Zimbabwe</option>
                                                        <option value="JE">Jersey</option>
                                                        <option value="BL">St. Barthelemy</option>
                                                        <option value="XU">St. Eustatius</option>
                                                        <option value="XC">Canary Islands</option>
                                                        <option value="ME">Montenegro</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input placeholder="Misc. (VAT etc.)" id="mice_vat" type="text" class="validate">
                                                    <label for="mice_vat">Misc. (VAT etc.)</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 center">
                                                    <a href="javascript:void();" class="btn btn_style blue">Save</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>-->

                                     <!--Download receipt-->
                                    <!--<div class="col m12">
                                        <h6><strong>Receipts:</strong></h6>
                                        <p>Get downloadable receipts for all of the payments you made for your Buffer account.</p>
                                        <hr>
                                    </div>
                                    <div class="col m6">
                                        <h6><strong>$10</strong></h6>
                                        <p>Paid on 26, May 2017</p>
                                    </div>
                                    <div class="col m6">
                                        <a class="btn btn_style" href="javascript:void();">Download Invoice as PDF</a>

                                        <a class="btn btn_style" href="javascript:void();">Download Receipt as PDF</a>
                                    </div>-->
                                    <!--Download receipt End-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
<!-- END MAIN -->

    <!--<div id="ChangePaymentDetailsModal" class="modal">
       <div class="modal-content">       
        <div class="row no-space">
            <form class="col s12">
                <div class="row no-space">
                    <h4>Change your payment details</h4>
                    <div class="grey lighten-3">
                        Visa<br>
                        Card: **** **** **** 6036<br>
                        Expiry:  1/2021         <a href="javascript:void(0)" class="js-edit-card">Update this card</a>
                    </div>
                    <a href="javascript:void();" class="blue-text">Add New Card</a>
                </div>
                <div class="row no-space">
                    <div class="input-field col s12">
                     <button class="modal-close btn cyan waves-effect waves-light right" type="submit">Save My Billing Info
                     </button>
                    </div>
                </div>
            </form>
        </div>
       </div>
    </div>-->


    <div id="CancelPlanModal" class="modal">
       <div class="modal-content">       
        <div class="row no-space">
            <form class="col s12">
                <div class="row no-space">
                    <h4>Cancel your {{planname}} Plan</h4>
                    <p>We're sorry to see you go! Select your preferred plan below:</p>
                    <div class="col m6 s12 center">
                        <input class="with-gap" name="plan" type="radio" id="Basic" checked />
                        <label for="Basic">Basic</label>
                        <ul>
                            <li>Free</li>
                            <li>5 profiles</li>
                            <li>1 Default Group</li>
                        </ul>
                    </div>
                    <div class="col m6 s12 center">
                        <input class="with-gap" name="plan" type="radio" id="current_plan" disabled />
                        <label for="current_plan">Your Current Plan is {{planname}}</label>
                        <ul>
                            <li>{{planprice}}/month</li>
                            <li>{{planprofiles}}</li>
                            <li>{{plangroups}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row no-space">
                    <div class="input-field col s12">
                        <a class="btn cyan waves-effect waves-light right" ng-click="cancelplan();">Confirm and Switch</a>
                     <!--<button class="btn cyan waves-effect waves-light right" ng-click="" type="submit">Confirm and Switch </button>-->
                    </div>
                </div>
            </form>
        </div>
       </div>
    </div>



    <!--<script type="text/javascript">
      document.querySelector("#change_bill_btn").addEventListener("click", function(){
          document.querySelector("#change_bill_div").style.display = "block";
      });
    </script>-->