<!-- START MAIN -->
    <div  data-ng-controller="ExtensionsController">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <div class="col m12">
                        <h4>Install the Chrome Extension!</h4>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">
                                <div class="row center" id="change_email_btn">
                                  <img src="/contents/socioboard/images/extensions.jpg" class="responsive-img">
                                  <p>Share links, pictures and videos from wherever you are on the web.</p>
                                  <a class="btn btn_style btn-blue modal-trigger" href="https://chrome.google.com/webstore/detail/dlapikocbmncdoiekdacodlgjcdcachc" target="_blank">Install the Chrome Extension</a>
                                </div>
                               
                            </div>
                      </div>
                    </div>
                </div>

                <div class="container">

                    <div class="col m12">
                        <h4>Get Android App from Play Store!</h4>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">

                                <div class="row center" id="change_email_btn">
                                    <a href="https://play.google.com/store/apps/details?id=com.socioboard&hl=en" class="waves-effect waves-orange" target="_blank" style="height: auto;">
                                        <img src="../contents/socioboard/images/google_store_1.png" class="responsive-img">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="col m12">
                        <h4>Get IOS App from iTune!</h4>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">

                                <div class="row center" id="change_email_btn">
                                    <a href="https://itunes.apple.com/sg/app/socioboard/id923398550?mt=8" class="waves-effect waves-orange" target="_blank" style="height: auto;">
                                        <img src="../contents/socioboard/images/iphone_store_1.png" class="responsive-img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
<!-- END MAIN -->
