<div data-ng-controller="NotificationController">
    <!-- START CONTENT -->
    <section id="content">
        <!--start container-->
        <!--card widgets end-->
        <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
                <div class="card" id="feeds">
                    <h5 class="feeds_title blue darken-4 white-text">Your notification</h5>
                    <ul class="collection facebookfeeds">
                        <li class="collection-item avatar">
                            <img src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg" alt="Chanchal Santra" class="circle">
                            <span class="email-title">Chanchal Santra</span>
                            <div class="row notify_post z-depth-1 hoverable">
                                <div class="col m8">
                                    <p class="break_word ultra-small">You have Google+ request from john doe.You have Google+ request from john doe.You have Google+ request from john doe.....</p>
                                </div>
                                <!--<div class="col m4 center">
                                    <img src="http://www.myfico.com/Images/sample_overlay.gif" class="responsive-img ">
                                </div>-->
                            </div>
                            <a class="tooltipped secondary-content" data-position="left" data-tooltip="09">09:09am</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!-- END CONTENT -->
</div>
