    <!-- START MAIN -->
<div data-ng-controller="ProfileSettingController">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <section class="pricing margin-top-50">
            <div class="">
                <header>
                    <h2 class="Righteous_font grey-text text-darken-2">Lets Start With SocioBoard</h2>
                    <h5>Upgrade, Change or Cancel Anytime</h5>
                </header>

                <div class="row">
                    <div class="col l12 s12">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th class="center">Basic Plan</th>
                                    <th class="center">Standard</th>
                                    <th class="center">Premium</th>
                                    <th class="center">Deluxe</th>
                                    <th class="center">Topaz</th>
                                    <th class="center">Ruby</th>
                                    <th class="center">Gold</th>
                                    <th class="center">Platinum</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th>Monthly price</th>
                                    <td class="center">Free</td>
                                    <td class="center">$4.99</td>
                                    <td class="center">$9.99</td>
                                    <td class="center">$19.99</td>
                                    <td class="center">$29.99</td>
                                    <td class="center">$49.99</td>
                                    <td class="center">$79.99</td>
                                    <td class="center">$99.99</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Social Accounts</th>
                                    <td class="center">1 per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                    <td class="center">No Limit per network</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Team Members</th>
                                    <td class="center">2</td>
                                    <td class="center">5</td>
                                    <td class="center">10</td>
                                    <td class="center">20</td>
                                    <td class="center">30</td>
                                    <td class="center">50</td>
                                    <td class="center">80</td>
                                    <td class="center">100</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Social networks</th>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                        <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                        <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                        <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                        <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-facebook fa-fw blue-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-twitter fa-fw blue-text text-lighten-2" aria-hidden="true"></i>
                                        <i class="fa fa-linkedin fa-fw light-blue-text text-accent-4" aria-hidden="true"></i>
                                        <i class="fa fa-google-plus fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-instagram fa-fw pink-text text-darken-3" aria-hidden="true"></i>
                                        <i class="fa fa-line-chart fa-fw orange-text text-darken-2" aria-hidden="true"></i>
                                        <i class="fa fa-youtube fa-fw red-text text-darken-4" aria-hidden="true"></i>
                                        <i class="fa fa-pinterest-p fa-fw red-text text-accent-4" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Total Profiles</th>
                                    <td class="center">5</td>
                                    <td class="center">10</td>
                                    <td class="center">20</td>
                                    <td class="center">50</td>
                                    <td class="center">100</td>
                                    <td class="center">200</td>
                                    <td class="center">500</td>
                                    <td class="center">1000</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Browser extension</th>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>


                            <tbody>
                                <tr>
                                    <th>Scheduling & Posting</th>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Mobile Apps iOS + Android</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>World Class 24*7 Training &amp; Support</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Social Media based CRM</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Calendar</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>RSS Feed</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <th>Social Report</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Discovery</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <th>Message</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Link shortening and tracking</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Shareathon</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Socioboard Team Report</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <th>BoardMe</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>Custom Report</th>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-times-circle red-text" aria-hidden="true"></i></td>
                                    <td class="center"><i class="fa fa-check-circle green-text text-accent-4" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>&nbsp;</th>

                                    <th class="center">
                                        <a ng-if="accountType==0" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>0" ng-click="UpgradeAccount('Free')" class="btn pricing-cta">Downgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==1" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>1" ng-click="UpgradeAccount('Standard')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<1" ng-click="UpgradeAccount('Standard')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==2" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>2" ng-click="UpgradeAccount('Premium')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<2" ng-click="UpgradeAccount('Premium')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==3" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>3" ng-click="UpgradeAccount('Deluxe')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<3" ng-click="UpgradeAccount('Deluxe')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==4" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>4" ng-click="UpgradeAccount('Topaz')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<4" ng-click="UpgradeAccount('Topaz')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==5" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>5" ng-click="UpgradeAccount('Ruby')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<5" ng-click="UpgradeAccount('Ruby')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==6" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>6" ng-click="UpgradeAccount('Gold')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<6" ng-click="UpgradeAccount('Gold')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                    <th class="center">
                                        <a ng-if="accountType==7" class="btn pricing-cta">Current</a>
                                        <a ng-if="accountType>7" ng-click="UpgradeAccount('Platinum')" class="btn pricing-cta">Downgrade</a>

                                        <a ng-if="accountType<7" ng-click="UpgradeAccount('Platinum')" class="btn pricing-cta">Upgrade</a>
                                    </th>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>

            </div><!-- end container -->
        </section>
    </div>
    <!-- END WRAPPER -->

</div>
<!-- END MAIN -->
