@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Domain.Socioboard.Models.Mongo.MongoBoardTwtFeeds>
@{
    Layout = null;
}

@foreach (var feed in Model)
{
    <div class="product">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col l12 m12 s12 margin-top-10 center">
                        <img class="responsive-img circle " src="@feed.FromPicUrl">
                    </div>
                    <div class="col l12 s12 m12 center">
                        <span class="card-title">@feed.FromName</span>
                        <br>
                        <span>
                            <a href="#" target="_blank">
                                <i class="fa fa-linkedin-square fa-fw"></i>@@@feed.FromName
                            </a>
                        </span>
                    </div>
                    <div class="col l12 m12 s12">
                        <p class="description_listen">
                            @feed.Text
                            @if (feed.Imageurl != null)
                            {
                                <div class="center">
                                    <img src="@feed.Imageurl" class="responsive-img">
                                </div>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}