<script>
(function($) {
  $(document).ready(function() {
      $('#schedulerssprofiles option').each(function (index) {
          if (index == 1)
          {
              $(this).html('<img src="/contents/socioboard/images/fb_icon.png">' + $(this).html());
          }
          //if (index == 2 || index == 3)
          //{
          //     $(this).html('<img src="/contents/socioboard/images/Fb_page-icon.png">' + $(this).html());
          //}
          if (index == 2) {
              $(this).html('<img src="/contents/socioboard/images/Fb_page-icon.png">' + $(this).html());
          }
           if (index == 3)
          {
               $(this).html('<img src="/contents/socioboard/images/twticon.png">' + $(this).html());
          }
           if (index == 4)
          {
               $(this).html('<img src="/contents/socioboard/images/link_icon.png">' + $(this).html());
          }
           if (index == 5)
          {
               $(this).html('<img src="/contents/socioboard/images/link_icon.png">' + $(this).html());
          }
      //$(this).html('<img src="http://jsfiddle.net/img/logo.png">' + $(this).html());
    })
  });
})(jQuery);
</script>
    <div data-ng-controller="AutoMateRssFeedsController">
            <!-- Page name -->
            <div class="container">
                <div class="col m12">
                    <h4>AutoMate Rss Feeds</h4> 
                </div>
            </div>


            <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col s12 m12">
                      <div >
                        <div class="card-content">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <select multiple id="schedulerssprofiles">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" value="fb_{{profile.profileId}}"  my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'} | filter:{profileType:'!13'}" value="page_{{profile.profileId}}" my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}"  my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                        </select>
                                        <label>Select Profiles</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <form class="col s12">
                                        <div class="row">
                                          <div class="input-field col s12">
                                            <input id="rssfeedurl" type="url" class="validate">
                                            <label for="url" data-error="wrong" data-success="right">Enter Your Rss Url Here</label>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                          <div ng-init="dispbtn= {{dispbtn}}"></div>
                        <div class="card-action">
                          <a ng-show="dispbtn" ng-click="AddRssUrl()" class="waves-effect waves-light btn grey darken-3">Schedule</a>
                            <a ng-show="!dispbtn" ng-click="AddRssUrl()" class="btn grey darken-4 waves-effect waves-light">wait</a>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->


               
    </div>
