    <div data-ng-controller="PostedRssFeedsController">
            <!-- Page name -->
            <div class="container">
                <div class="col m12">
                    <h4>Posted Rss Feeds</h4> 
                </div>
            </div>


            <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col s12 m12">
                      <table id="PostedRssFeeds" class="display responsive-table striped" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <!--<th>Sent From</th>-->
                                  <th>Message</th>
                                  <th>Network</th>
                                  <th>RssFeedUrl</th>
                              </tr>
                          </thead>
                          <!--<tfoot>
                              <tr>
                                  <th>Sent From</th>
                                  <th>Message</th>
                                  <th>Network</th>
                                  <th>Sent To</th>
                              </tr>
                          </tfoot>-->
                          <tbody>
                              <tr ng-repeat="postrssfeed in PostedRssFeeds">
                                  <td>{{$index +1}}</td>
                                <!--<td class="center">
                                    <div class="col s12">
                                        <img src="{{user.profilePicUrl}}" class="responsive-img profilePic" >
                                    </div>
                                    <div class="col s12">
                                        <span>{{user.ProfileName}}</span>
                                    </div>
                                  </td>-->
                                  <td>
                                    <span>
                                     {{postrssfeed.message}}
                                    </span>
                                  </td>
                                  <td class="center">
                                    <div class="col s12" ng-if="postrssfeed.profileType==0 ||postrssfeed.profileType==1 ">
                                        <img src="https://graph.facebook.com/{{postrssfeed.profileId}}/picture?type=small" class="responsive-img profilePic"  >
                                        <img src="/contents/socioboard/images/fb_icon.png"  class="responsive-img msgiconPoss">
                                    </div>
                                      <div class="col s12" ng-if="postrssfeed.profileType==2">
                                          <img src="{{postrssfeed.profileImageUrl}}" class="responsive-img profilePic">
                                          <img src="/contents/socioboard/images/twticon.png" class="responsive-img msgiconPoss">
                                      </div>
                                      <!--<div class="col s12">
                                          <img src="https://pbs.twimg.com/profile_images/683936086079307777/FXrYjpal.jpg" class="responsive-img profilePic">
                                          <img class="responsive-img msgiconPoss" src="../../images/twticon.png">
                                      </div>-->
                                    <div class="col s12">
                                        <span>{{postrssfeed.profileName}}</span>
                                    </div>
                                  </td>
                                  <td>
                                    <span>{{postrssfeed.rssFeedUrl}}</span>
                                  </td>
                              </tr>      
                              
                          </tbody>
                      </table>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->

               
    </div>
