<div data-ng-controller="RssQueueController">
    <!-- Page name -->
    <div class="container">
        <div class="col m12">
            <h4>Rss Queue</h4>
        </div>
    </div>


    <!-- START CONTENT -->
    <section id="content">
        <!-- Compose Email Structure -->
        <div class="row">
            <div class="col s12 m12">
                <table id="RssQueue" class="display responsive-table striped" cellspacing="0" width="100%">
                    <thead ng-if="headlines==true">
                        <tr>
                            <th>#</th>
                            <th>Url</th>
                            <th class="center">Profile</th>
                            <th class="center">Delete</th>
                            <th class="center">Edit</th>
                        </tr>
                    </thead>
                    <!--<tfoot>
                        <tr>
                            <th>Url</th>
                            <th>Profile</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </tfoot>-->
                    <tbody>
                        <tr ng-repeat="rssqueue in lstrssqueue">
                            <td>{{$index +1}}</td>
                            <td>
                                <span>
                                    {{rssqueue.rssFeedUrl}}
                                </span>
                            </td>
                            <td class="center">
                                <div class="col s12" ng-if="rssqueue.profileType==0 ||rssqueue.profileType==1 ">
                                    <img src="https://graph.facebook.com/{{rssqueue.profileId}}/picture?type=small" class="responsive-img profilePic">
                                    <img src="/contents/socioboard/images/fb_icon.png" class="responsive-img msgiconPoss">
                                </div>
                                <div class="col s12" ng-if="rssqueue.profileType==2">
                                    <img src="{{rssqueue.profileImageUrl}}" class="responsive-img profilePic" >
                                    <img src="/contents/socioboard/images/twticon.png" class="responsive-img msgiconPoss">
                                </div>
                                <div class="col s12">
                                    <span>{{rssqueue.profileName}}</span>
                                </div>
                            </td>
                            <td class="center">
                                <a class="waves-effect waves-light btn red" ng-click="deleteRss(rssqueue.strId)"><i class="fa fa-times"></i></a>
                            </td>
                            <td class="center">
                                <a class="waves-effect waves-light btn modal-trigger" ng-click="editrssurl(rssqueue.rssFeedUrl,rssqueue.strId)"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- END CONTENT -->


    <div ng-if="fetchdatacomplete!=true">
        <br /><br /><br /><br /><br /><br />
        <div class="center">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <br />
            <h6 style="color:gray; font-size:18px; font-family:Calibri;">Please wait while we are processing</h6>

        </div>
    </div>

    <div class="center" ng-if="nofeeds==true">
        <br /><br /><br /><br /><br /><br />
        <h6 style="color:gray; font-size:20px; font-family:Calibri"><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />Sorry, No RSS feeds to display<br /></h6>
    </div>


    <!-- Modal Structure -->
    <!--<script id="editsrssfeedModalContent.html" type="text/ng-template">-->
        <div id="EditModal" class="modal">
            <div class="modal-content">
                <span class="modal-action modal-close right" ng-click="closeModal()"><i class="fa fa-times fa-2x"></i></span>
                <h5>Edit</h5>
                <div class="row center">
                    <div class="input-field col s12">
                        <textarea id="rssQueue" class="materialize-textarea">
                            {{oldurl}}
                        </textarea>
                        <label for="rssQueue">Edit your rss code</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="editrssUrl()" class="modal-action modal-close waves-effect waves-green btn grey">Save</a>
            </div>
        </div>

    <!--</script>-->
</div>


<style>
    .modal.fade.in {
        margin-top: -17%;
    }
</style>