    
<style>
    .rssPostImage{
        width: 674px;
    max-height: 310px;
    overflow: hidden;
    border-radius: 5px;
    float: left;
    margin-top: 23px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
}
</style>
<div data-ng-controller="RssFeedsController">
        <!-- Page name -->
        <div class="container">
            <div class="col m12">
                <h4>Rss Feeds</h4> 
            </div>
        </div>


        <!-- START CONTENT -->
        <section id="content">
            <!-- Compose Email Structure -->
            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                  <div class="card" ng-repeat="post in customRssData | orderBy:'publishingDate':true" >
                    <div class="card-content">
                        <h6><strong>{{post.title}}</strong></h6>
                        <div>
                          <a href="{{post.link}}" class="truncate" target="_blank">{{post.link}}</a>
                        </div> 
                        <div class="center">
                            <img src="{{post.image}}" class="rssPostImage">
                        </div>                     
                    </div>
                    <div class="card-action">
                      <a ng-click="schedulePost( post.title +' '+ post.link )"   class="waves-effect waves-grey btn btn_style">Schedule</a>
                      <a ng-click="openComposeMessage(post)" class="btn btn_style right blue">1 click</a>
                    </div>
                     
                  </div>

                  <!--<div class="card">
                    <div class="card-content">
                        <h5>Facebook vs. Everybody- The King of Social Media is Still On The Throne 123 </h5>
                        <div>
                          <a href="http://www.huffingtonpost.com/entry/facebook-vs-everybody-the-king-of-social-media-is_us_58b71840e4b015675cf65b40">http://www.huffingtonpost.com/entry/facebook........</a>
                        </div>-->
                        <!-- <div class="center">
                          <img src="https://s3.amazonaws.com/aso2/_eab76ed087ca8ce1575b23f746169e12.jpg" class="responsive-img">
                        </div>  -->                       
                    <!--</div>
                    <div class="card-action">
                      <a class="btn btn_style grey modal-trigger" href="#ComposePostModal">Schedule</a>
                      <a href="javascript:void(0);" class="btn btn_style right blue">1 click Schedule</a>
                    </div>
                  </div>-->

                  
                </div>
            </div>


            <!-- Compose Email Trigger -->
            <!--<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large red modal-trigger" href="#ComposePostModal">
                <i class="large mdi-editor-mode-edit  animated bounceIn infinite"></i>
              </a>
            </div>-->
            <!-- Compose Email Structure -->
            <div id="ComposePostModal" class="modal">
              <div class="modal-content">
                <nav class="red">
                  <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                      <ul>
                        <!--<li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                        </li>-->
                          <li><a href="#!" class="email-type">Compose</a></li>
                        
                      </ul>
                    </div>
                    <div ng-init="disbtncom= {{disbtncom}}"></div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                      <ul class="right">
                          <li>
                              <div ng-show="disbtncom" ng-click="ComposeMessage()"><i class="modal-action  mdi-content-send"></i></div>
                              <div ng-show="!disbtncom"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                          </li>
                        <!--<li>
                            <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                        </li>-->
                      </ul>
                    </div>

                  </div>
                </nav>
              </div>
              <div class="model-email-content">
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <div class="emoji-picker-container">
                        <textarea id="composeMessage" class="materialize-textarea" length="500"  data-emojiable="true" placeholder="Type your msg">{{fbComposeMessage.title +' '+ fbComposeMessage.link}}</textarea>
                        </div>
                      </div>
                    </div>
                    <!--<div class="row">
                        <div class="col s12 m12 l12">
                            <p>Add your hashtag</p>
                        </div>
                        <div class="input-field col s12">
                            <input name="tags" id="tags" value="SocioBoard,SB,hashtag" />
                        </div>
                    </div>-->
                    <div class="row">
                      <div class="col s12 m12 l12">
                         <p>Select your file [Ex: gif, jpeg, png, mp4, ...]</p>
                      </div>
                      <input type="hidden" id="imageUrl" value="{{fbComposeMessage.image}}" />
                      <div class="col s12 m12 l12">
                          <input type="file" id="composeImage" class="dropify" data-default-file="" />
                      </div>
                        
                        <!--<div class="col s12 m8 l9" ng-if="fbComposeMessage">
                            <input type="file" id="composeImage" class="dropify" after-render data-default-file="{{fbComposeMessage.image}}" />
                        </div>

                        <div class="col s12 m8 l9" ng-if="!fbComposeMessage">
                            <input type="file" id="composeImage" class="dropify" after-render data-default-file="" />
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select multiple id="composeProfiles">
                                <option value="" disabled selected>Choose your option</option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:0} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:1} | filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="fb_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:2}" value="tw_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:3}" value="lin_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                                <option ng-repeat="profile in lstProfiles | filter:{profileType:4}" value="Cmpylinpage_{{profile.profileId}}" my-repeat-dropdown-directive>  {{profile.profileName}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-init="draftbtn= {{draftbtn}}"></div>
                        <div>
                            <div ng-show="draftbtn"  ng-click="draftMsg()" class="btn btn_style">Draft</div>
                            <div ng-show="!draftbtn"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                        </div>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
            </section>
            <!-- END CONTENT -->

    <div ng-if="fetchdatacomplete!=true">
        <br /><br /><br /><br /><br /><br />
        <div class="center">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <br />
            <h6 style="color:gray; font-size:18px; font-family:Calibri;">Please wait while we are processing</h6>

        </div>
    </div>

    <div class="center" ng-if="nofeeds==true">
        <br /><br /><br /><br /><br /><br />
        <h6 style="color:gray; font-size:20px; font-family:Calibri"><span><img style="width:60px" src="http://i.imgur.com/0MjybMu.png" /></span><br />Sorry, No RSS feeds posted to display<br /></h6>
    </div>


               
    </div>

  <script>
    $(function() {
      // Initializes and creates emoji set from sprite sheet
      window.emojiPicker = new EmojiPicker({
        emojiable_selector: '[data-emojiable=true]',
        assetsPath: '../contents/socioboard/global/plugins/emoji-picker/lib/img/',
        popupButtonClasses: 'fa fa-smile-o'
      });
      window.emojiPicker.discover();
    });
  </script>