    <div data-ng-controller="CreateLinkShareathonController">
	    <!-- Page name -->
	    <div class="container">
	        <div class="col m12">
	          <h4>Create Link Shareathon</h4> 
	        </div>
	    </div>

	    <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col offset-s2 s8 offset-m2 m8 offset-l2 l8">
                      <div class="" id="feeds">
                        <h5 class="feeds_title blue darken-4 white-text"><i class="icon-pencil"></i>Create An Shareathon through which you can automate your page posts links</h5>
                        <div class="">
                        	<div class="row">
			                    <form class="col s12 m12 l12 " >
			                        <div class="input-field col s12 m12 l12">
									    <select multiple id="shraeathonfacebookpage">
									      <option value="" disabled selected>Choose your page</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{profileType:1}| filter:{profileType:'!10'} | filter:{profileType:'!11'}" value="{{profile.profileId}}" my-repeat-timeout-directive my-repeat-dropdown-directive>  {{profile.profileName}} </option>
									    </select>
									    <label>Selects fan pages for automated post link</label>
									</div>								
							        <div class="input-field col s12 m12 l12">
									    <select id="shraeathontimeinterval">
									      <option value="" disabled selected>Choose your option</option>
									      <option value="10">10 min</option>
									      <option value="20">20 min</option>
									      <option value="30">30 min</option>
									      <option value="60">1 hr</option>
									    </select>
									    <label>Set Your Time Interval</label>
									</div>
							        <!-- <div class="input-field col s10 m10 l10">
							          <input id="post_url" type="url" class="validate">
							          <label for="post_url">Enter link</label>
							        </div> -->
							        <div class="row">
							        	<div class="container_link">										
											<div class="input-field col l10 m10 s10">
												<input id="post_url" type="url" class="validate">
							          			<!--<label for="post_url">Enter link</label>-->
                                                <label for="post_url" data-error="wrong" data-success="right">Enter valid Page Url Here</label>
											</div>
											<div class="col l2 m2 s2">
												<button class="add_form_field btn btn_style">Add New Field &nbsp;</button>
											</div>											
										</div>
									</div>

									<div class="col l12 center margin-top-50">
				                      	<a ng-show="dispbtn" class="btn grey darken-4 waves-effect waves-light" ng-click="schedulelinkshreathon()">post</a>
                                        <a ng-show="!dispbtn" class="btn grey darken-4 waves-effect waves-light">wait</a>
                                    </div>
			                    </form>
			                </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
    </div>
