    <div data-ng-controller="CreatePageShareathonController">
	    <!-- Page name -->
	    <div class="container">
	        <div class="col m12">
	          <h4>Edit Page Shareathon</h4> 
	        </div>
	    </div>

	    <!-- START CONTENT -->
            <section id="content">
                <!-- Compose Email Structure -->
                <div class="row">
                    <div class="col offset-s2 s8 offset-m2 m8 offset-l2 l8">
                      <div class="card" id="feeds">
                        <h5 class="feeds_title blue darken-4 white-text"><i class="icon-pencil"></i>Create An Shareathon through which you can automate your page posts</h5>
                        <div class="collection">
                        	<div class="row">
			                    <form class="col s12">
			                        <div class="input-field col s12">
									    <select id="shraeathonfacebookaccount" >
									      <option value="" disabled selected>Choose your option</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{ProfileType:0}"  selected value="{{profile.ProfileId}}" ng-if="pageshareathondata.Facebookaccountid.indexOf(profile.ProfileId) > -1" my-repeat-timeout-directive>  {{profile.ProfileName}} </option>
                                            <option ng-repeat="profile in lstProfiles | filter:{ProfileType:0}"   value="{{profile.ProfileId}}" ng-if="pageshareathondata.Facebookaccountid.indexOf(profile.ProfileId) ==-1" my-repeat-timeout-directive>  {{profile.ProfileName}} </option>
									    </select>
									    <label>Selects An Account To Automate Post</label>
									</div>
				                    <div class="input-field col s12">
									    <select multiple id="shraeathonfacebookpage">
									      <option value="" disabled selected>Choose your option</option>
                                            <option ng-repeat="profile in lstProfiles | filter:{ProfileType:1}" value="{{profile.ProfileId}}" my-repeat-timeout-directive>  {{profile.ProfileName}} </option>
									    </select>
									    <label>Selects Pages Whose Post's You Want To Automate</label>
									</div>									
							        <div class="input-field col s12">
									    <select id="shraeathontimeinterval">
									      <option value="" disabled selected>Choose your option</option>
									      <option value="20" >20 min</option>
									      <option value="30">30 min</option>
									      <option value="60">1 hr</option>
									    </select>
									    <label>Set Your Time Interval</label>
									</div>
				                    <div class="col l12 center margin-top-50">
				                      	<a ng-click="EditPageShareathon(pageshareathondata.strId)" class="btn grey darken-4 waves-effect waves-light">Edit</a>
				                    </div>
			                    </form>
			                </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
    </div>