<!DOCTYPE html>
<html>
<head>
    <title>{{Title}}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:title" content="video" />
    <meta name="twitter:image" content="{{ThumbnailUrl}}" />
    <meta name="twitter:player" content="{{EmbedUrl}}" />
    <meta name="twitter:player:width" content="300" />
    <meta name="twitter:player:height" content="400" />
    <meta name="twitter:player:stream" content="{{VideoUrl}}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4;" />
    <meta name="twitter:url" content="{{VideoUrl}}" />
    <meta property="og:type" content="video" />
    <meta property="og:title" content="{{Title}}" />
    <meta property="og:url" content="{{VideoUrl}}" />
    <meta property="og:image"
        content="{{ThumbnailUrl}}" />
    <meta property="og:video"
        content="{{VideoUrl}}" />
    <meta property="og:video:url"
        content="{{VideoUrl}}" />
    <meta property="og:video:secure_url"
        content="{{VideoUrl}}" />
    <meta property="og:video:width" content="100%" />
    <meta property="og:video:height" content="auto" />
    <meta property="og:video:type" content="video/mp4" /> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        * {
            font-family: "Open Sans", sans-serif;
        }
    </style>
</head>

<body>
    <div style="display:flex;flex-direction:column;align-items:center;">
        <div
            style="align-items:center;flex-direction:row;display:flex;margin-bottom:32px;padding:0 16px;width:100%;height:64px;background-color:#fff;border-bottom:1px solid #ced7df;box-sizing:border-box;">
            <div style="margin-right:8px;display:flex;">
                <svg height="25" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g>
                        <polygon style="fill:#FF5D3D;"
                            points="90.128,72.565 50.524,96.054 10.379,73.5 9.838,27.458 49.442,3.968 89.587,26.521   " />
                        <polygon style="fill:#E04022;" points="90.162,72.544 50.524,96.054 49.478,3.946 89.638,26.491   " />
                        <rect x="56.178" y="32.193" style="fill:#FFFFFF;" width="4.892" height="35.192" />
                        <g>
                            <path style="fill:#FFFFFF;" d="M44.636,32.877v5.345H21.992c-1.051,0-1.946,0.366-2.687,1.097
                  c-0.741,0.731-1.111,1.632-1.111,2.701v1.631c0,1.032,0.37,1.913,1.111,2.644c0.741,0.731,1.636,1.097,2.687,1.097H38.11
                  c1.275,0,2.47,0.239,3.586,0.717c1.115,0.478,2.096,1.13,2.939,1.955s1.505,1.795,1.983,2.912
                  c0.479,1.115,0.717,2.302,0.717,3.558v1.632c0,1.257-0.239,2.443-0.717,3.559c-0.478,1.116-1.139,2.086-1.983,2.911
                  s-1.824,1.477-2.939,1.955c-1.116,0.479-2.312,0.718-3.586,0.718H15.522v-5.345H38.11c1.087,0,1.992-0.375,2.714-1.125
                  c0.722-0.75,1.083-1.642,1.083-2.673v-1.632c0-1.03-0.361-1.912-1.083-2.644c-0.722-0.731-1.627-1.098-2.714-1.098H21.992
                  c-1.275,0-2.471-0.238-3.586-0.717c-1.116-0.479-2.086-1.139-2.912-1.983c-0.825-0.844-1.477-1.814-1.955-2.912
                  c-0.478-1.097-0.717-2.273-0.717-3.53v-1.631c0-1.256,0.239-2.442,0.717-3.559c0.479-1.115,1.13-2.086,1.955-2.911
                  s1.795-1.477,2.912-1.955c1.115-0.478,2.311-0.717,3.586-0.717H44.636z" />
                        </g>
                        <g>
                            <path style="fill:#FFFFFF;" d="M75.834,32.207c1.3,0,2.52,0.244,3.657,0.731c1.138,0.487,2.127,1.152,2.969,1.994
                  c0.842,0.842,1.506,1.831,1.994,2.969c0.487,1.138,0.731,2.357,0.731,3.658v1.635c0,1.282-0.234,2.481-0.703,3.6
                  s-1.133,2.108-1.993,2.969c0.86,0.86,1.524,1.86,1.993,2.998s0.703,2.338,0.703,3.601v1.635c0,1.301-0.244,2.515-0.731,3.643
                  c-0.488,1.129-1.152,2.123-1.994,2.983c-0.842,0.861-1.831,1.54-2.969,2.037s-2.357,0.746-3.657,0.746H57.762v-5.537h18.072
                  c1.07,0,1.988-0.372,2.754-1.118c0.765-0.746,1.147-1.664,1.147-2.754V56.36c0-1.071-0.383-1.975-1.147-2.711
                  c-0.766-0.736-1.684-1.104-2.754-1.104v-5.537c1.07,0,1.988-0.373,2.754-1.119c0.765-0.746,1.147-1.645,1.147-2.697v-1.635
                  c0-1.071-0.383-1.989-1.147-2.754c-0.766-0.765-1.684-1.147-2.754-1.147H57.762v-5.45H75.834z M77.498,47.008v5.537H67.63v-5.537
                  H77.498z" />
                        </g>
                    </g>
                </svg>
            </div><span style="font-size:14px;color:#FF5D3D;font-weight:600;">{{Title}}</span><span
                style="font-size:14px;color:#FF5D3D;font-weight:400;"> Video</span>
        </div>
        <div style="max-width:1200px;">
            <div
                style="padding:16px;background-color:#fff;border:1px solid #ced7df;-ms-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;">
                <video
                    style="-ms-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;"
                    controls="" width="100%">
                    <source
                        src="{{Video}}"
                        type="video/mp4" />&quot;Your Browser Does Not Support Video&quot;</video>
                <div style="margin-top:10px;display:flex;flex-direction:column;"><span
                        style="font-size:20px;color:#FF5D3D;font-weight:400;">video</span><span
                        style="font-size:14px;color:#FF5D3D;font-weight:400;">{{Description}}</span></div>
            </div>
        </div>
    </div>
</body>
</html>