<div data-ng-controller="EwalletlistController">
    <!-- Page name -->
    <div class="container">
        <div class="col m12">
            <!--<span class="right"><a href="#/add_money.html" class="btn">Add Money to Wallet</a></span>-->
            <div class="row no-space">
                <h5 class="left">E-Wallet</h5>
                <h5 class="right">Balance:${{balancedetails}}</h5>
            </div>
        </div>
    </div>


    <!-- START CONTENT -->
    <section id="content">
        <!-- Compose Email Structure -->
        <div class="row no-space">
            <div class="col s12 m12">
                <div class="card" id="feeds">
                    <h5 class="feeds_title blue darken-4 white-text"><i class="icon-wallet"></i>E-Wallet Transactions</h5>
                    <div class="collection">
                        <table id="EwalletList" class="display responsive-table striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>From</th>
                                    <th>Amount</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Type</th>
                                    <th>Transaction Status</th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in ewalletTransactions"  my-repeat-video-tab-directives>
                                    <td style="width: 1%;">{{$index+1}}</td>
                                    <td>{{transaction.frommailid}}</td>
                                    <td>{{transaction.amount}}</td>
                                    <td>{{transaction.transactiondate | date}}</td>
                                    <td>{{transaction.transactionType}}</td>
                                    <td>{{transaction.transactionStatus}}</td>
                                </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTENT -->


</div>
